<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">


	<bean id="dataKitAffairService" class="com.seeyon.apps.datakit.service.DataKitAffairService">
		<property name="affairManager" ref="affairManager" />
		<property name="affairDao" ref="affairDao" />
		<property name="orgManager" ref="orgManager" />
	</bean>

</beans>

