<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/agent.do" class="com.seeyon.apps.agent.controller.AgentIntercalateController" />
	<bean name="/agentManager.do" class="com.seeyon.apps.agent.controller.AgentManagerController" />
	<bean id="agentIntercalateDAO" class="com.seeyon.apps.agent.dao.AgentIntercalateDAOImpl" />
	<bean id="agentIntercalateManager" class="com.seeyon.apps.agent.manager.AgentIntercalateManagerImpl" init-method="init" singleton="true" />
	<bean class="com.seeyon.apps.agent.listener.AgentOrganizationEventListener" />
	<bean id="agentPortlet" class="com.seeyon.apps.agent.portal.portlet.AgentPortlet" />
	<bean id="agentIntercalateHelper" class="com.seeyon.apps.agent.utils.AgentIntercalateHelper" />
</beans>