<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	
	<!-- misignature DAO 
	<bean id="m3IsignatureUserKeyDao" class="com.seeyon.apps.m3.signature.dao.impl.M3IsignatureUserKeyDaoImpl" init-method="init"> 
	</bean>-->
	<!-- 硬件绑定 -->
	<bean id="m3ClientBindDao" class="com.seeyon.apps.m3.bind.dao.impl.M3ClientBindDaoImpl"/>
	<!-- 移动授权 --> 
	<!-- dao begin-->
	<bean id="m3mobileAuthDao" class="com.seeyon.apps.m3.authorization.mobileAuth.dao.impl.M3MobileAuthDaoImpl" init-method="init">
		<property name="jdbcTemplate" ref="mmJdbcTemplate" />
	</bean>
	<bean id="mmJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="mmTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>  
    <!-- 统计 -->
    <!-- <bean id="m3UserFirstLoginDao" class="com.seeyon.apps.m3.statistic.dao.impl.M3UserFirstLoginDaoImpl">
    </bean>
    <bean id="m3UserBehaviorDao" class="com.seeyon.apps.m3.statistic.dao.impl.M3UserBehaviorDaoImpl">
    </bean>
    <bean id="m3AppBehaviorDao" class="com.seeyon.apps.m3.statistic.dao.impl.M3AppBehaviorDaoImpl">
    </bean> -->
	
	<bean id="m3PNSMsgSettingDao" class="com.seeyon.apps.m3.message.dao.impl.M3PNSMsgSettingDaoImpl">
    </bean>
    
    <bean id="bannerDao" class="com.seeyon.apps.m3.banner.dao.impl.BannerDaoImpl"/>
    <!-- <bean id="m3OfficeAuthUserKeyDao" class="com.seeyon.apps.m3.mobileOffice.authorization.dao.impl.M3OfficeAuthUserKeyDaoImpl">
    </bean> -->
    
    <bean id="m3PnsConfigDao" class="com.seeyon.apps.m3.message.dao.impl.M3PnsConfigDaoImpl"/>
    <bean id="m3XiaozhiClientBindDao" class="com.seeyon.apps.m3.authorization.mobileAuth.dao.impl.M3XiaozhiClientBindDaoImpl"/>
    <bean id="m3XiaozhiAuthDao" class="com.seeyon.apps.m3.authorization.mobileAuth.dao.impl.M3XiaozhiAuthDaoImpl"/>

</beans>