<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="pnsMessageWorker" class="com.seeyon.apps.m3.message.worker.PnsMessageWorker">
		<property name="intervalTime" value="30"/>
	</bean>
</beans>