
*{
    margin: 0;
    padding: 0;

}
html,body {
    height: 100%;
    overflow: hidden;
    background-color: #efeff4;

}


.content_header{ background-color: #48A0DE!important;  }
.content_header a:first-child{color: white;font-size: 40px;top: -8px; }
.content_header h1{font-weight: bold;color: white;}
#menu{color: #fff;line-height: 44px;}
.color_blue{color: #48A0DE;}
.font_size_25{font-size: 25px!important;}
.font_size_22{font-size: 22px!important;}
.icon_color_white{color:white;}
.margin_right_7{margin-right: 5px;}
.li_border_top{border-top:1px solid #E3E2E5;list-style-type: none;}
.li_border_bottom{ position: relative;padding: 5px 15px;
    overflow: hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow: ellipsis;background-color: inherit;}
.Handle{font-size: 15px;position: relative;top: -9px; color: #9C9C9C;}
.branch_condition{width:auto;height: 20px;position: relative;left: 44px;font-size: 14px;}
.branch_condition a:first-child{color: black;}
.branch_operator{margin-left: 45px;font-size: 15px;color: #9C9C9C;}
.branch_Uncheck{margin: auto;width: auto;height: 30px;text-align: center;line-height: 30px;}
.branch_Uncheck span:hover{cursor: pointer;}
.branch_Uncheck span{color: #79B9E6;font-size: 15px;}
.mui-content ul li:last-child{
    border-bottom: 1px solid #E3E2E5;
}
.peppol{font-family: '����';}
/*Բ��ͷ��*/
.Branch_fillet{border-radius: 50%;/*margin-left: 10px;*/}
.branch_execution{overflow: hidden;height: 330px;}
.branch_mumber_left{width: 25%;float: left;}
.branch_mumber_left ul{ overflow: hidden;border-right: solid 1px #ccc;background-color: #F1F1F1;text-align: center;}
.branch_mumber_left ul li{height: 60px!important;}
.branch_mumber_left ul li h5{line-height: 30px;}
.branch_mumber_right{width: 74%;float: left; }

/*��ѡ����Ա�б�*/
.bottom_selected{margin: 0;padding: 0;overflow: hidden;text-overflow: ellipsis;}
.bottom_selected ul{height: 88px!important;overflow: hidden;; }
.bottom_selected ul li{width: 75px;display: inline-block;line-height: 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-o-text-overflow:ellipsis; }
.branch_username{font-size:13px;font: 13px/1 Tahoma, Helvetica, Arial, ��\5b8b\4f53��, sans-serif;color: #999999;}
.branch_input{margin-left: -10px!important;}
.branch_bottom_select{padding: 10px 5px;}
.bottom_submit{width: auto;text-align: center;height: 50px;line-height: 50px;background-color: #E7ECF2;padding: 0!important;}

.bottom_selected_number{margin-top: 10px;}
/*�ظ�ҳ��*/
.reply_postscript{margin-left: 20px;}
.reply_postscript a{color: #ccc;}
.reply_postscript ul li{border-bottom: none!important;list-style-type: none;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.reply_people{width: 100%;height: auto;margin-top: 7px;word-wrap:break-word;}
.reply_accordion_li{background-color: #F0F0F0!important;}
.reply_accordion_top{position: relative;left: 55px;color: #b5b5b5;font-size: 23px;}
.reply_accordion_topto{position: relative;left: 55px;color: #b5b5b5;font-size: 23px;}
.reply_pel_text{word-break: normal;letter-spacing:1px; width: 95%;display: block;position: relative;top: 5px;color: black;
    font: 13px/1.2 Tahoma, Helvetica, Arial,��Բ, ��\5b8b\4f53��, sans-serif;}

.reply_list_nav{margin-top: 0!important;border-bottom: 1px solid #ccc!important;margin-left: 0!important;margin-right: 0!important;background-color: #F1F1F1!important;z-index: 99;}
.reply_li_pandding{padding: 14px;padding-left:0;padding-top:15px;border-bottom: 1px solid #f0f0f0!important;}
.reply_people_h5{line-height: 17px;letter-spacing:1px;padding: 5px 5px;padding-left: 11px;}
.reply_container{width: 100%;height: auto;margin-top: 7px;word-wrap:break-word;}
.reply_pel_con{position: relative;left: 30px;top: 0;width: auto;line-height: 27px;}
.reply_pel_con h6{padding-left: 40px;}
.reply_read{color: #0054a6;   font: 13px/1 Tahoma, Helvetica, Arial, ��\5b8b\4f53��, sans-serif;}
/*����İ�ť*/
.details_dispose {height: auto;position: relative;top:5px;}
.details_dispose li{height: 30px!important;}
.reply_to_showorhide:hover{cursor: pointer;}
.location_listCon{color: #A3A3A3;background-color: #EDEDED;}
.location_listCon div{text-align: center; }
.location_Icon{margin-left: 20%;width: 35px;height: 35px;border: 1px solid #F26966;border-radius: 50%;background-color: #F26955;box-shadow: 0px 0px 6px red;padding: 5px 5px;}
.location_Icon span{color: #F9CF8F;position: relative;right: 1px;}
.location_leftIcon{position: relative;right: 15px;width: 55px;text-align: center;}
.bottom_radius{border-radius: 20px!important;height: 40px;line-height: 10px!important;margin-top: 10px;}
.dispose_button{width: 48%;height: 25px;margin-left: 2px;border-radius: 10px!important;}
.new_width{width:31%!important;}
.button_list_nav{padding: 1px 5px;}
/*.button_list_nav button:first-child{position: relative;left: -20px;}
.button_list_nav button:last-child{position: relative;left: 10px;}*/
.dispose_backcolor{background-color: #48A0DE!important;border-color:#48A0DE!important;color: white!important; }
/*����ظ������ϴ���ͼ���б�*/
.upload_img_con{}
.upload_img_con ul{}
.upload_img_con ul li{width: 50px;height: 50px;float:left;margin-left: 7px;margin-top: 5px;border: 1px solid #92C8EC;list-style-type: none;border-radius: 5px;
text-align: center;line-height: 50px;color: #48A0DE;background-color: #D4F1FC;}
.position_right_top_close{font-size: 12px!important;position: absolute;margin-left: 7px;margin-top: -7px;color: #B7B8B9; }
.link_to{-webkit-transform:scale(1.5)rotate(45deg);-moz-transform:scale(1.5) rotate(45deg); -o-transform:scale(1.5) rotate(45deg); }
.respose_link{margin-right: 15px; font-size: 20px!important;}
.praise{color: #48A0DE;}

.select_bottom_submit{background-color: #fff;color: #4AA1DE;border-color: #48A0DE;}
#buttom_subcon button:last-child{background-color: #fff;color: #4AA1DE;border-color: #48A0DE;}
.bottom_but_groups{background-color: #EDEDED!important;   text-align: center;}
.bottom_but_groups div{width: 95%;margin: auto;padding: 6px;}
.bottom_but_groups div button{margin-top: 10px!important;margin-bottom:5px!important;border-radius: 5px;padding: 5px 0!important;}
.calendar_title{width: 100%;margin: auto;height: auto;text-align: center;padding: 5px 0px;border-bottom: 1px solid #D0D0D0; }
.calendar_title li{width: 13%;height: 25px; list-style-type: none;float: left;text-align: center;line-height: 12.5px;margin-left: 1%;}
.calendar_title li:last-child{border: none!important;}
.calendar_title li:first-child{border: none!important;}
.calendar_con li:last-child{border: none!important;}
.calendar_con li:first-child{border: none!important;}
.calendar_con{width: 95%;margin: auto;height: auto;text-align: center;background-color: #F0F0F0; }
/*.calendar_con li{float: left;width: 25px;height: 25px; list-style-type: none;color: black;*/
                  /*line-height: 25px;margin-left: 2%;margin-top: 2%;}*/
.calendar_con li{width: 13%;height: 50px; list-style-type: none;margin-top: 2%;float: left;text-align: center;line-height: 25px;margin-left: 1%;}
.calendar_con li span{ position: relative;left:50%;top: 50%;margin-top: -12.5px;margin-left: -12.5px;display: block;
    width: 25px;height: 25px;color: black; text-align: center;}

.calendar_con li span{border-radius: 50%;}
.calendar_con li span:hover{cursor: pointer;border: 1px solid red;}
.calendar_con li span.li_red{background-color: red;border: 1px solid red!important;box-shadow: 0px 0px 3px red;;}
.calendar_con li span.li_green{background-color: #6CC13D;border: 1px solid #6CC13D!important;box-shadow: 0px 0px 3px #6CC13D;;}
#reply_to_opinion{border-top: 1px solid #D6D5D9;}



.clear_left{clear: left;}
.indicat_position{position: relative;top: 3px;width: 15px!important;height: 15px!important;}
.sigin_status{position: relative!important;text-align: left!important;display: inline-block!important;}
.sigin_status ul li{width: 100px;float: left;list-style-type: none;margin-top: 3px;}
.sigin_status ul li:last-child{border-bottom: none!important;}
.dispose_group{height: 40px;position: relative;top: 5px;}
.dispose_group li{height: 40px!important;color: white!important;}
.dispose_group li:first-child{border: 1px solid #48A0DE;border-radius: 10px;background-color: #48A0DE;;}
.more_button{width: 35px!important;height: 35px!important;border: 1px solid #48A0DE;border-radius: 50%;
    line-height: 35px!important;color:#48A0DE;text-align: center;  }
.dispose_titletext{padding: 10px;background-color:#DCE9EF;height: auto;font-weight: bold; }
.position_left_5{position: relative;left: 0;}
.color_ccc{color: #999;}
/*ˮƽ��*/
.hr_line{position: absolute;top: 45%;background-color: #BDBDBD;height: 2px;width: 100%;z-index: -1;}
/*topo����*/
.topo_process{padding: 10px;}
.topo_process ul li{width: 60px;float: left;text-align: center;list-style-type: none;margin-left: 3%;}
.topo_process{}
.topo_process img{width: 50px;height: 50px;border-radius: 50%;}
.praise_position{position: relative;right: 20px;font-size: 20px!important;}
.useful_text{color: #608dbf;}
/*�������ĳ����ﵯ��*/
.dispose_useful_positon{ position: fixed;height: 150px!important; width: 140px!important;  right: 2%!important;}
/*���ظ�����ײ��Ĳ�����*/
.respose_options{width: 97%;height: auto;border: 1px solid #d4d4d4;border-radius: 10px;margin: auto;margin-top: 10px;}
.respose_options ul{}
.respose_options ul li{width: auto;height: 50px;border-bottom:1px solid #d4d4d4; list-style-type: none;line-height: 50px;padding: 0px 15px; }
.respose_options ul li:last-child{border-bottom: none;}
.respose_areacontent{width: 96%;margin: auto;padding: 8px;border: 1px solid #d4d4d4;border-radius: 10px;margin-top: 10px;}
.respose_textarea{border: none;padding-left: 5px;padding-top: 5px;}
.respose_switch{float: right;margin-top: 10px;line-height: 20px!important;}
.dispose_square2 { background-color: #505253;  border: 1px solid #ccc;  width: 130px;  height: 30px; line-height: 30px;;
    position: absolute;  right: 35px;  bottom: 35px; word-break:break-all!important;  word-wrap:break-word!important;
    box-shadow: 1px 1px 1px #ccc;  border-radius: 5px;
}
.dispose_square2 span{color: #ccc; }
.dispose_arrow2 { width: 10px; height: 10px; overflow:hidden; zoom: 1; position: absolute; top: 23px; left: 65px;
    border-right: 1px solid #AAA; border-bottom: 1px solid #AAA; transform: rotate(45deg);
    -o-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);  background-color: #505253;
}
.color_gray{color:#999!important}


