@charset "UTF-8";
/* line 46, ../sassfile/scss/css/common_variable.scss */
body, html {
  background: none;
}
.radius{
	-moz-border-radius: 1000px;
	-khtml-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}
/* line 46, ../sassfile/scss/css/common_variable.scss */
input, button, select, textarea, a {
  outline: none;
}

/* line 5, ../sassfile/scss/css/common.scss */
body, div, dl, dt, dd, pre, code, form, input, button, textarea, p, th, td, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei",SimSun, Arial, Helvetica, sans-serif;
}

/* line 8, ../sassfile/scss/css/common.scss */
.display_none {
  display: none;
}

/* line 8, ../sassfile/scss/css/common.scss */
.display_block {
  display: block;
}

/* line 8, ../sassfile/scss/css/common.scss */
.display_inherit {
  display: inherit;
}

/* line 8, ../sassfile/scss/css/common.scss */
.display_inline-block {
  display: inline-block;
}

/* line 8, ../sassfile/scss/css/common.scss */
.display_inline {
  display: inline;
}

/* line 12, ../sassfile/scss/css/common.scss */
.left {
  float: left;
}

/* line 12, ../sassfile/scss/css/common.scss */
.right {
  float: right;
}

/* line 16, ../sassfile/scss/css/common.scss */
.relative {
  position: relative;
}

/* line 16, ../sassfile/scss/css/common.scss */
.absolute {
  position: absolute;
}

/* line 16, ../sassfile/scss/css/common.scss */
.fixed {
  position: fixed;
}

/* line 20, ../sassfile/scss/css/common.scss */
.align_left {
  text-align: left;
}

/* line 20, ../sassfile/scss/css/common.scss */
.align_center {
  text-align: center;
}

/* line 20, ../sassfile/scss/css/common.scss */
.align_right {
  text-align: right;
}

/* line 22, ../sassfile/scss/css/common.scss */
address, caption, cite, code, dfn, th, var, optgroup, b {
  font-style: normal;
  font-weight: normal;
}

/* line 28, ../sassfile/scss/css/common.scss */
html {
  color: #111111;
  direction: ltr;
}

/* line 29, ../sassfile/scss/css/common.scss */
img {
  border: none;
}

/* line 30, ../sassfile/scss/css/common.scss */
legend {
  color: #111111;
}

/* line 31, ../sassfile/scss/css/common.scss */
li {
  list-style: none;
}

/* line 32, ../sassfile/scss/css/common.scss */
a {
  text-decoration: none;
  cursor: pointer;
}
/* line 33, ../sassfile/scss/css/common.scss */
a:focus {
  -moz-outline-style: none;
  /* FF*/
}

/* line 37, ../sassfile/scss/css/common.scss */
.adapt_w {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 43, ../sassfile/scss/css/common.scss */
.required {
  color: red;
  vertical-align: middle;
  margin: 0 3px;
}

/* line 44, ../sassfile/scss/css/common.scss */
fieldset * {
  font-size: 12px;
}

/* line 45, ../sassfile/scss/css/common.scss */
.fieldset_edit {
  left: 5px;
  bottom: 0px;
}
/* line 46, ../sassfile/scss/css/common.scss */
.fieldset_edit span {
  margin-bottom: 1px;
}

/* line 51, ../sassfile/scss/css/common.scss */
input {
  vertical-align: middle;
}

/* line 52, ../sassfile/scss/css/common.scss */
input[disabled], select[disabled], textarea[disabled] {
  background: #F8F8F8;
}

/* line 53, ../sassfile/scss/css/common.scss */
input[type="text"] {
  vertical-align: middle;
  border: 1px solid #ccc;
  height: 20px;
  line-height: 20px;
   font-family: 'Microsoft YaHei', SimSun, Arial, Helvetica, sans-serif; font-size: 12px;
}

/* line 55, ../sassfile/scss/css/common.scss */
textarea {
  border: 1px solid #ccc;
  background: white;
  line-height: 160%;
}

/* line 56, ../sassfile/scss/css/common.scss */
textarea:hover {
  border: solid 1px #57B4E7;
}
select { border: 1px solid #ccc; font-family: 'Microsoft YaHei', SimSun, Arial, Helvetica, sans-serif; font-size: 12px; }
/* line 57, ../sassfile/scss/css/common.scss */
.over_y_scroll {
  overflow-y: scroll;
}

/* line 58, ../sassfile/scss/css/common.scss */
.w100b {
  width: 100%;
}

/* line 59, ../sassfile/scss/css/common.scss */
.line_height22px {
  line-height: 22px;
}

/* line 60, ../sassfile/scss/css/common.scss */
.line_height100 {
  line-height: 100%;
}

/* line 61, ../sassfile/scss/css/common.scss */
.line_height110 {
  line-height: 110%;
}

/* line 62, ../sassfile/scss/css/common.scss */
.line_height160 {
  line-height: 160%;
}

/* line 63, ../sassfile/scss/css/common.scss */
.line_height180 {
  line-height: 180%;
}

/* line 64, ../sassfile/scss/css/common.scss */
.line_height200 {
  line-height: 200%;
}

/* line 65, ../sassfile/scss/css/common.scss */
.bg_color_blueLight {
  background: #008dd6;
}

/* line 66, ../sassfile/scss/css/common.scss */
.bg_color_blueLight2, .common_toolbar_box .bg_color_blueLight2 {
  background: #F0F6F8;
}

/* line 67, ../sassfile/scss/css/common.scss */
.bg_color_white {
  background: #FFF;
}

/* line 68, ../sassfile/scss/css/common.scss */
.bg_color_gray {
  background: #EFEDED;
}

/* line 69, ../sassfile/scss/css/common.scss */
.bg_color_yellow {
  background: #FFFBD8;
}
.bg_color_black {
  background: #4D4D4D;
}
/* line 70, ../sassfile/scss/css/common.scss */
.text_indent {
  text-indent: 2em;
}

/* line 71, ../sassfile/scss/css/common.scss */
.text_indent0 {
  text-indent: 0;
}

/* line 72, ../sassfile/scss/css/common.scss */
.font_size12 {
  font-size: 12px;
}

/* line 73, ../sassfile/scss/css/common.scss */
.font_size14 {
  font-size: 14px;
}

/* line 74, ../sassfile/scss/css/common.scss */
.font_size16 {
  font-size: 16px;
}

/* line 75, ../sassfile/scss/css/common.scss */
.font_size18 {
  font-size: 18px;
}

/* line 76, ../sassfile/scss/css/common.scss */
.font_size24 {
  font-size: 24px;
}

/* line 77, ../sassfile/scss/css/common.scss */
.font_family_yahei {
  font-family: 'Microsoft YaHei';
}

/* line 78, ../sassfile/scss/css/common.scss */
.selectMultiple_font_size {
  font-size: 14px;
}

/* line 79, ../sassfile/scss/css/common.scss */
.color_red {
  color: red;
}

/* line 80, ../sassfile/scss/css/common.scss */
.color_gray {
  color: #a3a3a3;
}

/* line 82, ../sassfile/scss/css/common.scss */
.color_gray2 {
  color: #757575;
}

/* line 83, ../sassfile/scss/css/common.scss */
a.color_gray2_nohover {
  color: #757575;
}

/* line 84, ../sassfile/scss/css/common.scss */
a.color_gray2_nohover:hover {
  color: #757575;
}

/* line 86, ../sassfile/scss/css/common.scss */
.color_black {
  color: #111111;
}

/* line 87, ../sassfile/scss/css/common.scss */
a.color_black_nohover {
  color: #111111;
}

/* line 88, ../sassfile/scss/css/common.scss */
a.color_black_nohover:hover {
  color: #111111;
}

/* line 89, ../sassfile/scss/css/common.scss */
.color_black2 {
  color: #111111;
}

/* line 91, ../sassfile/scss/css/common.scss */
.color_2b2b2b {
  color: #2b2b2b;
}

/* line 92, ../sassfile/scss/css/common.scss */
a.color_2b2b2b_nohover {
  color: #2b2b2b;
}

/* line 93, ../sassfile/scss/css/common.scss */
a.color_2b2b2b_nohover:hover {
  color: #2b2b2b;
}

/* line 95, ../sassfile/scss/css/common.scss */
.color_blue {
  color: #318ed9;
}

/* line 96, ../sassfile/scss/css/common.scss */
a.color_blue {
  color: #318ed9;
}

/* line 98, ../sassfile/scss/css/common.scss */
.color_orange {
  color: orange;
}

/* line 99, ../sassfile/scss/css/common.scss */
.valign_m {
  vertical-align: middle;
}

/* line 100, ../sassfile/scss/css/common.scss */
.hand {
  cursor: pointer;
}

/* line 101, ../sassfile/scss/css/common.scss */
.font_bold {
  font-weight: bold;
}

/* line 102, ../sassfile/scss/css/common.scss */
.w200 {
  width: 200px;
}

/* line 103, ../sassfile/scss/css/common.scss */
.clear {
  clear: both;
}

/* line 104, ../sassfile/scss/css/common.scss */
.w100b {
  width: 100%;
}

/* line 105, ../sassfile/scss/css/common.scss */
.w90b {
  width: 90%;
}

/* line 106, ../sassfile/scss/css/common.scss */
.w80b {
  width: 80%;
}

/* line 107, ../sassfile/scss/css/common.scss */
.w70b {
  width: 70%;
}

/* line 108, ../sassfile/scss/css/common.scss */
.w60b {
  width: 60%;
}

/* line 109, ../sassfile/scss/css/common.scss */
.w50b {
  width: 50%;
}

/* line 110, ../sassfile/scss/css/common.scss */
.w40b {
  width: 40%;
}

/* line 111, ../sassfile/scss/css/common.scss */
.w30b {
  width: 30%;
}

/* line 112, ../sassfile/scss/css/common.scss */
.w20b {
  width: 20%;
}

/* line 113, ../sassfile/scss/css/common.scss */
.w10b {
  width: 10%;
}

/* line 114, ../sassfile/scss/css/common.scss */
.w1em {
  display: inline-block;
  width: 1em;
}

/* line 115, ../sassfile/scss/css/common.scss */
.w2em {
  display: inline-block;
  width: 2em;
}

/* line 116, ../sassfile/scss/css/common.scss */
.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

/* line 117, ../sassfile/scss/css/common.scss */
.ellipsis_table {
  table-layout: fixed;
}

/* line 120, ../sassfile/scss/css/common.scss */
.ellipsis_table td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

/* line 126, ../sassfile/scss/css/common.scss */
.word_break_all {
  word-break: break-all;
}

/* line 127, ../sassfile/scss/css/common.scss */
.h100b {
  height: 100%;
}

/* line 128, ../sassfile/scss/css/common.scss */
.w_adapt {
  overflow: hidden;
  margin: auto;
}

/* line 129, ../sassfile/scss/css/common.scss */
.green {
  color: green;
}

/* line 130, ../sassfile/scss/css/common.scss */
.clearfix {
  zoom: 1;
  display: block;
  _height: 1px;
}
/* line 134, ../sassfile/scss/css/common.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 142, ../sassfile/scss/css/common.scss */
.clearFlow {
  overflow: hidden;
  *zoom: 1;
}

/* line 143, ../sassfile/scss/css/common.scss */
.overflowY_hidden {
  overflow-y: hidden;
}

/* line 144, ../sassfile/scss/css/common.scss */
.left_ie6 {
  _float: left;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_0 {
  padding: 0px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_5 {
  padding: 5px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_10 {
  padding: 10px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_15 {
  padding: 15px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_20 {
  padding: 20px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_25 {
  padding: 25px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.padding_30 {
  padding: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_0 {
  padding-left: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_5 {
  padding-left: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_10 {
  padding-left: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_15 {
  padding-left: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_20 {
  padding-left: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_25 {
  padding-left: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_l_30 {
  padding-left: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_0 {
  padding-right: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_5 {
  padding-right: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_10 {
  padding-right: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_15 {
  padding-right: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_20 {
  padding-right: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_25 {
  padding-right: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_r_30 {
  padding-right: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_0 {
  padding-top: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_5 {
  padding-top: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_10 {
  padding-top: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_15 {
  padding-top: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_20 {
  padding-top: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_25 {
  padding-top: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_t_30 {
  padding-top: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_0 {
  padding-bottom: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_5 {
  padding-bottom: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_10 {
  padding-bottom: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_15 {
  padding-bottom: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_20 {
  padding-bottom: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_25 {
  padding-bottom: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.padding_b_30 {
  padding-bottom: 30px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_0 {
  margin: 0px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_5 {
  margin: 5px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_10 {
  margin: 10px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_15 {
  margin: 15px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_20 {
  margin: 20px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_25 {
  margin: 25px;
}

/* line 83, ../sassfile/scss/css/common_variable.scss */
.margin_30 {
  margin: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_l_0 { margin-left: 0px;}
.margin_l_1 { margin-left: 1px;}
.margin_l_2 { margin-left: 2px;}
.margin_l_3 { margin-left: 3px;}
.margin_l_4 { margin-left: 4px;}
.margin_l_5 { margin-left: 5px;}
.margin_l_6 { margin-left: 6px;}
.margin_l_7 { margin-left: 7px;}
.margin_l_8 { margin-left: 8px;}
.margin_l_9 { margin-left: 9px;}
.margin_l_10 { margin-left: 10px;}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_l_15 {
  margin-left: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_l_20 {
  margin-left: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_l_25 {
  margin-left: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_l_30 {
  margin-left: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_r_0 { margin-right: 0px;}
.margin_r_1 { margin-right: 1px;}
.margin_r_2 { margin-right: 2px;}
.margin_r_3 { margin-right: 3px;}
.margin_r_4 { margin-right: 4px;}
.margin_r_5 { margin-right: 5px;}
.margin_r_6 { margin-right: 6px;}
.margin_r_7 { margin-right: 7px;}
.margin_r_8 { margin-right: 8px;}
.margin_r_9 { margin-right: 9px;}
.margin_r_10 { margin-right: 10px;}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_r_15 {
  margin-right: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_r_20 {
  margin-right: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_r_25 {
  margin-right: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_r_30 {
  margin-right: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_0 {
  margin-top: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_5 {
  margin-top: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_10 {
  margin-top: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_15 {
  margin-top: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_20 {
  margin-top: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_25 {
  margin-top: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_t_30 {
  margin-top: 30px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_0 {
  margin-bottom: 0px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_5 {
  margin-bottom: 5px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_10 {
  margin-bottom: 10px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_15 {
  margin-bottom: 15px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_20 {
  margin-bottom: 20px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_25 {
  margin-bottom: 25px;
}

/* line 81, ../sassfile/scss/css/common_variable.scss */
.margin_b_30 {
  margin-bottom: 30px;
}

/* line 153, ../sassfile/scss/css/common.scss */
.opacity_20 {
  opacity: 0.2;
  filter: alpha(opacity=20);
  *zoom: 1;
}

/* line 154, ../sassfile/scss/css/common.scss */
.opacity_50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  *zoom: 1;
}

/* line 155, ../sassfile/scss/css/common.scss */
.opacity_60 {
  opacity: 0.6;
  filter: alpha(opacity=60);
  *zoom: 1;
}

/* line 156, ../sassfile/scss/css/common.scss */
.opacity_80 {
  opacity: 0.8;
  filter: alpha(opacity=80);
  *zoom: 1;
}

/* line 158, ../sassfile/scss/css/common.scss */
.padding_lr_0 {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 159, ../sassfile/scss/css/common.scss */
.padding_lr_5 {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 160, ../sassfile/scss/css/common.scss */
.padding_lr_10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 161, ../sassfile/scss/css/common.scss */
.padding_lr_15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 163, ../sassfile/scss/css/common.scss */
.padding_tb_0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 164, ../sassfile/scss/css/common.scss */
.padding_tb_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 165, ../sassfile/scss/css/common.scss */
.padding_tb_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 167, ../sassfile/scss/css/common.scss */
.margin_lr_0 {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 168, ../sassfile/scss/css/common.scss */
.margin_lr_5 {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 169, ../sassfile/scss/css/common.scss */
.margin_lr_10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 170, ../sassfile/scss/css/common.scss */
.margin_lr_15 {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 172, ../sassfile/scss/css/common.scss */
.margin_tb_0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 173, ../sassfile/scss/css/common.scss */
.margin_tb_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 174, ../sassfile/scss/css/common.scss */
.margin_tb_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 176, ../sassfile/scss/css/common.scss */
.border_no {
  border: 0px;
}

/* line 177, ../sassfile/scss/css/common.scss */
.border_all {
  border: 1px solid #e3e3e3;
}

/* line 178, ../sassfile/scss/css/common.scss */
.border_l {
  border-left: 1px solid #e3e3e3;
}

/* line 179, ../sassfile/scss/css/common.scss */
.border_r {
  border-right: 1px solid #e3e3e3;
}

/* line 180, ../sassfile/scss/css/common.scss */
.border_t {
  border-top: 1px solid #e3e3e3;
}

/* line 181, ../sassfile/scss/css/common.scss */
.border_b {
  border-bottom: 1px solid #e3e3e3;
}

/* line 182, ../sassfile/scss/css/common.scss */
.border_lr {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

/* line 183, ../sassfile/scss/css/common.scss */
.border_tb {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

/* line 184, ../sassfile/scss/css/common.scss */
.border_b_dashed {
  border-bottom: 1px dashed #e3e3e3;
}

/* line 185, ../sassfile/scss/css/common.scss */
.border_t_dashed {
  border-top: 1px dashed #e3e3e3;
}

/* line 187, ../sassfile/scss/css/common.scss */
.border_t_white {
  border-top: 1px solid #fff;
}

/* line 188, ../sassfile/scss/css/common.scss */
.border_l_white {
  border-left: 1px solid #fff;
}

/* line 189, ../sassfile/scss/css/common.scss */
.border_r_white {
  border-right: 1px solid #fff;
}

/* line 190, ../sassfile/scss/css/common.scss */
.border_b_white {
  border-bottom: 1px solid #fff;
}

/* line 192, ../sassfile/scss/css/common.scss */
.border_t_gray {
  border-top: solid 1px #D2D2D2;
}

/* line 193, ../sassfile/scss/css/common.scss */
.border_l_gray {
  border-left: solid 1px #D2D2D2;
}

/* line 194, ../sassfile/scss/css/common.scss */
.border_r_gray {
  border-right: solid 1px #D2D2D2;
}

/* line 195, ../sassfile/scss/css/common.scss */
.border_b_gray {
  border-bottom: solid 1px #D2D2D2;
}

/* line 197, ../sassfile/scss/css/common.scss */
.border_t_gray2 {
  border-top: solid 1px #e5e5e5;
}

/* line 198, ../sassfile/scss/css/common.scss */
.border_l_gray2 {
  border-left: solid 1px #e5e5e5;
}

/* line 199, ../sassfile/scss/css/common.scss */
.border_r_gray2 {
  border-right: solid 1px #e5e5e5;
}

/* line 200, ../sassfile/scss/css/common.scss */
.border_b_gray2 {
  border-bottom: solid 1px #e5e5e5;
}

/* line 202, ../sassfile/scss/css/common.scss */
.border_red {
  border: 1px solid #f00;
}

/* line 203, ../sassfile/scss/css/common.scss */
.disabled_color {
  color: #a3a3a3;
}
/* line 205, ../sassfile/scss/css/common.scss */
.disabled_color:hover {
  color: #a3a3a3;
}

/* line 208, ../sassfile/scss/css/common.scss */
.common_center {
  margin: 0px auto;
}

/* line 209, ../sassfile/scss/css/common.scss */
.common_right {
  margin: 0px 0px 0px auto;
}

/* line 210, ../sassfile/scss/css/common.scss */
.radio_com {
  margin: -3px 5px 0 0;
  vertical-align: middle;
  *margin-top: 0;
  /*ie6\ie7 hack*/
  width: 14px;
  /*ie6*/
  height: 14px;
  /*ie6*/
}

/* line 217, ../sassfile/scss/css/common.scss */
.mask {
  z-index: 999;
  position: absolute;
  background-color: #000000;
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  opacity: 0.25;
}

/* line 218, ../sassfile/scss/css/common.scss */
.col1 {
  width: 99%;
  background: #cccccc;
  min-height: 50px;
}

/* line 219, ../sassfile/scss/css/common.scss */
.col2 {
  width: 49%;
  background: none;
  min-height: 50px;
}

/* line 220, ../sassfile/scss/css/common.scss */
.col2-2-1 {
  width: 32%;
  background: none;
  min-height: 50px;
  float: left;
}

/* line 221, ../sassfile/scss/css/common.scss */
.col2-2-2 {
  width: 65%;
  background: none;
  min-height: 50px;
  float: left;
}

/* line 222, ../sassfile/scss/css/common.scss */
.col3 {
  width: 32%;
  background: #cccccc;
  min-height: 50px;
  float: left;
}

/* line 223, ../sassfile/scss/css/common.scss */
.col3-1 {
  width: 30%;
  background: #cccccc;
  min-height: 50px;
  float: left;
}

/* line 224, ../sassfile/scss/css/common.scss */
.col3-2 {
  width: 68%;
  background: #cccccc;
  min-height: 50px;
  float: left;
}

/* line 225, ../sassfile/scss/css/common.scss */
.col3-2-1 {
  width: 100%;
  background: #666;
  margin-bottom: 6px;
}

/* line 230, ../sassfile/scss/css/common.scss */
.col3-2-2 {
  width: 59%;
  background: #666;
  margin-bottom: 6px;
  float: left;
}

/* line 236, ../sassfile/scss/css/common.scss */
.col3-2-3 {
  width: 40.5%;
  background: #666666;
  min-height: 50px;
  *width: 40.2%;
  _width: 40.2%;
  float: left;
  margin-bottom: 6px;
}

/* line 243, ../sassfile/scss/css/common.scss */
.col32-1 {
  width: 78.5%;
  background: #cccccc;
  min-height: 50px;
  float: left;
}

/* line 247, ../sassfile/scss/css/common.scss */
.col32-2 {
  width: 20%;
  background: #cccccc;
  min-height: 50px;
  float: left;
}

/* line 251, ../sassfile/scss/css/common.scss */
.col32-1 .col3-2-2, .col32-1 .col3-2-3 {
  width: 49.75%;
}

/* line 254, ../sassfile/scss/css/common.scss */
.common_radio_box, .common_checkbox_box, .link_box {
  font-size: 12px;
}

/* line 258, ../sassfile/scss/css/common.scss */
.layout_center, .layout_north, .layout_south, .layout_east, .layout_west {
  border: 1px solid #e3e3e3;
  position: absolute;
  display: none;
  overflow: auto;
}

/* line 264, ../sassfile/scss/css/common.scss */
.layout_south_spritbar {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 3px;
  display: block;
}

/* line 271, ../sassfile/scss/css/common.scss */
.layout_north {
  overflow: hidden;
}

/* line 274, ../sassfile/scss/css/common.scss */
.spiret {
  position: absolute;
  display: block;
  overflow: hidden;
  background: #EDEDED;
}

/* line 281, ../sassfile/scss/css/common.scss */
.spiret_T {
  background: url(../skin/default/images/layout_spiret_bg.gif?V=5_0_8_30) repeat-x left top #ededed;
}

/* line 284, ../sassfile/scss/css/common.scss */
.spiret_L {
  background: url(../skin/default/images/layout_spiret_bg.gif?V=5_0_8_30) repeat-y left top #ededed;
}

/* line 287, ../sassfile/scss/css/common.scss */
.spiret_R {
  background: url(../skin/default/images/layout_spiret_bg.gif?V=5_0_8_30) repeat-y right top #ededed;
}

/* line 291, ../sassfile/scss/css/common.scss */
.spiretBarHidden {
  display: inline-block;
  cursor: pointer;
  padding: 15px 1px;
  background: #EDEDED;
  border: #D2D3D2 solid;
  border-width: 1px 0;
}

/* line 292, ../sassfile/scss/css/common.scss */
.spiretBarHidden em {
  display: inline-block;
  height: 9px;
  width: 5px;
  background: url(../skin/default/images/control_icon.png?V=5_0_8_30) no-repeat;
  background-position: -22px -4px;
}

/* line 294, ../sassfile/scss/css/common.scss */
.spiretBarHidden2 {
  display: inline-block;
  cursor: pointer;
  padding: 15px 1px;
  background: #EDEDED;
  border: #D2D3D2 solid;
  border-width: 1px 0;
}

/* line 295, ../sassfile/scss/css/common.scss */
.spiretBarHidden2 em {
  display: inline-block;
  height: 9px;
  width: 5px;
  background: url(../skin/default/images/control_icon.png?V=5_0_8_30) no-repeat;
  background-position: -117px -4px;
}

/* line 297, ../sassfile/scss/css/common.scss */
.spiretBarHidden3 {
  float: left;
  display: block;
  width: 9px;
  cursor: pointer;
  padding: 1px 20px;
  background: #EDEDED;
  border: #D2D3D2 solid;
  border-width: 0 1px;
}

/* line 298, ../sassfile/scss/css/common.scss */
.spiretBarHidden3 em {
  display: block;
  height: 5px;
  width: 9px;
  background: url(../skin/default/images/control_icon.png?V=5_0_8_30) no-repeat;
  background-position: -3px -6px;
}

/* line 300, ../sassfile/scss/css/common.scss */
.spiretBarHidden4 {
  float: left;
  display: block;
  width: 9px;
  cursor: pointer;
  padding: 1px 20px;
  background: #EDEDED;
  border: #D2D3D2 solid;
  border-width: 0 1px;
}

/* line 301, ../sassfile/scss/css/common.scss */
.spiretBarHidden4 em {
  display: block;
  height: 5px;
  width: 9px;
  background: url(../skin/default/images/control_icon.png?V=5_0_8_30) no-repeat;
  background-position: -35px -5px;
}

/* line 303, ../sassfile/scss/css/common.scss */
.spiretBarShow {
  display: inline-block;
  cursor: pointer;
  padding: 15px 1px;
  background: #DBDBDB;
  border: #B6B6B6 solid;
  border-width: 1px 0;
}

/* line 304, ../sassfile/scss/css/common.scss */
.spiretBarShow em {
  display: inline-block;
  height: 9px;
  width: 5px;
  background: url(../skin/default/images/control_icon.png?V=5_0_8_30) no-repeat;
  background-position: -118px -4px;
}

/* line 306, ../sassfile/scss/css/common.scss */
.resCode, .hidden {
  display: none;
}

/* line 309, ../sassfile/scss/css/common.scss */
.show {
  display: block;
}

/* line 312, ../sassfile/scss/css/common.scss */
.over_auto {
  overflow: auto;
}

/* line 315, ../sassfile/scss/css/common.scss */
.over_auto_hiddenX {
  overflow: auto;
  overflow-x: hidden;
}

/* line 319, ../sassfile/scss/css/common.scss */
.over_auto_hiddenY {
  overflow: auto;
  overflow-y: hidden;
}

/* line 323, ../sassfile/scss/css/common.scss */
.over_hidden {
  overflow: hidden;
}

/* line 326, ../sassfile/scss/css/common.scss */
.over_x_auto {
  overflow_x: auto;
  overflow_y: hidden;
}

/* line 330, ../sassfile/scss/css/common.scss */
.over_y_auto {
  overflow_y: auto;
  overflow_x: hidden;
}

/* line 334, ../sassfile/scss/css/common.scss */
.width_30 {
  width: 30px;
}

/* line 337, ../sassfile/scss/css/common.scss */
.common_form_wrap input, .common_form_wrap select, .common_form_wrap textarea {
  width: 100%;
}

/* line 340, ../sassfile/scss/css/common.scss */
.stadic_layout {
  font-size: 12px;
  height: 100%;
  position: relative;
}

/* line 345, ../sassfile/scss/css/common.scss */
.stadic_layout_head {
  height: 30px;
  width: 100%;
}

/* line 349, ../sassfile/scss/css/common.scss */
.stadic_layout_body {
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 30px;
  top: 30px;
}

/* line 356, ../sassfile/scss/css/common.scss */
.stadic_layout_footer {
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

/***上传附件**/
/* line 364, ../sassfile/scss/css/common.scss */
.file_unload {
  position: relative;
  height: 26px;
  overflow: hidden;
}

/* line 369, ../sassfile/scss/css/common.scss */
.file_unload .file_click {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  overflow: visible;
}

/* line 376, ../sassfile/scss/css/common.scss */
.file_click input, .file_click:hover input {
  width: 100%;
  *width: 50px;
  height: 26px;
  display: block;
  position: absolute;
  left: 0;
  *left: -5px;
  top: 0;
  z-index: 10;
  filter: alpha(opacity=0);
  moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

/* line 391, ../sassfile/scss/css/common.scss */
.file_select {
  margin: 2px 0 0 0;
  padding: 0 5px 5px;
}
/* line 394, ../sassfile/scss/css/common.scss */
.file_select li {
  height: 24px;
  line-height: 24px;
  float: left;
  white-space: nowrap;
}
/* line 399, ../sassfile/scss/css/common.scss */
.file_select li span {
  vertical-align: middle;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
  display: inline-block;
}

/* line 407, ../sassfile/scss/css/common.scss */
.time_line {
  width: 55px;
}

/* line 408, ../sassfile/scss/css/common.scss */
.condition_box {
  float: right;
}

/* line 411, ../sassfile/scss/css/common.scss */
.condition_box .condition_text {
  float: left;
}

/* line 414, ../sassfile/scss/css/common.scss */
.condition_box .textfield {
  width: 120px;
}

/* line 417, ../sassfile/scss/css/common.scss */
.condition_box .input-date {
  width: 100px;
}

/* line 420, ../sassfile/scss/css/common.scss */
.hr_heng {
  display: block;
  overflow: hidden;
  height: 0;
  line-height: 0;
  border-top: solid 1px #E3E3E3;
  border-bottom: solid 1px #FFFFFF;
  border-left: 0;
  border-right: 0;
  font-size: 0;
}

/* line 421, ../sassfile/scss/css/common.scss */
.hr_zong {
  display: block;
  float: left;
  overflow: hidden;
  width: 0;
  height: 100%;
  border-left: solid 1px #E3E3E3;
  border-right: solid 1px #FFFFFF;
  border-top: 0;
  border-bottom: 0;
  font-size: 0;
}

/* line 422, ../sassfile/scss/css/common.scss */
.text_justify {
  text-justify: auto;
  text-align: justify;
  word-break: normal;
}

/* line 427, ../sassfile/scss/css/common.scss */
.common_disable {
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  opacity: 0.25;
}

/* line 432, ../sassfile/scss/css/common.scss */
.underline {
  text-decoration: underline;
}
