<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 多表统计制作 -->
<!-- 	<bean id="reportingManager" class="com.seeyon.ctp.form.formreport.manager.ReportingManagerImpl"></bean> -->

	<!-- 多表统计查看 -->
<!-- 	<bean id="reportViewManager" class="com.seeyon.ctp.form.formreport.manager.ReportViewManagerImpl"></bean> -->

	<!-- 单表统计制作Manger -->
	<bean name="formReportDesignManager" class="com.seeyon.ctp.form.formreport.manager.FormReportDesignManagerImpl"><property name="formManager" ref="formManager"/></bean>
	<bean name="formWorkFlowImpl" class="com.seeyon.ctp.form.formreport.manager.FormWorkFlowImpl"/>

    <bean id="reportInitManager" class="com.seeyon.ctp.form.formreport.manager.FormReportInitManagerImpl"/>
    <bean id="formReportModuleDesignManager" class="com.seeyon.ctp.form.formreport.manager.FormModuleDesign4Report"/>

	<!-- 单表统计查看 -->
	<bean id="formReportViewManager" class="com.seeyon.ctp.form.formreport.manager.FormReportViewManagerImpl">
		<property name="reportDefinitionDao" ref="reportDefinitionDao"/>
		<property name="reportDesignManager" ref="reportDesignManager"/>
		<property name="formManager" ref="formManager"/>
		<property name="reportManager" ref="formReportManager"/>
	</bean>

	<bean id="bindManager" class="com.seeyon.ctp.report.bind.manager.BindManagerImpl"/>
	<!-- 另存为我的统计 -->
	<bean id="reportSaveDao" class="com.seeyon.ctp.form.formreport.dao.ReportSaveDaoImpl" />
	<bean id="reportSaveManager" class="com.seeyon.ctp.form.formreport.manager.ReportSaveManagerImpl"/>
	<!-- 表单统计穿透 -->
    <bean id="formReportPenetrateManager" class="com.seeyon.ctp.form.formreport.data.manager.FormReportDataManagerImpl"></bean>
	<!-- 表单统计引擎 -->
	<bean id="formReportManager" class="com.seeyon.ctp.form.formreport.core.manager.FormReportManagerImpl">
		<property name="reportDataManager" ref="formReportDataManager"/>
		<property name="reportBindManager" ref="formReportBindManager"/>
	</bean>
	<bean id="sqlReportDataDao" class="com.seeyon.ctp.report.data.dao.SQLReportDataDaoImpl"/>
	<bean id="formReportSQLManager" class="com.seeyon.ctp.form.formreport.data.manager.FormReportSQLManagerImpl"/>
	<bean id="formReportDataManager" class="com.seeyon.ctp.form.formreport.data.manager.FormReportDataManagerImpl">
		<property name="debugEnable" value="true"/>
	</bean>
	<bean id="formReportBindManager" class="com.seeyon.ctp.form.formreport.bind.manager.FormReportBindManagerImpl"/>

	<!-- 业务生成器表单统计来源配置 -->
	<bean id="businessSourceType4FormReport" class="com.seeyon.ctp.form.modules.business.impl.BusinessSourceType4FormReport">
        <property name="sort" value="3"/>
    </bean>

	<!-- 业务导图接口实现 -->
	<bean id="bizMapLinkType4FormReport" class="com.seeyon.ctp.form.modules.bizmap.BizMapLinkType4FormReport" />
	
    <bean id="reportSourceManager" class="com.seeyon.ctp.report.data.manager.SourceManagerImpl"></bean>
    <bean id="reportDesignManager" class="com.seeyon.ctp.report.design.manager.DesignManagerImpl"></bean>
    <bean id="reportPresentManager" class="com.seeyon.ctp.report.presentation.manager.PresentManagerImpl"></bean>
    <!-- 统计图相关 -->
    <bean id="anyChartManager" class="com.seeyon.ctp.report.chart.manager.AnyChartManagerImpl"></bean>
    <bean id="drawChartManager" class="com.seeyon.ctp.report.chart.manager.DrawChartManagerImpl"></bean>
</beans>