<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<!-- 单位最新调查 -->
	<bean id="inquirySection" class="com.seeyon.v3x.inquiry.portal.section.InquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="66" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.inquiry.label" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.type.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="inquiry.source.label" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/inquiry.do?method=showDesignated" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块单位调查 -->
	<bean id="singleBoardInquirySection" class="com.seeyon.v3x.inquiry.portal.section.SingleBoardInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="92" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.publisher.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 集团最新调查 -->
	<bean id="groupInquirySection" class="com.seeyon.v3x.inquiry.portal.section.GroupInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="74" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="common" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.groupInquiry.label" />
							</bean>

						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.type.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="inquiry.source.label" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/inquiry.do?method=showDesignated&amp;group=group" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块集团调查 -->
	<bean id="singleBoardGroupInquirySection" class="com.seeyon.v3x.inquiry.portal.section.SingleBoardGroupInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="96" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.publisher.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义单位空间/集团空间最新调查 -->
	<bean id="customLatestInquirySection" class="com.seeyon.v3x.inquiry.portal.section.CustomLatestInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="82" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customLatestInquiry.label" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.type.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块自定义单位空间/集团空间调查 -->
	<bean id="singleCustomBoardInquirySection" class="com.seeyon.v3x.inquiry.portal.section.SingleCustomBoardInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.publisher.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义团队空间调查 -->
	<bean id="customInquirySection" class="com.seeyon.v3x.inquiry.portal.section.CustomInquirySection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="86" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="custom" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customInquiry.label" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.publisher.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

</beans>