<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="inquiryTypeDao" class="com.seeyon.v3x.inquiry.dao.InquiryTypeDaoImpl" />
	<bean id="inquiryAuthDao" class="com.seeyon.v3x.inquiry.dao.InquiryAuthDaoImpl" />
	<bean id="inquiryDao" class="com.seeyon.v3x.inquiry.dao.InquiryDaoImpl" />
	<bean id="inquiryBasicDao" class="com.seeyon.v3x.inquiry.dao.InquiryBasicDaoImpl" />
	<bean id="inquiryScopeDao" class="com.seeyon.v3x.inquiry.dao.InquiryScopeDaoImpl" />
	<bean id="inquiryitemDao" class="com.seeyon.v3x.inquiry.dao.InquiryItemDaoImpl" />

</beans>