<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="inquiryManager" class="com.seeyon.v3x.inquiry.manager.InquiryManagerImpl" init-method="initAllSurveyType" singleton="true" />
	<bean id="inquiryAffairManager" class="com.seeyon.v3x.inquiry.manager.InquiryAffairManagerImpl" />

	<bean id="inquiryNotificationHandler" class="com.seeyon.v3x.inquiry.cluster.InquiryNotificationHandler" />

	<bean id="inquiryNewCollDataHandler" class="com.seeyon.v3x.inquiry.collaboration.InquiryNewCollDataHandler" />

	<bean id="inquiryDocFilingEnable" class="com.seeyon.v3x.inquiry.doc.InquiryDocFilingEnable" />

	<bean id="inquiryIndex" class="com.seeyon.v3x.inquiry.index.InquiryIndexEnableImpl" />

	<bean id="inquiryManager4ISearch" class="com.seeyon.v3x.inquiry.isearch.InquiryManager4ISearch" init-method="init" />

	<bean id="inquiryOrganizationEventListener" class="com.seeyon.v3x.inquiry.organization.InquiryOrganizationEventListener" />
	<bean id="memberLeaveClearItemInquiryHand" class="com.seeyon.v3x.inquiry.organization.MemberLeaveClearItemInquiryHandImpl" />
	<bean id="memberLeaveClearItemInquiryRole" class="com.seeyon.v3x.inquiry.organization.MemberLeaveClearItemInquiryRoleImpl" />

	<bean id="inquiryPortlet" class="com.seeyon.v3x.inquiry.portal.portlet.InquiryPortlet" />
	<bean id="inquriyDeskCollaborationProcessManager" class="com.seeyon.v3x.inquiry.portal.portlet.InquriyDeskCollaborationProcessManagerImpl" />
	<bean id="inquiryPortalEventListener" class="com.seeyon.v3x.inquiry.portal.InquiryPortalEventListener" />
	<bean id="inquiryPublicInfoSpaceOwnerMenuSelector" class="com.seeyon.v3x.inquiry.portal.InquiryPublicInfoSpaceOwnerMenuSelector">
		<property name="spaceType" value="department,corporation,group,custom,public_custom,public_custom_group"></property>
		<property name="sortId" value="4"></property>
	</bean>

	<bean id="securityControlInquiry" class="com.seeyon.v3x.inquiry.security.SecurityControlInquiryImpl" />

	<bean id="userMessageFilterImplInquiry" class="com.seeyon.v3x.inquiry.usermessage.UserMessageFilterImplInquiry" />

</beans>