<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="inquiryManager" class="com.seeyon.v3x.inquiry.manager.InquiryManagerImpl"
		 init-method="initAllSurveyType" singleton="true">
	</bean>
	
	<bean id="inquiryManager4ISearch" class="com.seeyon.v3x.inquiry.manager.InquiryManager4ISearch" init-method="init">
	</bean>

	<bean class="com.seeyon.v3x.inquiry.listener.InquiryOrganizationEventListener">
	</bean>
	<bean id="memberLeaveClearItemInquiryHand" class="com.seeyon.v3x.inquiry.manager.MemberLeaveClearItemInquiryHandImpl">
	</bean>
	<bean id="memberLeaveClearItemInquiryRole" class="com.seeyon.v3x.inquiry.manager.MemberLeaveClearItemInquiryRoleImpl">
	</bean>
    <bean id="inquiryIndex" class="com.seeyon.v3x.inquiry.manager.InquiryIndexEnableImpl"></bean>
     <bean id="inquiryDocFilingEnable" class="com.seeyon.v3x.inquiry.manager.InquiryDocFilingEnable">
    </bean>
    
    <bean id="userMessageFilterImplInquiry" class="com.seeyon.v3x.inquiry.usermessage.filter.UserMessageFilterImplInquiry"/>
    
    <bean id="inquiryNotificationHandler" class="com.seeyon.ctp.cluster.listener.InquiryNotificationHandler" />
    
    <bean id="inquiryPortlet" class="com.seeyon.v3x.inquiry.portal.portlet.InquiryPortlet"/>
</beans>