<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="dataRelationDao" class="com.seeyon.apps.datarelation.dao.DataRelationDaoImpl"></bean>
	<bean id="dataRelationUrlMapDao" class="com.seeyon.apps.datarelation.dao.DataRelationUrlMapDaoImpl"></bean>
</beans>