<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name ="/cip/base/product.do" class ="com.seeyon.apps.cip.base.controller.ProductRegisterController">
	</bean>
	<bean name ="/cip/base/baseManager.do" class ="com.seeyon.apps.cip.base.controller.BaseManagerController">
	</bean>
	<bean name ="/cip/base/instance.do" class ="com.seeyon.apps.cip.base.controller.RegisterInstanceController">
	</bean>
	<bean name ="/cip/base/logMonitorController.do" class ="com.seeyon.apps.cip.base.controller.LogMonitorController">
	</bean>
	<bean name ="/cip/base/deploymentCheck.do" class ="com.seeyon.apps.cip.deployment.controller.DeploymentCheckController">
	</bean>
</beans>