<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name ="/m3/loginController.do" class ="com.seeyon.apps.m3.login.controller.M3LoginController">
	</bean>
	<bean name="/cip/portalConfigController.do" class="com.seeyon.apps.cip.portal.controller.PortalConfigController" />
	<bean name="/cip/registerController.do" class="com.seeyon.apps.cip.controller.RegisterController">
	</bean>
	<bean name="/cip/messageConfigController.do" class="com.seeyon.apps.cip.messageandpending.controller.MessageOrPendingConfigController">
	</bean>
	<bean name="/cip/userBindingController.do" class="com.seeyon.apps.cip.controller.UserBindingController">
	</bean>
	<bean name="/cip/pendingConfigController.do" class="com.seeyon.apps.cip.messageandpending.controller.MessageOrPendingConfigController"></bean>
	<bean name="/m3/coreController.do" class="com.seeyon.apps.m3.core.controller.M3CoreController"></bean>
	<bean name ="/cip/appManagerController.do" class ="com.seeyon.apps.m3.app.controller.AppManagerController"></bean>
	<bean name="/thirdPendingController.do" class="com.seeyon.apps.cip.messageandpending.controller.ThirdPendingController">
	</bean>
	<bean name ="/m3/appStartMgrController.do" class ="com.seeyon.apps.m3.app.controller.AppStartMgrController"></bean>
	
	<bean name ="/m3/homeSkinController.do" class ="com.seeyon.apps.m3.skin.controller.M3HomeSkinController"></bean>
	
	<bean name="/cip/org/synOrgController.do" class="com.seeyon.apps.cip.organization.controller.CipSynOrgController"/>
	<bean name="/cip/org/syLog.do" class="com.seeyon.apps.cip.organization.controller.CipSynLogController"/>
	<bean name="/cip/interface/interfaceController.do" class="com.seeyon.apps.cip.interfaces.controller.CipInterfaceController"/>
	<bean name="/cip/eip/eipController.do" class="com.seeyon.apps.cip.eip.controller.CipEipController"/>
	<bean name ="/cip/thirdpartyinterface/downLoad.do" class ="com.seeyon.apps.cip.thirdpartyinterface.controller.DownLoadController"></bean>
	<bean name ="/cip/thirdpartyinterface/interface.do" class ="com.seeyon.apps.cip.thirdpartyinterface.controller.InterfaceRegisterController"></bean>
	<bean name ="/cip/thirdpartyinterface/resource.do" class ="com.seeyon.apps.cip.thirdpartyinterface.controller.ExtendedResourceController"></bean>
	<bean name ="/cip/thirdpartyinterface/agent.do" class ="com.seeyon.apps.cip.thirdpartyinterface.controller.LocalAgentController"></bean>
	<bean name ="/cip/appIntegrationController.do" class ="com.seeyon.apps.cip.controller.CipAppIntegrationController"></bean>
	<bean name ="/cip/cipUserPasswordAuthController.do" class ="com.seeyon.apps.cip.portal.controller.CIPUserPasswordAuthController"></bean>
	<bean name ="/ncBusinessForCipController.do" class ="com.seeyon.apps.cip.controller.NCBusinessForCipController"></bean>
</beans>