<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="registerDao" class="com.seeyon.apps.cip.dao.impl.RegisterDaoImpl"></bean>
	<bean id="messageOrPendingConfigDao" class="com.seeyon.apps.cip.messageandpending.dao.MessageOrPendingConfigDaoImpl"></bean>
	<bean id="portalConfigDao" class="com.seeyon.apps.cip.portal.dao.PortalConfigDaoImpl" />
	<bean id="m3MessageDao" class="com.seeyon.apps.cip.messageandpending.dao.MessageDaoImpl"></bean>
	<bean id="thirdpartyUserMapperDao" class="com.seeyon.apps.cip.dao.impl.ThirdpartyUserMapperDaoImpl"></bean>
    <bean id="thirdPendingDao"  class="com.seeyon.apps.cip.dao.impl.ThirdPendingDaoImpl"></bean>
    <bean id="appVersionDao" class="com.seeyon.apps.m3.app.dao.impl.AppVersionDaoImpl"></bean>
    <bean id="cipConfigDao" class="com.seeyon.apps.cip.dao.impl.CIPConfigImpl"/>
    <bean id="cipOrgSynDao" class="com.seeyon.apps.cip.organization.dao.impl.CipOrgSynDaoImpl"/>
	<bean id="cipInterfaceRegisterDao" class="com.seeyon.apps.cip.thirdpartyinterface.dao.impl.CipInterfaceRegisterDaoImpl"></bean>
	<bean id="cipResourcePackageDao" class="com.seeyon.apps.cip.thirdpartyinterface.dao.impl.CipResourcePackageDaoImpl"></bean>
	<bean id="localAgentDao" class="com.seeyon.apps.cip.thirdpartyinterface.dao.impl.LocalAgentDaoImpl"></bean>
	<bean id="cipSynConfigDao" class="com.seeyon.apps.cip.organization.dao.impl.CipSynConfigDaoImpl"></bean>
	<bean id="cipSynRecordDao" class="com.seeyon.apps.cip.organization.dao.impl.CipSynRecordDaoImpl"></bean>
	<bean id="cipSynRecordDetailDao" class="com.seeyon.apps.cip.organization.dao.impl.CipSynRecordDetailDaoImpl"></bean>
</beans>