<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="registerManager" class="com.seeyon.apps.cip.manager.impl.RegisterManagerImpl" init-method="init"></bean>
    <bean id="pendingConfigManager" class="com.seeyon.apps.cip.messageandpending.manager.MessageOrPendingConfigManagerImpl">
	</bean>
	<bean id="portalConfigManager" class="com.seeyon.apps.cip.portal.manager.PortalConfigManagerImpl">
	</bean>
	<bean id="portalConfigInit" class="com.seeyon.apps.cip.portal.init.PortalConfigInit">
	</bean>
	<bean id="portalThirdpartyAccessCheck" class="com.seeyon.apps.cip.portal.space.PortalThirdpartyAccessCheck">
	</bean>
	<bean id="messageOrPendingConfigManager" class="com.seeyon.apps.cip.messageandpending.manager.MessageOrPendingConfigManagerImpl" />
	<bean id="thirdPartyReadMessageManager" class="com.seeyon.apps.cip.messageandpending.manager.ThirdPartyReadMessageManagerImpl"/>
	<bean id="messageAndPendingCfgInit" class="com.seeyon.apps.cip.init.MessageAndPendingCfgInit">
	</bean>
	<bean id="thirdPendingManager" class="com.seeyon.apps.cip.manager.impl.ThirdPendingManagerImpl">
	   <property name="thirdPendingDao" ref="thirdPendingDao"></property>
	</bean>
    <bean id="thirdpartyUserMapperCfgManager" class="com.seeyon.apps.cip.manager.impl.ThirdpartyUserMapperCfgManagerImpl"></bean>
    <bean id="thirdpartyUserMapperManager" class="com.seeyon.apps.cip.binding.manager.impl.ThirdpartyUserMapperManagerImpl"></bean>
    <bean id="accountMapperAction" class="com.seeyon.apps.cip.binding.mapper.impl.AccountMapperActionImpl"></bean>
    <bean id="codeMapperAction" class="com.seeyon.apps.cip.binding.mapper.impl.CodeMapperActionImpl"></bean>
    <bean id="eMailMapperAction" class="com.seeyon.apps.cip.binding.mapper.impl.EMailMapperActionImpl"></bean>
    <bean id="mobileMapperAction" class="com.seeyon.apps.cip.binding.mapper.impl.MobileMapperActionImpl"></bean>
    <bean id="thirdpartyUserMapperApi" class="com.seeyon.apps.cip.binding.api.ThirdpartyUserMapperApiImpl"></bean>
    <bean id="thirdpartyMessageApi" class="com.seeyon.apps.cip.messageandpending.api.impl.ThirdpartyMessageApiImpl"></bean>
     <bean id="appVersionManager" class="com.seeyon.apps.m3.app.manager.impl.AppVersionManagerImpl" init-method="loadApps"/>
     <!-- <bean id="m3MessageEventListener" class="com.seeyon.apps.m3.message.listener.M3MessageEventListener"></bean> -->
     <bean id="m3StartPageCustomManager" class="com.seeyon.apps.m3.app.manager.impl.M3StartPageCustomManagerImpl" />
     <bean id="thirdpartyPendingPullManager" class="com.seeyon.apps.cip.manager.impl.ThirdpartyPendingPullManagerImpl"/>
     <bean id="thirdpartyMessagePullManager" class="com.seeyon.apps.cip.messageandpending.manager.ThirdpartyMessagePullManagerImpl"/>
     <bean id="messageOrPendingCacheManager" class="com.seeyon.apps.cip.messageandpending.manager.MessageOrPendingCacheManagerImpl" init-method="init">
	 </bean>
	  <bean id="memberCIPBindingEventListener" class="com.seeyon.apps.cip.listener.MemberCIPBindingEventListener"></bean>
	  <!-- <bean id="cipApi" class="com.seeyon.apps.cip.api.CipApiImpl"></bean> -->
	  <bean id="authenticationPortalManager" class="com.seeyon.apps.cip.portal.manager.ThirdpartyAuthenticationPortalManager">
	 </bean>
	  <bean id="thirdpartyMessageSenderAnonymousImpl" class="com.seeyon.apps.cip.messageandpending.anonymous.ThirdpartyMessageSenderAnonymousImpl"></bean>
	  <bean id="syncConfigManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSyncConfigMangerImpl"></bean>
	  <bean id="cipConfigManager" class=" com.seeyon.apps.cip.manager.impl.CIPConfigManagerImpl"></bean>
	  <bean id="cipSynSchemeManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynSchemeManagerImpl"/>
	  <bean id="cipSynAccountManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynAccountManagerImpl"/>
	  <bean id="interfaceRegisterManager" class="com.seeyon.apps.cip.thirdpartyinterface.manager.impl.InterfaceRegisterManagerImpl"></bean>
	  <bean id="extendedResourceManager" class="com.seeyon.apps.cip.thirdpartyinterface.manager.impl.ExtendedResourceManagerImpl"></bean>
	  <bean id="localAgentManager" class="com.seeyon.apps.cip.thirdpartyinterface.manager.impl.LocalAgentManagerImpl"></bean>
	  <bean id="cipOrgScheduleTaskManager" class="com.seeyon.apps.cip.organization.task.CipOrgScheduleTaskManagerImpl"></bean>
	  <bean id="cipSynOperationManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynOperationManagerImpl"/>
	  <bean id="cipSynManager" class="com.seeyon.apps.cip.organization.manager.syn.CipSynManager"/>
	  <bean id="cipSynRecordManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynRecordManagerImpl"/>
	  <bean id="defaultPullThirdpartyUserImpl" class="com.seeyon.apps.cip.binding.manager.impl.DefaultThirdpartyUserProvider"/>
	  <bean id="defaultPullThirdpartyMessageImpl" class="com.seeyon.apps.cip.messageandpending.manager.impl.DefaultThirdpartyMessagePullProviderImpl"/>
	  <bean id="defaultPullThirdpartyPendingImpl" class="com.seeyon.apps.cip.messageandpending.pending.pull.manager.impl.DefaultTirdpartyPendingPullProviderImpl"/>
    <bean id="m3SearchManager" class="com.seeyon.apps.m3.search.manager.impl.M3SearchManagerImpl" />
    <bean id="thirdPendingIndex" class="com.seeyon.apps.cip.messageandpending.index.ThirdPendingIndexImpl" />
    <bean id="cipSynAddressBookManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynAddressBookManagerImpl">
    	<property  name="memberMetaDataMap">
    		<map>
    			<entry key="tel_number" value="telnumber"></entry>
    			<entry key="E_mail" value="emailaddress"></entry>
    			<entry key="office_num" value="officenumber"></entry>
    			<entry key="address" value="address"></entry>
    			<entry key="post_code" value="postalcode"></entry>
    			<entry key="website" value="website"></entry>
    			<entry key="blog" value="blog"></entry>
    			<entry key="gender" value="gender"></entry>
    			<entry key="degree" value="eduBack"></entry>
    			<entry key="political_status" value="politics"></entry>
    			<entry key="birthday" value="birthday"></entry>
    			<entry key="work_starting_date" value="hiredate"></entry>
    			<entry key="weibo" value="weibo"></entry>
    			<entry key="weixin" value="weixin"></entry>
    			<entry key="id_card" value="idnum"></entry>
    			<entry key="post_address" value="postAddress"></entry>
    			<entry key="reporter" value="reporter"></entry>
    		</map>
    	</property>
    	<property  name="memberStaffInfoMap">
    		<map>
    			<entry key="userdName" value="usedname"></entry>
    			<entry key="gender" value="sex"></entry>
    			<entry key="age" value="age"></entry>
    			<entry key="birthday" value="birthday"></entry>
    			<entry key="nation" value="nation"></entry>
    			<entry key="birthplace" value="birthplace"></entry>
    			<entry key="id_card" value="ID_card"></entry>
    			<entry key="degree" value="edu_level"></entry>
    			<entry key="marriage" value="marriage"></entry>
    			<entry key="political_status" value="political_position"></entry>
    			<entry key="work_starting_date" value="work_starting_date"></entry>
    			<entry key="work_time" value="working_time"></entry>
    			<entry key="specialty" value="specialty"></entry>
    			<entry key="hobby" value="hobby"></entry>
    			<entry key="record_wage" value="record_wage"></entry>
    		</map>
    	</property>
    </bean>
        <bean id="thirdpartyMessageAndPendingPullQuartzJob" class="com.seeyon.apps.cip.messageandpending.quartzjob.MessageAndPendingPullQuartzJob" />
    <bean id="cipSynLogManager" class="com.seeyon.apps.cip.organization.manager.impl.CipSynLogManagerImpl"/>
    <bean id="cipMenuManager" class="com.seeyon.apps.cip.manager.impl.CipMenuManagerImpl"/>
    <bean id="cipURLInterceptor" class="com.seeyon.apps.cip.interceptor.CIPURLInterceptor"/>
    <bean id="m3token" class="com.seeyon.ctp.portal.sso.SSOLoginContext">
		<property name="name" value="m3token" />
		<property name="ticketName" value="token" />
		<property name="topFrameName" value="frame_A8" />
		<property name="forward" value="false" />
		<property name="handshake">
			<bean class="com.seeyon.apps.cip.portal.sso.AppTokenHandshakeImpl" />
		</property>
	</bean>
	<bean id="ncCheckManager" class="com.seeyon.apps.cip.deployment.manager.impl.NCCheckManagerImpl"/>
	
</beans>