<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/identification.do" class="com.seeyon.v3x.identification.controller.IdentificationController">
        <property name="parameterNameDogId" value="dogId" />
    </bean>
</beans>