<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="identificationManager" class="com.seeyon.v3x.identification.manager.IdentificationManagerImpl" init-method="init" />
</beans>