<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="easdao" class="com.seeyon.apps.eas.dao.EASOrgDaoImp">
      <property name="sessionFactory"  ref="sessionFactory-NC" />
      </bean>
</beans>