<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="extendedMessageSystem_EAS" class="com.seeyon.ctp.common.usermessage.extended.ExtendedMessageSystemImpl">
        <property name="applicationCategory" value="10108" />
        <property name="displayName" value="eas.messageSystem.displayName" />
        <property name="i18NResource" value="com.seeyon.apps.nc.i18n.NCResources" />
    </bean>
</beans>