<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="easVoucherDefinition" class="com.seeyon.apps.easvoucher.EASVoucherDefinition" init-method="init">
    	<property name="errorMap">
            <map>
            	<entry key="1000" value="没有凭证数据传入"/>
            	<entry key="1001" value="根据传入的组织编码找不到组织"/>
            	<entry key="1002" value="根据传入的科目编码找不到科目"/>
            	<entry key="1003" value="根据传入的币别编码找不到币别"/>
            	<entry key="1004" value="根据传入的登账日期找不到合适的期间"/>
            	<entry key="1005" value="根据传入的凭证类型名称找不到凭证类型"/>
            	<entry key="1006" value="所引入凭证币别，不属于本科目币别核算值"/>
            	<entry key="1007" value="没有找到核算项目"/>
            	<entry key="1008" value="制单人不能为空"/>
            	<entry key="1111" value="其他异常：如保存失败，网络异常等"/>
            	<entry key="2001" value="根据编码没有取得现金流量项目"/>
            	<entry key="3001" value="没有权限新增凭证"/>
            	<entry key="3003" value="登账日期和期间不匹配"/>
            	<entry key="3008" value="组织单元的报告币折算方式没有选取"/>
            	<entry key="3100" value="凭证引入重复"/>
            	<entry key="3101" value="参考消息重复"/>
            	<entry key="4001" value="本位币借贷不相等。"/>
            	<entry key="4002" value="报告币借贷不相等"/>
            	<entry key="4007" value="同一凭证不允许同时包含表内科目与表外科目。"/>
            	<entry key="4112" value="凭证的会计期间不能早于当前会计期间。"/>
            	<entry key="4113" value="分账制，凭证头币种不能为空。 "/>
            	<entry key="4115" value="会计期间不能为空。 "/>
            	<entry key="4116" value="凭证类型不能为空。"/>
            	<entry key="4117" value="公司不能为空。"/>
            	<entry key="4122" value="凭证的借方本币与凭证行不符。 "/>
            	<entry key="4355" value="输入的凭证编码重复 "/>
            	<entry key="4123" value="凭证的贷方本币与凭证行不符。 "/>
            	<entry key="4124" value="凭证的借方报告币与凭证行不符。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            	<entry key="4162" value="凭证的会计期间不能早于当前会计期间。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            	<entry key="4129" value="凭证应该至少存在两条分录。 "/>
            </map>
        </property>
    
    </bean>
</beans>