.stat_table{
    border:1px solid #a0c6e5;
    border-collapse:collapse;
    width:78%;
    margin:0 auto;
}
.stat_table td{
border:1px solid rgba(239,240,239,1);
color:rgba(81,81,81,1);
border-collapse:collapse;
text-align:center;
}
.stat_thead{
   
}
.stat_thead2{
   
}
.stat_thead td{
    width:4%;
   
    background:rgba(208,208,204,1);
    border:1px solid rgb(108, 109, 108);
    font-weight:bold;
}
.stat_thead2 td{
    width:3%;
   
    background:rgba(208,208,204,1);
    border:1px solid rgb(108, 109, 108);
    font-weight:bold;
}
.stat_body{


}


.div_center{
    width:50%;
    margin:0 auto;
    text-align:center;
    margin-bottom:20px;
}
.div_center_text{
width:80%;
margin:0 auto;
text-align:center;
margin-bottom:20px;
}






.stat_body .even{


}
.stat_body .odd{

background:rgba(247,247,246,1);
}
.stat_total{
    background:rgba(208,208,204,1);
    
}

