<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- 我的任务栏目  -->
	<bean id="taskMySection" class="com.seeyon.ctp.portal.section.MyTaskSection">
		<property name="sectionType" value="timeManagement" />
		<property name="spaceTypes"  value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,custom,department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="sectionName4TaskSection">
								<property name="defaultValue" value="menu.taskmanage.mytasks" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="columnscount4TaskSection" />
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="filterColumn4TaskSection" />
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="taskSource4TaskSection">
								<property name="valueRanges">
									<list>
										<bean parent="taskSourceDialog4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="taskmanage.my" />
											<property name="value" value="persontask" />
										</bean>
										
										 <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="/taskmanage/taskinfo.do?method=taskDataSourcesSetting&amp;informFlag=1" />
											<property name="subject" value="taskmanage.informMe.label" />
											<property name="value" value="tellMeTask" />
										</bean>
										<bean parent="taskSourceDialog4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="taskmanage.assignment" />
											<property name="value" value="distributionTask" />
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="banner_source" />
                                <property name="subject" value="taskmanage.sortSetting.label" />
                                <property name="valueType" value="9" />
                                <property name="defaultValue" value="orderItems" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                        	<property name="subject" value="taskmanage.sortSetting.label" />
                                            <property name="value" value="orderItems" />
                                            <property name="panelSetUrl" value="/taskmanage/taskinfo.do?method=openCustomerOrderPage&amp;from=section" />
                                        </bean>
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 磁贴（我的任务） -->
	<bean id="myTaskPortlet" class="com.seeyon.ctp.portal.portlet.MyTaskPortlet" />
	
	
	<!-- 项目任务总看板  -->
	<bean class="com.seeyon.ctp.portal.section.ProjectTaskOverviewSection" id="projectTaskOverviewSection">
		<property name="sortId" value="102"/>
		<property name="sectionType" value="common"></property>
		<property name="spaceTypes" value="related_project_space"></property>
	</bean>
	
	<!-- 项目任务栏目  -->
	<bean id="projectTaskSection" class="com.seeyon.ctp.portal.section.ProjectTaskSection">
		<property name="sortId" value="101"/>
		<property name="sectionType" value="common" />
		<property name="spaceTypes" value="related_project_space" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="sectionName4TaskSection">
								<property name="defaultValue" value="project.info.myProjectTasks" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="columnscount4TaskSection" />
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="filterColumn4TaskSection" />
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl" parent="taskSource4TaskSection">
								<property name="defaultValue" value="projectTask" />
								<property name="valueRanges">
									<list>
										<bean parent="taskSourceDialog4TaskSection"
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="project.info.myProjectTasks" />
											<property name="value" value="projectTask" />
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="banner_source" />
                                <property name="subject" value="taskmanage.sortSetting.label" />
                                <property name="valueType" value="9" />
                                <property name="defaultValue" value="orderItems" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                        	<property name="subject" value="taskmanage.sortSetting.label" />
                                            <property name="value" value="orderItems" />
                                            <property name="panelSetUrl" value="/taskmanage/taskinfo.do?method=openCustomerOrderPage&amp;from=section" />
                                        </bean>
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 项目任务状态统计 -->
	<bean class="com.seeyon.ctp.portal.section.ProjectTaskStatusSection" id="projectTaskStatusSection">
		<property name="sortId" value="103"/>
		<property name="sectionType" value="common"></property>
		<property name="spaceTypes" value="related_project_space"></property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="validate" value="" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="taskmanage.report.status.label" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="height" />
								<property name="subject" value="performanceReport.section.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="208" />
							</bean>				
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 项目人员任务统计 -->
	<bean class="com.seeyon.ctp.portal.section.ProjectMemberTaskSection" id="projectMemberTaskSection">
		<property name="sortId" value="104"/>
		<property name="sectionType" value="common"></property>
		<property name="spaceTypes" value="related_project_space"></property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="validate" value="" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="taskmanage.report.peopleTask.label" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="height" />
								<property name="subject" value="performanceReport.section.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="208" />
							</bean>				
							 <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="showContent" />
                                <property name="subject" value="performanceReport.section.showContent" />
                                <property name="valueType" value="0" />
                                <property name="defaultValue" value="20" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.queryMain.result.chartResult" />
                                            <property name="value" value="20" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.queryMain.result.tableResult" />
                                            <property name="value" value="10" />
                                        </bean>
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 超期任务统计 -->
	<bean class="com.seeyon.ctp.portal.section.ProjectOverdueTaskSection" id="projectOverdueTaskSection">
		<property name="sortId" value="105"/>
		<property name="sectionType" value="common"></property>
		<property name="spaceTypes" value="related_project_space"></property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="validate" value="" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="taskmanage.report.overdue.label" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="height" />
								<property name="subject" value="performanceReport.section.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="208" />
							</bean>				
							 <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="showContent" />
                                <property name="subject" value="performanceReport.section.showContent" />
                                <property name="valueType" value="0" />
                                <property name="defaultValue" value="20" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.queryMain.result.chartResult" />
                                            <property name="value" value="20" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.queryMain.result.tableResult" />
                                            <property name="value" value="10" />
                                        </bean>
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 栏目名称 -->
	<bean id="sectionName4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
		<property name="name" value="columnsName" />
		<property name="subject" value="cannel.name.label" />
		<property name="valueType" value="2" />
	</bean>

	<!-- 显示行数 -->
	<bean id="columnscount4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
		<property name="name" value="columnscount" />
		<property name="subject" value="collaboration.cannel.data.count" />
		<property name="valueType" value="2" />
		<property name="defaultValue" value="8" />
		<property name="validate" value="isInteger" />
		<property name="validateValue" value="max=50 min=1 maxLength=2" />
	</bean>

	<!-- 显示字段 -->
	<bean id="filterColumn4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
		<property name="name" value="columnproperty" />
		<property name="subject" value="cannel.display.column.label" />
		<property name="valueType" value="1" />
		<property name="defaultValue" value="0,2,3,5,6" />
		<property name="valueRanges">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="common.subject.label" />
					<property name="value" value="0" />
					<property name="readOnly" value="true" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="taskmanage.weight" />
					<property name="value" value="1" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="common.state.label" />
					<property name="value" value="2" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="taskmanage.finishrate" />
					<property name="value" value="3" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="taskmanage.starttime" />
					<property name="value" value="4" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="common.date.endtime.label" />
					<property name="value" value="5" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="taskmanage.manager" />
					<property name="value" value="6" />
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
					<property name="subject" value="taskmanage.inspector" />
					<property name="value" value="7" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- 任务来源 -->
	<bean id="taskSource4TaskSection" class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
		<property name="name" value="columnsource" />
		<property name="subject" value="taskmanage.task_source.label" />
		<property name="valueType" value="5" />
		<property name="defaultValue" value="persontask" />
	</bean>

	<!-- 任务来源弹出窗体 -->
	<bean id="taskSourceDialog4TaskSection"
		class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
		<property name="backUp" value="true" />
		<property name="panelSetUrl" value="/taskmanage/taskinfo.do?method=taskDataSourcesSetting" />
	</bean>
</beans>