<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">


	<bean name="processEventHandler" class="com.seeyon.apps.nbd.platform.oa.ProcessEventHandler">

	</bean>

	<bean name="nbd.do" class="com.seeyon.apps.nbd.controller.NbdController">

	</bean>
	<bean name="thirdPartyLogin.do" class="com.seeyon.apps.nbd.controller.SsoController">

	</bean>

	<bean name="bairong" class="com.seeyon.apps.nbd.plugin.bairong.config.ServiceApplicationConfig">

	</bean>






</beans>
