<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="formtalkMapperDao" class="com.seeyon.apps.formtalk.dao.FormtalkMapperDaoImpl"></bean>
	<bean id="formtalkMapperCache" class="com.seeyon.apps.formtalk.dao.FormtalkMapperCacheImpl" init-method="init"></bean>
</beans>