.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.pop_msg_top span{
	margin-top:13px;
	/**
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;**/
	font-size:12px;
	color:#fff;
}
/**面包屑**/
.nowLocation_ico{
	width:32px;
	height:32px;
	display: inline-block;
	vertical-align:top;
	margin-right:8px;
}
.nowLocation_content{
	width:auto;
	height:32px;
	font-size:14px;
	color:#fff;
	display: inline-block;
	line-height:36px;
}
.nowLocation_content a{
	color:#fff;
}
.nowLocation_content a:hover{
	color:#fff;
}
/* 消息显示css*/

.msg_main_box{
	width:100%;
	font-size:1px;
	max-height:280px;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
}
/* 导航下拉小三角*/
.search_them1{
	color:#cccccc;
	position:absolute;
	top:-25px;
	*top:-25px;
	font-size:35px;
}
.search_them2{
	color:#f1f1f1;
	position:absolute;
	top:-24px;
	*top:-24px;
	font-size:35px;
}
/* 消息小三角 */
.msg_pop_titlecurrent{
	color:#fff;
	font-size:36px;
	position:absolute;
	top:21px;
	*top:23px;
	left:37px;
	overflow: hidden;
}

/*搜索*/
.searchArea{
	background:#f1f1f1;
	width:595px;
	height:90px;
	position:absolute;
	top:50px;
	right:30px;
	border:1px #cccccc solid;
	text-align:left;
	z-index: 900;
	display:none;
	-moz-box-shadow: 0px 0px 20px  #333; 
	-webkit-box-shadow: 0px 0px 20px  #333;
	box-shadow: 0px 0px 20px  #333;
}
.searchAreaIframe{
	width:597px;
	height:92px;
	position:absolute;
	top:50px;
	right:30px;
	z-index: 899;
	display:none;
	background:#f1f1f1;
	border:0;
}
input.searchAreaInput{
	height:35px;
	line-height:35px;
	font-size:12px;
	width:275px;
	margin:24px 0 0 42px;
	padding:0 10px;
	color:#333333;
	vertical-align: middle;
}
.searchAreaA{
	width:90px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	overflow: hidden;
	font-size: 16px;
	font-style: normal;
	color: #fff;
	position: absolute;
	top: 23px;
	right: 51px;
	background:#a6a6a6;
	border:1px solid #fcfcfc;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.searchAreaA:hover{
	color:#fff;
}
/* 首页导航*/
.setting_ico,.setting_ico:hover{
	width:24px;
	height:24px;
	margin:0 5px;
	/*width: 40px;*/
}
.help_ioc,.help_ioc:hover{
	width:24px;
	height:24px;
	margin:0 5px;
}
.dajia_work_ico,.dajia_work_ico:hover{
	width:24px;
	height:24px;
	margin:0 5px;
}
.return_ioc2,.return_ioc2:hover{
	width:25px;
	height:25px;
	margin:0 5px;
}
.return_ioc,.return_ioc:hover{
	width:25px;
	height:25px;
	margin:0 5px;
}
.back_ico,.back_ico:hover,.forward_ico,.forward_ico:hover,.search_ico,.search_ico:hover,.admin_exit_ico,.admin_exit_ico:hover,.msg_ioc,.msg_ioc:hover,.a8_ioc,.a8_ioc:hover,.g6_ioc,.g6_ioc:hover,.a6_ioc,.a6_ioc:hover,.main_ioc,.main_ioc:hover,.f5_ioc,.f5_ioc:hover,.f5_ioc1,.f5_ioc1:hover{
	width:24px;
	height:24px;
	margin:0 5px;
}

/* 导航下拉发光阴影*/
.space_pop{
	width:auto;
	height:auto;
	position:absolute;
	top:50px;
	right:280px;
	z-index:9999;
	background:#fff;
	display:none;
	border:1px solid #999;
	-moz-box-shadow: 0px 0px 7px #333; 
	-webkit-box-shadow: 0px 0px 7px #333; 
	box-shadow: 0px 0px 7px #333;
	font-size:14px;
	padding:4px 3px;
	border-bottom:4px solid #42b3e5;
	font-size:14px;
}
/*  管理员登陆人数居中显示*/
.vst_online {
	width: 100%;
	height: 24px;
  	color: #9eacbd;
	font-weight:bold;
	position: absolute;
	bottom:-1px;
	text-align: center;
}
/* 消息盒子 */
.msg_setting_font{
	color:#111111;
	font-size:12px;
	width:70px;
	height:15px;
	text-shadow:1px 1px 1px #fff;
	cursor:pointer;
}
#desktopIframe{
	position: absolute;
	top: 50px;
	left:0px;
	z-index: 9;
	border: 0px;
	display: none;
}

/*换肤面板tab*/
.skin_content_tabs{ }
.skin_content_tabs li{ float: left; width: 50%;}
.skin_content_tabs li a{ display: inline-block; width: 100%; height: 48px; line-height: 48px; vertical-align:middle; text-align: center; font-size: 14px; color: #414141; background: #b7e0f3;}

.skin_content_tabs li a.skinSwitchDisabled{ color:#ececec; background: #bcbcbc;}

.skin_content_tabs_lr{ padding: 0 25px;}
.skin_content_tabs_tb{ padding: 0 25px;}

/*换肤面板tab - 后台*/
.skin_admin_content_tabs{ }
.skin_admin_content_tabs a{ float: left; display: inline-block; margin-right: 20px; width: 200px; height: 48px; line-height: 48px; text-align: center; font-size: 14px; color: #ffffff; background: #b7e0f3;}
.skin_admin_content_tabs a.current{ background: #0484be;color:#000;}
.skin_admin_content_tabs a.skinSwitchDisabled{ color:#ececec; background: #bcbcbc;}

.to_gray{filter:grayscale(100%); 
-webkit-filter:grayscale(100%); 
-moz-filter:grayscale(100%); 
-ms-filter:grayscale(100%); 
-o-filter:grayscale(100%); 
filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
-webkit-filter:grayscale(1)} 
