<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="u8dao" class="com.seeyon.apps.u8.dao.U8OrgDaoImpl"/>
	<bean id="u8SynRecordDao" class="com.seeyon.apps.u8.dao.U8OrgSynRecordDaoImpl"></bean>
	<bean id="u8SynRecordDetailDao" class="com.seeyon.apps.u8.dao.U8OrgSynRecordDetailDaoImpl"></bean>
	<bean id="sectionDao" class="com.seeyon.apps.u8.dao.SectionDaoImpl"></bean>
	<bean id="messageDao" class="com.seeyon.apps.u8.dao.MessageDaoImpl"></bean>
	<bean id="u8UserMapperDao" class="com.seeyon.apps.u8.dao.U8UserMapperDaoImpl"></bean>
	<bean id="u8ServerDao" class="com.seeyon.apps.u8.dao.U8ServerDaoImpl"></bean>
	<bean id="u8UserMapperBeanDao" class="com.seeyon.apps.u8.dao.U8UserMapperBeanDaoImpl"></bean>
	<bean id="u8UserInfoDao" class="com.seeyon.apps.u8.dao.U8UserInfoDaoImpl"></bean>
</beans>
