<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="uuSSOLoginContent" class="com.seeyon.ctp.portal.sso.SSOLoginContext">
		<property name="name" value="u8" />
		<property name="ticketName" value="ticket" />
		<property name="forward" value="true"/>
		<property name="handshake">
			<bean class="com.seeyon.apps.u8.sso.UUSSOLoginHandshake" />
		</property>
	</bean>
</beans>