<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/u8OrgController.do" class="com.seeyon.apps.u8.controller.U8SynchronController"/>
	<bean name="/u8AutoSynch.do" class="com.seeyon.apps.u8.controller.U8AutoSynchController"/>
	<bean name="/u8ScheduleSection.do" class="com.seeyon.apps.u8.controller.ScheduleSectionController">
		<property name="scheduleSectionManager" ref="scheduleSection"></property>
	</bean>
	<bean name="/u8UserMapper.do" class="com.seeyon.apps.u8.controller.U8UserMapperController">
		<property name="orgManager" ref="orgManager"></property>
		<property name="userMapper" ref="userMapper"></property>
		<property name="u8UserMapperBeanManager" ref="u8UserMapperBeanManager"></property>
		<property name="u8ServerManager" ref="u8ServerManager"></property>
		<property name="u8UserInfoManager" ref="u8UserInfoManager"></property>
	</bean>
	<bean name="/u8ServerController.do" class="com.seeyon.apps.u8.controller.U8ServerController"></bean>
	<bean name="/u8ReportHr.do" class="com.seeyon.apps.u8.controller.U8ReportHrController">
		<property name="u8UserMapperBeanManager" ref="u8UserMapperBeanManager"></property>
		<property name="u8ServerManager" ref="u8ServerManager"></property>
	</bean>
	<bean name="/u8FilderController.do" class="com.seeyon.apps.u8.controller.U8FilderController"/>
	<bean name="/u8UserInfoController.do" class="com.seeyon.apps.u8.controller.U8UserInfoController"/>
	<bean name="/u8PortalController.do" class="com.seeyon.apps.u8.controller.U8PortalController">
		<property name="u8UserMapperBeanManager" ref="u8UserMapperBeanManager"></property>
		<property name="u8ServerManager" ref="u8ServerManager"></property>
	</bean>
	<bean name="/u8SynchLogController.do" class="com.seeyon.apps.u8.controller.U8SynchLogController"/>
	<bean name="/u8ServerAndUserInfoController.do" class="com.seeyon.apps.u8.controller.U8ServerAndU8UserInfoController">
	   <property name="u8ServerAndU8UserInfoManager" ref="u8ServerAndU8UserInfoManagerImpl"></property>
	</bean>
</beans>