<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 项目计划栏目 -->
	<bean id="projectPlanSection" class="com.seeyon.ctp.portal.section.ProjectPlanSection">
		<property name="sortId" value="108"/>
		<property name="sectionType" value="common,timeManagement"/>
		<property name="spaceTypes" value="related_project_space"/>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<!-- 栏目名称 -->
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="plan.projectplan.sectionname" />
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<!-- 栏目显示行数-->
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsCount" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<!-- 栏目显示字段, 0-标题,1-创建时间,2-创建人,3-类型(此字段废弃),4-状态 -->
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnProperty" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="title,createTime,creator,state" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.projectplan.title" />
											<property name="value" value="title" />
											<property name="readOnly" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.projectplan.create.time" />
											<property name="value" value="createTime" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.projectplan.create.people" />
											<property name="value" value="creator" />
										</bean>
										<!-- 此字段废弃
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.projectplan.type" />
											<property name="value" value="type" />
										</bean> 
										-->
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.projectplan.state" />
											<property name="value" value="state" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="planDepartmentPlan" class="com.seeyon.ctp.portal.section.DepartmentPlanSection"
		init-method="init">
		<property name="sectionType" value="common" />
		<property name="spaceTypes" value="department" />
		<property name="sortId" value="21"/>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="plan.type.departmentplan" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnproperty" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="0,1,2,3,5" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.title" />
											<property name="value" value="0" />
											<property name="readOnly" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.time" />
											<property name="value" value="1" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.creator" />
											<property name="value" value="2" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.replynumber" />
											<property name="value" value="3" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.status" />
											<property name="value" value="4" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.finishratio" />
											<property name="value" value="5" />
										</bean>
										
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="planMyPlan" class="com.seeyon.ctp.portal.section.MyPlanSection"
		init-method="init">
		<property name="sectionType" value="timeManagement" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,custom,department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="plan.tab.myplan" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnproperty" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="0,1,3,4" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.title" />
											<property name="value" value="0" />
											<property name="readOnly" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.time" />
											<property name="value" value="1" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.replynumber" />
											<property name="value" value="3" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.status" />
											<property name="value" value="4" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.finishratio" />
											<property name="value" value="5" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="planOthersPlan" class="com.seeyon.ctp.portal.section.OthersPlanSection"
		init-method="init">
		<property name="sectionType" value="timeManagement" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,custom,department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="plan.tab.othersplan" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnproperty" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="0,1,2,3,6" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.title" />
											<property name="value" value="0" />
											<property name="readOnly" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.time" />
											<property name="value" value="1" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.creator" />
											<property name="value" value="2" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.replynumber" />
											<property name="value" value="3" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.status" />
											<property name="value" value="4" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.finishratio" />
											<property name="value" value="5" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.grid.label.replystatus" />
											<property name="value" value="6" />
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsource" />
								<property name="subject" value="plan.portal.label.planresource" />
								<property name="defaultValue" value="allPersonnel" />
								<property name="valueType" value="5" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.portal.label.allpeople" />
											<property name="value" value="allPersonnel" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="plan/plan.do?method=showConditionPanel&amp;amp;allPeople=true"/>
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="plan.portal.label.configcondition" />
											<property name="value" value="designatedPersonnel" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="plan/plan.do?method=showConditionPanel&amp;amp;allPeople=false"/>
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>