<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true" default-autowire="byName">
    <bean id="planDao" class="com.seeyon.apps.plan.dao.PlanDaoImpl" singleton="true"></bean>
    <bean id="planSummaryDao" class="com.seeyon.apps.plan.dao.PlanSummaryDaoImpl" singleton="true"></bean>
    <bean id="planRelevantUserDao" class="com.seeyon.apps.plan.dao.PlanRelevantUserDaoImpl" singleton="true"></bean>
    <bean id="planRefRelationDao" class="com.seeyon.apps.plan.dao.PlanRefRelationDaoImpl" singleton="true"></bean>
    <bean id="planReferenceConfigDao" class="com.seeyon.apps.plan.dao.PlanReferenceConfigDaoImpl"  singleton="true"></bean>
    <bean id="planMentionedUserDao" class="com.seeyon.apps.plan.dao.PlanMentionedUserDaoImpl"  singleton="true"></bean>
    <bean id="userMessageFilterImplPlan" class="com.seeyon.apps.plan.usermessage.filter.UserMessageFilterImplPlan"/>
    <bean id="planManager" class="com.seeyon.apps.plan.manager.PlanManagerImpl" singleton="true">
    </bean>
    <bean id="planMentionedUserManager" class="com.seeyon.apps.plan.manager.PlanMentionedUserManagerImpl" singleton="true">
    </bean>
    <bean id="planRefRelationManager" class="com.seeyon.apps.plan.manager.PlanRefRelationManagerImpl" singleton="true"></bean>
    <bean id="planManagerISearch" class="com.seeyon.apps.plan.manager.PlanManagerISearch" init-method="init"></bean>
    <bean id="refMeetingManager" class="com.seeyon.apps.plan.manager.RefMeetingManagerImpl" singleton="true"></bean>
    <bean id="securityControlPlan" class="com.seeyon.v3x.common.security.SecurityControlPlanImpl"></bean>
    
    <!-- 计划转协同后端处理器 -->
    <bean class="com.seeyon.apps.plan.handler.NewPlanCollDataHandler" id="newPlanCollDataHandler"></bean>
</beans>