@CHARSET "UTF-8";
.main_bg{
    background: url("images/main_bg.png?V=5_0_5_23");
}
.main_content{
    width:938px;
    height: 505px;
    background: url("images/main_content.png?V=5_0_5_23") no-repeat center;
	_background: url("images/main_content_ie6.png?V=5_0_5_23") no-repeat center;
	margin: auto;
	margin-top: 50px;
	position:relative;
}
.edition_number{
	position:absolute;
	top:185px;
	right:75px;
	font-size:12px;
	color:#888888;
	width:267px;
	height:22px;
	line-height:22px;
	text-align:center;
	vertical-align:middle;
	letter-spacing:1px;
	
}
.error_message{
    position:absolute;
    top:219px;
    right:74px;
    font-size:12px;
    color:#f00;
    width:252px;
    text-align:center;
    vertical-align:middle;
    padding:5px;
    border:1px #f00 solid;
    background:#fffbc7;
    visibility:hidden;
    
}
#login_form{
	display:block;
	position:absolute;
	top:264px;
	right:74px;
	width:267px;
}
.login_form_layout{
	width:267px;
	table-layout:fixed;
	font-size:12px;
}
#login_username,#VerifyCode,.login_input{
	background: url("images/input_bg.png?V=5_0_5_23") top repeat-x;
	height:24px;
	line-height:24px;
	vertical-align:middle;
	border:1px #b6b6b6 solid;
}
#login_password,#login_username{
	width:212px;
}
#VerifyCode{
	width:110px;
}
#VerifyCodeImg{
	margin-right:5px;
}
.login_text{
	text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
	font-size:14px;
	padding-right:5px;
}
#login_button{
	width:100px;
	height:44px;
	border:0px;
	line-height:44px;
	vertical-align:middle;
	background:url(images/login_btn.png?V=5_0_5_23) no-repeat;
	color:#fff;
	letter-spacing:5px;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.language_div{
	position:absolute;
	top:435px;
	right:74px;
	width:267px;
	height:30px;
	font-size:12px;
	color:#888888;
}
#login_locale_span{
	width:100px;
}
.assist_set{
	cursor:pointer;
	color: #007CD2;
    text-decoration: none;
}
