<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

	<bean name="dubanScoreManager" class="com.seeyon.apps.duban.service.impl.DubanScoreManagerImpl">

	</bean>

	<bean name="DubanTaskEventListener" class="com.seeyon.apps.duban.listener.DubanTaskListener">

	</bean>

	<bean name="/duban.do" class="com.seeyon.apps.duban.controller.DubanTaskController">

	</bean>





</beans>
