<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 应用日志Manager -->
	<bean id="appLogManager" class="com.seeyon.ctp.common.appLog.manager.AppLogManagerImpl">
	</bean>

	<!-- 应用日志DAO -->
	<bean id="appLogDAO" class="com.seeyon.ctp.common.appLog.dao.AppLogDAOImpl">
	</bean>
</beans>
