<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="bizMapLinkType4PubInfo" class="com.seeyon.ctp.form.modules.bizmap.BizMapLinkType4PubInfo" />

	<bean id="pubInfoManager" class="com.seeyon.v3x.pubinfo.manager.PubInfoManagerImpl" />

	<bean id="businessSourceType4Infomation" class="com.seeyon.ctp.form.modules.business.impl.BusinessSourceType4Infomation" />

	<bean id="pubInfoSectionSelector" class="com.seeyon.v3x.pubinfo.portal.PubInfoSectionSelector">
		<property name="sectionType" value="publicInformation"></property>
	</bean>

</beans>
