<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 人员基本信息 -->
	<bean name="/hrStaff.do" class="com.seeyon.v3x.hr.controller.HrStaffInfoController">
	</bean>
	<!-- 打卡记录 -->
	<bean name="/hrRecord.do" class="com.seeyon.v3x.hr.controller.HrRecordController">
	</bean>
	<!-- 调配管理 -->
	<bean name="/hrStaffTransfer.do" class="com.seeyon.v3x.hr.controller.HrStaffTransferController" init-method="initialized">
		<property name="jsonView" value="jsonView" />
	</bean>
	<!-- 工资管理 -->
	<bean name="/hrSalary.do" class="com.seeyon.v3x.hr.controller.SalaryController">
		<property name="jsonView" value="jsonView" />
	</bean>
	<bean name="/hrViewSalary.do" class="com.seeyon.v3x.hr.controller.ViewSalaryController">
	</bean>
	<!-- 统计分析 -->
	<bean name="/hrStatistic.do" class="com.seeyon.v3x.hr.controller.StatisticController">
	</bean>
	<!-- 日志查询 -->
	<bean name="/hrLog.do" class="com.seeyon.v3x.hr.controller.HrLogController">
	</bean>
	<!-- 考勤申请表单 -->
	<bean name="/hrApp.do" class="com.seeyon.v3x.hr.controller.HrRecordApplicationController">
	</bean>
	<!-- hr组织管理 -->
	<bean name="/hrOrgMgr.do" class="com.seeyon.v3x.hr.controller.HrOrgMgrController">
	</bean>
	<!--信息项 -->
	<bean name="/hrUserDefined.do" class="com.seeyon.v3x.hr.controller.HrUserDefinedController">
		<property name="jsonView" value="jsonView" />
	</bean>
</beans>