<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean name="/portal/everybodyWork.do" class="com.seeyon.ctp.portal.controller.EverybodyWorkController">
    </bean>
	<bean name="/portal/spaceController.do" class="com.seeyon.ctp.portal.space.controller.SpaceController">
		<!--  -->
		
		
		<property name="portletEntityPropertyManager" ref="portletEntityPropertyManager"></property>
	</bean>
	<bean name="/portal/portalTemplateController.do" class="com.seeyon.ctp.portal.portaltemplate.controller.PortalTemplateController">
	</bean>
	<bean name="/portal/loginTemplateController.do" class="com.seeyon.ctp.portal.logintemplate.controller.LoginTemplateController">
		
		
	</bean>
	<bean name="/portal/portalController.do" class="com.seeyon.ctp.portal.controller.PortalController"></bean>
	<bean name="/portal/weatherController.do" class="com.seeyon.ctp.portal.weather.controller.WeatherController">
	    
		
	</bean>
	<bean name="/portal/linkSystemController.do" class="com.seeyon.ctp.portal.link.controller.LinkSystemController">
	    
	    
	    
	    
	    
	    
	    
	    
	    
	</bean>
	<bean name="/portal/deskTopController.do" class="com.seeyon.ctp.portal.portlet.controller.DeskTopController">
	    
	    
	</bean>
	
	   
     <bean name="/portal/functionalModule.do" class="com.seeyon.ctp.portal.plugin.controller.FunctionalModuleController" init-method="initialized">
    </bean>
</beans>