<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- 部門角色 -->
    <bean id="DepManagerRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="DepManager" />
        <property name="bond" value="2" />
        <property name="type" value="1" />
        <property name="sortId" value="1" />
    </bean>
    <bean id="DepAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="DepAdmin" />
        <property name="bond" value="2" />
        <property name="type" value="1" />
        <property name="sortId" value="2" />
    </bean>
    <bean id="DepLeaderRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="DepLeader" />
        <property name="bond" value="2" />
        <property name="type" value="1" />
        <property name="sortId" value="3" />
    </bean>
    <bean id="departmentExchangeRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="department_exchange" />
        <property name="bond" value="2" />
        <property name="type" value="1" />
        <property name="sortId" value="4" />
    </bean>
    
    <!-- 單位角色 -->
    <bean id="AccountManagerRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="AccountManager" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="5" />
    </bean>
    <!-- 公共信息前台角色,单位管理员 -->
    <bean id="AccountAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="AccountAdmin" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="6" />
    </bean>
    <bean id="accountExchangeRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="account_exchange" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="7" />
    </bean>
    <bean id="accountEdoccreateRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="account_edoccreate" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="8" />
    </bean>
    <bean id="FormAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="FormAdmin" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="9" />
    </bean>
    <bean id="HrAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="HrAdmin" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="10" />
    </bean>
    <bean id="SalaryAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="SalaryAdmin" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="11" />
    </bean>
    <!-- 公共信息的前台管理员，集团管理员 -->
    <bean id="DocGroupAdminRole" class="com.seeyon.ctp.organization.bo.OrgRoleDefaultDefinition">
        <property name="id" value="DocGroupAdmin" />
        <property name="bond" value="1" />
        <property name="type" value="1" />
        <property name="sortId" value="12" />
    </bean>
    
</beans>