<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

    <!-- 公共的非插件的controller配置 -->


    <!-- 流程日志 -->
    <bean name="/detaillog/detaillog.do" class="com.seeyon.ctp.common.detaillog.controller.DetaillogController"></bean>

    <!-- 批处理 -->
    <bean name="/collaboration/batchController.do" class="com.seeyon.apps.collaboration.batch.controller.BatchController" init-method="init"></bean>
    <bean name="/collaboration/listDesc.do" class="com.seeyon.apps.collaboration.listdesc.controller.ListDescController"></bean>
    <bean name="/collaboration/stepBack.do" class="com.seeyon.apps.collaboration.stepback.controller.StepBackController"></bean>
    
    <!-- 栏目事项 -->
    <bean name="/portalAffair/portalAffairController.do" class="com.seeyon.ctp.portal.controller.PortalAffairController"></bean>
    
    <!-- 图片显示Controller -->
    <bean name="/commonimage.do"  class="com.seeyon.apps.common.image.controller.ImageController"></bean>
    <alias name="/commonimage.do" alias="/image.do"/>
</beans>
