<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!-- 系统消息DAO -->
    <bean id="userMessageDAO" class="com.seeyon.ctp.common.usermessage.dao.UserMessageDAOBean">
        
        <property name="maxSize" value="50" />
    </bean>

    <!-- 系统消息Manager -->
    <bean id="userMessageManager"
        class="com.seeyon.ctp.common.usermessage.UserMessageManagerImpl"
        init-method="init" singleton="true">
        <property name="userMsgDao" ref="userMessageDAO" />
        
        
        
        <property name="commentZishu" value="200" /> 
        <!-- <property name="commentZishu" value="${onlineManager.comment.zishu}" /> -->
    </bean>
    
    <!-- 消息转移设置 -->
    <bean id="userMessageFilterConfigDao" class="com.seeyon.ctp.common.usermessage.config.UserMessageFilterConfigDaoImpl" />
    <bean id="userMessageFilterConfigManager" class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfigManagerImpl">
        <property name="applicationCategoryMap">
            <map>
                <entry key="19" value="4" />
                <entry key="20" value="4" />
                <entry key="21" value="4" />
                <entry key="22" value="4" />
                <entry key="23" value="4" />
                <entry key="24" value="4" />
                <entry key="16" value="4" />
                <entry key="34" value="4" />
            </map>
        </property>
<!--         <property name="messageCategroyConfig">
            <map>
                协同
                <entry key="1">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplCollaboration" />
                        </property>
                    </bean>
                </entry>
                
                公文
                <entry key="4">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplEdoc" />
                        </property>
                    </bean>
                </entry>
                
                计划
                <entry key="5">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplPlan" />
                        </property>
                    </bean>
                </entry>
                
                会议
                <entry key="6">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplMeeting" />
                        </property>
                    </bean>
                </entry>
                
                公告
                <entry key="7">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplBulletin" />
                        </property>
                    </bean>
                </entry>
                
                新闻
                <entry key="8">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplNews" />
                        </property>
                    </bean>
                </entry>
                
                讨论
                <entry key="9">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplBBS" />
                        </property>
                    </bean>
                </entry>
                
                调查
                <entry key="10">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplInguiry" />
                        </property>
                    </bean>
                </entry>
                
                日程事件
                <entry key="11">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplCalendar" />
                        </property>
                    </bean>
                </entry>
                
                在线交流
                <entry key="25">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplCommunication" />
                        </property>
                    </bean>
                </entry>
                
                知识管理
                <entry key="3">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplDoc" />
                        </property>
                    </bean>
                </entry>
                
                知识管理
                <entry key="31">
                    <bean class="com.seeyon.ctp.common.usermessage.UserMessageFilterConfig">
                        <property name="userMessageFilter">
                            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImplGuestbook" />
                        </property>
                    </bean>
                </entry>
                
            </map>
        </property>
 -->        <property name="extendedSystemMessageFilter">
            <bean class="com.seeyon.ctp.common.usermessage.filter.UserMessageFilterImpl4ExtendedSystem" />
        </property>
    </bean>
    
    <bean id="messageCategoryToMenu" class="com.seeyon.ctp.common.usermessage.MessageCategoryToMenu"
        singleton="true">
        <property name="categoryToMenu">
            <map>
                <!-- 公告 -->
                <entry key="7">
                    <list>
                        <value>703</value>
                        <value>705</value>
                    </list>
                </entry>
                <!-- 新闻 -->
                <entry key="8">
                    <list>
                        <value>704</value>
                        <value>705</value>
                    </list>
                </entry>
                <!-- 讨论 -->
                <entry key="9">
                    <list>
                        <value>701</value>
                        <value>705</value>
                    </list>
                </entry>
                <!-- 调查 -->
                <entry key="10">
                    <list>
                        <value>702</value>
                        <value>705</value>
                    </list>
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="messagePipelineManager"
        class="com.seeyon.ctp.common.usermessage.pipeline.MessagePipelineManagerImpl" singleton="true">
        <property name="poolMaxSize" value="50000" />
        <property name="poolThreadMaxSize" value="3" />
    </bean>
    
    <bean id="pcMessagePipeline"  class="com.seeyon.ctp.common.usermessage.pipeline.PCMessagePipeline" />
    <bean id="pushMobileMessagePipeline"  class="com.seeyon.ctp.common.usermessage.pipeline.PushMobileMessagePipeline" />
    
<!--    <bean id="MailMessagePipeline" class="com.seeyon.ctp.common.usermessage.pipeline.MailMessagePipeline">
        
    </bean> -->
    
    <bean id="messagePipelineMonitor" class="com.seeyon.ctp.common.usermessage.pipeline.MessagePipelineMonitor" init-method="init">
        
    </bean>
    
    <!-- 扩展消息系统  -->
    <bean id="extendedMessageSystemManager" class="com.seeyon.ctp.common.usermessage.extended.ExtendedMessageSystemManagerImpl" init-method="init" singleton="true" lazy-init="false"/>
</beans>
