<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="simulationManager" class="com.seeyon.ctp.workflow.simulation.manager.SimulationManagerImpl"></bean>
	<bean id="simulationRunManager" class="com.seeyon.ctp.workflow.simulation.manager.SimulationRunManagerImpl"></bean>
        <bean id="workFlowSimulationEventListener" class="com.seeyon.ctp.workflow.simulation.listener.WorkFlowSimulationEventListener"></bean>

	<bean id="simulationReportManager" class="com.seeyon.ctp.workflow.simulation.manager.SimulationReportManagerImpl"></bean>
	
	<bean id="workflowSimulationManager" class="com.seeyon.ctp.workflow.simulation.manager.WorkflowSimulationManagerImpl"></bean>
</beans>

