<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    
       <!-- 打印 -->
    <bean name="/common/print.do" class="com.seeyon.ctp.common.print.controller.PrintController" ></bean>
	
</beans>