<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

	<bean id="mobileMessageManager" class="com.seeyon.v3x.mobile.message.manager.MobileMessageManagerImpl" init-method="init" destroy-method="destroy">
		<property name="featureCodeStep" value="100" />
		<property name="reciveTime" value="${mobile.receivetime}" />
		<property name="sleepTime" value="${mobile.sleeptime}" />
		<property name="largestNum" value="${mobile.largestNum}" />
		<property name="baseMobileAppDialect">
			<bean class="com.seeyon.v3x.mobile.message.dialect.BaseMobileAppDialectImpl">
			</bean>
		</property>
		<property name="mobileAppDialect">
			<map>
				<entry key="6">
					<bean class="com.seeyon.v3x.mobile.message.dialect.MeetingDialectImpl">
					</bean>
				</entry>
			</map>
		</property>
		<!-- 应用消息通道管理 支持短信的应用 -->
		<property name="appEnumListOfSMS">
			<list>
				<value>1</value>
				<value>5</value>
				<value>30</value>
				<value>11</value>
				<value>3</value>
				<value>26</value>
				<value>6</value>
				<value>4</value>
				<value>32</value>
				<value>7</value>
				<value>8</value>
				<value>9</value>
				<value>10</value>
			</list>
		</property>
		<property name="appEnumListOfNotNeedFeature">
			<list>
				<value>7</value>
				<value>8</value>
				<value>9</value>
				<value>10</value>
			</list>
		</property>
		<!-- 应用消息通道管理 支持Wappush的应用 -->
		<property name="appEnumListOfWappush">
			<list>
				<value>1</value>
				<value>6</value>
				<value>7</value>
				<value>8</value>
				<value>11</value>
			</list>
		</property>
	</bean>

	<bean id="mobileMessageDao" class="com.seeyon.v3x.mobile.dao.MobileMessageDaoImpl">
		<property name="deleteSpaceDate" value="${mobile.message.deleteSpaceDate}" />
	</bean>

	<bean id="mobileMessagePipeline" class="com.seeyon.v3x.mobile.message.MobileMessagePipeline" />

	<bean id="mobileNotificationHandler" class="com.seeyon.ctp.cluster.listener.MobileNotificationHandler" />

</beans>
