<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="IBPMCaseDao" class="com.seeyon.ctp.workflow.dao.impl.BPMCaseDaoImpl"></bean>
	<bean id="ICaseRunDao" class="com.seeyon.ctp.workflow.dao.impl.CaseRunDaoImpl"></bean>
	<bean id="IProcessRunningDao" class="com.seeyon.ctp.workflow.dao.impl.ProcessRunningDaoImpl"></bean>
	<bean id="IWorkitemDao" class="com.seeyon.ctp.workflow.dao.impl.WorkitemDaoImpl"></bean>
	<bean id="IProcessTemplateDao" class="com.seeyon.ctp.workflow.dao.impl.ProcessTemplateDaoImpl"></bean>
	<bean id="processXmlTempDao" class="com.seeyon.ctp.workflow.dao.impl.ProcessXmlTempDaoImpl"></bean>
    <bean id="subProcessSettingDao" class="com.seeyon.ctp.workflow.dao.impl.SubProcessSettingDaoImpl"></bean>
    <bean id="subProcessRunningDao" class="com.seeyon.ctp.workflow.dao.impl.SubProcessRunningDaoImpl"></bean>
    <bean id="wfProcessPropertyDao" class="com.seeyon.ctp.workflow.dao.impl.WFProcessPropertyDaoImpl"></bean>
    <bean id="workflowSuperNodeControlDao" class="com.seeyon.ctp.workflow.dao.impl.WorkflowSuperNodeControlDaoImpl"></bean>
</beans>