<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

	<bean id="operationlogManager" class="com.seeyon.ctp.common.operationlog.manager.OperationlogManagerImpl">
	</bean>
	<bean id="operationLogDao" class="com.seeyon.ctp.common.operationlog.dao.OperationLogDaoImpl">
	</bean>
</beans>
