<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
     <bean name="/report.do" class="com.seeyon.ctp.report.collector.controller.ReportController"/>
     <bean name="/chartImg.do" class="com.seeyon.ctp.report.chart.controller.ChartImgController"/>
</beans>