<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
  	<bean id="categoryManager" class="com.seeyon.apps.category.manager.impl.CategoryManagerImpl"></bean>
  	<bean id="categoryCacheManager" class="com.seeyon.apps.category.manager.impl.CategoryCacheManager" init-method="init"></bean>
  	<bean id="elementManager" class="com.seeyon.apps.element.manager.impl.ElementManagerImpl"></bean>
  	<bean id="elementCacheManager" class="com.seeyon.apps.element.manager.impl.ElementCacheManager" init-method="init"></bean>
  	<bean id="elementPermissionManager" class="com.seeyon.apps.element.manager.impl.ElementPermissionManagerImpl"></bean>
  	<bean id="elementOrganizationEventListener" class="com.seeyon.apps.element.listener.ElementOrganizationEventListener"></bean>
  	<bean id="govformManager" class="com.seeyon.apps.form.manager.impl.FormManagerImpl"></bean>
  	<bean id="govformElementManager" class="com.seeyon.apps.form.manager.impl.FormElementManagerImpl"></bean>
  	<bean id="govformAclManager" class="com.seeyon.apps.form.manager.impl.FormAclManagerImpl"></bean>
  	<bean id="govformExtendInfoManager" class="com.seeyon.apps.form.manager.impl.FormExtendInfoManagerImpl"></bean>
  	<bean id="govformPermissionBoundManager" class="com.seeyon.apps.form.manager.impl.FormPermissionBoundManagerImpl"></bean>
  	<bean id="govformCacheManager" class="com.seeyon.apps.form.service.FormCacheManager" init-method="init"></bean>
  	<bean id="govformInfopathManager" class="com.seeyon.apps.form.service.FormInfopathManager"></bean>
  	<bean id="govformApplicationHandler" class="com.seeyon.apps.form.service.FormApplicationHandler" init-method="init"></bean>
  	<bean id="govformMainbodyHandler" class="com.seeyon.apps.form.service.FormMainbodyHandler"></bean>
  	<bean id="govformAjaxManager" class="com.seeyon.apps.form.manager.impl.FormAjaxManagerImpl"></bean>
  	<bean id="govformPresetManager" class="com.seeyon.apps.form.manager.impl.FormPresetManagerImpl"></bean>
  	<bean id="govTemplateManager" class="com.seeyon.apps.template.manager.GovTemplateManagerImpl"></bean>
</beans>