<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="reportInfoManager" class="com.seeyon.apps.performancereport.manager.ReportInfoManagerImpl"></bean>
	<bean id="performanceSectionSelector"
		class="com.seeyon.apps.performancereport.section.PerformanceSectionSelector">
		<property name="sectionType" value="performanceAnalysis" />
	</bean>
	
	<bean id="templateQuery4ReportHandler" class="com.seeyon.apps.performancereport.manager.TemplateReportManagerImpl"></bean>

	<!--绩效引擎下获取数据 -->
	<bean id="reportManager" class="com.seeyon.apps.performancereport.core.manager.PerformanceReportManagerImpl">
		<property name="reportDataManager" ref="performanceReportDataManager"/>
		<property name="reportBindManager" ref="performanceReportBindManager"/>
	</bean>
	
	<bean id="performanceReportDataManager" class="com.seeyon.apps.performancereport.data.manager.PerformanceReportDataManagerImpl"></bean>
	<bean id="performanceReportBindManager" class="com.seeyon.apps.performancereport.bind.manager.PerformanceReportBindManagerImpl"></bean>
</beans>