<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="spaceDao" class="com.seeyon.ctp.portal.space.dao.SpaceDaoImpl" />
    
    <bean id="pageManagerDao" class="com.seeyon.ctp.portal.space.dao.PageManagerDaoImpl"/>
    
    <bean id="spaceSecurityDao" class="com.seeyon.ctp.portal.space.dao.SpaceSecurityDaoImpl"/>
    
    <bean id="portalTemplateDao" class="com.seeyon.ctp.portal.portaltemplate.dao.PortalTemplateDaoImpl"/>
    
    <bean id="portalPortletPropertyDao" class="com.seeyon.ctp.portal.space.dao.PortalPortletPropertyDaoImpl" />
    
    <bean id="portalTemplateSettingDao" class="com.seeyon.ctp.portal.portaltemplate.dao.PortalTemplateSettingDaoImpl" />
    
    <bean id="portalHotSpotDao" class="com.seeyon.ctp.portal.hotspot.dao.PortalHotSpotDaoImpl" />
    
    <bean id="loginTemplateDao" class="com.seeyon.ctp.portal.logintemplate.dao.LoginTemplateDaoImpl"/>
    
    <bean id="linkSystemDao" class="com.seeyon.ctp.portal.link.dao.LinkSystemDaoImpl"/>
    
    <bean id="linkAclDao" class="com.seeyon.ctp.portal.link.dao.LinkAclDaoImpl"/>
    
    <bean id="linkOptionValueDao" class="com.seeyon.ctp.portal.link.dao.LinkOptionValueDaoImpl"/>
    
    <bean id="linkSpaceDao" class="com.seeyon.ctp.portal.link.dao.LinkSpaceDaoImpl"/>
    
    <bean id="linkMemberDao" class="com.seeyon.ctp.portal.link.dao.LinkMemberDaoImpl"/>
    
    <bean id="linkMenuDao" class="com.seeyon.ctp.portal.link.dao.LinkMenuDaoImpl"/>
    
    <bean id="everybodyWorkDataDao" class="com.seeyon.ctp.portal.customize.dao.EverybodyWorkDataDaoImpl" />
    
    <bean id="portalHotSpotManager" class="com.seeyon.ctp.portal.hotspot.manager.PortalHotSpotManagerImpl" >
       <property name="portalHotSpotDao" ref="portalHotSpotDao" />
    </bean>
    
    <bean id="leaderWindowDao" class="com.seeyon.ctp.portal.dao.LeaderWindowDaoImpl" />
    
    <bean id="leaderWindowManager" class="com.seeyon.ctp.portal.manager.LeaderWindowManagerImpl"></bean>
    
    <bean id="portalTemplateManager" class="com.seeyon.ctp.portal.portaltemplate.manager.PortalTemplateManagerImpl">
    </bean>
    
    <bean id="portalTemplateSettingManager" class="com.seeyon.ctp.portal.portaltemplate.manager.PortalTemplateSettingManagerImpl" >
    </bean>
    
    <bean id="portalSkinChoiceManager" class="com.seeyon.ctp.portal.portaltemplate.manager.PortalSkinChoiceManagerImpl" >
    </bean>
    
    <bean id="portletEntityPropertyManager" class="com.seeyon.ctp.portal.space.manager.PortletEntityPropertyManagerImpl" init-method="init">
        <property name="portalPortletPropertyDao" ref="portalPortletPropertyDao" />
    </bean>

    <bean id="pageManager" class="com.seeyon.ctp.portal.space.manager.PageManagerImpl" init-method="init">
        <property name="pageManagerDao" ref="pageManagerDao" />
		<property name="portletEntityPropertyManager" ref="portletEntityPropertyManager" />
    </bean>
    
    <bean id="portalSYSMenuManager" class="com.seeyon.ctp.portal.manager.PortalSYSMenuManagerImpl" init-method="onInit">
        <property name="privilegeManage" ref="privilegeManage"></property>
    </bean>
    
    <bean id="personalHeadImgManager" class="com.seeyon.ctp.portal.manager.PersonalHeadImgManagerImpl" >
        <property name="fileManager" ref="fileManager"></property>
    </bean>
    
    <bean id="spaceSecurityManager" class="com.seeyon.ctp.portal.space.manager.SpaceSecurityManagerImpl">
       <property name="spaceSecurityDao" ref="spaceSecurityDao" />
    </bean>
   
    <bean id="spaceManager" class="com.seeyon.ctp.portal.space.manager.SpaceManagerImpl" init-method="init">
        <property name="spaceDao" ref="spaceDao" />
        <property name="orgManager" ref="orgManager" />
        <property name="pageManager" ref="pageManager" />
        <property name="spaceSecurityManager" ref="spaceSecurityManager" />
        <property name="portletEntityPropertyManager" ref="portletEntityPropertyManager"></property>
        <property name="customizeManager" ref="customizeManager"></property>
        <property name="privilegeManage" ref="privilegeManage"></property>
        <property name="privilegeCache" ref="privilegeCache"></property>
        <property name="linkSpaceManager" ref="linkSpaceManager"></property>
        <property name="projectManager" ref="projectManager"></property>
        <property name="roleManager" ref="roleManager"></property>
        <property name="orgManagerDirect" ref="orgManagerDirect" />
        <property name="menuManager" ref="pluginMenuManager"></property>
    </bean>
    
    <bean id="loginTemplateManager" class="com.seeyon.ctp.portal.logintemplate.manager.LoginTemplateManagerImpl">
       <property name="loginTemplateDao" ref="loginTemplateDao" />
       <property name="portalHotSpotManager" ref="portalHotSpotManager" />
       <property name="portalTemplateSettingManager" ref="portalTemplateSettingManager" />
       <property name="fileManager" ref="fileManager" />
    </bean>
    
    <bean id="linkSystemManager" class="com.seeyon.ctp.portal.link.manager.LinkSystemManagerImpl">
       <property name="linkSystemDao" ref="linkSystemDao" />
       <property name="linkAclDao" ref="linkAclDao" />
       <property name="linkMemberDao" ref="linkMemberDao" />
       <property name="orgManager" ref="orgManager" />
       <property name="orgManagerDirect" ref="orgManagerDirect" />
       <property name="privilegeManage" ref="privilegeManage"></property>
       <property name="linkOptionManager" ref="linkOptionManager"></property>
       <property name="menuDao" ref="menuDao"></property>
       <property name="linkMenuManager" ref="linkMenuManager"></property>
       <property name="appLogManager" ref="appLogManager" />
    </bean>
    
    <bean id="portalManager" class="com.seeyon.ctp.portal.manager.PortalManagerImpl">
    </bean>
    
    <bean id="ssoManager" class="com.seeyon.ctp.portal.sso.section.SSOManagerImpl">
        <property name="linkOptionManager" ref="linkOptionManager"></property>
    </bean>
    <bean id="linkSectionManager" class="com.seeyon.ctp.portal.link.manager.LinkSectionManagerImpl">
        <property name="orgManager" ref="orgManager" />
    </bean>
    <bean id="linkCategoryManager" class="com.seeyon.ctp.portal.link.manager.LinkCategoryManagerImpl">
        <property name="linkSystemManager" ref="linkSystemManager"></property>
    </bean>
    <bean id="linkOptionManager" class="com.seeyon.ctp.portal.link.manager.LinkOptionManagerImpl">
        <property name="orgManager" ref="orgManager"></property>
        <property name="linkOptionValueDao" ref="linkOptionValueDao"></property>
    </bean>
    <bean id="linkSpaceManager" class="com.seeyon.ctp.portal.link.manager.LinkSpaceManagerImpl">
        <property name="orgManager" ref="orgManager"></property>
        <property name="linkSpaceDao" ref="linkSpaceDao"></property>
    </bean>
    <bean id="linkMenuManager" class="com.seeyon.ctp.portal.link.manager.LinkMenuManagerImpl">
        <property name="linkMenuDao" ref="linkMenuDao"></property>
    </bean>
    <!-- 添加栏目组件 -->
    <bean id="selectorFactory" class="com.seeyon.ctp.portal.section.manager.BaseSelectorFactory" init-method="init">
    </bean>
    <!-- 常用栏目选择器 -->
    <bean id="commonSelector" class="com.seeyon.ctp.portal.section.manager.CommonSectionSelector">
        <property name="sectionType" value="common"></property>
    </bean>
    <!-- 扩展栏目选择器 -->
    <bean id="forumSelector" class="com.seeyon.ctp.portal.link.manager.ForumSectionSelector">
        <property name="sectionType" value="forum"></property>
        <property name="linkCategoryManager" ref="linkCategoryManager"></property>
        <property name="linkSectionManager" ref="linkSectionManager"></property>
        <property name="sortId" value="0"></property>
    </bean>
    <!-- 空间自有菜单制造工厂 -->
    <bean id="spaceOwnerMenuFactory" class="com.seeyon.ctp.portal.manager.SpaceOwnerMenuFactory" init-method="init"></bean>  
    <bean id="spaceEditMenuSelector" class="com.seeyon.ctp.portal.manager.SpaceEditMenuSelector">
        <property name="spaceManager" ref="spaceManager" />
        <property name="spaceType" value="department,corporation,group,custom,public_custom,public_custom_group"></property>
        <property name="sortId" value="10"></property>
    </bean>
    <!-- 离职管理 -->
    <bean id="MemberLeaveClearItemSpace" class="com.seeyon.ctp.portal.space.manager.MemberLeaveClearItemSpaceImpl">
        <property name="spaceManager" ref="spaceManager" />
    </bean>
    
    
    <bean id="spaceOrganizationEventListener" class="com.seeyon.ctp.portal.space.listener.SpaceOrganizationEventListener"/>
    <bean id="spaceDeleteEventListenerForDefaultSetting" class="com.seeyon.ctp.portal.space.listener.SpaceDeleteEventListenerForDefaultSetting"/>
    <bean id="smsOrgEventListener" class="com.seeyon.ctp.portal.smslogin.SMSOrgEventListener"/>
    
    <bean id="portalForeignManager" class="com.seeyon.ctp.portal.manager.PortalForeignManagerImpl">
    	<property name="spaceManager" ref="spaceManager"></property>
    	<property name="pageManager" ref="pageManager"></property>
    	<property name="portletEntityPropertyManager" ref="portletEntityPropertyManager"></property>
    </bean>
    
    <!-- 配置级Portlet加载 -->
    <bean name="portletInit" class="com.seeyon.ctp.portal.portlet.PortletInit" init-method="init" singleton="true"></bean>
    <!-- 常用Portlet -->
    <bean name="commonPortlet" class="com.seeyon.ctp.portal.portlet.CommonPortlet"></bean>
    <!-- 空间Portlet -->
    <bean name="spacePortlet" class="com.seeyon.ctp.portal.portlet.SpacePortlet"></bean>
    <!-- 关联系统Portlet -->
    <bean name="linkSystemPortlet" class="com.seeyon.ctp.portal.portlet.LinkSystemPortlet"></bean>
    <!-- 工作桌面管理 -->
    <bean name="deskManager" class="com.seeyon.ctp.portal.portlet.manager.DeskManagerImpl"></bean>
    <!-- 工作桌面数据更新 -->
    <bean name="portletManager" class="com.seeyon.ctp.portal.portlet.manager.PortletManagerImpl"></bean>
    <!-- 工作桌面协同处理 -->
    <bean name="deskCollaborationProcessManagerImpl" class="com.seeyon.apps.collaboration.manager.DeskCollaborationProcessManagerImpl">
    	<property name="app" value="collaboration,form"></property>
    </bean>
    <!-- 工作桌面实体Dao -->
    <bean name="portalDeskCateDao" class="com.seeyon.ctp.portal.portlet.dao.PortalDeskCateDaoImpl"></bean>
    <!-- 工作桌面菜单工具类 -->
    <bean name="menuConstants" class="com.seeyon.ctp.portal.portlet.MenuConstantsImpl"></bean>
    
    <bean id="everybodyWorkDataManager" class="com.seeyon.ctp.portal.customize.manager.EverybodyWorkDataManagerImpl" />
    
    <bean id="portalCacheManager" class="com.seeyon.ctp.portal.manager.PortalCacheManagerImpl" init-method="init" singleton="true"/>
</beans>