<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/main.do" class="com.seeyon.ctp.login.controller.MainController" init-method="init" />
	<bean name="loginControl" class="com.seeyon.ctp.login.LoginControlImpl" init-method="init" />
</beans>

