<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/ctp/sysmgr/monitor/index.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/status.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/status4WAS.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/threadDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/gc.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/hql.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/cacheDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/annotationDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/dataDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/dataSource.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/eventDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />	
	<bean name="/ctp/sysmgr/monitor/propertiesDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />
	<bean name="/ctp/sysmgr/monitor/scriptDump.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" />  
    <bean name="/ctp/sysmgr/dataseparator/dbscript.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" /> 
    <bean name="/ctp/sysmgr/dataseparator/expscript.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" /> 
    <bean name="/ctp/sysmgr/perf/top100.do" class="org.springframework.web.servlet.mvc.CTPUrlFilenameViewController" /> 
    <bean name="/ctp/sysmgr/monitor/log.do" class="com.seeyon.ctp.common.log.controller.LogController"></bean>
    <bean name="maintenceManager" class="com.seeyon.ctp.monitor.manager.MaintenceManagerImpl" />
</beans>