<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	
	<!-- 重构后的enumManager -->
	<bean  id="enumManagerNew" class="com.seeyon.ctp.common.ctpenumnew.manager.EnumManagerImpl" singleton="true"  init-method="init"></bean>
	<!-- 重构后的DAO-->
	<bean id="newEnumDAO" class="com.seeyon.ctp.common.ctpenumnew.dao.EnumDAOImpl"></bean>
	<bean id="newEnumItemDAO" class="com.seeyon.ctp.common.ctpenumnew.dao.EnumItemDAOImpl"></bean>
	<bean id="enumBindDAO" class="com.seeyon.ctp.common.ctpenumnew.dao.EnumBindDAOImpl"></bean>
	<bean  id="enumBindManager" class="com.seeyon.ctp.common.ctpenumnew.manager.EnumBindManagerImpl"></bean>
	<bean id="fontImageManger" class="com.seeyon.ctp.common.fontimage.manager.FontImageManagerImpl"></bean>
</beans>
