<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- 签章服务 -->
	<bean id="cipApi" class="com.seeyon.apps.cip.api.CipApiImpl"></bean>
	<bean id = "m3OfficeAuthManager" class ="com.seeyon.apps.m3.mobileOffice.authorization.manager.impl.M3OfficeAuthManagerImpl"></bean>
	<bean id="m3OfficeAuthUserKeyDao" class="com.seeyon.apps.m3.mobileOffice.authorization.dao.impl.M3OfficeAuthUserKeyDaoImpl"></bean>
	<bean id="m3IsignatureManager" class="com.seeyon.apps.m3.signature.manager.impl.M3IsignatureManagerImpl"></bean>
	<bean id="m3IsignatureUserKeyDao" class="com.seeyon.apps.m3.signature.dao.impl.M3IsignatureUserKeyDaoImpl" init-method="init"></bean>

</beans>