<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!-- 系统常量 -->
    <bean id="constDefDao" class="com.seeyon.ctp.common.constdef.dao.ConstDefDaoImpl">
    </bean>
</beans>