<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
 
	<bean id="processLogManager" class="com.seeyon.ctp.common.processlog.manager.ProcessLogManagerImpl">
	</bean>

	<bean id="processLogDAO" class="com.seeyon.ctp.common.processlog.dao.ProcessLogDAOImpl">
	</bean>
	
	<bean id="hisProcessLogManager" class="com.seeyon.ctp.common.processlog.his.manager.HisProcessLogManagerImpl">
	</bean>
</beans>
