<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="licensePerMissionDao" class="com.seeyon.ctp.permission.dao.LicensePerMissionDaoImpl" singleton="true"></bean>
	<bean id="licensePerMissionCache" class="com.seeyon.ctp.permission.dao.LicensePerMissionCacheImpl" singleton="true" init-method="init"></bean>
	<bean id="licensePermissionManager" class="com.seeyon.ctp.permission.manager.LicensePermissionManagerImpl" singleton="true"></bean>
    <bean id="orgDao" class="com.seeyon.ctp.organization.dao.OrgDaoImpl" singleton="true"></bean>
    
    <bean id="orgCache" class="com.seeyon.ctp.organization.dao.OrgCacheImpl" singleton="true" init-method="init"></bean>
    
    
    <bean id="orgManager" class="com.seeyon.ctp.organization.manager.OrgManagerImpl" singleton="true"></bean>
    <bean id="iOManager" class="com.seeyon.ctp.organization.inexportutil.manager.IOManagerImpl" singleton="true"></bean>
    <bean id="organizationServices" class="com.seeyon.ctp.organization.services.OrganizationServicesImpl" singleton="true"></bean>
    
    <bean id="departmentManager" class="com.seeyon.ctp.organization.manager.DepartmentManagerImpl" singleton="true"></bean>
    <bean id="postManager" class="com.seeyon.ctp.organization.manager.PostManagerImpl" singleton="true"></bean>
    <bean id="levelManager" class="com.seeyon.ctp.organization.manager.LevelManagerImpl" singleton="true"></bean>
    <bean id="teamManager" class="com.seeyon.ctp.organization.manager.TeamManagerImpl" singleton="true"></bean>
    <bean id="moveDeptManager" class="com.seeyon.ctp.organization.manager.MoveDeptManagerImpl" singleton="true"></bean>
    <bean id="distributeManager" class="com.seeyon.ctp.organization.manager.DistributeManagerImpl" singleton="true"></bean>
    <bean id="workscopeManager" class="com.seeyon.ctp.organization.manager.WorkscopeManagerImpl" singleton="true"></bean>
    
    <bean id="orgManagerDirect" class="com.seeyon.ctp.organization.manager.OrgManagerDirectImpl" singleton="true" init-method="init"></bean>
    
    <bean id="joinOrgManagerDirect" class="com.seeyon.ctp.organization.manager.JoinOrgManagerDirectImpl" singleton="true"></bean>
    
    <bean id="joinAccountCustomerFieldInfoManager" class="com.seeyon.ctp.organization.manager.JoinAccountCustomerFieldInfoManagerImpl" singleton="true" init-method="initialize"></bean>
    
    <bean id="joinAccountCustomerFieldInfoDao" class="com.seeyon.ctp.organization.dao.JoinAccountCustomerFieldInfoDaoImpl" singleton="true"></bean>
    
    <bean id="principalDao" class="com.seeyon.ctp.organization.principal.dao.PrincipalDaoImpl" singleton="true"></bean>
    
    <bean id="principalManager" class="com.seeyon.ctp.organization.principal.PrincipalManagerImpl" singleton="true" init-method="init"></bean>
    
    <bean id="selectPeopleManager" class="com.seeyon.ctp.organization.selectpeople.manager.SelectPeopleManagerImpl" singleton="true" init-method="init"></bean>
    
    <bean id="accountManager" class="com.seeyon.ctp.organization.manager.AccountManagerImpl"></bean>

	<bean id="roleManager" class="com.seeyon.ctp.organization.manager.RoleManagerImpl" singleton="true"></bean>
    
    <bean id="memberManager" class="com.seeyon.ctp.organization.manager.MemberManagerImpl"></bean>
    
    <bean id="memberLeaveManager" class="com.seeyon.ctp.organization.memberleave.manager.MemberLeaveManagerImpl" lazy-init="true" init-method="init"></bean>
    <bean id="memberLeaverListener" class="com.seeyon.ctp.organization.memberleave.listener.MemberLeaverListener"></bean>
    <bean id="memberChangeDeptListener" class="com.seeyon.ctp.organization.listener.MemberChangeDeptListener"></bean>
    
    <!-- 离职管理 -->
    <bean id="memberLeaveHandItemInterfaceOrgRole" class="com.seeyon.ctp.organization.memberleave.manager.MemberLeaveHandItemInterfaceOrgRoleImpl"></bean>
    
    <!-- 选人界面页签  -->
    <bean id="SelectPeoplePanel4Admin" class="com.seeyon.ctp.organization.selectpeople.manager.SelectPeoplePanel4AdminImpl"></bean>
    <bean id="SelectPeoplePanel4Role" class="com.seeyon.ctp.organization.selectpeople.manager.SelectPeoplePanel4RoleImpl"></bean>
    <!-- 选人最近页签 -->
    <bean id="SelectPeoplePanel4OrgRecent" class="com.seeyon.ctp.organization.selectpeople.manager.SelectPeoplePanel4OrgRecent"></bean>
    
    <bean id="conPostManager" class="com.seeyon.ctp.organization.manager.ConcurrentPostManagerImpl"></bean>
    <bean id="peopleCardManager" class="com.seeyon.ctp.organization.manager.PeopleCardManagerImpl"></bean>
    
    <bean id="orgIndexManager" class="com.seeyon.ctp.organization.manager.OrgIndexManagerImpl"></bean>
    
    <!-- 监听,人员停用离职删除等直接踢下线 -->
    <bean id="memberOfflineLister" class="com.seeyon.ctp.organization.listener.MemberOfflineListener"></bean>
    <bean id="delConPostListener" class="com.seeyon.ctp.organization.listener.DelConPostListener"></bean>
    <bean id="outerToInterMemberUpdateListener" class="com.seeyon.ctp.organization.listener.OuterToInterMemberUpdateListener"></bean>
    <bean id="memberChangeAccListener" class="com.seeyon.ctp.organization.listener.MemberChangeAccListener"></bean>
    <bean id="memberReporterListener" class="com.seeyon.ctp.organization.listener.MemberReporterListener"></bean>
</beans>