<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="collaborationBPMHandler" class="com.seeyon.ctp.rest.bpm.CollaborationBPMHandlerImpl" />
	<bean id="edocBPMHandler" class="com.seeyon.ctp.rest.bpm.EdocBPMHandlerImpl" />
</beans>