<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
   <bean id="multipartResolver" class="com.seeyon.ctp.common.fileupload.FileuploadManagerImpl">
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
<!--         <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
         <property  name="defaultEncoding" value="UTF-8" />
         </bean> -->


	<bean id="partitionDAO" class="com.seeyon.ctp.common.filemanager.dao.PartitionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />

	</bean>

	<bean id="v3xFileDAO" class="com.seeyon.ctp.common.filemanager.dao.V3XFileDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />

	</bean>

	<bean id="attachmentDAO" class="com.seeyon.ctp.common.filemanager.dao.AttachmentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />

	</bean>

	<!-- 分区管理 -->
	<bean id="partitionManager"
		class="com.seeyon.ctp.common.filemanager.manager.PartitionManagerImpl"
		singleton="true" init-method="init" autowire="byName">
	</bean>

	<!-- 文件管理组件 -->
	<bean id="fileManager"
		class="com.seeyon.ctp.common.filemanager.manager.FileManagerImpl">
		<property name="v3xFileDAO" ref="v3xFileDAO" />
		<property name="partitionManager" ref="partitionManager" />
		<property name="maxWidth" value="400" />
		<property name="maxHeight" value="400" />
		<property name="fileSuffix" value="_SMALL" />
	</bean>

	<!-- 附件管理 -->
	<bean id="attachmentManager"  class="com.seeyon.ctp.common.filemanager.manager.AttachmentManagerImpl">
		<property name="attachmentDAO" ref="attachmentDAO" />
		<property name="fileManager" ref="fileManager" />
	</bean>
	
	<!-- excel 导入导出组件 -->
	<bean id="fileToExcelManager" class="com.seeyon.ctp.common.excel.FileToExcelManagerImpl" />
	
	<bean id="imgManager" class="com.seeyon.ctp.common.fileupload.manager.ImagecutManagerImpl" >
        <property name="fileManager" ref="fileManager"></property>
    </bean>
</beans>
