/*图标*/
.addBtn .desktop_icon24{margin-top: 12px;}
.desktop_icon24 {display:inline-block; height:24px; width:24px; background: url(images/desktop_icon24.png?V=5_1_6_04) no-repeat; _background: url(images/desktop_icon24.gif?V=5_1_6_04) no-repeat; background-position: 0px 0px; }

.shortcutModify_24 { background-position: -48px -24px; cursor: pointer; opacity: 0.7; filter: alpha(opacity=70); *zoom: 1;}  /*分类添加按钮*/
.addSort_24 { background-position: 0 -24px; cursor: pointer;}	/*编辑*/
.skin_24 { background-position: -24px -24px; cursor: pointer;}	/*换肤

/*背景&花纹*/
.desktop_body_bg { background: url(images/skin/desktop_default.jpg?V=5_1_6_04) top left no-repeat #05265C; }

.headArea_bg {display:none; position: absolute; z-index: 1; bottom: 0; width: 100%; height: 6px; background: #000; opacity: 0.2; filter: alpha(opacity=20); *zoom: 1;}

.sortTabArea li { float: left; margin-right: 40px; overflow: hidden; min-width: 80px; max-width: 130px; height: 48px; line-height: 48px; text-align: center; color: #fff; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; font-size: 16px; cursor: pointer; }
.sortTabArea li.current { color: #FFF; line-height: 48px; font-size: 16px; background: url("images/desk_current_menu.png.png"); }

.homePage {position: relative; float: right; margin: 6px 0px 0 0; padding: 5px 30px; display: inline-block;}
.homePage_bg { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background: #000; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;  opacity: 0.2; filter: alpha(opacity=20); *zoom: 1;}
.homePage_box { position: relative; z-index: 2; }
.homePage_box .setHomepage { display: inline-block; line-height: 24px; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; font-size: 12px; opacity: 0.6; filter: alpha(opacity=60); *zoom: 1;}
.homePage_box .skin { vertical-align: top; opacity: 0.6; filter: alpha(opacity=60); *zoom: 1;}
.homePage_box .editBtn { vertical-align: top; opacity: 0.6; filter: alpha(opacity=60); *zoom: 1;}

.toDoList { position: relative; overflow: hidden; float: left; _display: inline; margin: 27px 0 0 10px; width: 650px; height: 485px; }
.toDoList_bg { position: absolute; z-index: 1; width: 100%; height: 100%; background: url(images/toDoList_bg.png?V=5_1_6_04) left -60px;  }

.toDoList .chuli_text{ float:left; margin:20px 0 0 45px; font-size:18px; color:#FFF; opacity: 0.6; font-weight: bold; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; }
.toDoList .chuli_area_num { float: right; padding: 10px 20px 0 0; font-size: 30px; color:#FFF; opacity: 0.6; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; }