<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://192.168.1.98:3306/v61sp22</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="com/seeyon/apps/nbd/po/AddressbookEntity.backup.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.AddressbookEntity"/>
    <mapping resource="com/seeyon/apps/nbd/po/AddressbookMemberEntity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.AddressbookMemberEntity"/>
    <mapping resource="com/seeyon/apps/nbd/po/AddressbookSetEntity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.AddressbookSetEntity"/>
    <mapping resource="com/seeyon/apps/nbd/po/AddressbookSetScopeEntity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.AddressbookSetScopeEntity"/>
    <mapping resource="com/seeyon/apps/nbd/po/AddressbookTeamEntity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.AddressbookTeamEntity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0001Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0001Entity"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0002Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0002Entity.hbm.xml"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0003Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0003Entity"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0004Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0004Entity.hbm.xml"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0005Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0005Entity"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0006Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0006Entity.hbm.xml"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0008Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0008Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0009Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0009Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0010Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0010Entity"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0012Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0012Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0013Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0013Entity.hbm.xml"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formmain0016Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formmain0016Entity"/>
    <mapping class="com.seeyon.apps.nbd.po.Formson0007Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formson0007Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formson0011Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formson0011Entity.hbm.xml"/>
    <mapping class="com.seeyon.apps.nbd.po.Formson0014Entity"/>
    <mapping resource="com/seeyon/apps/nbd/po/Formson0014Entity.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>