<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/m3/monitoringController.do" class="com.seeyon.apps.m3.statistic.controller.M3MonitoringController"></bean>
</beans>