<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="wpsTransManager" class="com.seeyon.apps.wpstrans.manager.WpsTransManagerImpl"></bean>
	<bean id="wpsTransFileManager" class="com.seeyon.apps.wpstrans.manager.WpsTransFileManagerImpl"></bean>
	<bean id="wpsTransRecordManager" class="com.seeyon.apps.wpstrans.manager.WpsTransRecordManagerImpl"></bean>
	<bean id="clearTemporaryJob" class="com.seeyon.apps.wpstrans.manager.ClearTemporaryJob"/>
</beans>