<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="gkeSynchronManager" class="com.seeyon.v3x.plugin.gke.manager.GKESynchronManagerImpl" init-method="init" />
	<bean id="gkeSendMessage" class="com.seeyon.v3x.common.plugin.gke.manager.GKESendMessageImp" />
	<bean id="gkeAutoSynTimer" class="com.seeyon.v3x.plugin.gke.manager.GKEAutoSynTimerImp" />
	<bean id="gkeAutoSynManager" class="com.seeyon.v3x.plugin.gke.manager.GKEAutoSynManagerImp" />
	<bean id="gkeMessagePipeline" class="com.seeyon.v3x.plugin.gke.message.GKEMessagePipeline">
		<property name="defaultSend" value="${gke.defaultSend}" />
	</bean>
	<bean id="gkeEventListener" class="com.seeyon.v3x.plugin.gke.listener.GKEEventListener" />
	<bean id="gke" class="com.seeyon.ctp.portal.sso.SSOLoginContext">
		<property name="name" value="gke" />
		<property name="ticketName" value="ticket" />
		<property name="handshake">
			<bean class="com.seeyon.v3x.plugin.gke.sso.GKEA8SSOLoginImp" />
		</property>
	</bean>

</beans>