<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="eipPortalTemplateManager" class="com.seeyon.apps.cip.eip.manager.EipPortalTemplateManagerImpl"/>
	<bean id="eipPortalColumnManager" class="com.seeyon.apps.cip.eip.manager.EipPortalColumnManagerImpl"/>
	<bean id="eipPortalSetupManager" class="com.seeyon.apps.cip.eip.manager.EipPortalSetupManagerImpl"/>
	<bean id="eipPortalAppManager" class="com.seeyon.apps.cip.eip.manager.EipPortalAppManagerImpl"/>
	<bean id="eipPortalColumnDetailManager" class="com.seeyon.apps.cip.eip.manager.EipPortalColumnDetailManagerImpl"/>
	<bean id="eipUserCustomManager" class="com.seeyon.apps.cip.eip.manager.EipUserCustomManagerImpl"/>
	<bean id="eipApi" class="com.seeyon.apps.cip.eip.manager.EipApiManagerImpl"/>
	<!-- <bean id="eipApi" class="com.seeyon.apps.cip.eip.manager.EipApiManagerImpl"/> -->
</beans>