<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="eipPortalTemplateDao" class="com.seeyon.apps.cip.eip.dao.EipPortalTemplateDaoImpl"/>
	<bean id="eipPortalSetupDao" class="com.seeyon.apps.cip.eip.dao.EipPortalSetupDaoImpl"/>
	<bean id="eipPortalColumnDao" class="com.seeyon.apps.cip.eip.dao.EipPortalColumnDaoImpl"/>
	<bean id="eipPortalAppDao" class="com.seeyon.apps.cip.eip.dao.EipPortalAppDaoImpl"/>
	<bean id="eipPortalColumnDetailDao" class="com.seeyon.apps.cip.eip.dao.EipPortalColumnDetailDaoImpl"/>
	<bean id="eipUserCustomDao" class="com.seeyon.apps.cip.eip.dao.EipUserCustomDaoImpl"/>
</beans>