<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    
    <bean id="replyManager" class="com.seeyon.v3x.meeting.manager.MtReplyManagerImpl"></bean>
    <bean id="mtMeetingManager" class="com.seeyon.v3x.meeting.manager.MtMeetingManagerImpl"></bean>
    
    <bean id="meetingManager" class="com.seeyon.apps.meeting.manager.MeetingManagerImpl"></bean>
    <bean id="meetingInitModuleSystemDataManager" class="com.seeyon.apps.meeting.manager.MeetingInitModuleSystemDataManagerImpl"></bean>
    <bean id="meetingPluginChangeListener" class="com.seeyon.apps.meeting.listener.MeetingPluginChangeListener"></bean>
    <bean id="meetingListManager" class="com.seeyon.apps.meeting.manager.MeetingListManagerImpl"></bean>
    <bean id="meetingNewManager" class="com.seeyon.apps.meeting.manager.MeetingNewManagerImpl"></bean>
    <bean id="meetingReplyManager" class="com.seeyon.apps.meeting.manager.MeetingReplyManagerImpl"></bean>
    <bean id="meetingTemplateManager" class="com.seeyon.apps.meeting.manager.MeetingTemplateManagerImpl"></bean>
    <bean id="meetingPeriodicityManager" class="com.seeyon.apps.meeting.manager.MeetingPeriodicityManagerImpl"></bean>
    <bean id="meetingSummaryManager" class="com.seeyon.apps.meeting.manager.MeetingSummaryManagerImpl"></bean>
    <bean id="meetingResourcesManager" class="com.seeyon.apps.meeting.manager.MeetingResourcesManagerImpl"></bean>
    <bean id="publicResourceManager" class="com.seeyon.apps.meeting.manager.PublicResourceManagerImpl"></bean>
    <bean id="meetingTypeManager" class="com.seeyon.apps.meeting.manager.MeetingTypeManagerImpl"></bean>
    <bean id="meetingTypeRecordManager" class="com.seeyon.apps.meeting.manager.MeetingTypeRecordManagerImpl"></bean>
    <bean id="meetingExtManager" class="com.seeyon.apps.meeting.manager.MeetingExtManagerImpl"></bean>
    <bean id="meetingMessageManager" class="com.seeyon.apps.meeting.manager.MeetingMessageManagerImpl"></bean>
    <bean id="meetingValidationManager" class="com.seeyon.apps.meeting.manager.MeetingValidationManagerImpl"></bean>
    <bean id="meetingRoomManager" class="com.seeyon.apps.meetingroom.manager.MeetingRoomManagerImpl"></bean>
    <bean id="meetingRoomListManager" class="com.seeyon.apps.meetingroom.manager.MeetingRoomListManagerImpl"></bean>
    <bean id="meetingRoomAppManager" class="com.seeyon.apps.meetingroom.manager.MeetingRoomAppManagerImpl"></bean>
    <bean id="meetingRoomPermManager" class="com.seeyon.apps.meetingroom.manager.MeetingRoomPermManagerImpl"></bean>
    <bean id="meetingRoomRecordManager" class="com.seeyon.apps.meetingroom.manager.MeetingRoomRecordManagerImpl"></bean>
    <bean id="confereesConflictManager" class="com.seeyon.apps.meeting.manager.ConfereesConflictManagerImpl"></bean>
    <bean id="meetingOrganizationEventListener" class="com.seeyon.apps.meeting.listener.MeetingOrganizationEventListener"/>
    <bean id="meetingApplicationHandler" class="com.seeyon.apps.meeting.manager.MeetingApplicationHandler" init-method="init"></bean>
    <bean id="meetingLockManager" class="com.seeyon.apps.common.manager.MeetingLockManagerImpl"/>
    <bean id="meetingConfereeManager" class="com.seeyon.apps.meeting.manager.MeetingConfereeManagerImpl"/>
    
    <bean id="meetingDataRepairTimeJob" class="com.seeyon.apps.meeting.quartz.MeetingDataRepairTimeJob"></bean>
    <bean id="meetingSystemInitializer" class="com.seeyon.apps.meeting.quartz.MeetingSystemInitializer"></bean>
    <bean id="meetingQuartzJobManager" class="com.seeyon.apps.meeting.quartz.MeetingQuartzJobManagerImpl"></bean>
    <bean id="meetingTimeJob" class="com.seeyon.apps.meeting.quartz.MeetingTimeJob"></bean>
    
    <bean id="meetingOuterManager" class="com.seeyon.apps.meeting.outer.MeetingOuterManagerImpl"></bean>
    <bean id="meetingM3Manager" class="com.seeyon.apps.meeting.outer.MeetingM3ManagerImpl"></bean>
    <bean id="meetingRoomM3Manager" class="com.seeyon.apps.meeting.outer.MeetingRoomM3ManagerImpl"></bean>
    <bean id="meetingM1Manager" class="com.seeyon.apps.meeting.outer.MeetingM1ManagerImpl"></bean>
    <bean id="meetingIndexImpl" class="com.seeyon.apps.meeting.outer.MeetingIndexImpl"></bean>
    <bean id="meetingFilingEnableImpl" class="com.seeyon.apps.meeting.outer.MeetingFilingEnableImpl"></bean>
    <bean id="userMessageFilterMeeting" class="com.seeyon.apps.meeting.outer.MeetingUserMessageFilterImpl"/>
    <bean id="MeetingSecurityControl" class="com.seeyon.v3x.common.security.SecurityControlMeetingImpl"></bean>
    <bean id="meetingManager4ISearch" class="com.seeyon.apps.meeting.outer.MeetingManager4ISearch" init-method="init"></bean>
    
    <bean id="meetingPortlet" class="com.seeyon.ctp.portal.portlet.MeetingPortlet"></bean>
    <bean name="deskMeetingProcessManagerImpl" class="com.seeyon.ctp.portal.portlet.manager.DeskMeetingProcessManagerImpl">
    	<property name="app" value="meeting,meetingroom"></property>
    </bean>
    <bean id="meetingProjectPortletManager" class="com.seeyon.ctp.portal.portlet.manager.MeetingProjectPortletManagerImpl"></bean>
     <!-- 转协同处理 -->
    <bean id="newCollDataMeetingHandler" class="com.seeyon.apps.meeting.manager.NewCollDataMeetingHandler"></bean>
    <!-- 表单触发 -->
    <bean name="/form/formTriggerCreateMeeting.do" class="com.seeyon.ctp.form.modules.trigger.createmeeting.FormTriggerCreateMeetingController" />
    <bean id="formTriggerCreateMeetingDesign" class="com.seeyon.ctp.form.modules.trigger.createmeeting.FormTriggerCreateMeetingDesign"/>
    <bean id="triggerCreateMeetingAction" class="com.seeyon.ctp.form.modules.trigger.createmeeting.FormTriggerCreateMeetingAction"/>
</beans>