<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean name="/newsType.do" class="com.seeyon.v3x.news.controller.NewsTypeController" />

	<bean name="/newsData.do" class="com.seeyon.v3x.news.controller.NewsDataController" />

	<bean name="/newsIssue.do" class="com.seeyon.v3x.news.controller.NewsIssueController" />

</beans>