<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="newsTypeManager" class="com.seeyon.v3x.news.manager.NewsTypeManagerImpl" init-method="init" singleton="true" />
	<bean id="newsTypeManagersManager" class="com.seeyon.v3x.news.manager.NewsTypeManagersManagerImpl" />
	<bean id="newsDataManager" class="com.seeyon.v3x.news.manager.NewsDataManagerImpl" init-method="init" singleton="true" />
	<bean id="newsReadManager" class="com.seeyon.v3x.news.manager.NewsReadManagerImpl" />
	<bean id="newsReplyManager" class="com.seeyon.v3x.news.manager.NewsReplyManagerImpl" />
	<bean id="newsIssueManager" class="com.seeyon.v3x.news.manager.NewsIssueManagerImpl" />
	<bean id="newsUtils" class="com.seeyon.v3x.news.util.NewsUtils" />

	<bean id="newsNotificationHandler" class="com.seeyon.v3x.news.cluster.NewsNotificationHandler" />

	<bean id="newsDocFilingEnable" class="com.seeyon.v3x.news.doc.NewsDocFilingEnable" />

	<bean id="newsIndex" class="com.seeyon.v3x.news.index.NewsIndexEnableImpl" />

	<bean id="newsManager4ISearch" class="com.seeyon.v3x.news.isearch.NewsManager4ISearch" init-method="init" />

	<bean id="memberLeaveClearItemNewsHand" class="com.seeyon.v3x.news.organization.MemberLeaveClearItemNewsHandImpl" />
	<bean id="memberLeaveClearItemNewsRole" class="com.seeyon.v3x.news.organization.MemberLeaveClearItemNewsRoleImpl" />
	<bean id="newsOrganizationEventListener" class="com.seeyon.v3x.news.organization.NewsOrganizationEventListener" />

	<bean id="newsDeskCollaborationProcessManager" class="com.seeyon.v3x.news.portal.portlet.NewsDeskCollaborationProcessManagerImpl" />
	<bean id="newsPortlet" class="com.seeyon.v3x.news.portal.portlet.NewsPortlet" />
	<bean id="newsPortalEventListener" class="com.seeyon.v3x.news.portal.NewsPortalEventListener" />
	<bean id="newsPublicInfoSpaceOwnerMenuSelector" class="com.seeyon.v3x.news.portal.NewsPublicInfoSpaceOwnerMenuSelector">
		<property name="spaceType" value="department,corporation,group,custom,public_custom,public_custom_group"></property>
		<property name="sortId" value="1"></property>
	</bean>

	<bean id="securityControlNews" class="com.seeyon.v3x.news.security.SecurityControlNewsImpl" />

	<bean id="userMessageFilterImplNews" class="com.seeyon.v3x.news.usermessage.UserMessageFilterImplNews" />

</beans>