<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="newsTypeDao" class="com.seeyon.v3x.news.dao.NewsTypeDaoImpl" />

	<bean id="newsDataDao" class="com.seeyon.v3x.news.dao.NewsDataDaoImpl" />

	<bean id="newsBodyDao" class="com.seeyon.v3x.news.dao.NewsBodyDaoImpl" />

	<bean id="newsReplyDao" class="com.seeyon.v3x.news.dao.NewsReplyDaoImpl" />

</beans>