<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="nc5dao" class="com.seeyon.apps.nc.dao.NC5OrgDaoImp">
      <property name="sessionFactory" ref="sessionFactory-NC" />
      </bean>
    <bean id="nc6dao" class="com.seeyon.apps.nc.dao.NC6OrgDaoImp">
      <property name="sessionFactory" ref="sessionFactory-NC" />
    </bean>
    </beans>