@charset "utf-8";
body{
   margin:0;
   padding:0;
   font-size:12px;
}
form{
margin:0;
padding:0}
.input{
width:200px;
height:15px
}
.style-100per{
   width:100px;
height:15px;
}
.style-200per{
   width:200px;
height:15px;
}
.bline {
	border: 1px solid #b7d0ef;
	text-align: left;
	text-indent: 5px;
}
.textarea-style-1{
	width:320px;
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #ffffff; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #d8d8d8; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}
.textarea-style-2{
	width:99%;
	SCROLLBAR-FACE-COLOR: #ffffff; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #ffffff; 
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #d8d8d8; 
	SCROLLBAR-TRACK-COLOR: #ffffff; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}
.detail-top{
	background: url(../images/detail_top_bg.gif) repeat-x;
	height: 10px;
}
.categorySet-bg{
	background-color: #f6f6f6;
}
.detail-top{
	background: url(../images/detail_top_bg.gif) repeat-x;
	height: 10px;
}
.categorySet-1{
	background: url(../images/category_set.1.gif) no-repeat;
}
.categorySet-2{
	background: url(../images/category_set.2.gif) no-repeat;
}
.categorySet-4{
	background: url(../images/category_set.4.gif) repeat-x;
}
.categorySet-head{
	padding: 0px 10px 0px 10px;
}
.categorySet-title{
	text-align: center;
	color: #0046d5;
	border-top: solid 1px #a0a0a0;
	padding: 4px 15px 0px 15px;
	background-color: #FFFFFF;
}

.categorySet-head-space{
	border-bottom: solid 1px #a0a0a0;
}
.bg-advance-bottom{
	height: 42px;
	background: url(../images/bg.advance.bottom.gif) repeat-x;
	padding: 10px;
}
.project-header-bg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #6c82ac;
	 width:300px;
	background-image: url(../../../common/images/page2.header.bg.gif);
	background-repeat: no-repeat;
}
.dotted td{
	border-bottom: 1px dotted #cccccc;
}
.dotted2 {
	border-top: 1px dotted #cccccc;
}
.dotted2 td{
	border-bottom: 1px dotted #cccccc;
}
.dotted2 td img{
	border: 0;
}
.height24{
height: 20px;
line-height: 20px;
vertical-align: middle;
}
.breakWord{
width: 100%;
word-break:break-all;
}

.phaseDiv{
	float: left;
	clear: left;
	height: 120px;
	width: 450px;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	border: 2px solid #CCC;
}
.phaseWindowDiv{
	float: left;
	clear: left;
	height: 100px;
	width: 100%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	border: 2px solid #CCC;
}
.phaseTd{
	border-bottom: 1px solid #CCC;
	padding-left: 10px; 
}
.phaseBox{
	border-bottom: 1px solid #CCC;
}