<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 用户变动事件监听 -->
	<bean id="s2sMemberTokenEventListener" class="com.seeyon.apps.uc.rongcloud.listener.MemberTokenEventListener" />
	
	<bean id="ucRongManager" class="com.seeyon.apps.uc.rongcloud.manager.UcRongManagerImpl" />
	<bean id="ucGroupManager" class="com.seeyon.apps.uc.rongcloud.manager.UcGroupManagerImpl" />
	<bean id="s2sRongManager" class="com.seeyon.apps.uc.rongcloud.manager.S2SRongManagerImpl" />
	<bean id="ucPcMessagePipeline" class="com.seeyon.apps.uc.rongcloud.manager.UcPcMessagePipeline"/>
	
	<bean id="ucRestManager" class="com.seeyon.apps.uc.rongcloud.manager.UcRestManagerImpl"/>

</beans>