<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="outerspaceSectionDAO" class="com.seeyon.apps.outerspace.dao.OuterspaceSectionDAOImpl" />
	<bean id="outerspaceSectionListDAO" class="com.seeyon.apps.outerspace.dao.OuterspaceSectionListDAOImpl" />
	<bean id="outerspaceSectionConfigDAO" class="com.seeyon.apps.outerspace.dao.OuterspaceSectionConfigDAOImpl"/>
	
</beans>