<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 系统开关 -->
	<bean name="/systemopen.do" class="com.seeyon.v3x.system.controller.SystemOpenController" />
	<!-- 分区管理 -->
	<bean name="/partition.do" class="com.seeyon.v3x.system.controller.PartitionController" />
	<!-- 管理员维护 -->
	<bean name="/accountManager.do" class="com.seeyon.v3x.system.controller.AccountManagerController" />
	<bean name="/manager.do" class="com.seeyon.v3x.system.controller.ManagerController" />
	<!-- 服务停止通知 -->
	<bean name="/serverState.do" class="com.seeyon.v3x.system.runtime.ServerStateController" />
	<!-- 系统日志 -->
	<bean name="/logonLog.do" class="com.seeyon.v3x.log.controller.LogonLogController" />
	<!-- 锁定用户管理 -->
	<bean name="/lockedUserManager.do" class="com.seeyon.v3x.system.controller.LockedUserManagerController" />
	<!-- 印章管理 -->
	<bean name="/signet.do" class="com.seeyon.v3x.system.signet.controller.SignetController" />
	<!-- 访问控制管理 -->
	<bean name="/ipcontrol.do" class="com.seeyon.v3x.system.ipcontrol.controller.IpcontrolController" />
	<!-- 应用日志管理 -->
	<bean name="/appLog.do" class="com.seeyon.v3x.system.controller.AppLogController" />
	<!-- 移动应用管理 -->
	<bean name="/mobileManager.do" class="com.seeyon.v3x.system.controller.MobileManagerController" />
	<!-- 短信登录验证配置 -->
    <bean name="/mobileLogin.do" class="com.seeyon.v3x.system.controller.MobileLoginController" />
	<!-- 消息管理 -->
	<bean name="/messageManager.do" class="com.seeyon.v3x.messageManager.controller.MessageManagerController" />
	<!-- 水印 -->
	<bean name="/waterMark.do" class="com.seeyon.v3x.system.controller.WaterMarkController" />
	<!-- 分享 -->
    <bean name="/share.do" class="com.seeyon.v3x.system.share.controller.ShareController" />
</beans>
