<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="signetDao" class="com.seeyon.v3x.system.signet.dao.SignetDaoImpl" />
	<bean id="htmlSignDao" class="com.seeyon.v3x.system.signet.dao.V3xHtmDocumentSignatureDao" />
	<bean id="signHistoryDao" class="com.seeyon.v3x.system.signet.dao.HtmlSignatureHistoryDao" />
	<bean id="documentSignatureDao" class="com.seeyon.v3x.system.signet.dao.DocumentSignatureDao" />
	<bean id="messageDelsetDao" class="com.seeyon.v3x.messageManager.dao.MessageDelsetDao" />
	<bean id="mobileLoginDao" class="com.seeyon.v3x.mobile.login.dao.MobileLoginDaoImpl" />
</beans>
