	/*背景图*/
	.login_bg { position: absolute; top:50%; margin-top: -300px; width: 100%; height:600px;background:url(../images/login_bg.jpg?V=V5_6_2015_03_31) center center no-repeat}
	/*LOGO区域*/
	.logoArea { position: absolute; top: 20px; left: 40px; z-index: 3;}
	/*展示区域*/
	.showArea {position: absolute; z-index: 1; top:50%; left: 10%;  margin-top: -210px; width: 630px; height: 420px; }
	.showArea object{ position: relative; z-index: 1; top:-200px; left: -120px;}
	.showArea .showArea_img { position: absolute; left: -335px; bottom: -90px; z-index: 2; width: 1024px; height: 447px; background: url(../images/loginArea_img.png?V=V5_6_2015_03_31) left center no-repeat;}
	.showArea .showArea_birddown { position: absolute; left: 86px; bottom: 195px; z-index: 2; width: 102px; height: 80px; background: url(../images/loginArea_birddown.png?V=V5_6_2015_03_31) left center no-repeat;}
	.showArea .showArea_birdfly { position: absolute; left: 486px; bottom: 290px; z-index: 2; width: 141px; height: 118px; background: url(../images/loginArea_birdfly.png?V=V5_6_2015_03_31) left center no-repeat;}
	.showArea .showArea_text { position: absolute; left: 0; bottom: -50px; z-index: 2; width: 100%; height: 130px; background: url(../images/loginArea_text.png?V=V5_6_2015_03_31) center center no-repeat;}

	/*登陆区域*/
	.loginArea { position: absolute; z-index: 2; top:50%; right: 10%;  margin-top: -150px; width: 337px; height: 400px; }
	.loginArea .loginForm_area { padding: 0 35px 15px 35px; background: url(../images/loginArea_bg.png?V=V5_6_2015_03_31) 0 0 repeat;}
	.loginArea .loginForm_area.opacity80{background: url(../images/opacity80.png?V=V5_6_2015_03_31) 0 0 repeat !important;}
	.loginArea .loginForm_area .pic { position: relative; height: 75px;}
	.loginArea .loginForm_area .pic .pic_box { position: absolute; z-index: 2; left: 83px; top: -47px; overflow: hidden; width: 96px; height: 96px; border-radius: 130px;}
	.loginArea .loginForm_area .pic .pic_box img{ width: 96px; height: 96px; }
	.loginArea .loginForm_area .pic .pic_box_bg { position: absolute; z-index: 1; left: 64px; top: -67px; width: 134px; height: 134px; background: url(../images/pic_box_bg.png?V=V5_6_2015_03_31) 2px 2px no-repeat;}
	.loginArea .loginForm_area .pic .pic_box_bg_ie8down { display: none; position: absolute; z-index: 1; left: 81px; top: -48px; width: 94px; height: 94px; background: url(../images/pic_bg_ie8.png?V=V5_6_2015_03_31);}
	.loginArea .loginForm_area .text { padding: 10px 0; font-size: 12px; color: #4c76a8; font-family: 'Microsoft YaHei',SimSun; text-align: center; }
	.loginArea .loginForm_area .username { height: 48px; background:rgba(255,255,255,.6) url(../images/username.png?V=V5_6_2015_03_31) 15px 10px no-repeat; _background: url(../images/username.gif) 15px 10px no-repeat #FFF; *background: url(../images/username.gif) 15px 10px no-repeat #FFF; border-radius: 3px;}
	.loginArea .loginForm_area .username input { margin-left: 50px; margin-top: 12px; width: 200px; height: 24px; vertical-align: top; border: 0; background:none;}
	.loginArea .loginForm_area .password { margin-top: 12px; height: 48px; background:rgba(255,255,255,.6) url(../images/password.png?V=V5_6_2015_03_31) 15px 10px no-repeat; _background: url(../images/password.gif) 15px 10px no-repeat #FFF; *background: url(../images/password.gif) 15px 10px no-repeat #FFF; border-radius: 3px;}
	.loginArea .loginForm_area .password input { margin-left: 50px; margin-top: 12px; width: 200px; height: 24px; vertical-align: top; border: 0; background:none;}
	/*验证码*/
	.loginArea .loginForm_area .captcha { margin-top: 12px; }
	.loginArea .loginForm_area .captcha .captcha_box{ float: left; margin-right: 10px; width: 165px; height: 48px; background: #FFF; }
	.loginArea .loginForm_area .captcha input { margin-left: 10px; margin-top: 12px; width: 145px; height: 24px; vertical-align: top; border: 0;}
	/*登陆按钮*/
	.loginArea .loginForm_area .login_btn { margin-top: 12px;}
	.loginArea .loginForm_area .login_btn input{ width: 100%; height: 50px; line-height: 50px; font-family: 'Microsoft YaHei',SimSun; color: #FFF; font-size: 24px; background: #297cc6; border:0; border-radius: 3px; cursor: pointer;}
	.loginArea .loginForm_area .login_btn input:hover { background: #2884d7; }

	/*短信验证*/
	.loginArea .loginForm_area .smsLogin_textbox { float: left; margin-top: 12px; height: 48px; background: #FFF; border-radius: 3px;}
	.loginArea .loginForm_area .smsLogin_textbox input {  margin-left: 10px; margin-top: 12px; width: 110px; height: 24px; vertical-align: top; border: 0; }
	.loginArea .loginForm_area .smsLogin_btn { float: left; margin-top: 12px; margin-left: 10px; width: 133px; height: 46px; line-height: 46px; text-align: center; border-radius: 5px; background: #f6f6f6; border: solid 1px #BFBFBF; cursor: pointer;}
	.loginArea .loginForm_area .smsLogin_btn_disable { border: solid 1px #DEDEDE; color: #B1B1B1;}

	/*语言选择区域*/
	.loginArea .language_area { padding: 15px 0; height: 39px; font-size: 12px; color: #FFF; background: url(../images/languageArea_bg.png?V=V5_6_2015_03_31) no-repeat;}
	.loginArea .language_area .fzIntall_area { float: left; margin-top: 7px; padding: 0 0 0 20px; width: 190px;}
	.loginArea .language_area .zhixin{margin-right: 15px;}
	.loginArea .language_area .zhixin a{color: #fff;}
	.loginArea input { font-size: 16px;}

	.login_error { display: none; position: absolute; z-index: 10; left: 33px; bottom: 295px; padding: 8px 20px 8px 65px; width: 185px; font-size: 12px; line-height: 18px; color: #fb2727; border-radius: 5px; background: url(../images/error.png?V=V5_6_2015_03_31) 30px center no-repeat #FEF3B7; box-shadow: 2px 2px 2px #aaa;}
	.loggedArea { position: absolute; z-index: 2; top:50%; right: 10%;  margin-top: -100px; padding: 20px; width: 337px; font-size: 12px; line-height: 18px; color: #fb2727; border-radius: 5px; background: #FEF3B7; box-shadow: 2px 2px 2px #aaa;}
	.maintainArea { position: absolute; z-index: 2; top:50%; right: 10%;  margin-top: -100px; padding: 20px 20px 20px 70px; width: 270px; font-size: 12px; line-height: 18px; color: #fb2727; border-radius: 5px; background: url(../images/error.png?V=V5_6_2015_03_31) 30px 20px no-repeat #FEF3B7; box-shadow: 2px 2px 2px #aaa;}
	
	/*--2015.4月修改：扫码登录改为两种--*/
	.pwd_area{padding-bottom: 20px;}	
	.qrCodeBtn{ position:absolute; top:0; right:0; width:59px; height:59px; background:url(../images/qrCodeBtn.png?V=V5_6_2015_03_31); cursor:pointer;}
	.pwdBtn{ display:none; position:absolute; top:0; right:0; width:59px; height:59px; background:url(../images/pwdBtn.png?V=V5_6_2015_03_31); cursor:pointer;}
	.qrCode_area{ display:none; margin:0 auto; padding-bottom:15px; width:100%; height:211px; color:#000; font-size:12px; text-align:center; overflow: hidden;}
	.qrCode_area #qrcode1{ margin-left:7px; margin-right:79px; padding:20px 0; width:88px;height:88px;float: left;}
	.qrCode_area #qrcode2{padding:20px 0; width:88px;height: 88px;float: left; }
	#qrcode1 .qrcode{width:57px;height: 57px;overflow: hidden;padding:15px 16px 16px 15px;background:#fff;margin-bottom:5px;}
	#qrcode2 .qrcode{width:88px;height: 88px;overflow: hidden;margin-bottom: 5px;}
	.qrCode_area .qrbootom{clear:both;height:auto;overflow:hidden;text-align: right;padding-top:70px;color:#8d8d8d;}
	.qrCode_area img{width:100%;}
	.qrCode_area a{ color:#8d8d8d;}
	
/*canvas背景图*/
.mpage { overflow: hidden; position: fixed; top:0; right:0; bottom:0; left:0; z-index: 0; background: #006fb5;}
.anitOut{ position:fixed; top:0; right:0; bottom:0; left:0; z-index: 1;}
.canvas_bgz{ position:fixed; top:0; right:0; bottom:0; left:0; z-index: 2; background:url(../images/bgz.png?V=V5_6_2015_03_31);}
/*头像外圈旋转动画*/
.pic_box_bg{
-webkit-animation-name: myfirst;
-webkit-animation-duration: 10s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;

animation-name: myfirst;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-play-state: running;
}


@-webkit-keyframes myfirst{
	0%   {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes myfirst{
	0%   {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
