.skin_content_tabs li a.current{
	 background: url("images/current_skin_set_tab.png?V=V5_6_2015_03_31") no-repeat center bottom #0484be;
	 color: #fff;
}
.layout_pat_1{
	width:16px;
	height:16px;
	display: inline-block;
	background: url("images/layout1.png?V=V5_6_2015_03_31");
	vertical-align: middle;
	margin-right: 5px;
}
.layout_pat_2{
	width:16px;
	height:16px;
	display: inline-block;
	background: url("images/layout2.png?V=V5_6_2015_03_31");
	vertical-align: middle;
	margin-right: 5px;
}
/******布局********/
.seach_icon_button{
	width:90px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	overflow: hidden;
	font-size: 16px;
	font-style: normal;
	color: #fff;
	position: absolute;
	top: 23px;
	right: 158px;
	background:#307de5;
	border:1px solid #fcfcfc;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.seach_icon_button:hover{
	background:#3184f4;
}
/*xl*/
.warp {
  font-size: 12px;
  height: 100%;
  width: 100%;
  position: relative;
  /*background-size:100%;*/
  background-position:0 -17px;
}

.layout_header {
  overflow: hidden;
  height: 50px;
  width: 100%;
  position: relative;
  z-index:3;
  
  background:url(images/red_head.png?V=V5_6_2015_03_31) left top no-repeat #7c000b;
}

.layout_content {
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  top: 50px;
  overflow:hidden;
}
.layout_left {
    float: left;
    width: 142px;
    height: 100%;
    position: absolute;
	background:#b14a22;
	z-index:2;
}
.layout_right {
    float: right;
    width: 100%;
    height: 100%;
    position: absolute;
	z-index:1;
}

.layout_right .layout_content_main {
    overflow: hidden;
    margin-left: 162px;
    height: 100%;
}

.layout_content_main_warp{
  height: 100%;
  width: 100%;
  position: relative;
  overflow:hidden;
}

.layout_location{
  height: 55px;
  width: 100%;
  padding-top:10px;
}
.layout_content_main_content{
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  top: 50px;	
  overflow:hidden;
}
/******布局结束********/

/*引用图片*/
.skin_ico16 {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  line-height: 16px;
  background: url(images/icon16.png?V=V5_6_2015_03_31) no-repeat;
  _background: url(images/icon16.gif?V=V5_6_2015_03_31) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

/*下拉组件*/
.pulldown,.uc_container,.djwk_container,.person_container,.account_container{
	width:auto;
	height:auto;
	position:absolute;
	z-index:1000;
	background:#fff;
	display:none;
	border:1px solid #999;
	-moz-box-shadow: 0px 0px 10px #333; 
	-webkit-box-shadow: 0px 0px 10px #333; 
	box-shadow: 0px 0px 10px #333;
	padding: 1px;
	font-size:12px;
	border-bottom:4px solid #e00101;
	padding: 18px 3px;
}
.pulldownIframe,.uc_iframe,.djwk_iframe,.person_iframe,.account_iframe{
	width:auto;
	height:auto;
	position:absolute;
	z-index:999;
	border:0;
	background:#fff;
	display:none;
}
.pulldown ul li,.uc_container ul li,.djwk_container ul li,.person_container ul li{
	color:#000;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display: block;
	width: 115px;
	height: 39px;
	color: #000;
	cursor: pointer;
	padding-left: 20px;
	line-height:40px;
}


/******头部区域******/
.area{
	height:50px;
	background-repeat: no-repeat;
}
.area_l{
	position: absolute;
	z-index: 3;
	width:800px;
	height:50px;
}
.accountdiv{
	width:30px;
	height:50px;
	overflow: hidden;
	background: url("images/nav_center_up.png?V=V5_6_2015_03_31") no-repeat center;
	cursor: pointer;
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	z-index:1000;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.accountdiv:hover,.account_current{
	width:30px;
	height:50px;
	overflow: hidden;
	background: url("images/nav_center_up_hover.png?V=V5_6_2015_03_31") no-repeat center #000;
	cursor: pointer;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
.logodiv{
	height:50px;
	margin-left:10px;	
}
.comdiv{
	margin-left:5px;
	color:#fff;
	margin-top: 8px;
}
.comdiv_cn{
	/* width:420px; */
	height:17px;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:14px;
}
.comdiv_en{
	/* width:420px; */
	height:16px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	font-size:12px;
}
.area_r{
	width:auto;
	height:50px;
	position: absolute;
	top:0;
	right:0;
	z-index:2;
}
.area_r_icon{
	width:auto;
	height:50px;
	margin:9px 15px;
	padding-top:2px;
	position:relative;
}
.area_r_icon a div{
	
	margin-left:20px;
}

.search_ico{
	background:url(menuIcon/top_search.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.search_ico:hover{
	background:url(menuIcon/spacehover/top_search.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.forward_ico{
	background:url(menuIcon/top_forward.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.forward_ico:hover{
	background:url(menuIcon/spacehover/top_forward.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.back_ico{
	background:url(menuIcon/top_back.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.back_ico:hover{
	background:url(menuIcon/spacehover/top_back.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}
.f5_ioc{
	background:url(menuIcon/top_refresh.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	cursor:pointer;
}
.f5_ioc:hover{
	background:url(menuIcon/spacehover/top_refresh.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}


.main_ioc{
	background:url(menuIcon/top_product.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	cursor:pointer;
}
.main_ioc:hover{
	background:url(menuIcon/spacehover/top_product.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	cursor:pointer;
}

.g6_ioc{
	background:url(menuIcon/top_about.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	cursor:pointer;
}
.g6_ioc:hover{
	background:url(menuIcon/spacehover/top_about.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}

.msg_ioc{
	background:url(menuIcon/top_uc.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	position:relative;
}
.msg_ioc:hover{
	background:url(menuIcon/spacehover/top_uc.png?V=V5_6_2015_03_31) no-repeat ;*zoom: 1;
}
.point_more{
	width:9px;
	height:9px;
	background:url(images/point_more.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
	position:absolute;
	top:-2px;
	right:-2px;
}

.return_ioc{
	background:url(menuIcon/top_workdesk.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
	cursor:pointer;
}
.return_ioc:hover{
	background:url(menuIcon/spacehover/top_workdesk.png?V=V5_6_2015_03_31) no-repeat ;
	*zoom: 1;
}

.return_ioc2{
	background:url(menuIcon/top_index.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
} 
.return_ioc2:hover{
	background:url(menuIcon/spacehover/top_index.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}
.f5_ioc1{
	background:url(menuIcon/admin_top_index.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
} 
.f5_ioc1:hover{
	background:url(menuIcon/spacehover/admin_top_index.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}

.dajia_work_ico{
	background:url(menuIcon/top_work.png?V=V5_6_2015_03_31);*zoom: 1;
	/*_background:url(menuIcon/dajia_work.gif?V=V5_6_2015_03_31) no-repeat;*/
	position:relative;
}
.dajia_work_ico:hover{
	background:url(menuIcon/spacehover/top_work.png?V=V5_6_2015_03_31);*zoom: 1;
}
.area_r_images{
	/*width:300px;*/
	height:30px;
	margin:9px 15px 9px 8px;
	padding-top:7px;
	position:relative;
}

.help_ioc{
	background:url(menuIcon/top_help.png?V=V5_6_2015_03_31);*zoom: 1;
}
.help_ioc:hover{
	background:url(menuIcon/spacehover/top_help.png?V=V5_6_2015_03_31);*zoom: 1;
}
.set_right_ico,.set_right_ico:hover{
	width:15px;
	height:24px;
	margin:15px 0 0 4px;
}
.set_right_ico{
	background:url(menuIcon/top_set_right.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}
.set_right_ico:hover{
	background:url(menuIcon/spacehover/top_set_right.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}

.setting_ico{
	background:url(menuIcon/top_person.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
	cursor:pointer;
}
.setting_ico:hover{
	background:url(menuIcon/spacehover/top_person.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}
.admin_exit_ico{
	background:url(menuIcon/top_admin_exit.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
	cursor:pointer;
}
.admin_exit_ico:hover{
	background:url(menuIcon/spacehover/top_admin_exit.png?V=V5_6_2015_03_31) no-repeat;*zoom: 1;
}
.areaPulldown{
	width:100px;
	height:auto;
	position:absolute;
	top:40px;
	right:20px;
	background:#fff;
	z-index:999;
	display:none;
	overflow:hidden;
	border:1px solid #999;
	-moz-box-shadow: 0px 0px 10px #333; 
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}
.areaPulldown ul li{
	width:100px;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#000;
	text-align:center;
	cursor:pointer;
}
.chanageLoginAccount{
	/*position: absolute;
	 top:0px;
	left:0px;
	 * */
	z-index: 300;
	
	/*background: url("images/accountarrow.png?V=V5_6_2015_03_31") no-repeat;
	height: 50px;
	width: 50px;*/
	cursor: pointer;
	display:none;
}
.accountSelectorOptions{
	position: absolute;
	top:50px;
	left:0px;
	margin:0;
	z-index: 400;
	width:auto;
	height:auto;
	background: #fff;
	border:1px solid #999;
	-moz-box-shadow: 0px 0px 10px #333; 
	-webkit-box-shadow: 0px 0px 10px #333; 
	box-shadow: 0px 0px 10px #333;
	padding: 5px;
	font-size:12px;
	
}
.accountSelectorOptions .account_container_ul{
	width:180px;
	float:left;
	height:auto;
	margin-right:5px;
}
.accountSelectorOptions li{
	float:left;
	height:39px;
	width:160px;
	line-height:39px;
	vertical-align:middle;
	background: #fff;
	overflow:hidden;
	padding: 0px 10px;
	cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
}
.accountSelectorOptions li:hover{
	display: block;
	height:39px;
	background: #b14a22;
	color: #fff;
}
.accountSelectorOptions li.currentAccount{
	display: block;
	height:39px;
	background: #8e3b1b;
	color: #fff;
}
.areaPulldowniframe{
	width:100px;
	height:200px;
	position:absolute;
	top:40px;
	right:20px;
	background:#fff;
	z-index:998;
	display:none;
	border:0;
}
.change_nav_left{
	width:24px;
	height:24px;
	position:absolute;
	text-align:right;
	top:11px;
	right:0px;	
	z-index:2;
	cursor:pointer;
}
.collapseIco,.collapseIco:hover{
	width:21px;
	height:22px;
	display: inline-block;
	vertical-align: middle;
}
.collapseIco{
	background:url(images/collapse_ico.png?V=V5_6_2015_03_31) no-repeat;filter:alpha(opacity=80);opacity:0.8;*zoom: 1;
}
.collapseIco:hover{
	background:url(images/collapse_ico.png?V=V5_6_2015_03_31) no-repeat;filter:alpha(opacity=100);opacity:1;*zoom: 1;
}
.line_addIco{
	width:27px;
	height:27px;
	background:url(images/line_add_ico.png?V=V5_6_2015_03_31) no-repeat;
	position: absolute;
	top:70px;
	right:4px;
}
.expansionIco,.expansionIco:hover{
	width:16px;
	height:16px;
	line-height:16px;
	
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}
.expansionIco{
	background:url(images/expansion_ico.png?V=V5_6_2015_03_31) no-repeat;filter:alpha(opacity=40);opacity:0.4;*zoom: 1;
}
.expansionIco:hover{
	background:url(images/expansion_ico.png?V=V5_6_2015_03_31) no-repeat;filter:alpha(opacity=80);opacity:0.8;*zoom: 1;
}
.change_nav_left_current{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
}

.textValStyle{
	color:#FC0;	
	margin:0 5px;
}

.dragSkin{
	position:absolute;
	z-index:10;
	width:48px;
	height:64px;
	top:50px;
	right:50px;
	cursor:pointer;
	background:url(images/time_line_ico2.png?V=V5_6_2015_03_31)  no-repeat;
}
.dragSkinlowe{
	position:absolute;
	z-index:10;
	width:38px;
	height:38px;
	top:50px;
	right:5px;
	cursor:pointer;
	background:url(images/time_line_ico.png?V=V5_6_2015_03_31)  no-repeat;
	display: none;
}
.dragSkinlowe:hover{
	background:url(images/time_line_ico_hover.png?V=V5_6_2015_03_31)  no-repeat;
}
#myCanvas{
	margin-top: 11px;
	margin-left: 7px;
}
/**导航中间**/
.nav_center{
	width:auto;
	height:25px;
	padding:5px 0px;
	float:left;
	margin-left:20px;
	cursor:pointer;
	position:relative;
}
.nav_center_current .nav_center_title, .nav_top_current .nav_center_title{
	-moz-opacity:1;
	opacity: 1;
}
.nav_center_currentIco{
	width:100%;
	height:4px;
	background:url(images/nav_center_current.png?V=V5_6_2015_03_31) repeat-x;
	position:absolute;
	top:35px;
	display:none;
}
.nav_center_current>.nav_center_currentIco{
	display:block;
}
.nav_center_title{
	height:24px;
	line-height:24px;
	vertical-align:middle;
	color:#ffffff;
	font-size:14px;
	display:block;
	width:auto;
	margin-left:4px;
	-moz-opacity:0.7;
	opacity: 0.7;
}
.my_home_ico{
	width:24px;
	height:24px;
	/* background:url(images/nav_home.png?V=V5_6_2015_03_31) no-repeat;
	_background:url(images/nav_home.gif?V=V5_6_2015_03_31) no-repeat; */
	display: inline-block;
	vertical-align:middle;
}
.rd_department_ico{
	width:24px;
	height:24px;
	background:url(images/nav_department.png?V=V5_6_2015_03_31) no-repeat;
	_background:url(images/nav_department.gif?V=V5_6_2015_03_31) no-repeat;
	display: inline-block;
	vertical-align:middle;
}
.unit_space_ico{
	width:24px;
	height:24px;
	background:url(images/nav_space.png?V=V5_6_2015_03_31) no-repeat;
	_background:url(images/nav_space.gif?V=V5_6_2015_03_31) no-repeat;
	display: inline-block;
	vertical-align:middle;
}
.nav_more_up{
	width:24px;
	height:24px;
}
.nav_more_upico{
	width:13px;
	height:6px;
	background:url(images/nav_center_up.png?V=V5_6_2015_03_31) no-repeat;
	display: inline-block;
	vertical-align:bottom;
}
.nav_more_upico_hover{
	width:13px;
	height:6px;
	background:url(images/nav_center_up_hover.png?V=V5_6_2015_03_31) no-repeat;
	display: inline-block;
	vertical-align:bottom;
}

.pushdown_second{
	position:relative;
}
.pulldown ul li.pushdown_second{
	display: block;
	width: 115px;
	height: 39px;
	color: #000;
	cursor: pointer;
	padding-left: 20px;
	font-size:12px;
	position:relative;
}
.pushdown_second_name{
	display: inline-block;
	width: 80px;
	height: 39px;
	line-height: 35px;
	vertical-align: middle;
	-moz-binding: url("ellipsis.xml#ellipsis");
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:14px;
}
.pushdown_dajia_title{
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	-moz-binding: url("ellipsis.xml#ellipsis");
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:14px;
	float:left;
	font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;
	margin-bottom:5px;
}
.pushdown_dajia_num{
	display: inline-block;
	width: 30px;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	-moz-binding: url("ellipsis.xml#ellipsis");
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:14px;
	float: right;
	margin-right:20px;
	background:#ff6633;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color:#fff;
	text-align:center;
	margin-top:11px;
	margin-bottom:5px;
}
/******头部区域结束******/




/*online*/
.avatar{
	width:94px;
	height:91px;
	border:3px solid rgba(0,0,0,0.2);
	-moz-border-radius: 45px;
	-khtml-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	position:absolute;
	top:10px;
	left:16px;
	z-index:2;
}
.avatar img{
	-moz-border-radius: 45px;
	-khtml-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
}
.line{
	height:130px;
	position:relative;
	z-index: 1;
}
.lineBg{
	width:142px;
	height:130px;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
.lineAdmin{
	height:30px;
	position:relative;
}
.vst_state {
    position:absolute;
    display: none;
    top: 126px;
    left:25px;
    width: 100px;
    background: #fff;
    border: 1px solid #ccc;
    padding:2px;
    z-index:10;
}
.vst_state_item{
    font-size:12px;
    display:block;
    height:26px;
    line-height:26px;
    vertical-align:middle;
    color:#000;
}
.vst_state_item:hover{
    background:#42b3e5;
    color:#fff;
	zoom:1
}

.onlineNum_adm{
	line-height:20px;
}
.vst_fun{
	position: relative;
	z-index:2;
}
.vst_boxbg{
	position: absolute;
	width:25px; 
	height:104px; 
	top:2px; 
	left:2px; 
	background:#e6eaed; 
	z-index:1;
}
.allow_up_ico{
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	line-height: 16px;
	background: url(images/allow_up_ico.png?V=V5_6_2015_03_31) no-repeat;
	_background: url(images/allow_up_ico.gif?V=V5_6_2015_03_31) no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.online1{
    background-position: 0px 0px;
}
.online2{
    background-position: -48px 0px;
}
.online3{
    background-position: -16px 0px;
}
.online4{
    background-position: -32px 0px;
}




/*个人空间
.space{
	height:46px;
	background:#868686;
	border-top: 1px solid #797979;
	border-bottom: 1px solid #797979;
}
.space_ico{
	width: 24px;
	height: 24px;
	border:0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 17px;
	margin-top: 10px;
	background:url(images/per_ico.png?V=V5_6_2015_03_31) no-repeat;
}
.space_title{
	width:65px;
	height:24px;
	line-height:24px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
}
.space_down_ico{
	width: 24px;
	height: 24px;
	border:0;
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	background:url(images/per_downico.png?V=V5_6_2015_03_31) no-repeat;
}*/

.space_iframe{
	width:auto;
	height:180px;
	position:absolute;
	top:50px;
	right:280px;
	z-index:9998;
	border:0;
	display:none;
	-moz-box-shadow: 0px 0px 10px #333; 
	-webkit-box-shadow: 0px 0px 10px #333; 
	box-shadow: 0px 0px 10px #333;
}
.space_pop ul li{
	width:160px;
	height:41px;
	line-height:41px;
	color:#4f4f4f;
	cursor:pointer;
	padding-left:26px;
	padding-right:38px;
	font-size:14px;
	white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis;
	margin-right:3px;
	margin-bottom:3px;
}
.nav_center_more{
	height:30px;
	width:auto;
	padding:5px;
	float:left;
	margin-left:20px;
	cursor:pointer;
	position:relative;
}
.space_list{
	width:auto;
	height:auto;
	float:left;
}
.space_ico{
	width: 16px;
	height: 16px;
	border: 0px;
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	margin-right:6px;
}
.space_item1{
	font-size:30px;
	color:#fff;
	position:absolute;
	top:-20px;
	right:200px;
	z-index:-1;
}
.space_item2{
	font-size:30px;
	color:#999;
	position:absolute;
	top:-21px;
	right:200px;
	z-index:-1;
}
.space_item3{
	font-size:30px;
	color:#999;
	position:absolute;
	top:19px;
	right:2px;
	display:none;
}
.space_item4{
	font-size:30px;
	color:#fff;
	position:absolute;
	top:20px;
	right:2px;
	display:none;
}
.spaceCurrent{
	background:#fcd8cb;
	color:#111111;
}
.spaceCurrent .space_ico{
	/**
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	*/
}

.spaceStyle .space_ico{
	/*
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	*/
}
/**我的快捷**/
.shortcut_pop{
	width:auto;
	height:auto;
	position:absolute;
	top:181px;
	left:142px;
	z-index:9999;
	background:#fff;
	display:none;
	border:1px solid #999;
	-moz-box-shadow:2px 2px 4px #333; 
	-webkit-box-shadow:2px 2px 4px #333; 
	box-shadow:2px 2px 4px #333;
	font-size:14px;
	padding:1px;
	font-size:14px;
	font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;
}
.shortcut_iframe{
	width:auto;
	height:180px;
	position:absolute;
	top:181px;
	left:142px;
	z-index:9998;
	border:0;
	background:#fff;
	display:none;
}
.shortcut_pop ul li{
	width:125px;
	height:40px;
	line-height:40px;
	color:#111111;
	cursor:pointer;
	padding-left:10px;
	font-size:14px;
}
.shortcut_list{
	width:auto;
	height:auto;
	float:left;
}
.shortcut_ico{
	width: 16px;
	height: 16px;
	border: 0px;
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-right:6px;
}
.shortcut_text{
    display:inline-block;
    width:90px;
    height:39px;
    line-height:38px;
    vertical-align:middle;
    -moz-binding: url("ellipsis.xml#ellipsis");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}
.shortcutCurrent .shortcut_ico{
}
.shortcut_nav_item,.agent_nav_item{
	height:50px;
	font-size:0px;
	cursor:pointer;
	-moz-opacity: 0.9;
	opacity: 0.9;
	position:relative;
}

/***********menu*********/
.nav{
	overflow:hidden;
	position: relative;
}
.nav_item{
	height:50px;
	font-size:0px;
	cursor:pointer;
	-moz-opacity: 0.9;
	opacity: 0.9;
	position:relative;
}
.nav_border{
	width:100%;
	height:2px;
	overflow:hidden;
	background:url(images/nav_border.png?V=V5_6_2015_03_31) repeat-x;
}
.nav_icon{
	width:20px;
	height:20px;
	border:0px;
	display:inline-block;
	vertical-align:middle;
	margin-left:15px;
}
.nav_title{
	height:50px;
	width:90px;
	line-height:50px;
	display:inline-block;
	margin:0px;
	vertical-align:middle;
	font-size:14px;
	margin-left:10px;
	color:#fff;
   	-moz-binding: url("ellipsis.xml#ellipsis");
   	white-space: nowrap;
   	overflow: hidden;
   	text-overflow: ellipsis;
}
/*.nav_box_color{
	width:4px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	background:#000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}*/
.mynav_box_color{
	width:6px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	/*background:#b14a22;*/
}
.mynav_box_bgcolor{
	width:142px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	background:#000000;
	-moz-opacity: 0.2;
	opacity: 0.2;
	filter: alpha(opacity=20);
	display:none;
}
.nav_box_bgcolor{
	width:142px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	background:#000000;
	-moz-opacity: 0.2;
	opacity: 0.2;
	filter: alpha(opacity=20);
	display:none;
}
.current_item,.current_flag{
	-moz-opacity: 1.0;
	opacity: 1.0;
}
.current_item .nav_box_color, .current_item .mynav_box_color,.current_flag .nav_box_color, .current_flag .mynav_box_color{
	width:48px;
}
.current_item .nav_box_bgcolor, .current_item .mynav_box_bgcolor,.current_flag .nav_box_bgcolor, .current_flag .mynav_box_bgcolor{
	display:block;
}
.second_menuIco{
	width:24px;
	height:24px;
	border: 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}
.second_menuIco_next{
	width:24px;
	height:24px;
	border: 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
	float:left;
	margin-top: 8px;
}
.second_menu_contaner{
    position:absolute;
    border:1px #b6b6b6 solid;
    border-left:0px #b6b6b6 solid;
    background:#fff;
    width:137px;
    left:142px;
    z-index:10;
    font-size:12px;
    display:none;
    height:auto;
	-moz-box-shadow:2px 2px 4px #333; 
	-webkit-box-shadow:2px 2px 4px #333; 
	box-shadow:2px 2px 4px #333;
}
.third_menu_container{
    position:absolute;
    border:1px #b6b6b6 solid;
    background:#fff;
    width:137px;
    left:142px;
    z-index:10;
    font-size:12px;
    display:none;
    height:auto;
	-moz-box-shadow:2px 2px 4px #333; 
	-webkit-box-shadow:2px 2px 4px #333; 
	box-shadow:2px 2px 4px #333;
}
.menu_iframe{
    position:absolute;
    border:0px;
    width:137px;
    left:142px;
    z-index:9;
    display:none;
    height:auto;
    background: #fff;
}
.second_menu_content{
    display:block;
    list-style:none;
	/*padding:1px;*/
}
.second_menu_item_admin_hover{
    display:block;
    height:39px;
    background:#fcd8cb;
    color:#fff;
    cursor:pointer;
}
.second_menu_item{
    display:block;
    width:125px;/***宽度(155)减去padding(15)**/
    height:39px;
    color:#000;
    cursor:pointer;
	padding-left:10px;
	font-size: 14px;
}
.second_menu_item_hover{
    display:block;
    width:125px;/***宽度(155)减去padding(15)**/
    height:39px;
    background:#fcd8cb;
    color:#111111;
    cursor:pointer;
}
.second_menu_item_hover .second_menuIco{
	width:24px;
	height:24px;
	border: 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}
.second_menu_item_name,.third_menu_item_name{
    display:inline-block;
    width:90px;/***宽度(155)减去padding(15)**/
    height:39px;
    line-height:40px;
    vertical-align:middle;
    -moz-binding: url("ellipsis.xml#ellipsis");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.second_menu_item_name_next{
    float:left;
    width:85px;/***宽度(155)减去padding(15)**/
    height:39px;
    line-height:39px;
    vertical-align:middle;
    -moz-binding: url("ellipsis.xml#ellipsis");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.secont_right_sub{
    position:absolute;
    width:1px;
    height:77px;
    overflow:hidden;
    background:#fff;
    top:0px;
    left:0px;
}
.third_menu_content{
    display:block;
    list-style:none;
	padding:1px;
}
.third_menu_item{
    display:block;
    width:125px;/***宽度(155)减去padding(15)**/
    height:39px;
    color:#111111;
    cursor:pointer;
	padding-left:10px;
}
.third_menu_item_hover{
    display:block;
    width:125px;/***宽度(155)减去padding(15)**/
    height:39px;

    background:#a1daf4;
    color:#111111;
    cursor:pointer;
}
.third_menu_item_name{
    display:inline-block;
    width:90px;/***宽度(155)减去padding(15)**/
    height:39px;
    line-height:39px;
    vertical-align:middle;
    -moz-binding: url("ellipsis.xml#ellipsis");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.third_menu_item_name_next{
    float:left;
    width:90px;/***宽度(155)减去padding(15)**/
    height:39px;
    line-height:39px;
    vertical-align:middle;
    -moz-binding: url("ellipsis.xml#ellipsis");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.next_menu_icon{
    float:right;
    width:16px;
    height:16px;
    background:url(images/nextmenu_1.png?V=V5_6_2015_03_31) center no-repeat;
    margin-top:11px;
}
.next_menu_icon_1{
    float:right;
    width:16px;
    height:16px;
    background:url(images/nextmenu_2.png?V=V5_6_2015_03_31) center no-repeat;
    margin-top:11px;
}
.upaction{
    background:url(images/upaction.png?V=V5_6_2015_03_31) center no-repeat;
    height:12px;
    font-size:1px;
    overflow:hidden;
    display:none;
    cursor: pointer;
}
.downaction{
    background:url(images/downaction.png?V=V5_6_2015_03_31) center no-repeat;
    height:12px;
    font-size:1px;
    overflow:hidden;
    display:none;
     cursor: pointer;
}
.navPager{
	height:47px;
	text-align:center;
	display:none;
	position: relative;
	overflow:hidden;
}
.nav_moreIco{
	position:absolute;
	top:16px;
	right:59px;
}
.nav_left{
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	line-height: 16px;
	background: url(images/nav_left.png?V=V5_6_2015_03_31) no-repeat;
	cursor: pointer;
	position:absolute;
	top:11px;
	left:20px;
	display:none;
}
.nav_left_1{
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	line-height: 16px;
	cursor: pointer;
	position:absolute;
	top:15px;
	left:3px;
	background:url(images/nav_left_1.png?V=V5_6_2015_03_31) no-repeat;
}
.nav_right{
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	line-height: 16px;
	background: url(images/nav_right.png?V=V5_6_2015_03_31) no-repeat;
	cursor: pointer;
	position:absolute;
	top:11px;
	right:20px;
	display:none;
}
.nav_right_1{
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	line-height: 16px;
	cursor: pointer;
	position:absolute;
	top:15px;
	right:0;
	background:url(images/nav_right_1.png?V=V5_6_2015_03_31) no-repeat;
}
/***********menu****end*****/
.skin_set_contaner{
    position:absolute;
    /*border:1px #b6b6b6 solid;*/
    background:#fff;
    width:350px;
    right:20px;
	top:0px;
    z-index:100;
    font-size:12px;
    height:auto;
	-moz-box-shadow: -5px -5px 20px  #888; 
	-webkit-box-shadow: -5px -5px 20px  #888; 
	box-shadow: -5px -5px 20px #888;
	display:none;
}
#skin_set_iframe{
	top:0px;
	right:20px;
	width:350px;
    position:absolute;
    border:0px;
    z-index:99;
    display:none;
    height:auto;
    background: #fff;
	-moz-box-shadow: 5px 5px 10px  #888; 
	-webkit-box-shadow: 5px 5px 10px  #888; 
	box-shadow: 5px 5px 10px #888;
}
.skin_set_title{
	height:52px;
	background:#4c4c4c;
	
}
.skin_set_text{
	color:#dbdbdb;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 15px;
}
.skin_set_close{
	float: right;
	width: 44px;
	height: 41px;
	overflow: hidden;
	background: url("images/metroShortAddDialog_close.png?V=V5_6_2015_03_31") no-repeat;
	cursor: pointer;
}
.skin_content{
	width:285px;
	margin:auto;
	margin-bottom:35px;
}

/*换肤－首页－大背景图*/
.mainBody_skin .description_ ,.recommend_skin .description,.modify_skin .description{
	height:30px;
	color:#585858;
	line-height:30px;
	vertical-align:middle;
	font-size: 14px;
}
.mainBody_skin .description ,.recommend_skin .description,.modify_skin .description{
	height:30px;
	color:#585858;
	line-height:30px;
	vertical-align:middle;
	font-size: 14px;
}

.mainBody_skin .list{
	display:block;
	height:28px;
	margin-top: 3px;
	margin-bottom: 28px;
}
.mainBody_skin .list .bgimg{
	background:#53718b;
	width:234px;
	height:28px;
	float:left;
	position: relative;
}
.mainBody_skin .list .bgcolor{
	background:#53718b;
	width:46px;
	height:28px;
	float:left;
	margin-left:5px;
	position: relative;
}

/*换肤－首页－顶部*/
.header_skin .description ,.recommend_skin .description,.modify_skin .description{
	height:30px;
	color:#585858;
	line-height:30px;
	vertical-align:middle;
	font-size: 14px;
}

.header_skin .list{
	display:block;
	height:28px;
	margin-top: 3px;
	margin-bottom: 28px;
}
.header_skin .list .bgimg{
	background:#ff0;
	width:234px;
	height:28px;
	float:left;
	position: relative;
}
.opacity_border {
	background: #00cf78;
	/*
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	*/
	overflow: hidden;
	position: absolute;
}
.header_skin .list  .bgimg1{
	background: url("images/header1.png?V=V5_6_2015_03_31") no-repeat;
}
.header_skin .list  .bgimg2{
	background: url("images/header2.png?V=V5_6_2015_03_31") no-repeat;
}
.header_skin .list  .bgimg3{
	background: url("images/header3.png?V=V5_6_2015_03_31") no-repeat;
}
.header_skin .list .bgcolor{
	background:#0ff;
	width:46px;
	height:28px;
	float:left;
	margin-left:5px;
	position: relative;
}
.header_skin .list .bgcolor1{
	background: #f6ec79;
}
.header_skin .list .bgcolor2{
	background: #3366ff;
}
.header_skin .list .bgcolor3{
	background: #20507e;
}
.recommend_skin .description{
	margin-top: 18px;
}
.recommend_skin #recommend1,.recommend_skin #recommend2,.recommend_skin #recommend3{
	margin-top: 3px;
	margin-bottom: 3px;
}
.recommend_skin .list{
	display:block;
	height:80px;
}
.recommend_skin .item{
	float:left;
	height:40px;
	width:77px;
	margin-right: 27px;
	position: relative;
}
.recommend_skin .last{
	margin-right:0px;
}
.recommend_skin .name{
	height:30px;
	line-height: 30px;
	font-size: 12px;
	vertical-align: middle;
	color: #a1a1a1;
	text-align: center;
}
.recommend_skin .recommend1{
	background: url("images/recommend1.png?V=V5_6_2015_03_31") no-repeat;
}
.recommend_skin .recommend2{
	background: url("images/recommend2.png?V=V5_6_2015_03_31") no-repeat;
}
.recommend_skin .recommend3{
	background: url("images/recommend3.png?V=V5_6_2015_03_31") no-repeat;
}
.modify_skin .list{
	display:block;
	height:80px;
	margin-top: 3px;
}
.modify_skin .item{
	display:block;
	height:75px;
	width:140px;
	float:left;
	text-align:center;
	color:#b1b1b1;
	font-size:12px;
}
.modify_skin .l_bg,.modify_skin .c_bg{
	width:140px;
	height:50px;
	margin-bottom:8px;
	position: relative;
}
.modify_skin .l_bg{
	background:#009dd9;
}
.modify_skin .c_bg{
	background:#bae6e7;
}
.bg_color_skin{
	width:301px;
	height:228px;
	position:absolute;
	-moz-box-shadow:2px 2px 4px #A8A8A8; 
	-webkit-box-shadow:2px 2px 4px #A8A8A8; 
	box-shadow:2px 2px 4px #A8A8A8;	
	background:#f7f7f7;
	display:none;
	border:1px #cccccc solid;
	overflow: hidden;
}
.bg_color_skin .content{
	margin-top:15px;
	margin-left:15px;
	width:270px;
	height:228px;
	overflow: hidden;
}
.bg_color_skin .list{
	display:block;
	height:137px;
	background: #fff;
}
.bg_color_skin .list .colorItem{
	float:left;
	height:45px;
	width:45px;
	cursor:pointer;
	position: relative;
}
.bg_color_skin .list .colorItem .ok{
	position: absolute;
	top:3px;
	right:3px;
	background: url("images/ok.png?V=V5_6_2015_03_31") no-repeat;
	width: 15px;
	height: 14px;
	overflow: hidden;
}
.bg_color_skin .model_list{
	display:block;
	height:40px;
	background: #fff;
}
.bg_color_skin .model_list .modelItem{
	float:left;
	height:20px;
	width:13px;
	cursor:pointer;
}
.bg_color_skin .model_list .currentMap{
	height:30px;
}


/**消息提醒**/
	
.margin_ico{
	margin-bottom: 8px;
}
#message{
	width:42px;
	height:41px;
	position:absolute;
	right:15px;
	bottom:40px;
	background:url(images/index_message.png?V=V5_6_2015_03_31) no-repeat;
	_background:url(images/index_message.gif?V=V5_6_2015_03_31) no-repeat;
	z-index:200;
	cursor:pointer;
	-moz-border-top-left-radius: 1000px;
	-khtml-border-top-left-radius: 1000px;
	-webkit-border-top-left-radius: 1000px;
	border-top-left-radius:1000px;
}
#message:hover {
	background:url(images/index_message_hover.png?V=V5_6_2015_03_31) no-repeat;
}
.msg_icon{
	display: inline-block;
	width:24px;
	height:21px;
	background:url(images/index_msg_ico.png?V=V5_6_2015_03_31) no-repeat;
	top: 11px;
	left: 10px;
	position:absolute;
	/*opacity: 0.8; filter: alpha(opacity=80); *zoom: 1;*/
}
#messageIframe{
	width:42px;
	height:41px;
	position:absolute;
	right:15px;
	bottom:40px;
	z-index:199;
	-moz-border-top-left-radius: 1000px;
	-khtml-border-top-left-radius: 1000px;
	-webkit-border-top-left-radius: 1000px;
	border-top-left-radius:1000px;
}
.msg_font{
	display:inline-block;
	width:45px;
	height:15px;
	font-size:14px;
	color:#fff;
	position:absolute;
	top:11px;
	left:40px;
	font-weight:bold;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.msg_remind{
	width:11px;
	height:11px;
	background:url(images/msg_remindIco.png?V=V5_6_2015_03_31) no-repeat;
	display:inline-block;
	position:absolute;
	top:6px;
	left:30px;
}
.pop_msg{
	width:302px;
	height:auto;
	background:#fff;
	padding:1px;
	position:absolute;
	right:15px;
	z-index:999;
	display:none;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}
#pop_msg_iframe{
	width:304px;
	height:auto;
	position:absolute;
	right:15px;
	bottom:0px;
	z-index:988;
	display:none;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}
.pop_msg_top{
	width:302px;
	height:45px;
	background:#306fc4;
	overflow:hidden;
	position:relative;
}
.pop_top_title{
	width:120px;
	height:20px;
	text-align:center;
	display:inline-block;
	line-height:20px;
	cursor:pointer;
}
.pop_msg_top_sm{
	width:80px;
	height:80px;
	background:url("images/message_close.png?V=V5_6_2015_03_31");
	border-radius:50px;
	-moz-border-radius:50px;
	position:absolute;
	right:-40px;
	top:-40px;
	cursor:pointer;
}
.pop_msg_top_sm span{
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	position:absolute;
	top:40px;
	left:15px;
	display:inline-block;
	width:16px;
	height:3px;
	border-bottom:3px solid #fff;
}
.msg_system_box{
	width:300px;
	height:auto;
}
.msg_system_box_main{
	width:270px; /**减去40 padding**/
	height:auto;
	padding:8px 16px;
	cursor:pointer;
}
.msg_system_ico{
	width:24px;
	height:24px;
	float:left;
	background:url(images/msg_ico1.png?V=V5_6_2015_03_31) no-repeat;
}
.msg_system_main_right{
	width:230px;
	height:auto;
	float:left;
	margin-left:10px;
	color:#010101;
	font-size:12px;
}
.msg_system_main_right_main{
	width:230px;
	height:auto;
	/*max-height:65px;*/
	position:relative;
	overflow:hidden;
	table-layout:fixed; 
	word-break: break-all; 
	overflow:hidden;
	line-height: 18px;
}
.msg_system_main_right_info{
	width:230px;
	height:14px;
	text-align:right;
	color:#a3a3a3;
	margin-top:5px;
}
.msg_date{
	margin-left:15px;
}
.msg_system_main_right_name{
	width:230px;
	height:24px;
	line-height:24px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	position:relative;
}
.msg_system_main_right_name span{
	font-weight:bold;
}
.msg_system_main_right_title{
	width:230px;
	height:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.msg_system_main_right_comment{
	width:230px;
	height:28px;
	margin-top:5px;
	color:#2e2d2d;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis;
}
.msg_line{
	width:270px;
	height:1px;
	border-bottom:1px solid #d9d9d9;
	margin-left:16px;
}
.msg_expansion{
	text-align:center;
	width:302px;
	height:30px;
	border-top:1px solid #d9d9d9;
	background:#e9e9e9;
	cursor:pointer;
}
.msg_expansion_font{
	color:#010101;
	font-size:12px;
	height:16px;
	line-height:16px;	
	margin-right:10px;
}
.msg_expansionIco{
	
	margin-top:7px;
}
.msg_setting{
	width:302px;
	height:35px;
	background:#d1d1d1;
}
.msg_setting_ucMsg{
	width:280px;
	height:35px;
	border-top: 1px solid #ccc;
}
.msg_setting_ico{
	width:24px;
	height:24px;
	background:url(images/msg_setting_ico.png?V=V5_6_2015_03_31) no-repeat;
	margin:5px 70px 0 20px;
	float:left;
	cursor:pointer;
}

.msg_setting_uc{
	float:left;
	text-align:center;
	color:#787878;
	font-size:12px;
	width:90px;
	height:15px;
	text-shadow:1px 1px 1px #fff;
	cursor:pointer;
}
.msg_setting_open{
	margin:10px 5px 0 5px;
}
.msg_setting_all,.msg_setting_see{
	margin-top:10px;
}
.msg_setting_ignore{
	margin-top:10px;
	float:left;
}
.msg_setting_look{
	margin-top:10px;
	margin-right:20px;
	float:right;
	text-align:right;
}
.msg_expansion_box{
	width:264px;
	height:auto;
	display:none;
	overflow:hidden;
	padding:7px 18px;
}
.msg_expansion_box_main{
	width:113px;
	height:25px;
	line-height:25px;
	color:#787878;
	font-size:12px;
	text-shadow:1px 1px 1px #fff;
	cursor:pointer;
	float:left;
	margin-right:5px;
	padding-left:10px;
	position:relative;
}
.msg_expansion_box_main span{
	font-size:12px;
	color:#e54100;
	font-weight:bold;
	margin:0 5px;
}
.msg_ico_1{
	width:26px;
	height:18px;
	background:url(images/msg_sm_1.png?V=V5_6_2015_03_31);
	position:absolute;
	top:0px;
	right:0px;
	display:none;
}
.msg_ico_2{
	width:26px;
	height:18px;
	background:url(images/msg_sm_2.png?V=V5_6_2015_03_31);
	position:absolute;
	top:0px;
	right:0px;
	display:none;
}
.msg_ico_3{
	width:26px;
	height:18px;
	background:url(images/msg_sm_1.png?V=V5_6_2015_03_31);
	position:absolute;
	top:3px;
	right:1px;
	display:none;
}
.msg_ico_4{
	width:26px;
	height:18px;
	background:url(images/msg_sm_2.png?V=V5_6_2015_03_31);
	position:absolute;
	top:3px;
	right:1px;
	display:none;
}
.bottom_msg{
	bottom:0;
}
.banner_line{
	width:1px;
	height:22px;
	border-left:1px solid rgba(255,255,255,0.3);
	margin-top:17px;
}
.nav_top_style{
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity: 1.0;
}
.nav_top_style .space_item3, .nav_top_style .space_item4{
	display:block;
}
.nav_center_current, .nav_top_current{
}
.clear{
	clear:both;
}
/**UC消息 下拉列表**/
.nav_uc_ico{
	width:32px;
	height:32px;
	margin:9px 10px 0 5px;
}
.nav_uc_ico img{
	-moz-border-radius: 21px;
	-khtml-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
}
.nav_uc_right{
	width:160px;
	height:auto;
	font-size:12px;
}
.nav_uc_right_title{
	width:70px;
	height:14px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color:#414141;
	margin-top: 10px;
	margin-bottom: 4px;
}
.nav_uc_right_main{
	width:160px;
	height:auto;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color:#9d9d9c;	
	padding-bottom: 5px;	
}
.nav_uc_num{
	display: inline-block;
	width: 30px;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	-moz-binding: url("ellipsis.xml#ellipsis");
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:12px;
	float: right;
	margin-right:10px;
	background:#ff6633;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color:#fff;
	text-align:center;
	margin-top:16px;
	margin-bottom:5px;
}
.uc_msg_ico_1{
	width:26px;
	height:18px;
	background:url(images/msg_sm_1.png?V=V5_6_2015_03_31);
	position:absolute;
	top:15px;
	right:11px;
	display:none;
}
.uc_msg_ico_2{
	width:26px;
	height:18px;
	background:url(images/msg_sm_2.png?V=V5_6_2015_03_31);
	position:absolute;
	top:15px;
	right:11px;
	display:none;
}
.space_pop ul li.spaceStyle{
	background:#a1daf4;
	color:#111111;
}
.mxt-window .mxt-window-head {
    vertical-align: middle;
    /*background: url(images/popwindow/titlebg.gif?V=V5_6_2015_03_31?V=3_50_2_29) no-repeat;*/
    cursor: move;
    overflow: hidden;
    height: 32px;
    background: #b82b2b;
}
.a8_NCioc{
	width:24px;
    height:24px;
    margin:0 5px;
    background:url(menuIcon/top_about_nc.png?V=V5_6_2015_03_31) no-repeat ;
    *zoom: 1;
    cursor:pointer;
}
.a8_NCioc:hover{
	width:24px;
    height:24px;
    margin:0 5px;
    background:url(menuIcon/spacehover/top_about_nc.png?V=V5_6_2015_03_31) no-repeat;
    *zoom: 1;
}