<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	

	<bean id="dataKitService" class="com.seeyon.apps.datakit.service.DataKitService">
		<property name="dataKitDao" ref="dataKitDao" />
		<property name="newEnumDAO" ref="newEnumDAO" />
		<property name="newEnumItemDAO" ref="newEnumItemDAO" />
	</bean>
	<bean id="dataKitAffairService" class="com.seeyon.apps.datakit.service.DataKitAffairService">

	</bean>

</beans>

