<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!--<bean id="dataKitSessionFactory" class="com.cn.hightech.hb.HibernatesecondFactory">-->
		<!--<property name="secondFactory"><ref bean="dataKitSessionFactoryBean" /></property>-->
	<!--</bean>-->
	<!--<bean id="transactionManager_second" class="org.springframework.orm.hibernate4.HibernateTransactionManager">-->
		<!--<property name="secondFactory" ref="secondFactory_second" />-->
	<!--</bean>-->

	<!--<tx:annotation-driven transaction-manager="transactionManager_second"  proxy-target-class="true"/>-->
	<!--<bean id="UserDAO" class="com.cn.hightech.entity.gx.UserDAO">-->
		<!--<property name="secondFactory">-->
			<!--<ref bean="sessionFactory_second" />-->
		<!--</property>-->
	<!--</bean>-->


</beans>