<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean id="rikazeService" class="com.seeyon.apps.datakit.service.RikazeService">
	</bean>
	<bean name="/rikaze.do" class="com.seeyon.apps.datakit.controller.RikazeController">
		<property name="rikazeService" ref="rikazeService" />
	</bean>

</beans>
