body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.bs-example:after {
    content: "" !important;
}

.bs-docs-section > p, .bs-docs-section > ul,
.bs-docs-section > ol, .bs-callout > p,
.bs-callout > ol, .bs-callout > ul {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
}

.bs-callout *:last-child {
    margin-bottom: 0;
}

.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cta-section.pricing-cta-section {
    background: #0076d1;
    background: -webkit-linear-gradient(top,#0076d1,#5db8ff);
    background: -moz-linear-gradient(top,#0076d1,#5db8ff);
    background: -o-linear-gradient(top,#0076d1,#5db8ff);
    background: -ms-linear-gradient(top,#0076d1,#5db8ff);
}
.cta-section.pricing-cta-section {
    padding: 90px 0;
    min-height: 200px;
    position: relative;
}
.cta-section {
    background: left top/cover no-repeat #006ec3;
    min-height: 420px;
    color: #fff;
    padding-top: 80px;
    border: none;
}
.text-center {
    text-align: center;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.img25{
    width:25px;
    height:25px;
}
.img23{
    width:23px;
    height:23px;
}
.padding-top-30{
    padding-top:30px;
}
.login-item{
    width:400px;
    height:50px;
}
.height50{
    height:50px;
    width:123px;
}
.width400{
    width:400px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.footer{
    background-color: #eceff1;
    color: #bdc1c5;
    font-size: 15px;
    padding: 0;
    display:block;
    border-top-color: #34495E;
    border-top-width: 1px;
}

.loading_img{
    width:50px;
    height:50px;
}
.cta-section .pricing-cta-section {
    background: #5db8ff;
    background: -webkit-linear-gradient(top,#0076d1,#5db8ff);
    background: -moz-linear-gradient(top,#0076d1,#5db8ff);
    background: -o-linear-gradient(top,#0076d1,#5db8ff);
    background: -ms-linear-gradient(top,#0076d1,#5db8ff);
}
.backgroundBody{

    background: #5db8ff;
    min-height:600px;
    /*background: -webkit-linear-gradient(top,#0076d1,#5db8ff);*/
    /*background: -moz-linear-gradient(top,#0076d1,#5db8ff);*/
    /*background: -o-linear-gradient(top,#0076d1,#5db8ff);*/
    /*background: -ms-linear-gradient(top,#0076d1,#5db8ff);*/

}
/*canvas{*/
    /*position: absolute;*/
    /*top: calc(50% - 50px);*/
    /*top: -webkit-calc(50% - 100px);*/
    /*left: calc(50% - 200px);*/
    /*left: -webkit-calc(50% - 200px);*/
/*}*/