<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="sursenReceiveFileManager" class="com.seeyon.apps.sursenExchange.receive.manager.SursenReceiveFileManagerImpl">
    </bean>
    <bean id="sursenReceiveManager" class="com.seeyon.apps.sursenExchange.receive.manager.SursenReceiveManagerImpl">
    </bean>
    <bean id="sursenSendFileManager" class="com.seeyon.apps.sursenExchange.send.manager.SursenSendFileManagerImpl">
    </bean>
    <bean id="sursenSendManager" class="com.seeyon.apps.sursenExchange.send.manager.SursenSendManagerImpl">
    </bean>
    <bean id="sursenFlowAnalysisQuartz" class="com.seeyon.apps.sursenExchange.receive.manager.SursenFlowAnalysisQuartz" init-method="init">
    </bean>
    <bean id="sursenExchangeQuartz" class="com.seeyon.apps.sursenExchange.receive.manager.SursenExchangeQuartz">
    </bean>
    <bean id="sursenExchangeApi" class="com.seeyon.apps.sursenExchange.api.SursenExchangeApiImpl"></bean>
</beans>