<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="addressBookMemberDao" class="com.seeyon.apps.addressbook.dao.AddressBookMemberDaoImpl" />
	<bean id="addressBookTeamDao" class="com.seeyon.apps.addressbook.dao.AddressBookTeamDaoImpl" />
	<bean id="addressBookSetDao" class="com.seeyon.apps.addressbook.dao.AddressBookSetDaoImpl" />
	<bean id="addressBookSetScopeDao" class="com.seeyon.apps.addressbook.dao.AddressBookSetScopeDaoImpl" />
	<bean id="addressBookCustomerFieldInfoDao" class="com.seeyon.apps.addressbook.dao.AddressBookCustomerFieldInfoDaoImpl" />
</beans>