<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="webMailManager" class="com.seeyon.v3x.webmail.manager.WebMailManagerImpl" />
	<bean id="messageMailManager" class="com.seeyon.v3x.mail.manager.MessageMailManagerImpl" singleton="true" init-method="init" />
	<bean id="mailMessagePipeline" class="com.seeyon.v3x.webmail.message.MailMessagePipeline" />
	<bean id="webmailNewCollDataHandler" class="com.seeyon.v3x.webmail.manager.WebmailNewCollDataHandler" />
</beans>
