<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/didicarController.do" class="com.seeyon.apps.didicar.controller.DidicarController">
	</bean>
	<bean name="/didicarMoneyController.do" class="com.seeyon.apps.didicar.controller.DidicarUnitController">
		<property name="didicarUnitManager" ref="didicarUnitManager"/>
	</bean>
	<bean name="/didicarAccountInfoController.do" class="com.seeyon.apps.didicar.controller.DidicarAccountInfoController">
    </bean>
    <bean name="/didicarOrderController.do" class="com.seeyon.apps.didicar.controller.DidicarOrderController">
    </bean>
	<bean name="/didicarCallCarController.do" class="com.seeyon.apps.didicar.controller.DidiCallCarController">
    </bean>
    
</beans>