<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

 	<bean id="neigouSSODao" class="com.seeyon.apps.neigou.dao.NeigouSSODaoImpl">
    </bean>
    <bean id="neigouSSOManager" class="com.seeyon.apps.neigou.manager.NeigouSSOManagerImpl">
    </bean>
    
    <bean id="neigouSSOSpace" class="com.seeyon.ctp.portal.sso.thirdpartyintegration.ThirdpartySpace" init-method="init">
	<property name="pluginId" value="neigou" />
	<property name="name" value="neigou.plugin.space.name" />
	<property name="resourceBundle" value="com.seeyon.apps.neigou.i18n.neigouResources" />
	<property name="pageURLBuilder" ref="neigouPageURLBuilder" />
	<property name="openType" value="open" />
	<property name="hiddenA8Menu" value="true" />
	<property name="index" value="9" />
	<property name="accessCheck" ref="neigouThirdpartyAccessCheck" />
    </bean>
    <bean id="neigouThirdpartyAccessCheck"
		class="com.seeyon.apps.neigou.space.NeigouThirdpartyAccessCheck">
		<property name="accessNeigou">
		     <list>
		        <bean class="com.seeyon.apps.neigou.space.impl.CorpAccessEnableAndSynImpl">
				</bean>
		     </list>
		</property>
	</bean>
	<bean id="neigouPageURLBuilder" class="com.seeyon.apps.neigou.space.NeigouPageURLBuilder">
	    <property name="accessCheckMember">
		     <list>
		        <bean class="com.seeyon.apps.neigou.space.impl.AccessCheckMemberSynImpl">
				</bean>
				  <bean class="com.seeyon.apps.neigou.space.impl.AccessCheckMemberTimeLimitedImpl">
				</bean>
		     </list>
		</property>
	</bean>
	<bean id="neigouSSOMemberEventListener" class="com.seeyon.apps.neigou.event.NeigouSSOMemberEventListener">
	</bean>
	
</beans>