<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="neigouPointManager" class="com.seeyon.apps.neigou.manager.NeigouPointManagerImpl"></bean>
	<bean id="neigouCorpinforManager" class="com.seeyon.apps.neigou.manager.NeigouCorpinforManagerImpl"></bean>
	<bean id="neigouBenefitLedgerManager" class="com.seeyon.apps.neigou.manager.NeigouBenefitLedgerManagerImpl"></bean>
	<bean id="neigouOrgEntityUpdateListener" class="com.seeyon.apps.neigou.listener.OrgEntityUpdateListener"></bean>
	<bean id="neigouSynLogManager" class="com.seeyon.apps.neigou.manager.NeigouSynLogManagerImpl"></bean>
	<bean id="autopassManager" class="com.seeyon.apps.neigou.autopass.manager.AutopassManagerImpl"></bean>
	<bean id="autopassQuartDeal" class="com.seeyon.apps.neigou.autopass.listener.AutopassQuartDeal"></bean>
	<bean id="pendingqkjcEventListener" class="com.seeyon.apps.neigou.autopass.listener.PendingqkjcEventListener" init-method="init"></bean>
	<bean id="neigouBeforeEventImpl" class="com.seeyon.apps.neigou.autopass.listener.NeigouBeforeEventImpl"></bean>
	<bean id="neigouSynOrgManager" class="com.seeyon.apps.neigou.manager.NeigouSynOrgManagerImpl"></bean>
	<bean id="neigouScheduleTaskManager" class="com.seeyon.apps.neigou.task.NeigouScheduleTaskManagerImpl"></bean>
	<bean id="neigouSyncQueryQuartz" class="com.seeyon.apps.neigou.task.NeigouSyncQueryQuartz"></bean>
	<bean id="neigouBenefitLedgerQuartz" class="com.seeyon.apps.neigou.task.NeigouBenefitLedgerQuartz"></bean>
	<bean id="neigouUpdateFormPointQuartz" class="com.seeyon.apps.neigou.task.NeigouUpdateFormPointQuartz"></bean>
	<bean id="extendedMessageSystem_neigou" class="com.seeyon.ctp.common.usermessage.extended.ExtendedMessageSystemImpl">
        <property name="applicationCategory" value="12111" />
        <property name="displayName" value="neigou.messageSystem.displayName" />
        <property name="i18NResource" value="com.seeyon.apps.neigou.i18n.neigouResources" />
    </bean>
</beans>