<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/neigou/neigouCorpinforController.do" class="com.seeyon.apps.neigou.controller.NeigouCorpinforController"></bean>
	<bean name="/neigou/neigouSynOperationController.do" class="com.seeyon.apps.neigou.controller.NeigouSynOperationController"></bean>
	<bean name="/neigou/neigouSynLogController.do" class="com.seeyon.apps.neigou.controller.NeigouSynLogController"></bean>
	<bean name="/neigou/neigouSSOController.do" class="com.seeyon.apps.neigou.controller.NeigouSSOController"></bean>
	<bean name="/neigou/neigouPointController.do" class="com.seeyon.apps.neigou.controller.NeigouPointController"></bean>
	<bean name="/neigou/neigouBenefitLedgerController.do" class="com.seeyon.apps.neigou.controller.NeigouBenefitLedgerController"></bean>
</beans>