<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="u8VoucherDefinition" class="com.seeyon.apps.u8voucher.U8VoucherDefinition" init-method="init">
    	<property name="itemMap">
            <map>
                <entry key="部门核算" value="dept_id" />
                <entry key="个人往来" value="personnel_id" />
                <entry key="客户往来" value="cust_id" />
                <entry key="供应商往来" value="supplier_id" />
                <entry key="项目核算" value="item_id" />
                <entry key="自定义项1" value="self_define1" />
                <entry key="自定义项2" value="self_define2" />
                <entry key="自定义项3" value="self_define3" />
                <entry key="自定义项4" value="self_define4" />
                <entry key="自定义项5" value="self_define5" />
                <entry key="自定义项6" value="self_define6" />
                <entry key="自定义项7" value="self_define7" />
                <entry key="自定义项8" value="self_define8" />
                <entry key="自定义项9" value="self_define9" />
                <entry key="自定义项10" value="self_define10" />
                <entry key="自定义项11" value="self_define11" />
                <entry key="自定义项12" value="self_define12" />
                <entry key="自定义项13" value="self_define13" />
                <entry key="自定义项14" value="self_define14" />
                <entry key="自定义项15" value="self_define15" />
                <entry key="自定义项16" value="self_define16" />
            </map>
        </property>
    	<property name="assistMap">
            <map>
                <entry value="dept_id" key="bdept" />
                <entry value="personnel_id" key="bperson" />
                <entry value="cust_id" key="bcus" />
                <entry value="supplier_id" key="bsup" />
                <entry value="item_id" key="bitem" />
                <entry value="item_class" key="cass_item" />
                <entry value="self_define1" key="bcDefine1" />
                <entry value="self_define2" key="bcDefine2" />
                <entry value="self_define3" key="bcDefine3" />
                <entry value="self_define4" key="bcDefine4" />
                <entry value="self_define5" key="bcDefine5" />
                <entry value="self_define6" key="bcDefine6" />
                <entry value="self_define7" key="bcDefine7" />
                <entry value="self_define8" key="bcDefine8" />
                <entry value="self_define9" key="bcDefine9" />
                <entry value="self_define10" key="bcDefine10" />
                <entry value="self_define11" key="bcDefine11" />
                <entry value="self_define12" key="bcDefine12" />
                <entry value="self_define13" key="bcDefine13" />
                <entry value="self_define14" key="bcDefine14" />
                <entry value="self_define15" key="bcDefine15" />
                <entry value="self_define16" key="bcDefine16" />
            </map>
        </property>
    </bean>
</beans>