<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--调查部门-->
	<bean id="inquiryDepartment" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="部门调查"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptInquiryIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="department"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												u.id AS orgid,
												r.sendnum AS sendnum
											FROM
												org_unit u
											LEFT JOIN(
												SELECT
													m.ORG_DEPARTMENT_ID AS orgId,
													COUNT(s.id)AS sendnum
												FROM
													INQUIRY_SURVEYBASIC s
												LEFT JOIN ORG_MEMBER m ON s.ISSUER_ID = m.id
												WHERE
													s.CENSOR IN(8, 5, 10)
												and s.ISSUE_DATE BETWEEN :startTime
												and :endTime
												and m.IS_DELETED = 0
												and m.is_internal=1
												and m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												and m.ORG_DEPARTMENT_ID != - 1
												GROUP BY
													m.ORG_DEPARTMENT_ID
											)r ON u.id = r.orgId
											where 
												u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收到调查数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											m.ORG_DEPARTMENT_ID AS orgid,
											count(affair.id)AS receivenum
										FROM
											inquiry_affair affair,
											org_unit u,
											org_member m
										WHERE
											affair.IS_DELETE IN(0, 1, 2)
										and affair.create_date BETWEEN :startTime and :endTime
										and u.id = affair.ORG_DEPARTMENT_ID
										and u.IS_DELETED = 0
										and u.IS_ENABLE = 1
										and u.IS_INTERNAL = 1
										and m.id=affair.member_id
										and m.IS_DELETED = 0
										and m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										and m.is_internal=1
										and m.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="回复调查数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											m.ORG_DEPARTMENT_ID AS orgid,
											count(affair.id)AS votenum
										FROM
											inquiry_affair affair,
											org_unit u,
											org_member m
										WHERE
											affair.IS_DELETE IN(0, 1, 2)
										and affair.state = 4
										and affair.create_date BETWEEN :startTime and :endTime
										and affair.VOTE_DATE BETWEEN :startTime and :endTime
										and u.id = affair.ORG_DEPARTMENT_ID
										and u.IS_DELETED = 0
										and u.IS_ENABLE = 1
										and u.IS_INTERNAL = 1
										and m.id=affair.member_id
										and m.IS_DELETED = 0
										and m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										and m.is_internal=1
										and m.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均回复时长"></property>
					<property name="name" value="inquiryDepartmentVoteRatio"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgid,
												affair.OBJECT_ID AS SURVEYBASIC_ID,
												affair.VOTE_DATE AS votedate,
												affair.CREATE_DATE AS receivedate
											FROM
												inquiry_affair affair,
												org_unit u,
												org_member m
											WHERE
												affair.IS_DELETE IN(0, 1, 2)
											and affair.state = 4
											and affair.create_date BETWEEN :startTime and :endTime
											and affair.VOTE_DATE BETWEEN :startTime and :endTime
											and u.id = affair.ORG_DEPARTMENT_ID
											and u.IS_DELETED = 0
											and u.IS_ENABLE = 1
											and u.IS_INTERNAL = 1
											and m.id=affair.member_id
											and m.IS_DELETED = 0
											and m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											and m.ORG_DEPARTMENT_ID != - 1

										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="未回复调查数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID as orgid,
												count(affair.id) as unvotenum
											FROM
												inquiry_affair affair,
												org_unit u,
												org_member m
											WHERE
												affair.is_delete=0
											and	affair.create_date <=:endTime
											and (
													affair.state=3
													or affair.vote_date>:endTime
												)
											and u.id=affair.ORG_DEPARTMENT_ID
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											and m.id=affair.member_id
											and m.IS_DELETED = 0
											and m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											and m.ORG_DEPARTMENT_ID != - 1
											group by 
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName" value="com.seeyon.apps.dashboard.InquiryIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="inquiryDepartmentVoteRatio" value="getInquiryVoteRatio"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	<!--调查人员-->
	<bean id="inquiryMember" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="人员调查"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptInquiryIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="member"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											select 
												m.id as orgId,
												r.sendnum as orgId
											from 
												org_member m
											left join(
												SELECT
													s.ISSUER_ID AS orgId,
													COUNT(s.id)AS sendnum
												FROM
													INQUIRY_SURVEYBASIC s
												WHERE
													s.CENSOR in(8,5,10)
												and s.ISSUE_DATE BETWEEN :startTime
												and :endTime
												GROUP BY
													s.ISSUER_ID
											)r on m.id=r.orgId
											where 
												m.IS_DELETED = 0
											and m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											and m.ORG_DEPARTMENT_ID != - 1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收到调查数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												affair.MEMBER_ID as orgid,
												count(affair.id) as receivenum
											FROM
												inquiry_affair affair,
												org_member m
											WHERE
												affair.IS_DELETE IN(0,1,2)
											and affair.create_date BETWEEN :startTime and :endTime
											and m.id = affair.MEMBER_ID
											and m.IS_DELETED = 0
											and m.state = 1
											and m.IS_ASSIGNED = 1
											and m.IS_ENABLE = 1
											and m.is_internal = 1
											and m.ORG_DEPARTMENT_ID != - 1
											group by 
												affair.MEMBER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="回复调查数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												affair.MEMBER_ID as orgid,
												count(affair.id) as votenum
											FROM
												inquiry_affair affair,
												org_member m
											WHERE
												affair.IS_DELETE IN(0,1,2)
											and affair.state=4
											and affair.create_date BETWEEN :startTime and :endTime
											and affair.VOTE_DATE BETWEEN :startTime and :endTime
											and m.id = affair.MEMBER_ID
											and m.IS_DELETED = 0
											and m.state = 1
											and m.IS_ASSIGNED = 1
											and m.IS_ENABLE = 1
											and m.is_internal = 1
											and m.ORG_DEPARTMENT_ID != - 1
											group by 
												affair.MEMBER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均回复时长"></property>
					<property name="name" value="inquiryMemberVoteRatio"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												affair.MEMBER_ID as orgid,
												affair.OBJECT_ID as SURVEYBASIC_ID,
												affair.VOTE_DATE as votedate,
												affair.CREATE_DATE as receivedate
											FROM
												inquiry_affair affair,
												org_member m
											WHERE
												affair.IS_DELETE IN(0,1,2)
											and affair.state=4
											and affair.create_date BETWEEN :startTime and :endTime
											and affair.VOTE_DATE BETWEEN :startTime and :endTime
											and m.id = affair.MEMBER_ID
											and m.IS_DELETED = 0
											and m.state = 1
											and m.IS_ASSIGNED = 1
											and m.IS_ENABLE = 1
											and m.is_internal = 1
											and m.ORG_DEPARTMENT_ID != - 1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="未回复调查数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												affair.MEMBER_ID as orgid,
												count(affair.id) as unvotenum
											FROM
												inquiry_affair affair,
												org_member m
											WHERE
												affair.is_delete=0
											and	affair.create_date <=:endTime
											and (
													affair.state=3
													or affair.vote_date>:endTime
												)
											and m.id = affair.MEMBER_ID
											and m.IS_DELETED = 0
											and m.state = 1
											and m.IS_ASSIGNED = 1
											and m.IS_ENABLE = 1
											and m.is_internal = 1
											and m.ORG_DEPARTMENT_ID != - 1
											group by 
												affair.MEMBER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName" value="com.seeyon.apps.dashboard.InquiryIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="inquiryMemberVoteRatio" value="getInquiryVoteRatio"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
</beans>