<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--知识社区单位-->
	<bean id="knowledgeMember" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="人员知识社区"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptKnowledgeIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="member"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="新增文档数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id AS orgid,
												r.adddocumentnum AS adddocumentnum
											FROM
												org_member m
											LEFT JOIN(
												SELECT
													dr.create_user_id AS orgid,
													COUNT(dr.id)AS adddocumentnum
												FROM
													DOC_RESOURCES dr,
													DOC_LIBS dl
												WHERE
													dr.doc_Lib_Id = dl.id
												AND dl.type <> 1
												AND dr.FR_TYPE NOT IN(31, 38, 39, 48, 52)
												AND dr.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													dr.create_user_id
											)r ON r.orgid = m.ID
											WHERE
												m.IS_DELETED = 0
											and m.is_internal=1
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="文档被阅读数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												dr.create_User_Id AS orgid,
												COUNT(da.id)AS bereadnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												org_member m
											WHERE
												dr.id = da.subject_Id
											and m.id=dr.create_User_Id
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Type = 3
											AND da.action_Time BETWEEN :startTime
											AND :endTime
											GROUP BY
												dr.create_User_Id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="被评论/评分次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												dr.create_User_Id AS orgid,
												COUNT(da.id)AS becommentnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												org_member m
											WHERE
												dr.id = da.subject_Id
											and m.id=dr.create_User_Id
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Type in(14,15)
											AND da.action_Time BETWEEN :startTime
											AND :endTime
											GROUP BY
												dr.create_User_Id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收藏数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT new map(da.actionUserId as orgid,count(da.id) as collectnum) from DocActionPO da,OrgMember m where m.id=da.actionUserId and m.deleted=0 and m.state=1 and m.assigned=1 and m.enable=1 and m.internal=1 and m.orgDepartmentId!=-1 and da.actionType = 12 and da.actionTime BETWEEN :startTime AND :endTime GROUP BY da.actionUserId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="下载文档数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												da.ACTION_USER_ID AS orgid,
												COUNT(da.id)AS downloadnum
											FROM
												DOC_ACTION da,
												org_member m
											WHERE
												da.action_Type = 2
											and m.id=da.ACTION_USER_ID
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Time BETWEEN :startTime
											AND :endTime
											GROUP BY
												da.ACTION_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="阅读文档次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												da.ACTION_USER_ID AS orgid,
												COUNT(da.id)AS readnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												org_member m
											WHERE
												dr.id = da.subject_Id
											and m.id=da.ACTION_USER_ID
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Type = 3
											AND da.action_Time BETWEEN :startTime
											AND :endTime
											GROUP BY
												da.ACTION_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="评论/评分次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												da.ACTION_USER_ID AS orgid,
												COUNT(da.id)AS commentnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												org_member m
											WHERE
												dr.id = da.subject_Id
											and m.id=da.ACTION_USER_ID
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Type IN(14, 15)
											AND da.action_Time BETWEEN :startTime
											AND :endTime
											GROUP BY
												da.ACTION_USER_ID 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!--知识社区部门-->
	<bean id="knowledgeDepartment" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="部门知识社区"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptKnowledgeIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="department"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="新增文档数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												u.id AS orgid,
												r.adddocumentnum AS adddocumentnum
											FROM
												org_unit u
											LEFT JOIN(
												SELECT
													m.ORG_DEPARTMENT_ID AS orgid,
													COUNT(dr.id)AS adddocumentnum
												FROM
													DOC_RESOURCES dr,
													DOC_LIBS dl,
													ORG_MEMBER m
												WHERE
													dr.doc_Lib_Id = dl.id
												AND dl.type <> 1
												AND dr.CREATE_USER_ID = m.id
												AND m.IS_DELETED = 0
												and m.is_internal=1
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												AND m.ORG_DEPARTMENT_ID != - 1
												AND dr.FR_TYPE NOT IN(31, 38, 39, 48, 52)
												AND dr.create_time BETWEEN :startTime
												AND :endTime
												GROUP BY
													m.ORG_DEPARTMENT_ID
											)r ON u.id = r.orgId
											where 
												u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="文档被阅读数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgid,
												COUNT(da.id)AS bereadnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												ORG_MEMBER m,
												org_unit u
											WHERE
												dr.id = da.subject_Id
											and dr.CREATE_USER_ID=m.id
											AND da.action_Type = 3
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Time BETWEEN :startTime AND :endTime
											and u.id=m.ORG_DEPARTMENT_ID
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="阅读文档次数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												COUNT(da.id)AS readnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												ORG_MEMBER m,
												org_unit u
											WHERE
												dr.id = da.subject_Id
											AND da.action_Type = 3
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and m.id=da.ACTION_USER_ID
											AND da.action_Time BETWEEN :startTime AND :endTime
											and u.id=m.org_department_id
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收藏数  "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT new map(om.orgDepartmentId as orgid,count(da.id) as collectnum) from DocActionPO da,OrgMember om,OrgUnit u where u.id=om.orgDepartmentId and da.actionUserId = om.id and om.deleted=0 and om.state=1 and om.assigned=1 and om.enable=1 and om.internal=1 and om.orgDepartmentId!=-1 and da.actionType = 12 and da.actionTime BETWEEN :startTime AND :endTime and u.deleted=0	and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="下载文档数  "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgid,
												COUNT(da.id)AS downloadnum
											FROM
												DOC_ACTION da,
												ORG_MEMBER m,
												org_unit u
											WHERE
												m.ID = da.ACTION_USER_ID
											and u.id=m.ORG_DEPARTMENT_ID
											AND da.action_Type = 2
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Time between :startTime and :endTime
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="被评论/评分次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgid,
												COUNT(da.id)AS becommentnum
											FROM
												DOC_RESOURCES dr,
												DOC_ACTION da,
												ORG_MEMBER m,
												org_unit u
											WHERE
												dr.id = da.subject_Id
											and u.id=m.ORG_DEPARTMENT_ID
											AND da.action_Type in(14,15)
											and m.id=dr.CREATE_USER_ID
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND da.action_Time BETWEEN :startTime AND :endTime
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="评论/评分次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											m.ORG_DEPARTMENT_ID AS orgid,
											COUNT(da.id)AS commentnum
										FROM
											DOC_RESOURCES dr,
											DOC_ACTION da,
											ORG_MEMBER m,
											org_unit u
										WHERE
											dr.id = da.subject_Id
										and u.id=m.ORG_DEPARTMENT_ID
										and m.ID=da.ACTION_USER_ID
										AND da.action_Type IN(14, 15)
										and m.IS_DELETED = 0
										and m.is_internal=1
										AND m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										AND m.ORG_DEPARTMENT_ID != - 1
										AND da.action_Time BETWEEN :startTime AND :endTime
										and u.IS_DELETED=0
										and u.IS_ENABLE=1
										and u.IS_INTERNAL=1
										GROUP BY
											m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>