<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 行为绩效controller -->
 	<bean name="/behavioranalysis.do" class="com.seeyon.apps.behavioranalysis.controller.BehavioranalysisController"></bean>
</beans>