<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--秀部门-->
	<bean id="showDepartment" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="部门大秀"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptShowIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="department"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起主题数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												u.id AS orgid,
												r.showbarsendNum AS showbarsendNum
											FROM
												org_unit u
											LEFT JOIN(
												SELECT
													m.ORG_DEPARTMENT_ID AS orgId,
													count(bar.id)AS showbarsendNum
												FROM
													SHOWBAR_INFO bar
												LEFT JOIN ORG_MEMBER m ON m.ID = bar.CREATE_USER_ID
												WHERE
													bar. STATUS IN(1, 2)
												AND bar.CREATE_TIME BETWEEN :startTime AND :endTime
												AND m.IS_DELETED = 0
												and m.is_internal=1
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												AND m.ORG_DEPARTMENT_ID != - 1
												GROUP BY
													m.ORG_DEPARTMENT_ID
											)r ON u.id = r.orgId
											where 
												u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="增加秀数  "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgId,
												COUNT(post.id)AS showpostsendNum
											FROM
												SHOWPOST_INFO post
											left join ORG_MEMBER m on m.ID=post.CREATE_USER_ID
											left join org_unit u on u.id=m.ORG_DEPARTMENT_ID
											WHERE 
												post.status=1 
											and post.CREATE_TIME BETWEEN :startTime AND :endTime
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="评论数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgId,
												SUM(r.num)AS showcommentnum
											FROM
												(
													SELECT
														c.REPLY_ID as user_id,
														count(c.id)AS num
													FROM
														SHOW_COMMENT c,
														showpost_info info,
														showbar_info bar
													WHERE
														c.SHOW_POST_ID=info.ID
													and info.SHOWBAR_ID=bar.ID
													and bar.status in(1,2)
													and c.CREATE_TIME BETWEEN :startTime and :endTime
													GROUP BY
														c.REPLY_ID
												)r
											left join ORG_MEMBER m on m.ID=r.user_id
											left join org_unit u on u.id=m.ORG_DEPARTMENT_ID
											where 
											 m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="点赞数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgId,
												SUM(r.num)AS showpraisenum
											FROM
												(
													SELECT
														praise.CREATE_ID as user_id,
														COUNT(praise.id) as num
													FROM
														SHOW_PRAISE praise,
														showpost_info info,
														showbar_info bar
													WHERE
													info.ID=praise.PRAISE_ID
													and info.SHOWBAR_ID=bar.ID
													and bar.status in(1,2)
													and praise.CREATE_TIME BETWEEN :startTime and :endTime
													GROUP BY
														praise.CREATE_ID
												)r
											left join ORG_MEMBER m on m.ID=r.user_id
											left join org_unit u on u.id=m.ORG_DEPARTMENT_ID
											where 
											 m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="获赞数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.ORG_DEPARTMENT_ID AS orgid,
												count(s.ID)AS receivepraisenum
											FROM
												showpost_info p
											left join showbar_info bar on bar.id=p.showbar_id
											LEFT JOIN show_praise s ON s.PRAISE_ID = p.ID
											LEFT JOIN org_member m ON p.CREATE_USER_ID = m.id
											left join org_unit u on u.id=m.ORG_DEPARTMENT_ID
											WHERE 
												bar.status in(1,2) 
											and s.CREATE_TIME BETWEEN :startTime AND :endTime
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!--大秀人员-->
	<bean id="showMember" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="人员大秀"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptShowIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="member"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起主题数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id AS orgId,
												r.showbarsendNum AS showbarsendNum
											FROM
												org_member m
											LEFT JOIN(
												SELECT
													bar.CREATE_USER_ID AS orgId,
													count(bar.id)AS showbarsendNum
												FROM
													SHOWBAR_INFO bar
												WHERE
													bar. STATUS IN(1, 2)
												AND bar.CREATE_TIME BETWEEN :startTime and :endTime
												GROUP BY
													bar.CREATE_USER_ID
											)r ON r.orgId = m.ID
											WHERE
												m.IS_DELETED = 0
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and m.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起秀数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												post.CREATE_USER_ID AS orgId,
												COUNT(post.id)AS showpostsendNum
											FROM
												SHOWPOST_INFO post,
												org_member m
											WHERE
												post.status=1
											and m.id=post.CREATE_USER_ID
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and post.CREATE_TIME BETWEEN :startTime AND :endTime
											GROUP BY
												post.CREATE_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="评论数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												r.user_id AS orgId,
												SUM(r.num)AS showcommentnum
											FROM
												(
													SELECT
														c.REPLY_ID AS user_id,
														COUNT(c.id)AS num
													FROM
														SHOW_COMMENT c,
														showpost_info info,
														showbar_info bar
													WHERE
														c.SHOW_POST_ID=info.ID
													and info.SHOWBAR_ID=bar.ID
													and bar.status in(1,2)
													and	c.CREATE_TIME BETWEEN :startTime and :endTime
													GROUP BY
														c.REPLY_ID
												)r
											left join org_member m on m.id=r.user_id
											where 
												m.IS_DELETED = 0
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											GROUP BY
												r.user_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="点赞数 "></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												r.user_id AS orgId,
												SUM(r.num)AS showpraisenum
											FROM
												(
													SELECT
														praise.CREATE_ID AS user_id,
														COUNT(praise.id)AS num
													FROM
														SHOW_PRAISE praise,
														showpost_info info,
														showbar_info bar
													WHERE
													info.ID=praise.PRAISE_ID
													and info.SHOWBAR_ID=bar.ID
													and bar.status in(1,2)
													and	praise.CREATE_TIME BETWEEN :startTime and :endTime
													GROUP BY
														praise.CREATE_ID
												)r
											left join org_member m on m.id=r.user_id
											where 
												m.IS_DELETED = 0
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											GROUP BY
												r.user_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="秀出照片数最多的秀吧 "></property>
					<property name="name" value="showbarNameByPhotoNum"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												s.CREATE_USER_ID AS orgid,
												s.SHOWBAR_ID AS showbarid,
												count(s.id)AS showphotonum,
												max(b.SHOWBAR_NAME) AS showbarname
											FROM
												show_image s
											left join org_member m on m.id=s.CREATE_USER_ID
											LEFT JOIN showbar_info b ON s.SHOWBAR_ID = b.ID
											WHERE
												s.CREATE_USER_ID IS NOT NULL
											and s.SHOWBAR_ID not in(0,-1)
											and b.status in(1,2)
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and s.CREATE_TIME BETWEEN :startTime and :endTime
											GROUP BY
												s.CREATE_USER_ID,
												s.SHOWBAR_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="秀出照片数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												s.CREATE_USER_ID AS orgid,
												count(s.id)AS showphotonum
											FROM
												show_image s
											left join org_member m on m.id=s.CREATE_USER_ID
											LEFT JOIN showbar_info b ON s.SHOWBAR_ID = b.ID
											WHERE
												s.CREATE_USER_ID IS NOT NULL
											and s.SHOWBAR_ID not in(0,-1)
											and b.status in(1,2)
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and s.CREATE_TIME BETWEEN :startTime and :endTime
											GROUP BY
												s.CREATE_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="获赞数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
												SELECT
													p.CREATE_USER_ID AS orgid,
													count(s.ID) AS receivepraisenum
												FROM
													show_praise s
												LEFT JOIN showpost_info p ON s.PRAISE_ID = p.ID
												left join org_member m on m.id=p.CREATE_USER_ID
												left join showbar_info bar on bar.id=p.showbar_id
												where bar.status in(1,2) and s.CREATE_TIME BETWEEN :startTime and :endTime
												and m.IS_DELETED = 0
												and m.is_internal=1
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												AND m.ORG_DEPARTMENT_ID != - 1
												GROUP BY
													p.CREATE_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName" value="com.seeyon.apps.dashboard.ShowIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="showbarNameByPhotoNum" value="getMaxShowBarName"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
</beans>