<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 指标采集manager -->
	<bean id="reportIndexCollectorManager" class="com.seeyon.apps.dashboard.manager.ReportIndexCollectorManagerImpl"></bean>
	<!-- 行为授权manager -->
	<bean id="behaviorAuthManager" class="com.seeyon.apps.behavioranalysis.manager.BehaviorAuthManagerImpl"></bean>
	<!-- 行为绩效ajax -->
	<bean id="behavioranalysisAjaxManager" class="com.seeyon.apps.behavioranalysis.manager.BehavioranalysisAjaxManagerImpl"></bean>
	<!-- 行为绩效manager -->
	<bean id="behavioranalysisDataManager" class="com.seeyon.apps.behavioranalysis.manager.BehavioranalysisDataManagerImpl"></bean>
	<!-- 行为绩效积分接口 -->
	<bean id="rptIndexScoreManager" class="com.seeyon.apps.dashboard.manager.RptIndexScoreManagerImpl"></bean>
	<!-- 积分设置 -->
	<bean id="indexScoreSetManager" class="com.seeyon.apps.dashboard.manager.IndexScoreSetManagerImpl"></bean>
	
	<!-- 消息过滤 -->
	<bean id="userMessageFilterImplBehavioranalysis" class="com.seeyon.ctp.common.usermessage.UserMessageFilterImplBehavioranalysis"></bean>
	
	<!--行为绩效单位/部门统一manager  -->
	<bean id="behaviorIndexCommonManager" class="com.seeyon.apps.behavioranalysis.manager.BehaviorIndexCommonManagerImpl"></bean>
</beans>