<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--模版协同部门指标 -->
	<bean id="templeteCollaborationDepartment" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="部门模板协同"></property>
		<property name="po"
			value="com.seeyon.apps.dashboard.po.RptTemplateIndex"></property>
		<property name="type">
			<map>
				<entry key="orgType" value="department"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												u.id AS orgid,
												r.sendnum AS sendnum
											FROM
												org_unit u
											LEFT JOIN(
												SELECT
													m.org_department_id AS orgid,
													count(ca.OBJECT_ID)AS sendnum
												FROM
													ctp_affair ca,
													ORG_MEMBER m
												WHERE
													ca.SENDER_ID = m.id
												AND ca.STATE = 2
												AND ca.CREATE_DATE BETWEEN :startTime
												AND :endTime
												AND ca.TEMPLETE_ID IS NOT NULL
												AND m.IS_DELETED = 0
												and m.is_internal=1
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												AND m.ORG_DEPARTMENT_ID != - 1
												GROUP BY
													m.org_department_id
											)r ON u.id = r.orgid
											where 
												u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收到数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.orgDepartmentId as orgid,count(ca.id) as receivenum) FROM CtpAffair ca,OrgMember om,OrgUnit u WHERE u.id=om.orgDepartmentId and ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1  and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state in (3,4)  AND ca.receiveTime BETWEEN :startTime AND :endTime and u.deleted=0 and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="处理次数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.orgDepartmentId as orgid,count(ca.id) as handlenum) FROM CtpAffair ca,OrgMember om,OrgUnit u WHERE u.id=om.orgDepartmentId and ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4  AND ca.completeTime BETWEEN :startTime AND :endTime and u.deleted=0	and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均处理时长 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.orgDepartmentId as orgid,max(ca.runWorktime) as handlemaxtime,min(ca.runWorktime) as handlemintime,sum(ca.runWorktime) as handlesumtime,avg(ca.runWorktime) as handleavgtime ) FROM CtpAffair ca,OrgMember om,OrgUnit u WHERE u.id=om.orgDepartmentId and ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.completeTime BETWEEN :startTime AND :endTime and u.deleted=0 and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="超期处理数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.orgDepartmentId as orgid,count(ca.id) as overhandlenum) FROM CtpAffair ca,OrgMember om,OrgUnit u WHERE u.id=om.orgDepartmentId and ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.coverTime = 1 AND ca.completeTime BETWEEN :startTime AND :endTime and u.deleted=0	and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均超期时长"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.orgDepartmentId as orgid,max(ca.overWorktime) as overhandlemaxtime,min(ca.overWorktime) as overhandlemintime,sum(ca.overWorktime) as overhandlesumtime,avg(ca.overWorktime) as overhandleavgtime) FROM CtpAffair ca,OrgMember om,OrgUnit u WHERE u.id=om.orgDepartmentId and ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1  and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.coverTime = 1 AND ca.completeTime BETWEEN :startTime AND :endTime and u.deleted=0	and u.enable=1 and u.internal=1 GROUP BY om.orgDepartmentId
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="未处理数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												new map(
													om.orgDepartmentId AS orgid,
													COUNT(ca.id)AS pendingnum
												)
											FROM
												CtpAffair ca,
												OrgMember om,
												OrgUnit u
											WHERE
												ca.memberId = om.id
											AND ca.templeteId IS NOT NULL
											AND ca.app IN(1, 19, 20, 21)
											AND(
												(
													ca.receiveTime <=:endTime
													AND ca.completeTime > :endTime
												)
												or(
													ca.receiveTime <=:endTime
													and ca.state = 3
													AND ca.completeTime IS NULL
												)
											)
											and om.deleted=0 
											and om.state=1 
											and om.internal=1
											and om.assigned=1 
											and om.enable=1
											and om.orgDepartmentId!=-1
											and u.id=om.orgDepartmentId
											and u.deleted=0
											and u.enable=1
											and u.internal=1
											GROUP BY
												om.orgDepartmentId
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="超期未处理数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												new map(
													om.orgDepartmentId AS orgid,
													COUNT(ca.id)AS overpendingnum
												)
											FROM
												CtpAffair ca,
												OrgMember om,
												OrgUnit u
											WHERE
												ca.memberId = om.id
											AND ca.templeteId IS NOT NULL
											AND ca.app IN(1, 19, 20, 21)
											AND ca.coverTime = 1
											AND(
												(
													ca.receiveTime <=:endTime
													AND ca.completeTime > :endTime
												)
												or(
													ca.receiveTime <=:endTime
													and ca.state = 3
													AND ca.completeTime IS NULL
												)
											)
											and om.deleted=0 
											and om.state=1 
											and om.assigned=1 
											and om.enable=1
											and om.internal=1
											and om.orgDepartmentId!=-1
											and u.id=om.orgDepartmentId 
											and u.deleted=0
											and u.enable=1
											and u.internal=1
											GROUP BY
												om.orgDepartmentId 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="获得赞数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
												SELECT
													m.ORG_DEPARTMENT_ID AS orgid,
													COUNT(a.id)AS receivelikenum
												FROM
													Ctp_Comment_All cca,
													Ctp_affair a,
													org_member m,
													org_unit u
												WHERE
													a.object_id = cca.module_Id
												AND a.sender_id = m.id
												AND m.IS_DELETED = 0
												and m.is_internal=1
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												AND m.ORG_DEPARTMENT_ID != - 1
												AND a.templete_Id IS NOT NULL
												AND cca.ctype = 0
												AND a.state IN(2)
												AND cca.praise_To_Summary = 1
												AND cca.create_Date BETWEEN :startTime and :endTime
												and u.id=m.ORG_DEPARTMENT_ID
												and u.IS_DELETED=0
												and u.IS_ENABLE=1
												and u.IS_INTERNAL=1
												GROUP BY
													m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!--模版协同人员指标 -->
	<bean id="templeteCollaborationMember" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="人员模板协同"></property>
		<property name="po"
			value="com.seeyon.apps.dashboard.po.RptTemplateIndex"></property>
		<property name="type">
			<map>
				<entry key="orgType" value="member"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											select 
												m.id as orgid,
												r.sendnum as sendnum
											from org_member m 
											left join(
												SELECT
													ca.SENDER_ID as orgid,
													count(ca.OBJECT_ID) as sendnum
												FROM
													ctp_affair ca
												WHERE
													ca.STATE=2
												and ca.CREATE_DATE BETWEEN :startTime
												and :endTime
												and ca.TEMPLETE_ID is not null
												group by 
													ca.SENDER_ID
											)r on r.orgid=m.id
											where 
												m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and m.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="收到数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.id as orgid,count(ca.id) as receivenum) FROM CtpAffair ca,OrgMember om WHERE ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state in (3,4) AND ca.receiveTime BETWEEN :startTime AND :endTime GROUP BY om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="处理次数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.id as orgid,count(ca.id) as handlenum) FROM CtpAffair ca,OrgMember om WHERE ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.completeTime BETWEEN :startTime AND :endTime  GROUP BY om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均处理时长  "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.id as orgid,max(ca.runWorktime) as handlemaxtime,min(ca.runWorktime) as handlemintime,sum(ca.runWorktime) as handlesumtime,avg(ca.runWorktime) as handleavgtime ) FROM CtpAffair ca,OrgMember om WHERE ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.completeTime BETWEEN :startTime AND :endTime  GROUP BY om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="超期处理数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.id as orgid,count(ca.id) as overhandlenum) FROM CtpAffair ca,OrgMember om WHERE ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.coverTime = 1 AND ca.completeTime BETWEEN :startTime AND :endTime  GROUP BY om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="平均超期时长"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT new map(om.id as orgid,max(ca.overWorktime) as overhandlemaxtime,min(ca.overWorktime) as overhandlemintime,sum(ca.overWorktime) as overhandlesumtime,avg(ca.overWorktime) as overhandleavgtime) FROM CtpAffair ca,OrgMember om WHERE ca.memberId = om.id and om.deleted=0 and om.internal=1 and om.state=1 and om.assigned=1 and om.enable=1 and om.orgDepartmentId!=-1 AND ca.templeteId is not null AND ca.app in(1,19,20,21)  AND ca.state = 4 AND ca.coverTime = 1 AND ca.completeTime BETWEEN :startTime AND :endTime  GROUP BY om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="获得赞数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												a.sender_id AS orgid,
												COUNT(a.id)AS receivelikenum
											FROM
												Ctp_Comment_All cca,
												Ctp_affair a,
												org_member m
											WHERE
												a.object_id = cca.module_Id
											AND a.sender_id = m.id
											AND m.IS_DELETED = 0
											and m.is_internal=1
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND a.templete_Id IS NOT NULL
											AND cca.ctype = 0
											AND a.state IN(2)
											AND cca.praise_To_Summary = 1
											AND cca.create_Date BETWEEN :startTime AND :endTime
											GROUP BY
												a.sender_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="未处理数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												new map(
													om.id AS orgid,
													COUNT(ca.id)AS pendingnum
												)
											FROM
												CtpAffair ca,
												OrgMember om
											WHERE
												ca.memberId = om.id
											AND ca.templeteId IS NOT NULL
											AND ca.app IN(1, 19, 20, 21)
											AND(
												(
													ca.receiveTime <=:endTime
													AND ca.completeTime > :endTime
												)
												or(
													ca.receiveTime <=:endTime
													and ca.state = 3
													AND ca.completeTime IS NULL
												)
											)
											and om.deleted=0 
											and om.internal=1
											and om.state=1 
											and om.assigned=1 
											and om.enable=1
											and om.orgDepartmentId!=-1
											GROUP BY
												om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="超期未处理数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="isHql" value="true"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												new map(
													om.id AS orgid,
													COUNT(ca.id)AS overpendingnum
												)
											FROM
												CtpAffair ca,
												OrgMember om
											WHERE
												ca.memberId = om.id
											AND ca.templeteId IS NOT NULL
											AND ca.app IN(1, 19, 20, 21)
											AND ca.coverTime = 1
											AND(
												(
													ca.receiveTime <=:endTime
													AND ca.completeTime > :endTime
												)
												or(
													ca.receiveTime <=:endTime
													and ca.state = 3
													AND ca.completeTime IS NULL
												)
											)
											and om.deleted=0 
											and om.internal=1
											and om.state=1 
											and om.assigned=1 
											and om.enable=1
											and om.orgDepartmentId!=-1
											GROUP BY
												om.id 
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="点赞数   "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
											SELECT
												cca.create_id AS orgid,
												count(a.id)AS collaborationlikenum
											FROM
												Ctp_Comment_All cca,
												Ctp_Affair a,
												org_member m
											WHERE
												a.object_Id = cca.module_Id
											AND a.state IN(2)
											AND a.APP IN(1, 2, 4, 19, 20, 21)
											AND a.templete_Id IS NOT NULL
											AND cca.ctype = 0
											AND cca.praise_To_Summary = 1
											AND cca.create_date BETWEEN :startTime AND :endTime
											and m.id=cca.create_id
											and m.IS_DELETED = 0
											and m.is_internal=1
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											AND m.ORG_DEPARTMENT_ID != - 1
											GROUP BY
												cca.create_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起模板最多"></property>
					<property name="name" value="userMoreTemplete"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
										SELECT
											a.sender_id AS orgid,
											a.TEMPLETE_ID AS usemoretempleteid,
											max(t. SUBJECT)AS usemoretempletename,
											count(a.id)AS num
										FROM
											ctp_affair a
										LEFT JOIN ctp_template t ON t.id = a.TEMPLETE_ID
										LEFT JOIN org_member o ON o.ID = a.sender_id
										WHERE
											a.TEMPLETE_ID IS NOT NULL
										AND a.create_date BETWEEN :startTime
										AND :endTime
										and a.STATE=2
										and o.IS_DELETED = 0
										and o.IS_INTERNAL=1
										AND o. state=1
										and o.IS_ASSIGNED=1
										and o.IS_ENABLE=1
										AND o.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											a.SENDER_ID,
											a.TEMPLETE_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="处理模板最多"></property>
					<property name="name" value="handMoreTemplete"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
										SELECT
											affair.MEMBER_ID AS orgid,
											affair.TEMPLETE_ID AS handmoretempleteid,
											max(t. SUBJECT)AS handmoretempletename,
											count(affair.ID)AS num
										FROM
											ctp_affair affair
										LEFT JOIN ctp_template t ON t.ID = affair.TEMPLETE_ID
										left join org_member m on m.id=affair.MEMBER_ID
										WHERE
											affair.TEMPLETE_ID IS NOT NULL
										AND affair.COMPLETE_TIME BETWEEN :startTime AND :endTime
										and affair.STATE=4
										and m.IS_DELETED = 0
										and m.is_internal=1
										AND m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										AND m.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											affair.MEMBER_ID,
											affair.TEMPLETE_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="使用 模板最多"></property>
					<property name="name" value="usemostTemplete"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgid"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<!-- 数据库版本 -->
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[ 
										SELECT
											A.MEMBER_ID AS orgid,
											A.TEMPLETE_ID AS usemosttempleteid,
											MAX(T .SUBJECT)AS usemosttempletename,
											COUNT(A . ID)AS num
										FROM
											ctp_affair A
										LEFT JOIN ctp_template T ON T . ID = A .TEMPLETE_ID
										LEFT JOIN org_member o ON o. ID = A .member_id
										WHERE
											A .TEMPLETE_ID IS NOT NULL
										AND(
											(
												A.STATE = 2
												AND A .create_date BETWEEN :startTime AND :endTime
											)
											OR(
												A.STATE = 4
												AND A .COMPLETE_TIME BETWEEN :startTime AND :endTime
											)
										)
										AND o.IS_DELETED = 0
										AND o.IS_INTERNAL = 1
										AND o.state = 1
										AND o.IS_ASSIGNED = 1
										AND o.IS_ENABLE = 1
										AND o.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											A .MEMBER_ID,
											A .TEMPLETE_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName"
					value="com.seeyon.apps.dashboard.TempleteIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="userMoreTemplete" value="getUserMoreTemplete"></entry>
						<entry key="handMoreTemplete" value="getHandMoreTemplete"></entry>
						<entry key="usemostTemplete" value="getUseMostTemplete"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
</beans>