<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--计划部门-->
	<bean id="planDepartment" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="部门计划"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptPlanIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="department"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												u.id AS orgid,
												r.sendnum AS sendnum
											FROM
												org_unit u
											LEFT JOIN(
												SELECT
													m.ORG_DEPARTMENT_ID AS orgid,
													COUNT(info.id)AS sendnum
												FROM
													PLAN_INFO info
												LEFT JOIN ORG_MEMBER m ON m.ID = info.CREATE_USER_ID
												WHERE
													info.CREATE_TIME BETWEEN :startTime
												AND :endTime
												AND info. STATUS IN(2, 3)
												AND m.IS_DELETED = 0
												AND m. state=1
												and m.IS_ASSIGNED=1
												and m.IS_ENABLE=1
												and m.is_internal=1
												AND m.ORG_DEPARTMENT_ID != - 1
												GROUP BY
													m.ORG_DEPARTMENT_ID
											)r ON u.id = r.orgId
											where 
												u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="总结数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgId,
												COUNT(r.REF_PLAN_ID)AS summaryplannum
											FROM
												(
													SELECT DISTINCT
														summary.REF_USER_ID AS orgId,
														summary.REF_PLAN_ID
													FROM
														PLAN_SUMMARY summary
													where summary.CREATE_TIME BETWEEN :startTime
													AND :endTime
												)r
											LEFT JOIN ORG_MEMBER m ON m.id = r.orgId
											left join org_unit u on u.id=m.org_department_id
											where 
												m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送,抄送计划收到数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id as orgid,
												SUM(
													CASE
													WHEN pu.type = 1 THEN
														1
													ELSE
														0
													END
												)as mainreceivenum,
												SUM(
													CASE
													WHEN pu.type = 2 THEN
														1
													ELSE
														0
													END
												)as copyreceivenum
											FROM
												PLAN_INFO p
											LEFT JOIN plan_relevant_user pu ON p.id = pu.REF_PLAN_ID
											left join ORG_MEMBER m on pu.REF_USER_ID=m.ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												p.status != 1
											and p.CREATE_TIME between :startTime and :endTime
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											group by 
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复数量(去重) "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												COUNT(pu.REF_PLAN_ID) as mainreplyplannum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
											SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													MAX(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													PLAN_INFO p
												WHERE
													p.id=ca.MODULE_ID
												and p.status != 1
												and	ca.CREATE_DATE BETWEEN :startTime AND :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复数量 (不去重)"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												COUNT(pu.REF_PLAN_ID) as mainreplynum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													ca.CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													PLAN_INFO p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复数量 (去重) "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												COUNT(pu.REF_PLAN_ID) as copyreplyplannum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													MAX(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复数量 (不去重) "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												COUNT(pu.REF_PLAN_ID) as copyreplynum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													ca.CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
											GROUP BY
												m.org_department_id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复效率 "></property>
					<property name="name" value="mainReplyRatio"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												p.CREATE_TIME AS receivetime,
												c.CREATE_DATE AS replytime
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													min(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN PLAN_INFO p ON pu.REF_PLAN_ID = p.id
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复效率 "></property>
					<property name="name" value="copyReplyRatio"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.org_department_id AS orgid,
												p.CREATE_TIME AS receivetime,
												c.CREATE_DATE AS replytime
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													min(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN PLAN_INFO p ON pu.REF_PLAN_ID = p.id
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											left join org_unit u on u.id=m.org_department_id
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											and u.IS_DELETED=0
											and u.IS_ENABLE=1
											and u.IS_INTERNAL=1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="当前未总结计划数 "></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											m.ORG_DEPARTMENT_ID AS orgid,
											COUNT(info.ID)AS unsummarynum
										FROM
											PLAN_INFO info
										left join ORG_MEMBER m on m.id=info.CREATE_USER_ID
										left join org_unit u on u.id=m.ORG_DEPARTMENT_ID
										WHERE
											info.STATUS != 3
										AND info.CREATE_TIME <=:endTime
										and m.IS_DELETED = 0
										AND m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										and m.is_internal=1
										AND m.ORG_DEPARTMENT_ID != - 1
										and u.IS_DELETED=0
										and u.IS_ENABLE=1
										and u.IS_INTERNAL=1
										GROUP BY
											m.ORG_DEPARTMENT_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName" value="com.seeyon.apps.dashboard.PlanIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="mainReplyRatio" value="getMainReplyRatio"></entry>
						<entry key="copyReplyRatio" value="getCopyReplyRatio"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	
	<!--计划人员-->
	<bean id="planMember" class="com.seeyon.apps.dashboard.bo.ReportPoint">
		<property name="comment" value="人员计划"></property>
		<!-- po对象 (用户自定义)-->
		<property name="po" value="com.seeyon.apps.dashboard.po.RptPlanIndex"></property>
		<!-- 部门,人员,单位  (用户自定义)-->
		<property name="type">
			<map>
				<!--key po属性名 ,表示模块类型-->
				<entry key="orgType" value="member"></entry>
			</map>
		</property>
		<property name="fieldDataNodes">
			<list>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="发起数"></property>
					<property name="propertyNodes">
						<!-- 对象属性和字段映射关系 (用户设置) -->
						<list>
							<!-- 唯一键值 必须配置 -->
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<!--  多数据库sql(用户自定义) -->
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id as orgid,
												r.sendnum as sendnum
											FROM
												org_member m
											LEFT JOIN(
												SELECT
													info.CREATE_USER_ID AS orgid,
													COUNT(info.id)AS sendnum
												FROM
													PLAN_INFO info
												WHERE
													info.CREATE_TIME BETWEEN :startTime and :endTime
												AND info. STATUS IN(2, 3)
												GROUP BY
													info.CREATE_USER_ID
											)r ON r.orgid = m.id
											WHERE
												m.IS_DELETED = 0
											AND m. state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="总结数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											r.orgId as orgId,
											count(r.REF_PLAN_ID) as summaryplannum
										FROM
											(
												SELECT DISTINCT
													summary.REF_USER_ID AS orgId,
													summary.REF_PLAN_ID
												FROM
													PLAN_SUMMARY summary
												where summary.CREATE_TIME BETWEEN :startTime
												AND :endTime
											)r
										left join org_member m on r.orgId=m.id
										where 
											m.IS_DELETED = 0
										AND m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										and m.is_internal=1
										AND m.ORG_DEPARTMENT_ID != - 1
										group by 
											r.orgId
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送,抄送计划收到数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												pu.REF_USER_ID AS orgid,
												SUM(
													CASE
													WHEN pu.type = 1 THEN
														1
													ELSE
														0
													END
												)AS mainreceivenum,
												SUM(
													CASE
													WHEN pu.type = 2 THEN
														1
													ELSE
														0
													END
												)AS copyreceivenum
											FROM
												PLAN_INFO p
											LEFT JOIN plan_relevant_user pu ON p.id = pu.REF_PLAN_ID
											left join org_member m on m.id=pu.REF_USER_ID
											WHERE
												p.status != 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											and p.CREATE_TIME between :startTime and :endTime
											GROUP BY
												pu.REF_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复数量(去重)"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												M . ID AS orgid,
												COUNT(pu.REF_PLAN_ID)AS mainreplyplannum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													MAX(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													PLAN_INFO p
												WHERE
													p.id=ca.MODULE_ID
												and p.status != 1
												and	ca.CREATE_DATE BETWEEN :startTime AND :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER M ON M . ID = pu.REF_USER_ID
											WHERE
												pu. TYPE = 1
											AND M .IS_DELETED = 0
											AND M .state = 1
											AND M .IS_ASSIGNED = 1
											AND M .IS_ENABLE = 1
											AND M .is_internal = 1
											AND M .ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											GROUP BY
												M . ID
											

										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复数量(不去重)"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id AS orgid,
												COUNT(pu.REF_PLAN_ID) as mainreplynum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													ca.CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													PLAN_INFO p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											WHERE
												pu.type = 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											GROUP BY
												m.id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复数量(去重)"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id AS orgid,
												COUNT(pu.REF_PLAN_ID) as copyreplyplannum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													MAX(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											GROUP BY
												m.id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复数量(不去重)"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												m.id AS orgid,
												COUNT(pu.REF_PLAN_ID) as copyreplynum
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													ca.CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN ORG_MEMBER m ON m.id = pu.REF_USER_ID
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
											GROUP BY
												m.id
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="主送回复效率 "></property>
					<property name="name" value="mainReplyRatio"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												pu.REF_USER_ID AS orgid,
												p.CREATE_TIME AS receivetime,
												c.CREATE_DATE AS replytime
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													min(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN PLAN_INFO p ON pu.REF_PLAN_ID = p.id
											left join org_member m on m.id=pu.REF_USER_ID
											WHERE
												pu.type = 1
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="抄送回复效率"></property>
					<property name="name" value="copyReplyRatio"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
											SELECT
												pu.REF_USER_ID AS orgid,
												p.CREATE_TIME AS receivetime,
												c.CREATE_DATE AS replytime
											FROM
												PLAN_RELEVANT_USER pu
											LEFT JOIN(
												SELECT
													ca.CREATE_ID,
													ca.MODULE_ID,
													min(ca.CREATE_DATE)AS CREATE_DATE
												FROM
													CTP_COMMENT_ALL ca,
													plan_info p
												where  
													p.id=ca.MODULE_ID
												and p.status != 1
												and ca.CREATE_DATE between :startTime and :endTime
												and p.create_time BETWEEN :startTime AND :endTime
												GROUP BY
													ca.CREATE_ID,
													ca.MODULE_ID
											)c ON pu.REF_PLAN_ID = c.MODULE_ID
											AND pu.REF_USER_ID = c.CREATE_ID
											LEFT JOIN PLAN_INFO p ON pu.REF_PLAN_ID = p.id
											left join org_member m on m.id=pu.REF_USER_ID
											WHERE
												pu.type = 2
											and m.IS_DELETED = 0
											AND m.state=1
											and m.IS_ASSIGNED=1
											and m.IS_ENABLE=1
											and m.is_internal=1
											AND m.ORG_DEPARTMENT_ID != - 1
											AND c.CREATE_DATE IS NOT NULL
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.apps.dashboard.bo.FieldDataNode">
					<property name="comment" value="当前未总结计划数"></property>
					<property name="propertyNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.PropertyNode">
								<property name="value" value="orgId"></property>
								<property name="merge" value="true"></property>
							</bean>
						</list>
					</property>
					<property name="paramNodes">
						<list>
							<value>endTime</value>
						</list>
					</property>
					<property name="sqlNodes">
						<list>
							<bean class="com.seeyon.apps.dashboard.bo.SqlNode">
								<property name="dbCategory" value="all"></property>
								<property name="sqlText">
									<value>
										<![CDATA[
										SELECT
											info.CREATE_USER_ID AS orgid,
											COUNT(info.ID)AS unsummaryplannum
										FROM
											PLAN_INFO info,
											org_member m
										WHERE
											info.STATUS != 3
										AND info.CREATE_TIME <=:endTime
										and info.CREATE_USER_ID=m.id
										and m.IS_DELETED = 0
										AND m.state=1
										and m.IS_ASSIGNED=1
										and m.IS_ENABLE=1
										and m.is_internal=1
										AND m.ORG_DEPARTMENT_ID != - 1
										GROUP BY
											info.CREATE_USER_ID
										]]>
									</value>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
		<property name="reportPointHander">
			<bean class="com.seeyon.apps.dashboard.bo.ReportPointHandler">
				<property name="managerName" value="com.seeyon.apps.dashboard.PlanIndexHandler"></property>
				<property name="methodName">
					<map>
						<entry key="mainReplyRatio" value="getMainReplyRatio"></entry>
						<entry key="copyReplyRatio" value="getCopyReplyRatio"></entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
</beans>