<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/cloudapps.do"
		class="com.seeyon.apps.cloudapp.controller.CloudAppsController">
		<property name="appDatasManager" ref="appDatasManager"></property>
		<property name="orgManager" ref="orgManager"></property>
	</bean>
	
	<bean name="/drawimage.do"
        class="com.seeyon.apps.cloudapp.controller.DrawImageController">
    </bean>
    
    <bean name="/cloudapp/cloudapp.do"
        class="com.seeyon.apps.cloudapp.controller.CloudAppSetController">
    </bean>
    
    <bean name="/cloudapp/cloudmsg.do"
        class="com.seeyon.apps.cloudapp.controller.CloudMsgController">
    </bean>
    
     <bean name="/cloudapp/oabehavior.do"
        class="com.seeyon.apps.cloudapp.controller.OACloudAppsBehaviorController">
    </bean>

</beans>