/*图标*/
.desktop_icon16 {display:inline-block; height:16px; width:16px; background: url(images/desktop_icon16.png?V=5_1_6_04) no-repeat; _background: url(images/desktop_icon16.gif?V=5_1_6_04) no-repeat; background-position: 0px 0px; }
.desktop_icon32 {display:inline-block; height:32px; width:32px; background: url(images/desktop_icon32.png?V=5_1_6_04) no-repeat; _background: url(images/desktop_icon32.gif?V=5_1_6_04) no-repeat; background-position: 0px 0px; }
.desktop_icon36 {display:inline-block; height:36px; width:36px; background: url(images/desktop_icon36.png?V=5_1_6_04) no-repeat; _background: url(images/desktop_icon36.gif?V=5_1_6_04) no-repeat; background-position: 0px 0px; }

/*代办列表类型*/
.toDoList_type32_1 { background-position: 0px -96px; }		/*协同应用*/
.toDoList_type32_2 { background-position: -32px -96px; }	/*表单*/
.toDoList_type32_4,.toDoList_type32_19,.toDoList_type32_20,.toDoList_type32_21,.toDoList_type32_22,.toDoList_type32_23,.toDoList_type32_24 { background-position: -64px -96px; }	/*公文*/
.toDoList_type32_6,.toDoList_type32_29 { background-position: -96px -96px; }	/*会议*/
.toDoList_type32_7,.toDoList_type32_8,.toDoList_type32_9 { background-position: -128px -96px; }	/*文化建设审批*/
.toDoList_type32_26 { background-position: -160px -96px; }	/*综合办公审批*/
.toDoList_type32_10 { background-position: -192px -96px; }	/*调查*/
.toDoList_type32_32 { background-position: -224px -96px; }	/*信息报送*/
/*滚动快捷类型*/
.shortcut_32_0 { background-position: 0px -32px; }		/*个人空间/首页*/
.shortcut_32_5 { background-position: -32px -32px; }	/*自定义个人空间1*/
.shortcut_32_4 { background-position: -64px -32px; }	/*自定义个人空间2*/
.shortcut_32_9,.shortcut_32_10 { background-position: -96px -32px; }	/*领导空间*/
.shortcut_32_3 { background-position: -128px -32px; }	/*集团空间*/
.shortcut_32_ { background-position: -160px -32px; }	/*自定义集团空间1*/
.shortcut_32_ { background-position: -192px -32px; }	/*自定义集团空间2*/
.shortcut_32_2 { background-position: -224px -32px; }	/*单位空间*/
.shortcut_32_ { background-position: -256px -32px; }	/*自定义单位空间1*/
.shortcut_32_ { background-position: -288px -32px; }	/*自定义团队空间1*/
.shortcut_32_ { background-position: -320px -32px; } 	/*自定义单位空间2*/
.shortcut_32_ { background-position: 0px -64px; }		/*自定义团队空间2*/
.shortcut_32_1,.shortcut_32_6 { background-position: -32px -64px; }	/*部门空间*/
.shortcut_32_ { background-position: -64px -64px; }	/*外部人员空间*/




#desktop_body_box{overflow:hidden; position:absolute; z-index:800; top:0px; left:0; width:1300px; height: 700px;}
.desktop_body { position:absolute; z-index:20001; top:0px; left:0; width:1300px; height: 700px;}
.desktop_body .stadic_head_height { height: 48px; background: url("images/desk_menu_bg.png");}
.desktop_body .stadic_body_top_bottom { bottom: 0px; top: 48px; overflow: auto; }
#desktop_body_iframe { display:none; position:absolute; z-index:20000; top:0; left:0; width:1300px; height: 700px; border:0; }
/*顶部通栏*/
.ntes_nav { overflow: hidden; height: 50px; border-bottom: solid 1px #3060A4; background: #43ACD7; }
.headArea { position: relative; margin: 0px 55px 0px 25px; height: 47px; }

/*分类tab*/
.sortTabArea { margin-top: 0px; position: relative; z-index: 2; color: #FACB14; }


.sortTabArea li.addBtn { width: auto; text-align:left; }
.sortTabArea li.addBtn .ico16 { vertical-align: top; margin-top: 3px; }
.sortTabArea li.contenteditable { height:46px; line-height:46px; border: dashed 1px #B2B2B2; word-break: break-all;}
.sortTabArea .close_area { position: relative; width: 0; height: 0; float: left; }
.sortTabArea .close_btn { position: absolute; left: -56px; top: 2px; background:url(images/desktop_icon16.png?V=5_1_6_04) -16px 0 no-repeat; }




/*待办列表*/
.desktop_body_area { position: relative; z-index: 2; padding-left: 15px;}

.toDoList_box { position: absolute; z-index: 2; width: 100%; height: 100%; }
.toDoList_item{ overflow: hidden; height: 430px;}


.toDoList ul { padding-top: 8px;}
.toDoList li { padding:3px 0; margin-top: 7px; overflow: hidden; *zoom: 1; }
.toDoList li .toDoList_pic { position: relative; float: left; _display: inline; margin-left: 15px; }
.toDoList li .toDoList_pic img { width: 56px; height: 56px; border: solid 2px #FFF; border-radius: 30px; box-shadow: 0 0 5px #adadad; }

.toDoList li .toDoList_type { float: left; margin: 15px 0 0 12px; }
.toDoList li .toDoList_arrow { position: absolute; width: 0; height: 0;}
.toDoList li .toDoList_arrow span { position: absolute; left: -23px; top: 5px; overflow: hidden; display: block; width: 10px; font-size: 20px; color: #FFF; font-family: Arial;}
.toDoList li .toDoList_brief { float: left; margin-left:10px; width: 460px; background: #FFF; padding:13px 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; box-shadow: 0 0 3px #bababa; }
.toDoList li .toDoList_brief:hover { background: #F5F5F5; }
.toDoList li:hover .toDoList_arrow span { color: #F5F5F5; }
.toDoList li .toDoList_brief .t { width: 460px; line-height: 150%; font-size: 18px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; font-weight: bold; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; color: #404040; }
.toDoList li .toDoList_brief .c { overflow: hidden; height:40px; color: #8d8d8d; line-height: 150%; font-size: 14px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;  }
.toDoList .chuli_area { position: absolute; bottom: 0; width: 100%; height: 50px; }
/*快捷块*/
.metroShortcut { overflow: hidden; float: left; margin-top: 17px; margin-right: 46px; width: 580px; height: 510px;}
.metroShortcut .metroShortcut_box { overflow: hidden; *zoom: 1; min-height: 508px; }
.metroShortcut .shortcutBlock { position: relative; float: left; margin: 10px 0 0 10px; overflow: hidden; _display: inline; cursor: pointer; }
.metroShortcut .shortcutBlock .close_btn { display: none; cursor: pointer; position: absolute; z-index: 3; right: 4px; top: 2px; background:url(images/desktop_icon24.png?V=5_1_6_04) -48px 0 no-repeat; }

/*快捷数字提示*/
.metroShortcut .shortcutBlock .tip_number1 { display: none; position: absolute; z-index: 2; right: 4px; top: 2px; width: 26px; height: 26px; line-height: 26px; text-align: center; font-size: 16px; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; background:url(images/desktop_icons.png?V=5_1_6_04) left 0 no-repeat; }
.metroShortcut .shortcutBlock .tip_number2 { display: none; position: absolute; z-index: 2; right: 4px; top: 2px; width: 34px; height: 26px; line-height: 26px; text-align: center; font-size: 16px; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; background:url(images/desktop_icons.png?V=5_1_6_04) left -40px no-repeat; }
.metroShortcut .shortcutBlock .tip_number3 { display: none; position: absolute; z-index: 2; right: 4px; top: 2px; width: 39px; height: 26px; line-height: 26px; text-align: center; font-size: 16px; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; background:url(images/desktop_icons.png?V=5_1_6_04) left -80px no-repeat; }

.metroShortcut .shortcutBlock_size0 { width: 135px; height: 155px; }
.metroShortcut .shortcutBlock_size1 { width: 280px; height: 155px; }
.metroShortcut .shortcutBlock_title { position: absolute; z-index: 3; top: 110px; width: 135px; color: #FFF; font-size: 16px; text-align: center; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }
.metroShortcut .shortcutBlock_size0 .c { overflow: hidden; display: inline-block; vertical-align: top; max-width: 90px; _width: 70px; }
.metroShortcut .shortcutBlock_size1 .shortcutBlock_title { width: 240px; }
.metroShortcut .shortcutBlock_more .shortcutBlock_title { opacity: 0.4; filter: alpha(opacity=40); *zoom: 1; }
.shortcutBlock_more { background: url(images/shortcutBlock_more.png?V=5_1_6_04) center center; }
/*快捷块-hover边框*/
.shortcutBlock_hover { display: none; position: absolute; z-index: 20000; background: #FFF; opacity: 0.15; filter: alpha(opacity=15); *zoom: 1; }
.shortcutBlock_hoverT { overflow: hidden; width: 135px; height: 3px;}
.shortcutBlock_hoverB { overflow: hidden; width: 135px; height: 3px;}
.shortcutBlock_hoverL { overflow: hidden; width: 3px; height: 161px;}
.shortcutBlock_hoverR { overflow: hidden; width: 3px; height: 161px;}
/*快捷-滚动*/
.shortcutBlock_scroll_img { position: relative; z-index: 1; top: 0; }
.shortcutBlock_scroll_img img { float: left; border: 0; width: 280px; height: 155px; }
.shortcutBlock_scroll .shortcutBlock_title { margin-left: 18px; height: 45px; line-height: 45px; text-align: left; opacity: 0.7; filter: alpha(opacity=70); *zoom: 1; }
.shortcutBlock_scroll .shortcutBlock_title .c { width: 220px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }
.shortcutBlock_scroll .shortcutBlock_title .c span{ *display: inline-block;}
.shortcutBlock_scroll .shortcutBlock_title_bg { position: absolute; z-index: 2; bottom: 0; width: 100%; height: 45px; background: #000; opacity: 0.4; filter: alpha(opacity=40); *zoom: 1; }
/*待办列表 dialog*/
.toDoListDialog { display: none; position: absolute; z-index: 10000; top:28px; left: 160px; overflow:hidden; width: 490px; height: 110px; -moz-box-shadow: 0px 0px 15px #333333; -webkit-box-shadow: 0px 0px 15px #333333; box-shadow: 0px 0px 15px #333333; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;  }
.toDoListDialog .stadic_head_height { height: 55px; background: #F2F3FD;  -moz-border-radius: 15px 15px 0 0; -webkit-border-radius: 15px 15px 0 0; border-radius: 15px 15px 0 0; }
.toDoListDialog .stadic_body_top_bottom { top: 55px; bottom: 125px; overflow: hidden; background: #fff; border-top:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC;}
.toDoListDialog .stadic_footer_height { height: 125px; background: #F2F3FD;  -moz-border-radius: 0 0 15px 15px; -webkit-border-radius: 0 0 15px 15px; border-radius: 0 0 15px 15px; }
.toDoListDialog .toDoListDialog_arrow { position:relative; }
.toDoListDialog .toDoListDialog_arrow span{ position:absolute;left:-10px;top:20px;overflow:hidden;width:10px;color:#F2F3FD;font-size:20px; font-family: Aril; text-shadow:-2px 0px 5px #8A9698;}
.toDoListDialog .toDoListDialog_title { padding: 0 20px; color: #5E5F5E; font-size: 16px; line-height: 55px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; font-weight: bold; }
.toDoListDialog .toDoListDialog_title .left { width: 450px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }
.toDoListDialog .toDoListDialog_content { font-size: 14px; line-height: 140%; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; }
.toDoListDialog .toDoListDialog_content_mask { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; cursor: pointer; }
.toDoListDialog .attachment_area { position:absolute; bottom: 0; width:100%; height:25px; line-height:25px; text-indent:20px; background:#FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; font-size:1desktop_bodypx; color:#B2B2B2;}
.toDoListDialog .toDoListDialog_deal { padding: 0 20px; }
.toDoListDialog .toDoListDialog_deal .text { margin-top: 15px; padding: 0 10px; width: 530px; height: 37px; font-size: 14px; border: 0; box-shadow: inset 2px 2px 2px #ACACAC;}
.toDoListDialog .toDoListDialog_deal label { font-size: 14px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;  }
.toDoListDialog .toDoListDialog_deal .deal_btn { width:118px; height:42px; line-height:42px; text-align:center; border-radius:5px; background:#57B4E7; color: #FFF; text-shadow:1px 1px 2px #666; font-size: 18px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; cursor:pointer; }
.toDoListDialog input.toDoListDialog_comment {padding: 0 10px; margin-top: 10px; width: 527px; height: 37px; line-height: 37px; border: 0; box-shadow: inset 1px 1px 1px #ACACAC;}

.toDoListDialog .todoList_prev_36{margin-top: 10px; display:inline-block; height:36px; width:36px; line-height:36px; background: url(images/desktop_icon36.png?V=5_1_6_04) 0px 0px no-repeat; cursor:pointer;}
.toDoListDialog .todoList_prev_36:hover{ background-position:-36px 0;}
.toDoListDialog .todoList_prev_36_disable{margin-top: 10px; display:inline-block; height:36px; width:36px; line-height:36px; background: url(images/desktop_icon36.png?V=5_1_6_04) -72px 0px no-repeat; cursor:pointer;}
.toDoListDialog .todoList_next_36{margin-top: 10px; display:inline-block; height:36px; width:36px; line-height:36px; background: url(images/desktop_icon36.png?V=5_1_6_04) -108px 0px no-repeat; cursor:pointer;}
.toDoListDialog .todoList_next_36:hover{ background-position:-144px 0;}
.toDoListDialog .todoList_next_36_disable{margin-top: 10px; display:inline-block; height:36px; width:36px; line-height:36px; background: url(images/desktop_icon36.png?V=5_1_6_04) -180px 0px no-repeat; cursor:pointer;}
.toDoListDialog .dialogBtn_close{position:absolute; right:-15px; top:-15px; display:inline-block; height:32px; width:32px; background: url(images/desktop_icon32.png?V=5_1_6_04) 0px 0px no-repeat; cursor:pointer;}
/*快捷库 dialog - 布局*/
.metroShortAddDialog { display: none; position: absolute; z-index: 21000; width: 980px; height: 650px; top: 0; left:50px; background:url(images/metroShortAddDialog_bg.jpg?V=5_1_6_04) #FFF; }
.metroShortAddDialog .stadic_head_height { overflow:hidden; height: 100px; }
.metroShortAddDialog .stadic_body_top_bottom { top: 100px; bottom: 0px; }
.metroShortAddDialog .stadic_right { float: right; width: 100%; height: 100%; position: absolute; z-index: 100; }
.metroShortAddDialog .stadic_right .stadic_content {position: relative; overflow: auto; margin-left: 160px; height: 100%; background:url(images/metroShortAddDialog_itemList_bg2.jpg?V=5_1_6_04) top left no-repeat;}
.metroShortAddDialog .stadic_left { position: absolute; overflow: auto; z-index: 300; float: left; width: 160px; height: 100%;  }
.metroShortAddDialog_mask { display: none; position: absolute; top: 0; left: 0; z-index: 20001; width: 100%; height: 100%; background-color: #000000; opacity: 0.7; filter: alpha(opacity=70); *zoom:1;}
/*快捷库 dialog - 头*/
.metroShortAddDialog_title {position:relative; overflow: hidden; *zoom: 1; padding-left: 20px; border: solid 1px #797A79; font-size: 18px; font-weight:blod; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; color: #FFF; line-height: 49px; background: #45A5CE; }
.metroShortAddDialog_title .dialogCloseBtn {position:absolute; top:0; right:0; width:44px; height:41px; background: url(images/metroShortAddDialog_close.png?V=5_1_6_04) no-repeat;}
.metroShortAddDialog_search { overflow: hidden; *zoom: 1; padding-left: 20px; height: 46px; font-size: 18px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; color: #6D96C5;  background: #333333; border-top:solid 2px #112129; border-bottom:solid 1px #112129;}
.metroShortAddDialog_search_nav {float:left; margin-top:8px; display: inline-block; font-size: 18px;  font-weight:blod; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; color:#D0D0D0; line-height: 30px; }
.metroShortAddDialog_search_textbox {float:left; margin-top:8px; display:inline-block;  margin-left: 20px; width:250px; height:30px; border-radius: 15px; background:#6F6F6F;}
.metroShortAddDialog_search_textbox .ico16{ margin-left:15px; background: url(images/desktop_icon16.png?V=5_1_6_04) 0px 0px no-repeat; }
.metroShortAddDialog_search_textbox_focus .ico16{ margin-left:15px; background: url(images/desktop_icon16.png?V=5_1_6_04) -32px 0px no-repeat; }
.metroShortAddDialog_search_textbox input{  margin-left:5px; padding:0; width:195px; height:24px; line-height:24px; font-size:14px;  color:#B2B2B2; border:0; background:transparent;}
.metroShortAddDialog_search_textbox_focus { background: #FFF; }
.metroShortAddDialog_search_textbox_focus input{ color: #111111; }
/*快捷库 dialog - 左侧分类*/
.metroShortAddDialog_navList { margin-top: 10px; }
.metroShortAddDialog_navList li { padding-left: 15px; font-size: 14px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; color: #6B6C6B; line-height: 50px; cursor: pointer; }
.metroShortAddDialog_navList li.current { background:url(images/metroShortAddDialog_navList_li_bg.png?V=5_1_6_04) center right no-repeat; }
.metroShortAddDialog_navList li em { float:left; margin-top:13px; }
.metroShortAddDialog_navList li .t { float:left; margin-left:10px; display: block; width:80px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }
/*快捷库 dialog - 快捷库*/
.metroShortAddDialog_itemList {position: relative; padding-bottom: 350px; margin-top: 20px;}
.metroShortAddDialog_itemList .item_title { padding-left: 30px;  font-size: 14px; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; color: #6B6C6B; }
.metroShortAddDialog_itemList .item_list {position: relative; overflow-x: auto; overflow-y: hidden; margin-left: 30px; width:760px; height:165px;  }
.metroShortAddDialog_itemList .item_box { width:1000px; height:145px;}
.metroShortAddDialog_itemList ul {  overflow: hidden; *zoom: 1; }
.metroShortAddDialog_itemList li { float: left; margin: 10px 10px 0 0;  position: relative; width:135px; height:175px; zoom:0.77;-moz-transform:scale(0.77);-moz-transform-origin:top left; cursor: pointer; }
.metroShortAddDialog_itemList li.item_size1 { width:280px; }
.metroShortAddDialog_itemList li.item_size1 p {margin-top: -54px; width:280px;}
.metroShortAddDialog_itemList li.item_size1 p span{ width:200px; }

.metroShortAddDialog_itemList li.selected { }
.metroShortAddDialog_itemList li p { margin-top: 120px; width: 135px; text-align: center;}
.metroShortAddDialog_itemList li p span{ display: inline-block; width:85px; line-height: 50px; font-size: 18px; color: #FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }
.metroShortAddDialog_itemList li p em{ display: none; margin-top:8px; vertical-align: top; cursor: pointer;}
.metroShortAddDialog_itemList li p.active { background: url(images/metroShortAddDialog_itemList_bg.png?V=5_1_6_04); }
/*图标*/
.metroShortAddDialog_itemList li p.active em{ display: inline-block; background: url(images/desktop_icon32.png?V=5_1_6_04) -64px 0px no-repeat;}
.metroShortAddDialog_itemList li p.active em.selected_32{ background: url(images/desktop_icon32.png?V=5_1_6_04) -32px 0px no-repeat; }

/*空间*/
.roundabout_area { position: relative; margin:20px 0 0 22px; width: 770px; height: 160px; overflow:auto;}
.roundabout_area ul{ position: relative; width: 31000px; height:135px;}
.roundabout_area li{ position: relative; float: left; margin-left: 7px; width: 244px; height:135px;}
.roundabout_area img{ width: 244px; height: 135px;}
.roundabout_area li p{ overflow: hidden; position: absolute; bottom: 0; padding:0 10px; width: 224px; height: 35px; line-height:35px; font-size:14px; color:#FFF; font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; background:url(images/metroShortAddDialog_itemList_bg.png?V=5_1_6_04); *position:relative;*margin-top:-35px;}
.roundabout_area li p span { overflow: hidden; float: left; display: inline-block; margin-right: 10px; width: 190px; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap;}
.roundabout_area li p em { display: none; margin-top:8px; vertical-align: top; cursor: pointer;}
.roundabout_area li p.active { background:url(images/metroShortAddDialog_itemList_bg.png?V=5_1_6_04);}

/*图标*/
.roundabout_area li p.active em { display: inline-block; background: url(images/desktop_icon24.png?V=5_1_6_04) -24px 0px no-repeat;}
.roundabout_area li p.active em.selected_32 { background: url(images/desktop_icon24.png?V=5_1_6_04) 0 0px no-repeat; }




/*desktop换肤*/
.skin_set_contaner {
	display:none;
    position:absolute;
    z-index:21000;
    right:20px;
	top:50px;
    width:347px;
	-moz-box-shadow: 0 0 15px #000;
	-webkit-box-shadow: 0 0 15px #000; 
	box-shadow: 0 0 15px #000;
    font-size:14px; 
    font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;
}
.skin_set_contaner .skin_set_title{
	height:53px;
	line-height:55px;
	background:#4C4C4C;
	border-top:solid 1px #080B17;
	border-right:solid 1px #080B17; 
	font-size:16px; 
	font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif; 
	color:#E3E3E3; 
	text-indent:20px;
}
.skin_set_contaner .skin_set_title .btn_close{ position:absolute; top:0; right:0; width:44px; height:41px; background: url(images/metroShortAddDialog_close.png?V=5_1_6_04) no-repeat; cursor:pointer;}

.skin_set_contaner .skin_content { padding:0 30px 10px 30px; width: 286px; background: #FFF;}
/*图片面板*/
.skin_set_contaner .skin_content_title { padding:30px 0 10px 0; color:#585858; font-size:14px; line-height:100%;  font-family: "Microsoft YaHei",SimSun,Arial,Helvetica,sans-serif;}
.skin_set_contaner .skinImage_list { overflow:hidden; *zoom:1;}
.skin_set_contaner .skinImage_list img{ float:left; margin:10px 14px 0 0; width:77px; height:40px; border:solid 3px #fff; cursor:pointer; }
/*颜色面板*/
.skin_set_contaner .bg_color_skin{}
.bg_color_skin .skinColor_list{
	display:block;
	height:150px;
}
.bg_color_skin .skinColor_list .colorItem{
	float:left;
	height:45px;
	width:45px;
	cursor:pointer;
	position: relative;
}
.bg_color_skin .skinColor_list .colorItem .ok{
	position: absolute;
	top:3px;
	right:3px;
	background: url("images/ok.png?V=5_1_6_04") no-repeat;
	width: 15px;
	height: 14px;
	overflow: hidden;
}

.bg_color_skin .model_list{
	display:block;
	height:40px;
}
.bg_color_skin .model_list .modelItem{
	float:left;
	height:20px;
	width:13px;
	cursor:pointer;
}
.bg_color_skin .model_list .currentMap{
	height:30px;
}
