<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- 知识社区栏目选择器 -->
	<bean id="knowledgeSectionSelector" class="com.seeyon.apps.doc.manager.KnowledgeSectionSelector">
		<property name="sectionType" value="doc"></property>
	</bean>

	<!-- 常用文档 -->
	<bean id="knowledgeUsedDocFavoriteSection" class="com.seeyon.ctp.portal.section.DocFavoriteSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="orgManager" ref="orgManager" />
		<property name="sortId" value="45" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.favorite.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!--知识订阅 -->
	<bean id="knowledgeUsedDocAlertSection" class="com.seeyon.ctp.portal.section.DocAlertSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="sortId" value="46" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.alert.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="doc.cannel.data.row" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="8" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,alertFolder,alertUpdateDate" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="blog.common.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.portal.subscribe" />
											<property name="value" value="alertFolder" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.jsp.home.alert.lastUpdate" />
											<property name="value" value="alertUpdateDate" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 热门文章 -->
	<bean id="knowledgeUsedDocZoneHotSection" class="com.seeyon.ctp.portal.section.DocZoneHotSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="sortId" value="47" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.zonehot.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="validate" value="isInteger" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,zoneHotRanking,zoneHotAccessCount,zoneHotCreater,zoneHotCreateTime" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="blog.common.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.portal.grade" />
											<property name="value" value="zoneHotRanking" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.jsp.properties.common.accesscount" />
											<property name="value" value="zoneHotAccessCount" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.metadata.def.creater" />
											<property name="value" value="zoneHotCreater" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.search.createtime.label" />
											<property name="value" value="zoneHotCreateTime" />
										</bean>

									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 他人推荐 -->
	<bean id="knowledgeUsedDocRecommendSection" class="com.seeyon.ctp.portal.section.DocRecommendSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="sortId" value="48" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.recommend.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="collaboration.cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="validate" value="isInteger" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,recommendRanking,recommendCreater,recommendCreateTime" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="blog.common.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.portal.grade" />
											<property name="value" value="recommendRanking" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.jsp.home.learn.recommender" />
											<property name="value" value="recommendCreater" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.jsp.home.learn.time" />
											<property name="value" value="recommendCreateTime" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!--我的收藏 -->
	<bean id="knowledgeUsedDocCollectSection" class="com.seeyon.ctp.portal.section.DocCollectSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="sortId" value="49" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.collect.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="collectSectionStyle" />
								<property name="subject" value="cannel.style.label" />
								<property name="valueType" value="0" />
								<property name="defaultValue" value="1" />
								<property name="onChange" value="changeDefaultValue4DocCollect" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.jsp.portal.collect.list" />
											<property name="value" value="0" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.portal.chessboard" />
											<property name="value" value="1" />
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="validate" value="isInteger" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="listNum" />
								<property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="16" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="validate" value="isInteger" />
								<property name="mValidateValue" value="max=10 min=1" />
                                <property name="mDefaultValue" value="3" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,collectFolder,collectCreator,collectCreateTime" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="blog.common.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.portal.collect.folder" />
											<property name="value" value="collectFolder" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.metadata.def.creater" />
											<property name="value" value="collectCreator" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="doc.search.createtime.label" />
											<property name="value" value="collectCreateTime" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 文档图片 -->
	<bean id="knowledgeUsedDocPicture" class="com.seeyon.ctp.portal.section.DocPictureSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="sortId" value="50" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.picture.title" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="cannel.picture.panel.label" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.image" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/genericController.do?ViewPage=apps/doc/docPanel" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 我的学习区 -->
	<bean id="knowledgeUsedDocLearningSection" class="com.seeyon.ctp.portal.section.DocLearningSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="sortId" value="51" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.my.learning.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 单位学习区 -->
	<bean id="knowledgeUsedDocAccountLearningSection" class="com.seeyon.ctp.portal.section.DocAccountLearningSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="sortId" value="52" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.account.learning.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 单位知识文档 -->
	<bean id="knowledgeUsedDocAccountSection" class="com.seeyon.ctp.portal.section.DocAccountSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="sortId" value="53" />
		<property name="orgManager" ref="orgManager" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.account.doc.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 集团学习区 -->
	<bean id="knowledgeUsedDocGroupLearningSection" class="com.seeyon.ctp.portal.section.DocGroupLearningSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="sortId" value="54" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.group.learning.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 集团知识文档 -->
	<bean id="knowledgeUsedDocGroupSection" class="com.seeyon.ctp.portal.section.DocGroupSection">
		<property name="sectionType" value="doc" />
		<property name="sectionCategory" value="common" />
		<property name="delay" value="0" />
		<property name="sortId" value="55" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="orgManager" ref="orgManager" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.group.doc.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 指定文档夹栏目 (自定义文档库？) -->
	<bean id="knowledgeClassShowDocFolderSection" class="com.seeyon.ctp.portal.section.DocFolderSection">
		<property name="sectionType" value="doc" />
		<!-- 注册栏目才取显示名称 value="false" -->
		<property name="isRegistrer" value="false" />
		<property name="sortId" value="60" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="doc.cannel.data.row" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="8" />
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="frName,lastUpdate,lastUserId" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.frName.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="frName" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.lastUpdate.label" />
											<property name="value" value="lastUpdate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.lastUserId.label" />
											<property name="value" value="lastUserId" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 部门学习区 -->
	<bean id="departmentDocLearnerSection" class="com.seeyon.ctp.portal.section.DepartmentDocLearnerSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="25" />
		<property name="spaceTypes" value="department" />
		<property name="delay" value="0" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.department.learning.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 部门知识文档 -->
	<bean id="departmentDocSection" class="com.seeyon.ctp.portal.section.DepartmentDocSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="26" />
		<property name="spaceTypes" value="department" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
		<property name="newLine2Column">
			<map>
				<entry key="2" value="2" />
				<entry key="3" value="2" />
				<entry key="4" value="2" />
				<entry key="5" value="2" />
				<entry key="7" value="2" />
				<entry key="10" value="4" />
			</map>
		</property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.department.doc.title" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="count" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=50 min=1" />
								<property name="defaultValue" value="16" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 项目文档 -->
	<bean id="projectDocSetion" class="com.seeyon.ctp.portal.section.ProjectDocSetion" init-method="init">
		<property name="sortId" value="107" />
		<property name="sectionType" value="common" />
		<property name="spaceTypes" value="related_project_space" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="menu.doc.lib.project" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=1000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="8" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="showCols" />
								<property name="subject" value="calendar.porject.source" />
								<property name="defaultValue" value="frName,lastUpdate,lastUserId" />
								<property name="valueType" value="1" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.frName.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="frName" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.lastUpdate.label" />
											<property name="value" value="lastUpdate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.lastUserId.label" />
											<property name="value" value="lastUserId" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 泛组织-文档栏目 -->
	<bean id="knowledgeUsedDocFolderSection4Vjoin" class="com.seeyon.ctp.portal.section.DocFolderSection4Vjoin">
		<property name="sectionType" value="doc" />
		<property name="sortId" value="50" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
								<property name="subject" value="cannel.name.label" />
								<property name="readOnly" value="true" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="doc.center.lable" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="count" />
                                <property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
                                <property name="subject" value="cannel.data.count" />
                                <property name="valueType" value="2" />
                                <property name="validate" value="isInteger" />
                                <property name="validateValue" value="max=50 min=1" />
                                <property name="defaultValue" value="16" />
                                <property name="mValidateValue" value="max=10 min=1" />
                                <property name="mDefaultValue" value="3" />
                            </bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
								<property name="subject" value="cannel.panel.label" />
								<property name="valueType" value="9" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
											<property name="value" value="designated" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="/genericController.do?ViewPage=apps/doc/docPanel" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>