<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/doc.do" class="com.seeyon.apps.doc.controller.DocController">
		<property name="jsonView" value="jsonView" />
		<!-- 上传后，点击打开时可以直接查看文件内容，限制其大小，如果已经超过，则提示下载后阅读。单位：MB -->
		<property name="maxSize4ShowContent" value="1" />
		<!-- 上传后，点击打开时可以直接查看文件内容的格式，key为mimetypeId，value为文件扩张名，请使用小写 -->
		<property name="typesShowContentDirectlyTEXT" value="txt" /> <!-- 输出时需要toHTML一下，使得页面显示和在Notepad中显示的样子一样 -->
		<property name="typesShowContentDirectlyHTML" value="htm,html" /> <!-- 不需要toHTML，直接显示成网页 -->
	</bean>
	<bean name="/docManager.do" class="com.seeyon.apps.doc.controller.DocManagerController" />
	<!-- 新增的 -->
	<bean name="/doc/knowledgeController.do" class="com.seeyon.apps.doc.controller.KnowledgeController" />
	<!-- 关联文档 -->
	<bean id="docCenterAssDoc" class="com.seeyon.ctp.common.assdoc.AssdocDefinition">
		<!--3 = Knowledge management -->
		<property name="appId" value="3" />
		<property name="url" value="/doc.do?method=docQuoteFrame" />
	</bean>
</beans>