<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean id="docLibNotificationHandler" class="com.seeyon.ctp.cluster.listener.DocLibNotificationHandler" />
	<bean id="docMetadataNotificationHandler" class="com.seeyon.ctp.cluster.listener.DocMetadataNotificationHandler" />
	<bean id="DocNotificationHandler" class="com.seeyon.ctp.cluster.listener.DocNotificationHandler" />
	<bean id="metadataDefManager" class="com.seeyon.apps.doc.manager.MetadataDefManagerImpl" />
	<bean id="contentTypeManager" class="com.seeyon.apps.doc.manager.ContentTypeManagerImpl" />
	<bean id="docMetadataManager" class="com.seeyon.apps.doc.manager.DocMetadataManagerImpl" />
	<bean id="docAclManager" class="com.seeyon.apps.doc.manager.DocAclManagerImpl" singleton="true" />
	<bean id="defaultListColumn" class="com.seeyon.apps.doc.manager.DefaultListColumn" />
	<bean id="defaultSearchCondition" class="com.seeyon.apps.doc.manager.DefaultSearchCondition" init-method="init" />
	<bean id="docAlertManager" class="com.seeyon.apps.doc.manager.DocAlertManagerImpl" init-method="init" singleton="true" />
	<bean id="docAlertLatestManager" class="com.seeyon.apps.doc.manager.DocAlertLatestManagerImpl" />
	<bean id="docVersionInfoManager" class="com.seeyon.apps.doc.manager.DocVersionInfoManagerImpl" />
	<bean id="docMimeTypeManager" class="com.seeyon.apps.doc.manager.DocMimeTypeManagerImpl" init-method="init" singleton="true" />
	<bean id="docFavoriteManager" class="com.seeyon.apps.doc.manager.DocFavoriteManagerImpl" />
	<bean id="docForumManager" class="com.seeyon.apps.doc.manager.DocForumManagerImpl" />
	<bean id="docLearningManager" class="com.seeyon.apps.doc.manager.DocLearningManagerImpl" />
	<bean id="docManager4ISearch" class="com.seeyon.apps.doc.manager.DocManager4ISearchImpl" />
	<bean id="docPigeonholeManager4ISearch" class="com.seeyon.apps.doc.manager.DocPigeonholeManager4ISearch" init-method="init" />
	<bean id="htmlUtil" class="com.seeyon.apps.doc.util.HtmlUtil" />
	<bean id="docUtils" class="com.seeyon.apps.doc.util.DocUtils" />
	<bean id="docLibManager" class="com.seeyon.apps.doc.manager.DocLibManagerImpl" singleton="true" />
	<bean id="docManageLock" parent="lockManager">
		<property name="module" value="docManageLock" />
	</bean>
	<bean id="docHierarchyManager" class="com.seeyon.apps.doc.manager.DocHierarchyManagerImpl" init-method="init" singleton="true">
		<property name="folderLevelLimit" value="20" />
	</bean>
	<bean class="com.seeyon.apps.doc.listener.DocOrganizationEventListener" />
	<bean id="DocIndexEnable" class="com.seeyon.apps.doc.manager.DocIndexEnableImpl" />
	<bean id="docFilingManager" class="com.seeyon.apps.doc.manager.DocFilingManagerImpl" />
	<bean id="knowledgePageManager" class="com.seeyon.apps.doc.manager.KnowledgePageManagerImpl" />
	<bean id="knowledgeManager" class="com.seeyon.apps.doc.manager.KnowledgeManagerImpl" init-method="init" />
	<bean id="docAclNewManager" class="com.seeyon.apps.doc.manager.DocAclNewManagerImpl" />
	<bean id="docSearchContentTypeEnum" class="com.seeyon.apps.doc.manager.DocSearchContentTypeEnumImpl" />
	<bean id="docSearchContentTypeForAssessEnum" class="com.seeyon.apps.doc.manager.DocSearchContentTypeForAssessEnumImpl" />
	<bean id="knowledgeFavoriteManager" class="com.seeyon.apps.doc.manager.KnowledgeFavoriteManagerImpl" />
	<bean id="docActionManager" class="com.seeyon.apps.doc.manager.DocActionManagerImpl">
		<property name="actionAllInsertType">
			<list>
				<!-- 上传 : upload -->
				<value>0</value>
				<!-- 新增 : create -->
				<value>1</value>
				<!-- 下载 : download -->
				<value>2</value>
				<!-- 访问 : read -->
				<value>3</value>
				<!-- 编辑 : edit -->
				<value>4</value>
				<!-- 共享 : share -->
				<value>5</value>
				<!-- 借阅 : borrow -->
				<value>6</value>
				<!-- 申请借阅 : onBorrow -->
				<value>7</value>
				<!-- 重命名 : reName -->
				<value>8</value>
				<!-- 替换 : replace -->
				<value>9</value>
				<!-- 删除 : delete -->
				<value>10</value>
				<!-- 归档 : filed -->
				<value>11</value>
				<!-- 收藏 : collect -->
				<value>12</value>
				<!-- 推荐 : recommend -->
				<value>13</value>
				<!-- 评分 : score -->
				<value>14</value>
				<!-- 评价 : forums -->
				<value>15</value>
				<!-- 订阅 : alert -->
				<value>16</value>
				<!-- 发表博客 : issueBlog -->
				<value>17</value>
				<!-- 发送学习区 : sendStudy -->
				<value>18</value>
				<!-- 打印 : print <value>19</value> -->
				<value>21</value>
				<!-- 推荐他人 : recommendToOther -->
				<value>22</value>
				<!-- 推荐文档作者: recommendDocAuthor -->
			</list>
		</property>
		<property name="actionInsertOnceType">
			<list>
				<!-- 访问 : read -->
				<value>3</value>
				<!-- 收藏 : collect -->
				<value>12</value>
			</list>
		</property>
	</bean>
	<bean id="docActionUseManager" class="com.seeyon.apps.doc.manager.DocActionUseManagerImpl" />
	<bean id="knowledgeRise" class="com.seeyon.apps.doc.manager.KnowledgeRiseImpl" />
	<bean id="userMessageFilterImplDoc" class="com.seeyon.apps.doc.usermessage.filter.UserMessageFilterImplDoc" />

	<!-- 离职办理 -->
	<bean id="MemberLeaveClearItemDocImpl" class="com.seeyon.apps.doc.manager.memberLeave.MemberLeaveClearItemDocImpl" />

	<bean id="docPortlet" class="com.seeyon.ctp.portal.portlet.DocPortlet" />

	<!-- 业务生成器解耦 -->
	<bean id="businessSourceType4Doc" class="com.seeyon.ctp.form.modules.business.impl.BusinessSourceType4Doc">
		<property name="sort" value="5" />
	</bean>
	<bean id="knowledgeIntegralExcludeManager" class="com.seeyon.apps.doc.manager.KnowledgeIntegralExcludeManagerImpl" />

	<!-- 业务导图-链接分类 -->
	<bean id="bizMapLinkType4Doc" class="com.seeyon.ctp.form.modules.bizmap.BizMapLinkType4Doc" />

	<bean id="docProjectEventListener" class="com.seeyon.apps.doc.listener.DocProjectEventListener" />

	<bean id="securityControlDoc" class="com.seeyon.v3x.common.security.SecurityControlDocImpl" />

	<bean id="docNewCollDataHandler" class="com.seeyon.apps.doc.manager.DocNewCollDataHandler" />
</beans>