<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- 我的博客 -->
	<bean id="blogSection" class="com.seeyon.ctp.portal.section.BlogSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="15" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
	</bean>

</beans>
