<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

	<bean id="blogFamilyDao" class="com.seeyon.apps.blog.dao.BlogFamilyDaoImpl" />
	<bean id="blogDao" class="com.seeyon.apps.blog.dao.BlogDaoImpl" />
	<bean id="blogArticleDao" class="com.seeyon.apps.blog.dao.BlogArticleDaoImpl" />
	<bean id="blogReplyDao" class="com.seeyon.apps.blog.dao.BlogReplyDaoImpl" />
	<bean id="blogAttentionDao" class="com.seeyon.apps.blog.dao.BlogAttentionDaoImpl" />
	<bean id="blogEmployeeDao" class="com.seeyon.apps.blog.dao.BlogEmployeeDaoImpl" />
	<bean id="blogFavoritesDao" class="com.seeyon.apps.blog.dao.BlogFavoritesDaoImpl" />
	<bean id="blogShareDao" class="com.seeyon.apps.blog.dao.BlogShareDaoImpl" />

</beans>
