<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean name="/xc/xcController.do" class="com.seeyon.apps.xc.controller.XcController">
		<property name="orgManagerDirect" ref="OrgManagerDirect" />
		<property name="configManager" ref="configManager" />
		<property name="xcSynManager" ref="xcSynManager" />
	</bean>
	<bean name="/xc/member.do" class="com.seeyon.apps.xc.controller.MemberController">
       <property name="orgManager" ref="orgManager"/>
       <property name="orgManagerDirect" ref="orgManagerDirect"/>
       <property name="fileToExcelManager" ref="fileToExcelManager"/>
       <property name="orgCache" ref="orgCache" />
       <property name="appLogManager" ref="appLogManager" />
       <property name="xcSynManager" ref="xcSynManager" />
       <property name="memberManager" ref="memberManager" />
 
    </bean>
</beans>
