<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName" >
     <bean id="xcSynManager" class="com.seeyon.apps.xc.manager.XCSynManagerImp" >
     <property name="cmpAppInfoDAO" ref="cmpAppInfoDAO" />
     <property name="xcsyrecordDao" ref="xcsyrecordDao" />
     <property name="synStateDao" ref="synStateDao" />
     <property name="xcRelationShipDao" ref="xcRelationShipDao" />
     <property name="orgManagerDirect" ref="orgManagerDirect"/>
      <property name="attachmentDAO" ref="attachmentDAO"></property>
      <property name="xcChildNumDao" ref="xcChildNumDao"></property>
       <property name="hrApiImpl" ref="hrApi"></property>
     </bean>
     <bean id="xcmemberManager" class="com.seeyon.apps.xc.manager.XCMemberManager" >
     <property name="xcRelationShipDao" ref="xcRelationShipDao" />
     <property name="xcsyrecordDao" ref="xcsyrecordDao" />
     <property name="xcOrgDao" ref="xcOrgDao" />
     
     </bean>
	<bean id="orgChangeEventImp" class="com.seeyon.apps.xc.listener.OrgChangeEventImp">
		<property name="xcSynManager" ref="xcSynManager" />
	</bean>
	<bean id="xCWorkFlowEvent" class="com.seeyon.apps.xc.event.XCWorkFlowEvent">
	<property name="xcSynManager" ref="xcSynManager" />
	</bean>
	
	<bean id="erp0" class="com.seeyon.ctp.portal.sso.thirdpartyintegration.ThirdpartySpace" init-method="init"> 
    <!-- 页签上显示的名称 -->  
    <property name="name" value="xc.menu.ctrip"/> <!-- 携程商旅 --> 
    <property value="com.seeyon.apps.xc.i18n.xc" name="resourceBundle"/><!-- 携程商旅国际化文件引用 --> 
    <!-- 插件id，必须存在，如果不存在，请按下面的步骤定义一个新的插件 -->  
    <property name="pluginId" value="xc"/>   
    <!-- 点击页签要打开的第三方系统页面地址 --> 
    <!-- 打开方式，值为open时在新窗口打开，为workspace时在A8页面能打开 -->  
    <property name="openType" value="open"/>  
    <!-- 排序号 -->  
    <property name="index" value="4"/>  
    <property name="accessCheck" ref="accessCheck"/>
    <property name="pageURLBuilder" ref="firstPageURLBuilder"/>
    
  </bean> 
 
  <bean id="erp1" class="com.seeyon.ctp.portal.sso.thirdpartyintegration.ThirdpartySpace" init-method="init"> 
    <!-- 页签上显示的名称 -->  
    <property name="name" value="xc.menu.order"/> <!-- 携程订单 -->
    <property value="com.seeyon.apps.xc.i18n.xc" name="resourceBundle"/>  
    <!-- 插件id，必须存在，如果不存在，请按下面的步骤定义一个新的插件 -->  
    <property name="pluginId" value="xc"/>   
    <!-- 点击页签要打开的第三方系统页面地址 --> 
    <!-- 打开方式，值为open时在新窗口打开，为workspace时在A8页面能打开 -->  
    <property name="openType" value="open"/>  
    <!-- 排序号 -->  
    <property name="index" value="5"/>  
    <!-- 授权 accessRoles与accessCheck选择其中一个即可-->  
    <!-- <property name="accessRoles"> 
      <list> 
        <value>GeneralStaff</value> 
      </list> 
    </property>   -->
     <property name="accessCheck" ref="accessCheck"/>
     <property name="pageURLBuilder" ref="orderPageURLBuilder"/>
  </bean> 
  <!-- 企业信息配置验证--> 
   <bean id="accessCheck" class="com.seeyon.apps.xc.XCEnterpriseCheck"></bean>
   <bean id="ctripData" class="com.seeyon.apps.xc.ctripData.CtripData"></bean>
   <bean id="xcConnectM3Portal" class="com.seeyon.apps.xc.cip.XCConnectM3Portal"></bean>
	<bean id="firstPageURLBuilder" class="com.seeyon.apps.xc.space.FirstPageURLBuilder"></bean>
	<bean id="orderPageURLBuilder" class="com.seeyon.apps.xc.space.OrderPageURLBuilder"></bean>
</beans>
