<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="rptWfAnalysisCollector" class="com.seeyon.apps.wfanalysis.manager.RptWfAnalysisCollectorImpl"></bean>
	
	<bean id="wfAnalysisTask" class="com.seeyon.apps.wfanalysis.WfAnalysisTask"></bean>
	
	<bean id="abstractRptWfAnalysisManager" abstract="true" class="com.seeyon.apps.wfanalysis.manager.RptWfAnalysisManager"></bean>
	
	<bean id="rptWfAnalysisManager" parent="abstractRptWfAnalysisManager" class="com.seeyon.apps.wfanalysis.manager.RptWfAnalysisManagerImpl"></bean>
	
	<bean id="rptWfAnalysisNodeManager" parent="abstractRptWfAnalysisManager" class="com.seeyon.apps.wfanalysis.manager.RptWfAnalysisNodeManagerImpl"></bean>
	
	<bean id="rptWfAnalysisMemberManager" parent="abstractRptWfAnalysisManager" class="com.seeyon.apps.wfanalysis.manager.RptWfAnalysisMemberManagerImpl"></bean>
	
	<bean id="rptWfaNodeCache" class="com.seeyon.apps.wfanalysis.manager.RptWfaNodeCacheImpl"></bean>
	
	<bean id="wfanalysisAjaxManager" class="com.seeyon.apps.wfanalysis.manager.WfanalysisAjaxManagerImpl"></bean>
	
	<bean id="wfanalysisManager" class="com.seeyon.apps.wfanalysis.manager.WfanalysisManagerImpl"></bean>

	<bean id="wfAnalysisAuthManager" class="com.seeyon.apps.wfanalysis.manager.WfAnalysisAuthManagerImpl"></bean>
	<!-- 流程绩效系统授权处理器 -->
	<bean id="wfAnalysisAuthProcess" class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthProcessImpl">
		<!-- 协同，表单，公文 -->
		<property name="moduleTypes" value="1,2,4,19,20,21" />
		<property name="handlers">
			<list>
				<!-- 绩效管理员 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthPerformanceHandler">
					<property name="roleCode" value="PerformanceAdmin" />
				</bean>
				<!-- 部门主管 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthDepAdminHandler">
					<property name="roleCode" value="DepManager" />
				</bean>
				<!-- 部门分管领导 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthDepManagerHandler">
					<property name="roleCode" value="DepLeader" />
				</bean>
				<!-- 协同模版管理员 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthTtempletManagerHandler">
					<property name="roleCode" value="TtempletManager" />
				</bean>
				<!-- 表单管理员 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthFormAdminHandler">
					<property name="roleCode" value="FormAdmin" />
				</bean>
				<!-- 公文管理员 -->
				<bean class="com.seeyon.apps.wfanalysis.handler.WfAnalysisAuthEdocManagementHandler">
					<property name="roleCode" value="EdocManagement" />
				</bean>
			</list>
		</property>
	</bean>	 
	<bean id="wfNodeAnalysisManager" class="com.seeyon.apps.wfanalysis.manager.WfNodeAnalysisManagerImpl"></bean>
	<bean id="wfMemberAnalysisManager" class="com.seeyon.apps.wfanalysis.manager.WfMemberAnalysisManagerImpl"></bean>
	<bean id="wfAnalysisApi" class="com.seeyon.apps.wfanalysis.api.WfAnalysisApiImpl"></bean>
	
	<!-- 流程效率消息过滤  这期暂时不做
	<bean id="userMessageFilterImplWfanalysis" class="com.seeyon.ctp.common.usermessage.UserMessageFilterImplWfanalysis"></bean>
	-->
	
	<!-- 流程绩效详情页面 -->
	<bean id="wfanalysisDetailManager" class="com.seeyon.apps.wfanalysis.manager.WfanalysisDetailManagerImpl"></bean>
</beans>