<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="performanceReportManager" class="com.seeyon.apps.performancereport.manager.PerformanceReportManagerImpl">
	</bean>
	<bean id="performanceQueryManager" class="com.seeyon.apps.performancereport.manager.PerformanceQueryManagerImpl">
	</bean>
	<bean id="achievementsReportManager" class="com.seeyon.apps.performancereport.manager.AchievementsReportManagerImpl">
		<property name="achievementsReportDao" ref="achievementsReportDao"></property>
		<property name="workFlowAnalysisManager" ref="workFlowAnalysisManager"></property>
		<property name="templateManager" ref="templateManager"></property>
	</bean>
	<bean id="achievementsReportDao" class="com.seeyon.apps.performancereport.dao.AchievementsReportDaoImpl"/>
	<bean id="meetingReportManager" class="com.seeyon.apps.performancereport.manager.MeetingReportManagerImpl">
		<property name="meetingReportDao" ref="meetingReportDao"></property>
		<property name="workTimeManager" ref="workTimeManager"></property>
	</bean>
	<bean id="meetingReportDao" class="com.seeyon.apps.performancereport.dao.MeetingReportDaoImpl"></bean>
	<bean id="knowledgeReportManager" class="com.seeyon.apps.performancereport.manager.KnowledgeReportManagerImpl">
		<property name="knowledgeReportDao" ref="knowledgeReportDao"></property>
	</bean>
	<bean id="knowledgeReportDao" class="com.seeyon.apps.performancereport.dao.KnowledgeReportDaoImpl">
	</bean>
	<bean id="taskReportManager" class="com.seeyon.apps.performancereport.manager.TaskReportManagerImpl">
		<property name="taskReportDao" ref="taskReportDao"></property>
	</bean>
	<bean id="taskReportDao" class="com.seeyon.apps.performancereport.dao.TaskReportDaoImpl">
	</bean>
	<bean id="systemReportManager" class="com.seeyon.apps.performancereport.manager.SystemReportManagerImpl">
		<property name="systemReportDao" ref="systemReportDao"></property>
	</bean>
	<bean id="systemReportDao" class="com.seeyon.apps.performancereport.dao.SystemReportDaoImpl"></bean>
	<bean id="projectReportDao" class="com.seeyon.apps.performancereport.dao.ProjectReportDaoImpl"></bean>
	<bean id="projectReportManager" class="com.seeyon.apps.performancereport.manager.ProjectReportManagerImpl"></bean>
	<bean id="workFlowAnalysisManager" class="com.seeyon.apps.performancereport.manager.WorkFlowAnalysisManagerImpl">
		<property name="workFlowAnalysisDao" ref="workFlowAnalysisDao"/>
		<property name="affairManager" ref="affairManager"/>
		<property name="workTimeManager" ref="workTimeManager"/> 
		<property name="templateManager" ref="templateManager"/>
		<property name="workFlowAnalysisAclManager" ref="workFlowAnalysisAclManager"/>
		<property name="wapi" ref="wapi"/>
	</bean>
	
	<bean id="workFlowAnalysisAclManager" class="com.seeyon.apps.performancereport.manager.WorkFlowAnalysisAclManagerImpl" init-method="init">
		<property name="workFlowAnalysisAclDao" ref="workFlowAnalysisAclDao"/>
		<property name="templateManager" ref="templateManager"/>
	</bean>
	<bean id="workFlowAnalysisAclDao" class="com.seeyon.apps.performancereport.dao.WorkFlowAnalysisAclDaoAclImpl"/>
	<bean id="workFlowAnalysisDao" class="com.seeyon.apps.performancereport.dao.WorkFlowAnalysisDaoImpl"/>	
	<bean id="reportMidOnlinePeakManager" class="com.seeyon.apps.performancereport.manager.ReportMidOnlinePeakManagerImpl">
	</bean>
	<bean id="reportMidOnlinePeakDao" class="com.seeyon.apps.performancereport.dao.ReportMidOnlinePeakDaoImpl">
	</bean>
	<bean id="workDailyDao" class="com.seeyon.apps.performancereport.dao.WorkDailyDaoImpl">
	</bean>
	<bean id="onlinePeakQuartz" class="com.seeyon.apps.performancereport.schedule.quartz.OnlinePeakQuartz">
	</bean>
	<bean id="workDailyQuartz" class="com.seeyon.apps.performancereport.schedule.quartz.WorkDailyQuartz">
	</bean>
	<bean id="knowledgeIncreaseQuartz" class="com.seeyon.apps.performancereport.schedule.quartz.KnowledgeIncreaseQuartz">
	</bean>
	<bean id="OnlineTimeStatisticsQuartz" class="com.seeyon.apps.performancereport.schedule.quartz.OnlineTimeStatisticsQuartz">
	</bean>
	<bean id="workFlowAnalysisJobName" class="com.seeyon.apps.performancereport.vo.WorkFlowAnalysisJob">
	</bean>
	<bean id="performanceReportInitializer" class="com.seeyon.apps.performancereport.manager.PerformanceReportInitializer"/>
	<bean id="reportAuthListener" class="com.seeyon.apps.performancereport.listener.ReportAuthListener"></bean>
	<bean id="reportAuthManager" class="com.seeyon.apps.performancereport.manager.ReportAuthManagerImpl"/>
	<!-- 中间表调度 -->
    <bean id="Schedule2TableInitializer" class="com.seeyon.apps.performancereport.schedule.SchedulePerformanceInitializer"></bean>
<!-- 	<bean id="performanceReportManager4Report" class="com.seeyon.apps.performancereport.core.manager.PerformanceReportManagerImpl"> -->
<!-- 		<property name="reportDataManager" ref="performanceReportDataManager"/> -->
<!-- 		<property name="reportBindManager" ref="performanceReportBindManager"/> -->
<!-- 	</bean> -->
	<bean id="reportAuthNewDao" class="com.seeyon.apps.performancereport.dao.ReportAuthNewDaoImpl"></bean>
</beans>