<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!--绩效报表入口 -->
    <bean name="/performanceReport/performanceReport.do" class="com.seeyon.apps.performancereport.controller.PerformanceReportController">
    </bean>
    <!--绩效报表查询入口 -->
    <bean name="/performanceReport/performanceQuery.do" class="com.seeyon.apps.performancereport.controller.PerformanceQueryController">
		<property name="fileToExcelManager" ref="fileToExcelManager"></property>   
    	<property name="portletEntityPropertyManager" ref="portletEntityPropertyManager"/>
<!--     	<property name="reportCommonManager" ref="reportCommonManager"></property> -->
<!--     	<property name="reportCommonXmlManager" ref="reportCommonXmlManager"></property> -->
    </bean>
    <bean name="/performanceReport/WorkFlowAnalysisController.do" class="com.seeyon.apps.performancereport.controller.WorkFlowAnalysisController">
		<property name="workFlowAnalysisManager" ref="workFlowAnalysisManager"/>
		<property name="workFlowAnalysisAclManager" ref="workFlowAnalysisAclManager"/>
		<property name="fileToExcelManager" ref="fileToExcelManager"/>
		<property name="col4WFAnalysisManager" ref="col4WFAnalysisManager"/>
		<property name="templateManager" ref="templateManager"/>
		<property name="workTimeManager" ref="workTimeManager"/>
	</bean>
	<bean name="/performanceReport/performanceSectionController.do" class="com.seeyon.apps.performancereport.controller.PerformanceSectionController">
		<property name="performanceReportManager" ref="performanceReportManager"/>
		<property name="performanceQueryManager" ref="performanceQueryManager"/>
		<property name="portletEntityPropertyManager" ref="portletEntityPropertyManager"/>
	</bean>
</beans>