TABLE.msoUcTable TD {
		BORDER-RIGHT: medium none;
		BORDER-TOP: medium none;
		BORDER-LEFT: medium none; 
		BORDER-BOTTOM: medium none;
}
TABLE.msoUcTable {
		BORDER-RIGHT: medium none;
		BORDER-TOP: medium none;
		BORDER-LEFT: medium none; 
		BORDER-BOTTOM: medium none;
}