<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="rssDao" class="com.seeyon.apps.rss.dao.RssDaoImpl" />
	<bean id="rssSubscribeDao" class="com.seeyon.apps.rss.dao.RssSubscribeDaoImpl" />
	<bean id="rssChannelInfoDao" class="com.seeyon.apps.rss.dao.RssChannelInfoDaoImpl" />
	<bean id="rssChannelItemDao" class="com.seeyon.apps.rss.dao.RssChannelItemDaoImpl" />
	<bean id="rssItemStatuDao" class="com.seeyon.apps.rss.dao.RssItemStatuDaoImpl" />
	<bean id="rssCategoryDao" class="com.seeyon.apps.rss.dao.RssCategoryDaoImpl" />
	<bean id="rssCategoryChannelDao" class="com.seeyon.apps.rss.dao.RssCategoryChannelDaoImpl" />
</beans>