<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	
	<!-- 考勤外勤(地图)栏目 -->
	<bean id="lbsMapSection" class="com.seeyon.apps.attendance.section.LbsMapSection" init-method="init">
		<property name="sortId" value="11"/>
		<property name="sectionType" value="forum"/>
		<property name="spaceTypes" value="custom,personal,personal_custom,leader,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,outer,department"/>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="attendance.common.map.label" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsHeight" />
								<property name="subject" value="hr.height.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="410" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="notNull=true min=410 max=768"></property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 考勤签到(列表)栏目 -->
	<bean id="lbsSearchSection" class="com.seeyon.apps.attendance.section.LbsSearchSection" init-method="init">
		<property name="sortId" value="11"/>
		<property name="sectionType" value="forum"/>
		<property name="spaceTypes" value="custom,personal,personal_custom,leader,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,outer,department"/>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="project.collaboration.subject.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="attendance.common.list.label" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsCount" />
								<property name="subject" value="project.collaboration.showline.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="10" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=10"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnProperty" />
								<property name="subject" value="project.collaboration.show.label" />
								<property name="defaultValue" value="userName,dptName,createDate,lbsAddr" />
								<property name="valueType" value="1" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="hr.name.label" />
											<property name="value" value="userName" />
											<property name="readOnly" value="true"/>
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="hr.department.label" />
											<property name="value" value="dptName" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="hr.time.label" />
											<property name="value" value="createDate" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="hr.addres.label" />
											<property name="value" value="lbsAddr" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>