<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- dao begin-->
	<bean id="mobileAuthDao" class="com.seeyon.apps.m1.authorization.mobileAuth.dao.impl.MobileAuthDaoImpl">
		<property name="jdbcTemplate" ref="mmJdbcTemplate" />
	</bean>
	<bean id="mClientBindDao" class="com.seeyon.apps.m1.bind.dao.impl.MClientBindDaoImpl">
	   
	 </bean>
	 <!-- 消息设置dao -->
	<bean id = "m1UserPushMessageConfigDao" class = "com.seeyon.apps.m1.message.dao.M1UserPushMessageConfigDaoImpl"></bean>
	<!-- dao end-->

	<bean id = "mUserCalendarConfigDao"  class = "com.seeyon.apps.m1.calendar.dao.impl.MUserCalendarConfigDaoImpl"></bean>
	<bean id="mmJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="mmTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- misignature DAO -->
	<bean id="mIsignatureUserKeyDao" class="com.seeyon.apps.m1.signature.dao.impl.MIsignatureUserKeyDaoImpl">
	</bean>
	<bean id="mCollaborationDao" class="com.seeyon.apps.m1.dao.impl.MCollaborationDaoImpl">
    </bean>
    
	<bean id="mmobileOfficeUserAuthDao" class="com.seeyon.apps.m1.mobileOffice.authorization.dao.impl.MmobileOfficeUserAuthDaoImpl">
    </bean>
    <bean id="mmobileOfficeOrgAuthDao" class="com.seeyon.apps.m1.mobileOffice.authorization.dao.impl.MmobileOfficeOrgAuthDaoImpl">
    </bean>
    <bean id = "mOfflineOrgUpdateDao" class="com.seeyon.apps.m1.organization.dao.MOfflineOrgUpdateDaoImpl"></bean>
    
    <bean id = "mOfflineUserUpdateLogDao" class="com.seeyon.apps.m1.organization.dao.MOfflineUserUpdateLogDaoImpl"></bean>
    <bean id = "mOfflineMemberPostDao" class="com.seeyon.apps.m1.organization.dao.MOfflineMemberPostDaoImpl"></bean>
    
    <bean id = "mConnectSetDao" class="com.seeyon.apps.m1.connectSet.dao.MConnectSetDaoImpl"></bean>
    
</beans>