<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="ncMultiJCManager" class="com.seeyon.apps.ntp.manager.NCMultiJCManagerImpl" />
	<bean id="ncMultiSetNotificationHandler" class="com.seeyon.ctp.cluster.listener.NCMultiSetNotificationHandler">
    </bean>
    <bean id="ncUserMapperManager" class="com.seeyon.apps.ntp.manager.NCUserMapperManagerImpl" init-method="init">
    </bean>
    <bean id="nc5UserMapperServiceImpl" class="com.seeyon.apps.ntp.manager.NC5UserMapperServiceImpl"/>
    <bean id="nc6UserMapperServiceImpl" class="com.seeyon.apps.ntp.manager.NC6UserMapperServiceImpl"/>
    <bean id="ncOrgManager" class="com.seeyon.apps.ntp.manager.NCOrgManagerImpl" init-method="init">
    </bean>
    <bean id="ncOrgRecordManager" class="com.seeyon.apps.ntp.manager.NCOrgSynRecordManagerImpl">
    </bean>
    <bean id="ncScheduler" class="com.seeyon.apps.ntp.scheduletask.NCScheduleTaskManagerImpl" init-method="init"/>
    <bean id="ncUserMapperManagerHandler" class="com.seeyon.apps.cluster.listener.NCUserMapperManagerHandler">
       <property name="ncUserMapperManager" ref="ncUserMapperManager" />
    </bean>
</beans>