<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/ncMultiJCController.do" class="com.seeyon.apps.ntp.controller.NCMultiJCController"/>
	<bean name="/ncUserMapper.do" class="com.seeyon.apps.ntp.controller.NCUserMapperController" />
	<bean name="/ncOrgController.do" class="com.seeyon.apps.ntp.controller.NCSynchronController">
	</bean>
	<bean name="/ncAutoSynch.do" class="com.seeyon.apps.ntp.controller.NCAutoSynchController"/>
	<bean name="/ncSynchLog.do" class="com.seeyon.apps.ntp.controller.NCSynchLogController">
		<property name="ncOrgRecordManager" ref="ncOrgRecordManager" />
	</bean>
	<bean name="/ncFilderController.do" class="com.seeyon.apps.ntp.controller.NCFilderController"/>
</beans>