<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<!-- 单位最新讨论 -->
	<bean id="bbsSection" class="com.seeyon.v3x.bbs.portal.section.BbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="67" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.bbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="cannel.bbs.lable" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/bbs.do?method=showDesignated" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单位置顶讨论 -->
	<bean id="TopbbsSection" class="com.seeyon.v3x.bbs.portal.section.TopBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="69" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.TopbbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="cannel.bbs.lable" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/bbs.do?method=showDesignated" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块单位讨论 -->
	<bean id="singleBoardBbsSection" class="com.seeyon.v3x.bbs.portal.section.SingleBoardBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="93" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 集团最新讨论 -->
	<bean id="groupBbsSection" class="com.seeyon.v3x.bbs.portal.section.GroupBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="75" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="common" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.groupBbs.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="cannel.bbs.lable" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/bbs.do?method=showDesignated&amp;group=group" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 集团置顶讨论 -->
	<bean id="groupTopBbsSection" class="com.seeyon.v3x.bbs.portal.section.GroupTopBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="77" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="common" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.groupTopBbs.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="panel" />
								<property name="subject" value="cannel.bbs.lable" />
								<property name="valueType" value="5" />
								<property name="defaultValue" value="all" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.all" />
											<property name="value" value="all" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.pending.designated.plate" />
											<property name="value" value="designated" />
											<property name="panelSetUrl" value="/bbs.do?method=showDesignated&amp;group=group" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块集团讨论 -->
	<bean id="singleBoardGroupBbsSection" class="com.seeyon.v3x.bbs.portal.section.SingleBoardGroupBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="97" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义单位/集团空间最新讨论 -->
	<bean id="customLatestBbsSection" class="com.seeyon.v3x.bbs.portal.section.CustomLatestBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="83" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.singleCustomBoardBbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义单位/集团空间置顶讨论 -->
	<bean id="customLatestTopBbsSection" class="com.seeyon.v3x.bbs.portal.section.CustomLatestTopBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="85" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customTopBbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.category.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 单版块自定义单位/集团空间讨论 -->
	<bean id="singleCustomBoardBbsSection" class="com.seeyon.v3x.bbs.portal.section.SingleCustomBoardBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义团队空间讨论 -->
	<bean id="customBbsSection" class="com.seeyon.v3x.bbs.portal.section.CustomBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="87" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="custom" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customBbs.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 自定义团队空间置顶讨论 -->
	<bean id="customTopBbsSection" class="com.seeyon.v3x.bbs.portal.section.CustomTopBbsSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="89" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="custom" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customTopBbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label" />
											<property name="value" value="number" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 部门讨论 -->
	<bean id="departmentBbsSection" class="com.seeyon.v3x.bbs.portal.section.DepartmentBbsSection">
		<property name="sortId" value="22" />
		<property name="sectionType" value="common" />
		<property name="spaceTypes" value="department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.departmentBbsSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bbsCountSectionProperty" />
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="rowList" />
								<property name="subject" value="cannel.display.column.label" />
								<property name="valueType" value="1" />
								<property name="defaultValue" value="subject,publishDate,type,number" />
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.subject.label" />
											<property name="readOnly" value="true" />
											<property name="value" value="subject" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="imagenews.publishDate.label" />
											<property name="value" value="publishDate" />
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="cannel.display.column.sendUser.label" />
											<property name="value" value="type" />
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 项目讨论 -->
	<bean id="projectBbsSection" class="com.seeyon.v3x.bbs.portal.section.ProjectBbsSection">
		<property name="sortId" value="109" />
		<property name="sectionType" value="common"></property>
		<property name="spaceTypes" value="related_project_space"></property>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName"></property>
								<property name="subject" value="cannel.name.label"></property>
								<property name="valueType" value="2"></property>
								<property name="defaultValue" value="bbs.title.label"></property>
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNUll=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount"></property>
								<property name="subject" value="cannel.data.count"></property>
								<property name="valueType" value="2"></property>
								<property name="validate" value="isInteger" />
								<property name="defaultValue" value="8"></property>
								<property name="validateValue" value="max=50 min=1" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnproperty"></property>
								<property name="subject" value="cannel.display.column.label"></property>
								<property name="valueType" value="1"></property>
								<property name="defaultValue" value="0,1,2,3"></property>
								<property name="valueRanges">
									<list>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="common.subject.label"></property>
											<property name="value" value="0"></property>
											<property name="readOnly" value="true"></property>
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.date.create"></property>
											<property name="value" value="2"></property>
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="bbs.replyAndClickNumber.label"></property>
											<property name="value" value="3"></property>
										</bean>
										<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="bbs.issue.poster.label"></property>
                                            <property name="value" value="1"></property>
                                        </bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 显示条数 -->
	<bean id="bbsCountSectionProperty" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="count" />
					<property name="subject" value="cannel.data.count" />
					<property name="valueType" value="2" />
					<property name="validate" value="isInteger" />
					<property name="validateValue" value="max=50 min=1" />
					<property name="defaultValue" value="8" />
				</bean>
			</list>
		</property>
	</bean>

</beans>