<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!--应用管理-->
    <bean id="wechatAppDao" class="com.seeyon.apps.weixin.dao.WechatAppDaoImpl"/>
    <!--底导航-->
    <bean id="wechatSetDao" class="com.seeyon.apps.weixin.dao.WechatSetDaoImpl"/>
    <!--轮播图-->
    <bean id="wechatBannerDao" class="com.seeyon.apps.weixin.dao.WechatBannerDaoImpl"/>
</beans>