<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!-- 协同立方 事件监听对象 -->
<!--     <bean id="collaborationCubeListener" class="com.seeyon.apps.colCube.listener.CollaborationCubeListener"></bean> -->
    <!-- 协同立方 入库守护进程 -->
<!--     <bean id="collCubeWorker" class="com.seeyon.apps.colCube.CollCubeWorker"></bean> -->
    
    <!-- 协同立方 -->
<!--     <bean id="collCubeManager" class="com.seeyon.apps.colCube.manager.CollCubeManagerImpl"></bean> -->
   
<!--     协同立方指标 -->
<!-- 	<bean id="collCubeIndexManager"  class="com.seeyon.apps.colCube.manager.CollCubeIndexManagerImpl" /> -->

<!--     协同立方权重DAO -->
<!--     <bean id="collCubeIndexDao" class="com.seeyon.apps.colCube.dao.CollCubeIndexDaoImpl"></bean> -->
<!--     协同立方和协同360指标设置 -->
<!--     <bean id="collCubeIndexSetDao" class="com.seeyon.apps.colCube.dao.CollCubeIndexSetDaoImpl"></bean> -->
<!--     协同立方DAO -->
<!--     <bean id="collCubeDao" class="com.seeyon.apps.colCube.dao.CollCubeDaoImpl"></bean> -->
<!--     协同立方授权 -->
<!-- 	<bean id="cubeAuthManager" class="com.seeyon.apps.colCube.manager.CubeAuthManagerImpl" /> -->
<!-- 单位监听,新增指标设置 -->
<!-- 	<bean id="collCubeIndexEventListener" class="com.seeyon.apps.colCube.listener.CollCubeIndexEventListener"></bean> -->
</beans>