<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 协同立方 -->
	<!-- <bean id="cubeSection"
		class="com.seeyon.apps.colCube.section.CubeSection"
		init-method="init">
		<property name="sectionType" value="performanceAnalysis" />
		<property name="sectionCategory" value="systemData" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,custom,department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="notice" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="chartHeight" />
								<property name="subject" value="performanceReport.section.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="400" />
							</bean>
							选人
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="choosePeople" />
								<property name="subject" value="performanceReport.queryMainHtml.selectePerson" />
								<property name="valueType" value="9" />
								<property name="defaultValue" value="url" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="performanceReport.queryMainHtml.selectePerson" />
											<property name="value" value="url" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="/colCube/colCube.do?method=goCollCubePortal"/>
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="dateType" />
                                <property name="subject" value="performanceReport.queryMainHtml.getTime" />
                                <property name="valueType" value="0" />
                                <property name="defaultValue" value="4" />
                                <property name="onChange" value="onChangeMtStatContent" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.month" />
                                            <property name="value" value="4" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.season" />
                                            <property name="value" value="5" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.year" />
                                            <property name="value" value="7" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.all" />
                                            <property name="value" value="8" />
                                        </bean>
                                        
                                    </list>
                                </property>
                            </bean>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="statNum" />
                                <property name="subject" value="performanceReport.section.personNum" />
                                <property name="valueType" value="5" />
                                <property name="defaultValue" value="10" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.section.tenPeople" />
                                            <property name="value" value="10" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="performanceReport.section.twentyPeople" />
                                            <property name="value" value="20" />
                                        </bean>
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>		
				</bean>
			</list>
		</property>
	</bean> -->
	<!-- 协同360 
	<bean id="cube360Section"
		class="com.seeyon.apps.colCube.section.Cube360Section"
		init-method="init">
		<property name="sectionType" value="performanceAnalysis" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,custom,department" />
				<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="notice" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="chartHeight" />
								<property name="subject" value="performanceReport.section.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="280" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="choosePeople" />
								<property name="subject" value="performanceReport.queryMainHtml.selectePerson" />
								<property name="defaultValue" value="url" />
								<property name="valueType" value="9" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="performanceReport.queryMainHtml.selectePerson" />
											<property name="value" value="url" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="/colCube/colCube.do?method=goCollCubePortal"/>
										</bean>
									</list>
								</property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="dateType" />
                                <property name="subject" value="performanceReport.queryMainHtml.getTime" />
                                <property name="valueType" value="0" />
                                <property name="defaultValue" value="2" />
                                <property name="valueRanges">
                                    <list>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.today" />
                                            <property name="value" value="1" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.week" />
                                            <property name="value" value="2" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.month" />
                                            <property name="value" value="4" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.year" />
                                            <property name="value" value="7" />
                                        </bean>
                                        <bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
                                            <property name="subject" value="colCube.common.dateSelect.all" />
                                            <property name="value" value="8" />
                                        </bean>
                                        
                                    </list>
                                </property>
                            </bean>
						</list>
					</property>		
				</bean>
			</list>
		</property>
	</bean>
	-->
</beans>