<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="cmpAppManager" class="com.seeyon.cmp.integration.manager.impl.CMPAppManagerImpl">
		<property name="cmpAppInfoDAO" ref="cmpAppInfoDAO" />
		<property name="cmpAppAuthenticationManager" ref="cmpAppAuthenticationManager"></property>
	</bean>
	<bean 
	    id="cmpAppAuthenticationManager" class="com.seeyon.cmp.appAuthentication.manager.impl.CMPAppAuthenticationManagerImpl">
	    <property name="cmpAppAuthenticationDAO" ref="cmpAppAuthenticationDAO"/>
	    <!--  <property name="orgManager" ref="orgManager" />-->
	</bean>
</beans>