<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="cmpSSOLogout"
		class="com.seeyon.cmp.authentication.CMPSSOLogout"
		singleton="true">
		<property name="ssoAuthentication" ref="cmpUsernamePasswordCASAuthentication" />
	</bean>
	
	<bean id="cmpUsernamePasswordAuthentication"
		class="com.seeyon.cmp.authentication.cas.CMPUsernamePasswordCASAuthentication"
		singleton="true">
		<property name="serverUrl" value="https://m1.ssodemo.com:8443/cas/v1/tickets/" />
	</bean>

	<bean id="cmpTicketValidation"
		class="com.seeyon.cmp.authentication.cas.CMPTicketCASValidation" 
		singleton="true">
		<property name="serverUrl" value="https://m1.ssodemo.com:8443/cas/v1/tickets/" />
		<property name="serviceUrl" value="http://oa.ssodemo.com:8082/seeyon/ajax.do" />
	</bean>
	
</beans>