.portal_menu_icon {
	background-image: url("images/portal_menuIcon.png");
	display: block;
}
.menu_one_cartravel{
	background-position: -0px -408px;
	width: 24px;
	height: 24px;
}
.aboutA6 {
	background-position: -0px -0px;
	width: 24px;
	height: 24px;
}

.personal_16 {
	background-position: -140px -292px;
	width: 16px;
	height: 16px;
}

.personal {
	background-position: -112px -292px;
	width: 28px;
	height: 28px;
}

.top_setting {
	background-position: -405px -300px;
	width: 37px;
	height: 24px;
}

.moresectionicon {
	background-position: -337px -292px;
	width: 28px;
	height: 28px;
}

.custom {
	background-position: -300px -295px;
	width: 28px;
	height: 28px;
}

.mosectionicon {
	background-position: -365px -292px;
	width: 36px;
	height: 36px;
}

.top_workdesk {
	background-position: -372px -240px;
	width: 25px;
	height: 25px;
}

.menu_one_u8integrated {
	background-position: -385px -265px;
	width: 24px;
	height: 24px;
}

.nav_second_ico {
	background-position: -72px -168px;
	width: 24px;
	height: 24px;
}

.abouta6u8 {
	background-position: -24px -0px;
	width: 24px;
	height: 24px;
}

.abouta8 {
	background-position: -48px -0px;
	width: 24px;
	height: 24px;
}

.abouta8u8 {
	background-position: -72px -0px;
	width: 24px;
	height: 24px;
}

.accomplishedconferen {
	background-position: -96px -0px;
	width: 24px;
	height: 24px;
}

.accountdoc {
	background-position: -120px -0px;
	width: 24px;
	height: 24px;
}

.admin_top_index {
	background-position: -144px -0px;
	width: 24px;
	height: 24px;
}

.menu_one_administratorconfig {
	background-position: -168px -0px;
	width: 24px;
	height: 24px;
}

.agentnavtitle {
	background-position: -192px -0px;
	width: 24px;
	height: 24px;
}

.allinone {
	background-position: -216px -0px;
	width: 24px;
	height: 24px;
}

.all_in_one {
	background-position: -240px -0px;
	width: 24px;
	height: 24px;
}

.allinonemessage {
	background-position: -264px -0px;
	width: 24px;
	height: 24px;
}

.allinoneoperator {
	background-position: -288px -0px;
	width: 24px;
	height: 24px;
}

.allinoneu8 {
	background-position: -312px -0px;
	width: 24px;
	height: 24px;
}

.menu_one_applicationconfig {
	background-position: -336px -0px;
	width: 24px;
	height: 24px;
}

.applog {
	background-position: -360px -0px;
	width: 24px;
	height: 24px;
}

.assetManage {
	background-position: -384px -0px;
	width: 24px;
	height: 24px;
}

.attendancemanagement {
	background-position: -408px -0px;
	width: 24px;
	height: 24px;
}

.menu_one_auditmanagement {
	background-position: -432px -0px;
	width: 24px;
	height: 24px;
}

.automanage {
	background-position: -0px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_corporation {
	background-position: -24px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_custom {
	background-position: -48px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_department {
	background-position: -72px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_group {
	background-position: -96px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_leader {
	background-position: -120px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_linksystem {
	background-position: -144px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_outer {
	background-position: -168px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_personal {
	background-position: -192px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_personal_custom {
	background-position: -216px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_public_custom {
	background-position: -240px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_public_custom_group {
	background-position: -264px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_relateproject {
	background-position: -288px -24px;
	width: 24px;
	height: 24px;
}

.b_menu_thridpartyspace {
	background-position: -312px -24px;
	width: 24px;
	height: 24px;
}

.menu_one_basicconfig {
	background-position: -336px -24px;
	width: 24px;
	height: 24px;
}

.bbs {
	background-position: -360px -24px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_blog {
	background-position: -384px -24px;
	width: 24px;
	height: 24px;
}

.blogmanagement {
	background-position: -408px -24px;
	width: 24px;
	height: 24px;
}

.bookManagement {
	background-position: -432px -24px;
	width: 24px;
	height: 24px;
}

.bulletin {
	background-position: -0px -48px;
	width: 24px;
	height: 24px;
}

.menu_one_busicapplicationconf {
	background-position: -24px -48px;
	width: 24px;
	height: 24px;
}

.busicapplicationconf0 {
	background-position: -48px -48px;
	width: 24px;
	height: 24px;
}

.businessconfiguratio {
	background-position: -72px -48px;
	width: 24px;
	height: 24px;
}

.businessconfiguration {
	background-position: -96px -48px;
	width: 24px;
	height: 24px;
}

.menu_one_businesssolutionsgen {
	background-position: -120px -48px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_calculator {
	background-position: -144px -48px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_calendar {
	background-position: -168px -48px;
	width: 24px;
	height: 24px;
}

.menu_one_collaboration {
	background-position: -192px -48px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_collaboration360 {
	background-position: -216px -48px;
	width: 24px;
	height: 24px;
}

/*xl 7-5新添加督查督办图标*/
.menu_one_supervision{
	background-position: -174px -330px;
	width: 22px;
	height: 22px;
}

.menu_shortcut_collaborationcube {
	background-position: -240px -48px;
	width: 24px;
	height: 24px;
}

.collaborationcubeconfig {
	background-position: -264px -48px;
	width: 24px;
	height: 24px;
}

.menu_one_collaborationmonitor {
	background-position: -288px -48px;
	width: 24px;
	height: 24px;
}

.collaborationtemplate {
	background-position: -312px -48px;
	width: 24px;
	height: 24px;
}

.collaborationthemespace {
	background-position: -336px -48px;
	width: 24px;
	height: 24px;
}

.coltemplatemanage {
	background-position: -360px -48px;
	width: 24px;
	height: 24px;
}

.menu_one_common {
	background-position: -384px -48px;
	width: 24px;
	height: 24px;
}

.common_second_0 {
	background-position: -408px -48px;
	width: 24px;
	height: 24px;
}

.common_second_1 {
	background-position: -432px -48px;
	width: 24px;
	height: 24px;
}

.common_second_2 {
	background-position: -0px -72px;
	width: 24px;
	height: 24px;
}

.common_second_3 {
	background-position: -24px -72px;
	width: 24px;
	height: 24px;
}

.common_second_4 {
	background-position: -48px -72px;
	width: 24px;
	height: 24px;
}

.common_second_5 {
	background-position: -72px -72px;
	width: 24px;
	height: 24px;
}

.menu_one_conference {
	background-position: -96px -72px;
	width: 24px;
	height: 24px;
}

.conferencearrangemen {
	background-position: -120px -72px;
	width: 24px;
	height: 24px;
}

.conferenceroom {
	background-position: -144px -72px;
	width: 24px;
	height: 24px;
}

.conferencethemespace {
	background-position: -168px -72px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_contacts {
	background-position: -192px -72px;
	width: 24px;
	height: 24px;
}

.menu_one_cultureconstruction {
	background-position: -216px -72px;
	width: 24px;
	height: 24px;
}

.menu_one_deeconsole {
	background-position: -240px -72px;
	width: 24px;
	height: 24px;
}

.menu_one_dept_management {
	background-position: -264px -72px;
	width: 24px;
	height: 24px;
}

.docarchives {
	background-position: -288px -72px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_doccenter {
	background-position: -312px -72px;
	width: 24px;
	height: 24px;
}

.docconfig {
	background-position: -336px -72px;
	width: 24px;
	height: 24px;
}

.docdispatch {
	background-position: -360px -72px;
	width: 24px;
	height: 24px;
}

.docexchage {
	background-position: -384px -72px;
	width: 24px;
	height: 24px;
}

.doclibrarymanagement {
	background-position: -408px -72px;
	width: 24px;
	height: 24px;
}

.docreceiving {
	background-position: -432px -72px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_docsearch {
	background-position: -0px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_docstatistics {
	background-position: -24px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_docsupervision {
	background-position: -48px -96px;
	width: 24px;
	height: 24px;
}

.menu_one_documentmanagement {
	background-position: -72px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_doneevent {
	background-position: -96px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_edocdengji {
	background-position: -120px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_edocfawen {
	background-position: -144px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_edocqianbao {
	background-position: -288px -378px;
	width: 24px;
	height: 24px;
}

.elementarydata {
	background-position: -192px -96px;
	width: 24px;
	height: 24px;
}

.email {
	background-position: -216px -96px;
	width: 24px;
	height: 24px;
}

.employeearchives {
	background-position: -240px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_favoritelinks {
	background-position: -264px -96px;
	width: 24px;
	height: 24px;
}

.formcolumnconfig {
	background-position: -288px -96px;
	width: 24px;
	height: 24px;
}

.menu_one_formengine {
	background-position: -312px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_formquery {
	background-position: -336px -96px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_formstatistics {
	background-position: -360px -96px;
	width: 24px;
	height: 24px;
}

.formthemespace {
	background-position: -384px -96px;
	width: 24px;
	height: 24px;
}

.menu_one_groupapplicationconf {
	background-position: -408px -96px;
	width: 24px;
	height: 24px;
}

.menu_one_grouporganizationman {
	background-position: -432px -96px;
	width: 24px;
	height: 24px;
}

.menu_one_groupwoucherset {
	background-position: -0px -120px;
	width: 24px;
	height: 24px;
}

.guestBook {
	background-position: -24px -120px;
	width: 24px;
	height: 24px;
}

.help {
	background-position: -48px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_humanResources {
	background-position: -72px -120px;
	width: 24px;
	height: 24px;
}

.HumanResources_png {
	background-position: -96px -120px;
	width: 24px;
	height: 24px;
}

.icon {
	background-position: -120px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_identitymanangement {
	background-position: -144px -120px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_inbox {
	background-position: -168px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_info {
	background-position: -192px -120px;
	width: 24px;
	height: 24px;
}

.infoaudit {
	background-position: -216px -120px;
	width: 24px;
	height: 24px;
}

.infomanager {
	background-position: -240px -120px;
	width: 24px;
	height: 24px;
}

.inforeport {
	background-position: -264px -120px;
	width: 24px;
	height: 24px;
}

.informationform {
	background-position: -288px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_informationintegrati {
	background-position: -312px -120px;
	width: 24px;
	height: 24px;
}

.infostat {
	background-position: -336px -120px;
	width: 24px;
	height: 24px;
}

.itemsetting {
	background-position: -360px -120px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_kmsquare {
	background-position: -384px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_knowledgecommunity {
	background-position: -408px -120px;
	width: 24px;
	height: 24px;
}

.menu_one_m1management {
	background-position: -432px -120px;
	width: 24px;
	height: 24px;
}

.magzineaudit {
	background-position: -0px -144px;
	width: 24px;
	height: 24px;
}

.magzinebrowse {
	background-position: -24px -144px;
	width: 24px;
	height: 24px;
}

.menu_one_managementbyobjectiv {
	background-position: -48px -144px;
	width: 24px;
	height: 24px;
}

.managementbyobjectiv_a6 {
	background-position: -72px -144px;
	width: 23px;
	height: 24px;
}

.menu_corporation {
	background-position: -95px -144px;
	width: 24px;
	height: 24px;
}

.menu_custom {
	background-position: -119px -144px;
	width: 24px;
	height: 24px;
}

.menu_department {
	background-position: -143px -144px;
	width: 24px;
	height: 24px;
}

.menu_group {
	background-position: -167px -144px;
	width: 24px;
	height: 24px;
}

.menu_leader {
	background-position: -191px -144px;
	width: 24px;
	height: 24px;
}

.menu_linksystem {
	background-position: -215px -144px;
	width: 24px;
	height: 24px;
}

.menu_outer {
	background-position: -239px -144px;
	width: 24px;
	height: 24px;
}

.menu_personal {
	background-position: -263px -144px;
	width: 24px;
	height: 24px;
}

.menu_personal_custom {
	background-position: -287px -144px;
	width: 24px;
	height: 24px;
}

.menu_public_custom {
	background-position: -311px -144px;
	width: 24px;
	height: 24px;
}

.menu_public_custom_group {
	background-position: -335px -144px;
	width: 24px;
	height: 24px;
}

.menu_relateproject {
	background-position: -359px -144px;
	width: 24px;
	height: 24px;
}

.menu_thridpartyspace {
	background-position: -383px -144px;
	width: 24px;
	height: 24px;
}

.menumanagement {
	background-position: -407px -144px;
	width: 24px;
	height: 24px;
}

.messagemodelsetting {
	background-position: -431px -144px;
	width: 24px;
	height: 24px;
}

.metadata {
	background-position: -0px -168px;
	width: 24px;
	height: 24px;
}

.monitorthemespace {
	background-position: -24px -168px;
	width: 24px;
	height: 24px;
}

.mydocument {
	background-position: -48px -168px;
	width: 24px;
	height: 24px;
}

.menu_one_ncinteconf {
	background-position: -96px -168px;
	width: 24px;
	height: 24px;
}

.menu_one_ncorganizationssynch {
	background-position: -120px -168px;
	width: 24px;
	height: 24px;
}

.ncvoucherdefine {
	background-position: -144px -168px;
	width: 24px;
	height: 24px;
}

.menu_one_ncvoucherdefine {
	background-position: -144px -168px;
	width: 24px;
	height: 24px;
} 

.newaffair {
	background-position: -168px -168px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_newcollaboration {
	background-position: -192px -168px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_newconference {
	background-position: -216px -168px;
	width: 24px;
	height: 24px;
}

.newelementarydata {
	background-position: -240px -168px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_newemail {
	background-position: -264px -168px;
	width: 24px;
	height: 24px;
}

.newinformationform {
	background-position: -288px -168px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_newplan {
	background-position: -312px -168px;
	width: 24px;
	height: 24px;
}

.newplanform {
	background-position: -336px -168px;
	width: 24px;
	height: 24px;
}

.news {
	background-position: -360px -168px;
	width: 24px;
	height: 24px;
}

.newworkflowform {
	background-position: -384px -168px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_notepad {
	background-position: -408px -168px;
	width: 24px;
	height: 24px;
}

.objectivethemespace {
	background-position: -432px -168px;
	width: 24px;
	height: 24px;
}

.menu_one_officialdocument {
	background-position: -0px -192px;
	width: 24px;
	height: 24px;
}

.officthemespace {
	background-position: -24px -192px;
	width: 24px;
	height: 24px;
}

.orgmanagement {
	background-position: -48px -192px;
	width: 24px;
	height: 24px;
}

.perfomanceanalysisconfig {
	background-position: -72px -192px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_performancequery {
	background-position: -96px -192px;
	width: 24px;
	height: 24px;
}

.performcenter {
	background-position: -120px -192px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_personalkmcenter {
	background-position: -144px -192px;
	width: 24px;
	height: 24px;
}

.menu_one_personaltools {
	background-position: -168px -192px;
	width: 24px;
	height: 24px;
}

.personnelmanagement {
	background-position: -192px -192px;
	width: 24px;
	height: 24px;
}

.professionmap {
	background-position: -216px -192px;
	width: 24px;
	height: 24px;
}

.projectdocument {
	background-position: -240px -192px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_related {
	background-position: -264px -192px;
	width: 24px;
	height: 24px;
}

.menu_one_relatedDefine {
	background-position: -288px -192px;
	width: 24px;
	height: 24px;
}

.relatedproject {
	background-position: -312px -192px;
	width: 24px;
	height: 24px;
}

.reportconfig {
	background-position: -336px -192px;
	width: 24px;
	height: 22px;
}

.menu_shortcut_reportshowindex {
	background-position: -360px -192px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_rsssubscription {
	background-position: -384px -192px;
	width: 24px;
	height: 24px;
}

.runningnumber {
	background-position: -408px -192px;
	width: 24px;
	height: 24px;
}

.salary {
	background-position: -432px -192px;
	width: 24px;
	height: 24px;
}

.menu_one_sapplugin {
	background-position: -0px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_schedule {
	background-position: -24px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_scheduledconference {
	background-position: -48px -216px;
	width: 24px;
	height: 24px;
}

.scheduleplan {
	background-position: -72px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_searchengine {
	background-position: -96px -216px;
	width: 24px;
	height: 24px;
}

.menu_one_seeyonreport {
	background-position: -120px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_sentevent {
	background-position: -144px -216px;
	width: 24px;
	height: 24px;
}

.menu_one_service {
	background-position: -168px -216px;
	width: 24px;
	height: 24px;
}

.shortcut {
	background-position: -192px -216px;
	width: 24px;
	height: 24px;
}

.signreceipt {
	background-position: -216px -216px;
	width: 24px;
	height: 24px;
}

.statistics {
	background-position: -240px -216px;
	width: 24px;
	height: 24px;
}

.stockAdmin {
	background-position: -264px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_supervisoryevent {
	background-position: -288px -216px;
	width: 24px;
	height: 24px;
}

.survey {
	background-position: -312px -216px;
	width: 24px;
	height: 24px;
}

.menu_one_systemmaintenance {
	background-position: -336px -216px;
	width: 24px;
	height: 24px;
}

.menu_one_systemmanagement {
	background-position: -360px -216px;
	width: 24px;
	height: 24px;
}

.menu_one_systemparameters {
	background-position: -384px -216px;
	width: 24px;
	height: 24px;
}

.teammanagement {
	background-position: -408px -216px;
	width: 24px;
	height: 24px;
}

.thirdperformance {
	background-position: -432px -216px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_todoevent {
	background-position: -0px -240px;
	width: 24px;
	height: 24px;
}

.top_about {
	background-position: -24px -240px;
	width: 24px;
	height: 24px;
}

.top_about_a6 {
	background-position: -48px -240px;
	width: 24px;
	height: 24px;
}

.top_about_u8 {
	background-position: -72px -240px;
	width: 24px;
	height: 24px;
}

.top_admin_exit {
	background-position: -96px -240px;
	width: 24px;
	height: 24px;
}

.top_back {
	background-position: -120px -240px;
	width: 24px;
	height: 24px;
}

.top_forward {
	background-position: -144px -240px;
	width: 24px;
	height: 24px;
}

.top_help {
	background-position: -168px -240px;
	width: 24px;
	height: 24px;
}

.top_index {
	background-position: -192px -240px;
	width: 25px;
	height: 25px;
}

.top_person {
	background-position: -217px -240px;
	width: 24px;
	height: 24px;
}

.top_product {
	background-position: -241px -240px;
	width: 24px;
	height: 24px;
}

.top_refresh {
	background-position: -265px -240px;
	width: 24px;
	height: 24px;
}

.top_search {
	background-position: -289px -240px;
	width: 24px;
	height: 24px;
}

.top_set_right {
	background-position: -313px -240px;
	width: 11px;
	height: 6px;
}

.top_uc {
	background-position: -324px -240px;
	width: 24px;
	height: 24px;
}

.top_work {
	background-position: -348px -240px;
	width: 24px;
	height: 24px;
}

.u8attendanceapply {
	background-position: -397px -240px;
	width: 24px;
	height: 24px;
}

.u8attendancequery {
	background-position: -421px -240px;
	width: 24px;
	height: 24px;
}

.u8loginsetting {
	background-position: -0px -264px;
	width: 24px;
	height: 24px;
}

.menu_one_u8setting {
	background-position: -24px -264px;
	width: 24px;
	height: 24px;
}

.u8wagequery {
	background-position: -48px -264px;
	width: 24px;
	height: 24px;
}

.u8web {
	background-position: -72px -264px;
	width: 24px;
	height: 24px;
}

.UC {
	background-position: -96px -264px;
	width: 24px;
	height: 24px;
}

.menu_one_unitmanagement {
	background-position: -120px -264px;
	width: 24px;
	height: 24px;
}

.unitmanagement_b {
	background-position: -144px -264px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_unsentEvent {
	background-position: -168px -264px;
	width: 24px;
	height: 24px;
}

.menu_one_userwoucher {
	background-position: -192px -265px;
	width: 24px;
	height: 24px;
}

.vouchergenerate {
	background-position: -216px -264px;
	width: 24px;
	height: 24px;
}

.workdaysetting {
	background-position: -240px -264px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_workingaffair {
	background-position: -264px -264px;
	width: 24px;
	height: 24px;
}

.menu_one_workingmanagement {
	background-position: -288px -264px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_workingplan {
	background-position: -312px -264px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_workingtask {
	background-position: -336px -264px;
	width: 24px;
	height: 24px;
}

.menu_shortcut_workstatistics {
	background-position: -360px -264px;
	width: 24px;
	height: 24px;
}

.outer {
	/*background-position: -384px -264px;*/
	background-position: -56px -325px;
	width: 28px;
	height: 28px;
}

.corporation {
	background-position: -412px -264px;
	width: 28px;
	height: 28px;
}

.department {
	background-position: -0px -292px;
	width: 28px;
	height: 28px;
}

.group {
	background-position: -28px -292px;
	width: 28px;
	height: 28px;
}

.leader {
	background-position: -56px -292px;
	width: 28px;
	height: 28px;
}

.linksystem {
	background-position: -84px -292px;
	width: 28px;
	height: 28px;
}

.personal_custom {
	background-position: -156px -292px;
	width: 28px;
	height: 28px;
}

.public_custom {
	background-position: -184px -292px;
	width: 28px;
	height: 28px;
}

.public_custom_group {
	background-position: -212px -292px;
	width: 28px;
	height: 28px;
}

.relateproject {
	background-position: -240px -292px;
	width: 32px;
	height: 32px;
}

.thridpartyspace {
	background-position: -272px -292px;
	width: 28px;
	height: 28px;
}

.portalIndex_shortcut {background-position: -0px -330px; width: 24px; height: 24px; }
.portalIndex_moreIco {background-position: -24px -330px; width: 27px; height: 7px; }

.menu_one_spacehover_admin_top_index {
	background-position: 0px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_corporation {
	background-position: -24px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_custom {
	background-position: -48px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_department {
	background-position: -72px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_group {
	background-position: -96px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_leader {
	background-position: -120px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_linksystem {
	background-position: -144px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_outer {
	background-position: -168px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_personal {
	background-position: -192px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_personal_custom {
	background-position: -216px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_public_custom {
	background-position: -240px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_public_custom_group {
	background-position: -264px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_relateproject {
	background-position: -288px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_menu_thridpartyspace {
	background-position: -312px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_nav_center_up {
	background-position: -336px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_about {
	background-position: -360px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_about_a6 {
	background-position: -384px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_about_u8 {
	background-position: -408px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_admin_exit {
	background-position: -432px -357px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_back {
	background-position: 0px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_forward {
	background-position: -24px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_help {
	background-position: -48px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_person {
	background-position: -72px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_product {
	background-position: -96px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_refresh {
	background-position: -120px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_search {
	background-position: -144px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_setting {
	background-position: -168px -381px;
	width: 37px;
	height: 24px;
}
.menu_one_spacehover_top_uc {
	background-position: -216px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_work {
	background-position: -240px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_spacehover_top_index {
	background-position: -120px -328px;
	width: 25px;
	height: 25px;
}
.menu_one_spacehover_top_workdesk{
	background-position: -145px -328px;
	width: 25px;
	height: 25px;
}
.menu_one_designer{
	background-position: -264px -381px;
	width: 24px;
	height: 24px;
}
.menu_one_formtalk{
	background-position: -24px -405px;
	width: 24px;
	height: 24px;
}
.menu_one_employeebenifit,.menu_one_benifitconfig{
	background-position: -48px -405px;
	width:24px;
	height:24px;
}
.menu_one_xc_groupwoucherset{
	background-position: -72px -405px;
	width:24px;
	height:24px;
}