<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<!-- 定义公文管理栏目选择器 -->
    <bean id="edocSelector" class="com.seeyon.ctp.portal.section.EdocSectionSelector">
        <property name="sectionType" value="edoc"></property>
    </bean>
    
	
    <!-- 公文统计 -->
    <bean id="edocStatisticsSection" class="com.seeyon.ctp.portal.section.EdocStatisticsSection" init-method="init">
        <!-- <property name="spaceTypes" value="corporation" /> -->
        <property name="sectionType" value="edoc" />
        <property name="sortId" value="5" />
        <!-- 
        <property name="linkSectionManager" ref="linkSectionManager" />
         -->
        <property name="spaceTypes" value="personal,personal_custom,leader,outer,custom,cooperation_work,objective_manage,edoc_manage,meeting_manage" />
		<property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
        <property name="properties">
            <list>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="columnsName" /><!-- 栏目名称 -->
                                <property name="subject" value="cannel.name.label" />
                                <property name="valueType" value="2" />
                                <property name="defaultValue" value="edoc.static.label" />
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="count" /><!-- 显示行数 -->
                                <property name="subject" value="edoc.cannel.data.num" />
                                <property name="valueType" value="2" />
                                <property name="validate" value="isInteger" />
                                <property name="validateValue" value="max=50 min=1" />
                                <property name="defaultValue" value="16" />
                            </bean> 
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    
    
    <bean id="edocSendRegisterSection" class="com.seeyon.ctp.portal.section.EdocSendRegisterSection" init-method="init">
        <!-- <property name="spaceTypes" value="corporation" /> -->
        <property name="sectionType" value="edoc" />
        <property name="sortId" value="6" />
        <!-- 
        <property name="linkSectionManager" ref="linkSectionManager" />
         -->
        <property name="spaceTypes" value="personal,personal_custom,leader,outer,custom,cooperation_work,objective_manage,edoc_manage,meeting_manage" />
        <property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
        <property name="properties">
            <list>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="columnsName" /><!-- 栏目名称 -->
                                <property name="subject" value="cannel.name.label" />
                                <property name="valueType" value="2" />
                                <property name="defaultValue" value="edoc.sendbook.label" />
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="count" /><!-- 显示行数 -->
                                <property name="subject" value="edoc.cannel.data.num" />
                                <property name="valueType" value="2" />
                                <property name="validate" value="isInteger" />
                                <property name="validateValue" value="max=50 min=1" />
                                <property name="defaultValue" value="16" />
                            </bean> 
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="edocRecRegisterSection" class="com.seeyon.ctp.portal.section.EdocRecRegisterSection" init-method="init">
        <!-- <property name="spaceTypes" value="corporation" /> -->
        <property name="sectionType" value="edoc" />
        <property name="sortId" value="6" />
        <!-- 
        <property name="linkSectionManager" ref="linkSectionManager" />
         -->
        <property name="spaceTypes" value="personal,personal_custom,leader,outer,custom,cooperation_work,objective_manage,edoc_manage,meeting_manage" />
        <property name="resourceBundle" value="com.seeyon.v3x.main.resources.i18n.MainResources" />
        <property name="properties">
            <list>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="columnsName" /><!-- 栏目名称 -->
                                <property name="subject" value="cannel.name.label" />
                                <property name="valueType" value="2" />
                                <property name="defaultValue" value="edoc.recbook.label" />
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="count" /><!-- 显示行数 -->
                                <property name="subject" value="edoc.cannel.data.num" />
                                <property name="valueType" value="2" />
                                <property name="validate" value="isInteger" />
                                <property name="validateValue" value="max=50 min=1" />
                                <property name="defaultValue" value="16" />
                            </bean> 
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>