<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean name="/edocController.do" class="com.seeyon.v3x.edoc.controller.EdocController">	
	   <property name="edocSummaryRelationManager" ref="edocSummaryRelationManager"/>	
	   <property name="appLogManager" ref="appLogManager"></property>
	   <property name="edocZcdbManager" ref="edocZcdbManager"></property>
	</bean>	
	<bean name="/edocStat.do" class="com.seeyon.v3x.edoc.controller.EdocStatController">
	</bean>		
	<bean name="/edocStatNew.do" class="com.seeyon.v3x.edoc.controller.EdocStatNewController">
	</bean>		
	<bean name="/edocForm.do" class="com.seeyon.v3x.edoc.controller.EdocFormController">
	</bean>
	<bean name="/edocElement.do" class="com.seeyon.v3x.edoc.controller.EdocElementController">
	</bean>
	<bean name="/edocTempleteController.do" class="com.seeyon.v3x.edoc.controller.EdocTempleteController">
	</bean>
	<bean name="/edocDocTemplate.do" class="com.seeyon.v3x.edoc.controller.EdocDocTemplateController">
	</bean>
    <bean name="/edocMark.do" class="com.seeyon.v3x.edoc.controller.EdocDocMarkController">
    <property name="jsonView" value="jsonView"/>
	</bean>
	<bean name="/edocSupervise.do" class="com.seeyon.v3x.edoc.controller.EdocSuperviseController">
	</bean>
	<bean name="/edocOpenController.do" class="com.seeyon.v3x.edoc.controller.EdocOpenController">
	   <property name="configManager" ref="configManager" />
	</bean>
	<bean name="/edocObjTeamController.do" class="com.seeyon.v3x.edoc.controller.EdocObjTeamController">
	</bean>
	<bean name="/edocKeyWordController.do" class="com.seeyon.v3x.edoc.controller.EdocKeyWordController">
	<property name="edocKeyWordManager" ref="edocKeyWordManager"></property>
	</bean>
	<bean name="/exchangeEdoc.do" 
		class="com.seeyon.v3x.exchange.controller.ExchangeEdocController">
		<property name="exchangeAccountManager" ref="exchangeAccountManager"></property>
	</bean>
	
	<bean name="/edocCategoryController.do" class="com.seeyon.v3x.edoc.controller.EdocCategoryController"/>
	
    <bean name="/edocWorkManage.do" class="com.seeyon.v3x.edoc.controller.EdocWorkManageController">
	</bean>	
	
	<bean name="/edocListController.do" class="com.seeyon.v3x.edoc.controller.EdocListController"></bean>	
	
	<bean id="edocAssDoc" class="com.seeyon.ctp.common.assdoc.AssdocDefinition">
        <property name="appId" value="4" />
        <property name="url" value="/edocController.do?method=list4Quote" />
    </bean>
</beans>