<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/isearch.do" class="com.seeyon.v3x.isearch.controller.ISearchController" />
	<bean class="com.seeyon.v3x.isearch.manager.ISearchManagerRegister" init-method="init" />
</beans>
