<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">



	<!--<bean name="processEventHandler" class="com.seeyon.apps.nbd.platform.oa.ProcessEventHandler">-->

	<!--</bean>-->

	<bean name="/tk.do" class="com.seeyon.apps.ztask.controller.TaskController">



	</bean>





</beans>
