<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	
    <!--   lbs manager -->
     <bean id="mLbsManager" class="com.seeyon.apps.lbs.manager.impl.MLbsV61ManagerImpl" >
       
     </bean>
  
     <bean id = "mLbsAuthorManager" class = "com.seeyon.apps.lbs.manager.impl.MLbsAuthorManagerImpl"> </bean>
     <bean id = "mLbsRecordManager" class = "com.seeyon.apps.lbs.manager.impl.MLbsRecordManagerImpl"> 
    	 <property name="orgManager" ref="orgManager" />
         <property name="mLbsAuthorDao" ref="mLbsAuthorDao" />
    </bean> 
     <bean id = "mLbsSupplierManager" class = "com.seeyon.apps.lbs.manager.impl.MLbsSupplierManagerImpl"> </bean>
     
    
</beans>