<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="mLbsAuthorDao" class="com.seeyon.apps.lbs.dao.impl.MLbsAuthorDaoImpl"></bean>
	<bean id="mLbsSupplierDao" class="com.seeyon.apps.lbs.dao.impl.MLbsSupplierDaoImpl"></bean>
	<bean id="mLbsInfoDao" class="com.seeyon.apps.lbs.dao.impl.MLbsInfoDaoImpl"></bean>
	
</beans>