log4j.logger.net.joinwork = DEBUG,A4
log4j.logger.com.seeyon.ctp.workflow = DEBUG,A4
log4j.logger.org.quartz= ERROR,A4
log4j.logger.de.hunsicker.jalopy=ERROR,A4

#A1--打印到屏幕上
log4j.appender.A4=org.apache.log4j.ConsoleAppender
log4j.appender.A4.layout=org.apache.log4j.PatternLayout
log4j.appender.A4.layout.ConversionPattern=%-5p [%t] - %m%n


#A4--打印到文件workflow.log-记录日志信息
log4j.appender.A4=org.apache.log4j.DailyRollingFileAppender
log4j.appender.A4.file=workflow.log
log4j.appender.A4.DatePattern='.'yyyy-MM-dd
log4j.appender.A4.layout=org.apache.log4j.PatternLayout
log4j.appender.A4.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} method:%l%n%m%n