<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="workTimeSetManager" class="com.seeyon.v3x.worktimeset.manager.WorkTimeSetManagerImpl" init-method="initCache" />
	<bean id="workTimeManager" class="com.seeyon.v3x.worktimeset.manager.WorkTimeManagerImpl" />
	<bean id="workTimeCurrencySaveHelp" class="com.seeyon.v3x.worktimeset.manager.WorkTimeCurrencySaveHelp" />
</beans>
