<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	
	<!-- 关联项目栏目 -->
	<bean id="projectRelevanceSetion" class="com.seeyon.ctp.portal.section.RelevanceProjectSetion" init-method="init">
		<property name="sortId" value="11"/>
		<property name="sectionType" value="common,timeManagement"/>
		<property name="spaceTypes" value="custom,personal,personal_custom,leader,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,outer,department"/>
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="project.section.myproject.name" />
								<property name="validate" value="notNull"></property>
								<property name="validateValue" value="notNull=true maxLength=2000"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnscount" />
								<property name="subject" value="cannel.data.count" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="16" />
								<property name="validate" value="isInteger"></property>
								<property name="validateValue" value="isInteger=true max=50 min=1"></property>
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsource" />
								<property name="subject" value="project.source" />
								<property name="defaultValue" value="all" />
								<property name="valueType" value="5" />
								<property name="valueRanges">
									<list>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="project.all" />
											<property name="value" value="all" />
											<property name="backUp" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="project.specified.star" />
											<property name="value" value="designatedStar" />
											<property name="backUp" value="true" />
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="project.specified.role" />
											<property name="value" value="designatedRole" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="project.do?method=showDesignatedRole"/>
										</bean>
										<bean
											class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
											<property name="subject" value="project.specified.type" />
											<property name="value" value="designatedType" />
											<property name="backUp" value="true" />
											<property name="panelSetUrl" value="project.do?method=showDesignatedType"/>
										</bean>
									</list>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
</beans>