<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<!--我 的公告 -->
	<bean class="com.seeyon.v3x.bulletin.portal.section.MyBulletinSection" id="myBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="61" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="personal,personal_custom,leader,outer,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application,vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
		<property name="properties">
            <list>
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="columnsName" />
                                <property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
                                <property name="subject" value="cannel.name.label" />
                                <property name="valueType" value="2" />
                                <property name="defaultValue" value="bbs.myBulletinSection.label" />
                            </bean>
                        </list>
                    </property>
                </bean>
                <!-- 显示行数 -->
                <bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
                    <property name="reference">
                        <list>
                            <bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
                                <property name="name" value="count" />
                                <property name="spaceType" value="vjoinpc,vjoinmobile,m3mobile,weixinmobile" />
                                <property name="subject" value="cannel.data.count" />
                                <property name="valueType" value="2" />
                                <property name="validate" value="isInteger" />
                                <property name="validateValue" value="max=50 min=1" />
                                <property name="defaultValue" value="8" />
                                <property name="mValidateValue" value="max=10 min=1" />
                                <property name="mDefaultValue" value="3" />
                            </bean>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
	</bean>

	<!-- 单位最新公告 -->
	<bean id="bulletinSection" class="com.seeyon.v3x.bulletin.portal.section.BulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="65" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.bulletin.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
				<ref bean="bulPanelSectionProperty1" />
			</list>
		</property>
	</bean>

	<!-- 单位置顶公告 -->
	<bean id="bulletinTopSection" class="com.seeyon.v3x.bulletin.portal.section.BulletinTopSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="68" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.bulletinTopSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
				<ref bean="bulPanelSectionProperty1" />
			</list>
		</property>
	</bean>

	<!-- 单版块单位公告 -->
	<bean id="singleBoardBulSection" class="com.seeyon.v3x.bulletin.portal.section.SingleBoardBulSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="91" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes"
			value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 集团最新公告 -->
	<bean id="groupBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.GroupBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="73" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="common" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.groupBulletin.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
				<ref bean="bulPanelSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 集团置顶公告 -->
	<bean id="groupTopBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.GroupTopBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="76" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="common" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.groupTopBulletinSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
				<ref bean="bulPanelSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 单版块集团公告 -->
	<bean id="singleBoardGroupBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.SingleBoardGroupBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="95" />
		<property name="spaceTypes"
            value="personal,personal_custom,leader,outer,custom,department,corporation,public_custom,group,public_custom_group,cooperation_work,objective_manage,edoc_manage,meeting_manage,performance_analysis,form_application" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 自定义单位/集团空间最新公告 -->
	<bean id="customLatestBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.CustomLatestBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="81" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customLatestBulletin.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
			</list>
		</property>
	</bean>

	<!-- 自定义单位/集团空间置顶公告 -->
	<bean id="customLatestTopBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.CustomLatestTopBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="84" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customLatestTopBulletinSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty1" />
			</list>
		</property>
	</bean>

	<!-- 单版块自定义单位/集团空间公告 -->
	<bean id="singleCustomBoardBulSection" class="com.seeyon.v3x.bulletin.portal.section.SingleCustomBoardBulSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sectionCategory" value="single" />
		<property name="isRegistrer" value="false" />
		<property name="spaceTypes" value="public_custom,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 自定义团队空间最新公告 -->
	<bean id="customBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.CustomBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="85" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="custom" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customBulletin.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 自定义团队空间置顶公告 -->
	<bean id="customTopBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.CustomTopBulletinSection">
		<property name="sectionType" value="publicInformation" />
		<property name="sortId" value="88" />
		<property name="sectionCategory" value="common" />
		<property name="spaceTypes" value="custom" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.customLatestTopBulletinSection.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 部门公告 -->
	<bean id="departmentBulletinSection" class="com.seeyon.v3x.bulletin.portal.section.DepartmentBulletinSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="23" />
		<property name="spaceTypes" value="department" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.departmentBulletin.label" />
							</bean>
						</list>
					</property>
				</bean>
				<ref bean="bulColumnsStyleSectionProperty" />
				<ref bean="bulCountSectionProperty" />
				<ref bean="bulRowListSectionProperty2" />
			</list>
		</property>
	</bean>

	<!-- 栏目样式 -->
	<bean id="bulColumnsStyleSectionProperty" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="columnsStyle" />
					<property name="subject" value="cannel.style.label" />
					<property name="valueType" value="0" />
					<property name="defaultValue" value="list" />
					<property name="onChange" value="changeDefaultValue4News" />
					<property name="changeValue" value="listCountD=8 imageandlistCountD=3 countMin=1 countMax=50" />
					<property name="valueRanges">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="news.list.single.label" />
								<property name="value" value="list" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="imagenews.titleandsummary.label" />
								<property name="value" value="imageandlist" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 显示条数 -->
	<bean id="bulCountSectionProperty" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="count" />
					<property name="subject" value="cannel.data.count" />
					<property name="valueType" value="2" />
					<property name="validate" value="isInteger" />
					<property name="validateValue" value="max=50 min=1" />
					<property name="defaultValue" value="8" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- 显示字段（标题，发布时间，分类） -->
	<bean id="bulRowListSectionProperty1" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="rowList" />
					<property name="subject" value="cannel.display.column.label" />
					<property name="valueType" value="1" />
					<property name="defaultValue" value="subject,publishDate,type" />
					<property name="valueRanges">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="cannel.display.column.subject.label" />
								<property name="readOnly" value="true" />
								<property name="value" value="subject" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="imagenews.publishDate.label" />
								<property name="value" value="publishDate" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="imagenews.type.label" />
								<property name="value" value="type" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 显示字段（标题，发布时间，发布人/发布部门） -->
	<bean id="bulRowListSectionProperty2" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="rowList" />
					<property name="subject" value="cannel.display.column.label" />
					<property name="valueType" value="1" />
					<property name="defaultValue" value="subject,publishDate,type" />
					<property name="valueRanges">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="cannel.display.column.subject.label" />
								<property name="readOnly" value="true" />
								<property name="value" value="subject" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="imagenews.publishDate.label" />
								<property name="value" value="publishDate" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="cannel.display.column.publishuserordept.label" />
								<property name="value" value="type" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 单位公告来源（全部，指定版块） -->
	<bean id="bulPanelSectionProperty1" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="panel" />
					<property name="subject" value="cannel.bulletin.lable" />
					<property name="valueType" value="5" />
					<property name="defaultValue" value="all" />
					<property name="valueRanges">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="common.pending.all" />
								<property name="value" value="all" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="common.pending.designated.plate" />
								<property name="value" value="designated" />
								<property name="panelSetUrl" value="/bulData.do?method=showDesignated" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 集团公告来源（全部，指定版块） -->
	<bean id="bulPanelSectionProperty2" class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
		<property name="reference">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
					<property name="name" value="panel" />
					<property name="subject" value="cannel.bulletin.lable" />
					<property name="valueType" value="5" />
					<property name="defaultValue" value="all" />
					<property name="valueRanges">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="common.pending.all" />
								<property name="value" value="all" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceValueRangeImpl">
								<property name="subject" value="common.pending.designated.plate" />
								<property name="value" value="designated" />
								<property name="panelSetUrl" value="/bulData.do?method=showDesignated&amp;group=group" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

</beans>