<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="bulTypeDao" class="com.seeyon.v3x.bulletin.dao.BulTypeDaoImpl" />

	<bean id="bulDataDao" class="com.seeyon.v3x.bulletin.dao.BulDataDaoImpl" />

	<bean id="bulBodyDao" class="com.seeyon.v3x.bulletin.dao.BulBodyDaoImpl" />

	<bean id="bulPublishScopeDao" class="com.seeyon.v3x.bulletin.dao.BulPublishScopeDaoImpl" />

</beans>