<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="bulTypeManager" class="com.seeyon.v3x.bulletin.manager.BulTypeManagerImpl" init-method="init" singleton="true" />
	<bean id="bulTypeManagersManager" class="com.seeyon.v3x.bulletin.manager.BulTypeManagersManagerImpl" />
	<bean id="bulDataManager" class="com.seeyon.v3x.bulletin.manager.BulDataManagerImpl" singleton="true" />
	<bean id="bulReadManager" class="com.seeyon.v3x.bulletin.manager.BulReadManagerImpl" />
	<bean id="bulIssueManager" class="com.seeyon.v3x.bulletin.manager.BulIssueManagerImpl" />
	<bean id="bulDataCache" class="com.seeyon.v3x.bulletin.util.BulDataCache" init-method="init" destroy-method="destroy" />
	<bean id="bulletinUtils" class="com.seeyon.v3x.bulletin.util.BulletinUtils" />

	<bean id="bulletinNotificationHandler" class="com.seeyon.v3x.bulletin.cluster.BulletinNotificationHandler" />

	<bean id="bulDocFilingEnable" class="com.seeyon.v3x.bulletin.doc.BulDocFilingEnable" />

	<bean id="bulIndex" class="com.seeyon.v3x.bulletin.index.BulIndexEnableImpl" />

	<bean id="bulletinManager4ISearch" class="com.seeyon.v3x.bulletin.isearch.BulletinManager4ISearch" init-method="init" />

	<bean id="bulOrganizationEventListener" class="com.seeyon.v3x.bulletin.organization.BulOrganizationEventListener" />
	<!-- 离职办理 -->
	<bean id="memberLeaveClearItemBulletinHand" class="com.seeyon.v3x.bulletin.organization.MemberLeaveClearItemBulletinHandImpl" />
	<bean id="memberLeaveClearItemBulletinRole" class="com.seeyon.v3x.bulletin.organization.MemberLeaveClearItemBulletinRoleImpl" />
	<bean id="MemberLeaveDataInterfacePubinfo" class="com.seeyon.v3x.bulletin.organization.MemberLeaveDataInterfacePubinfoImpl" />

	<bean id="bulDeskCollaborationProcessManager" class="com.seeyon.v3x.bulletin.portal.portlet.BulDeskCollaborationProcessManagerImpl" />
	<bean id="bulletinPortlet" class="com.seeyon.v3x.bulletin.portal.portlet.BulletinPortlet" />
	<bean id="bulPortalEventListener" class="com.seeyon.v3x.bulletin.portal.BulPortalEventListener" />
	<bean id="bulPublicInfoSpaceOwnerMenuSelector" class="com.seeyon.v3x.bulletin.portal.BulPublicInfoSpaceOwnerMenuSelector">
		<property name="spaceType" value="department,corporation,group,custom,public_custom,public_custom_group"></property>
		<property name="sortId" value="2"></property>
	</bean>

	<bean id="securityControlBulletin" class="com.seeyon.v3x.bulletin.security.SecurityControlBulletinImpl" />

	<bean id="userMessageFilterImplBulletin" class="com.seeyon.v3x.bulletin.usermessage.UserMessageFilterImplBulletin" />

</beans>