<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/ncBusiBindController.do" class="com.seeyon.apps.ncbusiness.controller.NCBusiBindController"/>
	<bean name="/ncBusinessController.do" class="com.seeyon.apps.ncbusiness.controller.NCBusinessController"/>
</beans>