<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="bookAuditManager" class="com.seeyon.apps.office.manager.BookAuditManagerImpl" />
	<bean id="bookApplyManager" class="com.seeyon.apps.office.manager.BookApplyManagerImpl" />
	<bean id="bookHouseManager" class="com.seeyon.apps.office.manager.BookHouseManagerImpl" />
	<bean id="bookInfoManager"  class="com.seeyon.apps.office.manager.BookInfoManagerImpl" />
	<bean id="bookStcInfoManager"  class="com.seeyon.apps.office.manager.BookStcInfoManagerImpl" />
	<bean id="bookUseTimeOutQuartz"  class="com.seeyon.apps.office.util.BookUseTimeOutQuartz" />
</beans>