<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="stockHouseManager" class="com.seeyon.apps.office.manager.StockHouseManagerImpl" />
	<bean id="stockInfoManager" class="com.seeyon.apps.office.manager.StockInfoManagerImpl" />
	<bean id="stockUseManager" class="com.seeyon.apps.office.manager.StockUseManagerImpl" />
	<bean id="stockApplyManager" class="com.seeyon.apps.office.manager.StockApplyManagerImpl" />
	<bean id="stockRecordManager" class="com.seeyon.apps.office.manager.StockRecordManagerImpl" />
	<bean id="stockStcManager" class="com.seeyon.apps.office.manager.StockStcManagerImpl" />
</beans>