<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="seeyonReportManager"
        class="com.seeyon.apps.seeyonreport.manager.SeeyonReportManagerImpl">
        <property name="noFormFieldCom">
            <list>
                <value>attachment</value><!-- 附件 -->
                <value>image</value><!-- 图片 -->
                <value>handwrite</value><!-- 签章 -->
                <value>document</value><!-- 关联文档 -->
                <value>exchangetask</value> <!-- 交换任务 -->
                <value>querytask</value> <!-- 查询控件交换引擎 -->
                <value>mapmarked</value> <!-- 地图标注 -->
                <value>maplocate</value> <!-- 位置定位 -->
                <value>mapphoto</value> <!-- 拍照定位 -->
            </list>
        </property>
    </bean>
    <bean id="seeyonReportTemplateManager" class="com.seeyon.apps.seeyonreport.manager.SeeyonReportTemplateManagerImpl"/>
    <bean id="seeyonReportTemplateAuthManager" class="com.seeyon.apps.seeyonreport.manager.SeeyonReportTemplateAuthManagerImpl"/>
    <bean id="seeyonReportAdminManager" class="com.seeyon.apps.seeyonreport.manager.SeeyonReportAdminManagerImpl" init-method="initCacheData"/>
    <bean id="seeyonReportDataSetManager" class="com.seeyon.apps.seeyonreport.manager.SeeyonReportDataSetManagerImpl"/>
    
    <bean id="seeyonReportTemplateListener" class="com.seeyon.apps.seeyonreport.listener.SeeyonReportTemplateListener" />
    <bean id="seeyonReportOrgListener" class="com.seeyon.apps.seeyonreport.listener.SeeyonReportOrgListener" />
    <!-- 报表业务生成器 -->
    <bean id="businessSourceType4SeeyonReport" class="com.seeyon.apps.seeyonreport.manager.BusinessSourceType4SeeyonReport">
    	<property name="sort" value="4"/>
    </bean>
    <!-- 业务导图接口实现 -->
    <bean id="bizMapLinkType4SeeyonReport" class="com.seeyon.ctp.form.modules.bizmap.BizMapLinkType4SeeyonReport" />
</beans>