<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
 	<bean id="seeyonReportDao" class="com.seeyon.ctp.seeyonreport.dao.SeeyonReportDaoImpl"/>
    <bean id="seeyonReportTemplateDao" class="com.seeyon.ctp.seeyonreport.dao.SeeyonReportTemplateDaoImpl"/>
    <bean id="seeyonReportTemplateAuthDao" class="com.seeyon.ctp.seeyonreport.dao.SeeyonReportTemplateAuthDaoImpl"/>
    <bean id="seeyonReportEnumDao" class="com.seeyon.ctp.seeyonreport.dao.SeeyonReportEnumDaoImpl"/>
    <bean id="seeyonReportAdminDao" class="com.seeyon.ctp.seeyonreport.dao.SeeyonReportAdminDaoImpl"/>
</beans>