<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
		<bean parent="pluginMainMenu">
		<!--主菜单ID，唯一的数字串 -->
        <property name="id" value="20140612" />
		<!--主菜单名称 -->
		<!-- 报表管理 -->
		<property name="name" value="seeyonreport.report.template.menu.label" />
		<!--菜单图标 -->
        <property name="icon" value="seeyonreport.png" />
        <!-- 菜单顺序 -->
        <property name="sortId" value="123123" />
		<!--二级菜单-->
	    <property name="children">
	    	<list>
	    		<!-- 报表数据集 -->
	    		<bean class="com.seeyon.ctp.plugin.PluginMenu">
	    			<!--二级菜单ID，唯一的数字串 -->
                    <property name="id" value="2014061201" />				
                    <!--二级菜单名称 -->
                    <!-- 报表数据集 -->
                    <property name="name" value="seeyonreport.report.dataset.type.form.label" />                
                    <!--菜单打开方式 mainfrm:工作区；newWindow:新窗口-->
                    <property name="target" value="mainfrm" />
                    <!--菜单图标 -->
                    <property name="icon" value="reportconfig.png" />
                    <!--菜单地址，出于安全方面考虑此url必须是协同内部界面，如果想跳转请在内部界面实现跳转 -->
                    <property name="url" value="/seeyonReport/seeyonReportController.do?method=reportConfig" />
                    <!--菜单访问权限的验证类 -->
                    <property name="menuCheck">
                        <bean class="com.seeyon.ctp.seeyonreport.menu.SeeyonReportMenuCheck" />
                    </property>
	    		</bean>
	    		<!-- 报表应用设置 -->
	    		<bean class="com.seeyon.ctp.plugin.PluginMenu">
	    			<!--二级菜单ID，唯一的数字串 -->
                    <property name="id" value="2014061202" />				
                    <!--二级菜单名称 -->
                    <!-- 报表应用设置 -->
                    <property name="name" value="seeyonreport.report.ApplicationConfig" />                
                    <!--菜单打开方式 mainfrm:工作区；newWindow:新窗口-->
                    <property name="target" value="mainfrm" />
                    <!--菜单图标 -->
                    <property name="icon" value="busicapplicationconf0.png" />
                    <!--菜单地址，出于安全方面考虑此url必须是协同内部界面，如果想跳转请在内部界面实现跳转 -->
                    <property name="url" value="/seeyonReport/seeyonReportController.do?method=reportTemplateIndex" />
                    <!--菜单访问权限的验证类 -->
                    <property name="menuCheck">
                        <bean class="com.seeyon.ctp.seeyonreport.menu.SeeyonReportMenuCheck" />
                    </property>
	    		</bean>
	    		<!-- 报表分析 -->
	    		<bean class="com.seeyon.ctp.plugin.PluginMenu">
	    			<!--二级菜单ID，唯一的数字串 -->
                    <property name="id" value="2014061203" />				
                    <!--二级菜单名称 -->
                    <!-- 报表分析 -->
                    <property name="name" value="seeyonreport.report.show" />                
                    <!--菜单打开方式 mainfrm:工作区；newWindow:新窗口-->
                    <property name="target" value="mainfrm" />
                    <!--菜单图标 -->
                    <property name="icon" value="reportshowindex.png" />
                    <!--菜单地址，出于安全方面考虑此url必须是协同内部界面，如果想跳转请在内部界面实现跳转 -->
                    <property name="url" value="/seeyonReport/seeyonReportController.do?method=reportShowListForAdmin" />
                    <!--菜单访问权限的验证类 -->
                    <property name="menuCheck">
                        <bean class="com.seeyon.ctp.seeyonreport.menu.SeeyonReportMenuCheck"/>
                    </property>
	    		</bean>
	    	</list>
	    </property>
		<!--菜单访问权限的验证类-->
	    <property name="menuCheck" >
	        <bean class="com.seeyon.ctp.seeyonreport.menu.SeeyonReportMenuCheck"/>
	    </property>
	</bean>
	
</beans>