<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">   
    <bean id="accountCfgDao" class="com.seeyon.apps.voucher.dao.AccountCfgDaoImpl"></bean>
    <bean id="deptMapperDao" class="com.seeyon.apps.voucher.dao.DeptMapperDaoImpl"></bean>
    <bean id="archivesMapperDao" class="com.seeyon.apps.voucher.dao.ArchivesMapperDaoImpl"></bean>
    <bean id="subjectMapperDao" class="com.seeyon.apps.voucher.dao.SubjectMapperDaoImpl"></bean>
    <bean id="memberMapperDao" class="com.seeyon.apps.voucher.dao.MemberMapperDaoImpl"></bean>
    <bean id="voucherDao" class="com.seeyon.apps.voucher.dao.VoucherDaoImpl"></bean>
</beans>