<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/u8AioUserMapping.do" class="com.seeyon.apps.allinone.controller.U8AioUserMappingController">
		<property name="u8AioUserMappingManager" ref="u8AioUserMappingManager"></property>
	</bean>
	<bean name="/u8AioSSO.do" class="com.seeyon.apps.allinone.controller.AioSSOController">
		<property name="u8AioUserMappingManager" ref="u8AioUserMappingManager"></property>
	</bean>
	<bean name="/u8AioMessageController.do" class="com.seeyon.apps.allinone.controller.AIOMessageController">
		<property name="u8AioUserMappingManager" ref="u8AioUserMappingManager"></property>
		<property name="aioMessageManager" ref="aioMessageManager"></property>
	</bean>
</beans>