<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!-- 公共资源管理-->
    <bean name="/publicResource.do" class="com.seeyon.v3x.pubResource.controller.PublicResourceController"/>
</beans>