<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="publicResourceDao" class="com.seeyon.v3x.pubResource.dao.PublicResourceDaoImpl" />
	<bean id="publicResourceIppDao" class="com.seeyon.v3x.pubResource.dao.PublicResourceIppDaoImpl" />
</beans>
