<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" default-lazy-init="false">

	<!-- 公示板 -->
	<bean class="com.seeyon.ctp.portal.section.NoticeSection" id="noticeSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="5" />
		<property name="spaceTypes" value="department,custom,corporation,public_custom,group,public_custom_group" />
		<property name="properties">
			<list>
				<bean class="com.seeyon.ctp.portal.section.SectionPropertyImpl">
					<property name="reference">
						<list>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="columnsName" />
								<property name="subject" value="cannel.name.label" />
								<property name="valueType" value="2" />
								<property name="defaultValue" value="bbs.notice.label" />
							</bean>
							<bean class="com.seeyon.ctp.portal.section.SectionReferenceImpl">
								<property name="name" value="height" />
								<property name="subject" value="cannel.data.height" />
								<property name="valueType" value="2" />
								<property name="validate" value="isInteger" />
								<property name="validateValue" value="max=768 min=208" />
								<property name="defaultValue" value="208" />
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 项目公示板 -->
	<bean class="com.seeyon.ctp.portal.section.ProjectNoticeSection" parent="noticeSection" id="projectNoticeSection">
		<property name="sectionType" value="common" />
		<property name="sortId" value="1" />
		<property name="spaceTypes" value="related_project_space" />
	</bean>
</beans>