<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="lbsMapManager" class="com.seeyon.apps.hr.manager.LbsMapManagerImpl"></bean>

	<bean id="staffInfoManager" class="com.seeyon.v3x.hr.manager.StaffInfoManagerImpl" init-method="init">
	</bean>
	<bean id="recordManager" class="com.seeyon.v3x.hr.manager.RecordManagerImpl" init-method="init">
	</bean>
	<bean id="staffTransferManager" class="com.seeyon.v3x.hr.manager.StaffTransferManagerImpl">
	</bean>
	<bean id="salaryManager" class="com.seeyon.v3x.hr.manager.SalaryManagerImpl">
	</bean>
	<bean id="staffImportManager" class="com.seeyon.apps.hr.manager.StaffImportManagerImpl">
	</bean>
	<bean id="statisticManager" class="com.seeyon.v3x.hr.manager.StatisticManagerImpl">
	</bean>
	<bean id="userDefinedManager" class="com.seeyon.v3x.hr.manager.UserDefinedManagerImpl">
	</bean>
	<bean id="hrOrganizationEventListener" class="com.seeyon.v3x.hr.util.listener.HrOrganizationEventListener">
	</bean>
	<bean id="hrNoCardRecordsInitListener" class="com.seeyon.v3x.hr.util.listener.HrNoCardRecordsInitListener">
	</bean>
	<bean id="hrPortlet" class="com.seeyon.v3x.hr.portal.portlet.HrPortlet"/>
</beans>