<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="lbsMapDao" class="com.seeyon.apps.hr.dao.LbsMapDaoImpl"></bean>
	<bean id="languageDao" class="com.seeyon.v3x.hr.dao.LanguageDao"></bean>
	<bean id="pageDao" class="com.seeyon.v3x.hr.dao.PageDao"></bean>
	<bean id="pageLabelDao" class="com.seeyon.v3x.hr.dao.PageLabelDao"></bean>
	<bean id="pagePropertyDao" class="com.seeyon.v3x.hr.dao.PagePropertyDao"></bean>
	<bean id="propertyLabelDao" class="com.seeyon.v3x.hr.dao.PropertyLabelDao"></bean>
	<bean id="repositoryDao" class="com.seeyon.v3x.hr.dao.RepositoryDao"></bean>
	<bean id="propertyCategoryDao" class="com.seeyon.v3x.hr.dao.PropertyCategoryDao"></bean>
	<bean id="pagePropertiesDao" class="com.seeyon.v3x.hr.dao.PagePropertiesDao"></bean>
	<bean id="staffInfoDao" class="com.seeyon.v3x.hr.dao.StaffInfoDao"></bean>
	<bean id="recordDao" class="com.seeyon.v3x.hr.dao.RecordDao"></bean>
	<bean id="staffTransferDao" class="com.seeyon.v3x.hr.dao.StaffTransferDao"></bean>
	<bean id="salaryDao" class="com.seeyon.v3x.hr.dao.SalaryDao"></bean>
	<bean id="hrSalaryPasswordDao" class="com.seeyon.v3x.hr.dao.HrSalaryPasswordDao"></bean>
	<bean id="statisticDao" class="com.seeyon.v3x.hr.dao.StatisticDao"></bean>
</beans>