@font-face {
    font-family: "FZZHUNYSK";
    src: url("FZZHUNYSK.eot"); /* IE9 */
    src: url("FZZHUNYSK.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FZZHUNYSK.woff") format("woff"), /* chrome, firefox */
    url("FZZHUNYSK.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FZZHUNYSK.svg#FZZHUNYSK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

