<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- 个人模板管理 -->
	<bean name="/mytemplate.do"
		class="com.seeyon.v3x.mytemplate.controller.MyTemplateController">
	</bean>
	<!-- 常用工具 -->
	<bean name="/commonTools.do"
		class="com.seeyon.v3x.commontools.controller.CommonToolsController">
	</bean>
	<!-- 历史消息 -->
	<bean name="/message.do" class="com.seeyon.v3x.online.controller.MessageController">
	</bean>
	<!-- 个人事务-个人设置 -->
	<bean name="/personalAffair.do" class="com.seeyon.v3x.personalaffair.controller.PersonalAffairController">
    </bean>
    <!-- 修改密码 -->
    <bean name="/individualManager.do" class="com.seeyon.v3x.personalaffair.controller.IndividualManagerController">
    </bean>
    <!-- 在线人员-->
    <bean name="/online.do" class="com.seeyon.v3x.online.controller.OnlineController" />
    <!-- 个人事务-个人设置 -->
	<bean name="/personalBind.do" class="com.seeyon.v3x.personalaffair.controller.PersonalBindController">
	</bean>
</beans>