<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="supervisionInitializer" class="com.seeyon.apps.supervision.manager.SupervisionInitializer">
	</bean>
	<bean id="supervisionManager" class="com.seeyon.apps.supervision.manager.SupervisionManagerImpl">
	</bean>
	<bean id="supervisionStatManager" class="com.seeyon.apps.supervision.manager.SupervisionStatManagerImpl">
	</bean>
</beans>