<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="supervisionDao" class="com.seeyon.apps.supervision.dao.SupervisionDaoImpl">
	</bean>
	<bean id="edocSupervisionRelationDao" class="com.seeyon.apps.supervision.dao.EdocSupervisionRelationDaoImpl">
	</bean>
</beans>