<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean name="/info/infoMain.do" class="com.seeyon.apps.info.controller.InfoMainController"></bean>
	<bean name="/info/infomain.do" class="com.seeyon.apps.info.controller.InfoMainController"></bean>
	<bean name="/info/infoList.do" class="com.seeyon.apps.info.controller.InfoListController"></bean>
	<bean name="/info/infocreate.do" class="com.seeyon.apps.info.controller.InfoCreateController"></bean>
	<bean name="/info/info.do" class="com.seeyon.apps.info.controller.InfoController"></bean>
	<bean name="/info/magazinelist.do" class="com.seeyon.apps.info.controller.MagazineListController"></bean>
	<bean name="/info/magazine.do" class="com.seeyon.apps.info.controller.MagazineController"></bean>
	<bean name="/info/taohong.do" class="com.seeyon.apps.info.controller.InfoFormatController"></bean>
	<bean name="/info/score.do" class="com.seeyon.apps.info.controller.InfoScoreController"></bean>
	<bean name="/info/switchSet.do" class="com.seeyon.apps.info.controller.InfoSwitchSetController"></bean>
	<bean name="/info/infoDetail.do" class="com.seeyon.apps.info.controller.InfoDetailController"></bean>
	<bean name="/info/publishscore.do" class="com.seeyon.apps.info.controller.InfoPublishScoreController"></bean>
	<bean name="/info/infoStat.do" class="com.seeyon.apps.info.controller.InfoStatController"></bean>
	<bean name="/info/infoSearch.do" class="com.seeyon.apps.info.controller.InfoSearchController"></bean>
	
</beans>