<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="infoPermissionOperDefinition" class="com.seeyon.ctp.common.permission.bo.PermissionOperDefinition">
      <property name="operations">
          <map>
              <!-- 基本操作  开始 -->
              <entry key="info_basic_action">
                  <list>
                  	   <props>
                           <!-- 跟踪 -->
                           <prop key="key">Track</prop>
                           <prop key="label">permission.operation.Track</prop>
                       </props>
                       <props>
                           <!-- 暂存待办 -->
                           <prop key="key">Comment</prop>
                           <prop key="label">permission.operation.Comment</prop>
                       </props>
                       <props>
                            <!-- 提交 -->
                           <prop key="key">ContinueSubmit</prop>
                           <prop key="label">permission.operation.ContinueSubmit</prop>
                       </props>
                        <!-- 处理后归档
                       <props>
                           <prop key="key">Archive</prop>
                           <prop key="label">permission.operation.Archive</prop>
                       </props>-->
                       <props>
                           <!-- 部门归档-->
                           <prop key="key">InfoDepartPigeonhole</prop>
                           <prop key="label">permission.operation.DepartPigeonhole</prop>
                      </props>
                       <props>
                           <!-- 意见-->
                           <prop key="key">Opinion</prop>
                           <prop key="label">permission.operation.Opinion</prop>
                       </props>
                       <props>
                           <!-- 常用语-->
                           <prop key="key">CommonPhrase</prop>
                           <prop key="label">permission.operation.CommonPhrase</prop>
                       </props>
                       <props>
                           <!-- 上传附件-->
                           <prop key="key">UploadAttachment</prop>
                           <prop key="label">permission.operation.UploadAttachment</prop>
                       </props>
                       <props>
                           <!-- 打印-->
                           <prop key="key">Print</prop>
                           <prop key="label">permission.operation.Print</prop>
                       </props>
                       <props>
                           <!-- 关联文档-->
                           <prop key="key">UploadRelDoc</prop>
                           <prop key="label">permission.operation.UploadRelDoc</prop>
                       </props>
                       <props>
                           <!--   正文打印  -->
                           <prop key="key">ContentSave</prop>
                           <prop key="label">permission.operation.ContentPrint</prop>
                       </props>
                        <props>
                           <!--   正文保存  -->
                           <prop key="key">SaveContentAcc</prop>
                           <prop key="label">permission.operation.ContentSave</prop>
                       </props>
                  </list>
              </entry>
              <!-- 基本操作  结束 -->
              
              <!-- 常用、高级操作  开始 -->
              <entry key="info_node_control_action">
                  <list>
                      <props>
                           <!-- 退回 /回退 TODO -->
                           <prop key="key">InfoReturn</prop>
                           <prop key="label">permission.operation.Return</prop>
                       </props>
                       <!--   指定回退  -->
                       <props>
                           <prop key="key">SpecifiesReturn</prop>
                           <prop key="label">permission.operation.SpecifiesReturn</prop>
                       </props>
                       <props>
                           <!-- 终止 -->
                           <prop key="key">InfoTerminate</prop>
                           <prop key="label">permission.operation.Terminate</prop>
                       </props>
                      <!--<props>
                            知会
                           <prop key="key">Infom</prop>
                           <prop key="label">permission.operation.Infom</prop>
                      </props>
                      --><props>
                           <!-- 加签-->
                           <prop key="key">AddNode</prop>
                           <prop key="label">permission.operation.AddNode</prop>
                      </props>
                      <props>
                           <!-- 减签-->
                           <prop key="key">RemoveNode</prop>
                           <prop key="label">permission.operation.RemoveNode</prop>
                       </props>
                       <props>
                           <!-- 当前会签-->
                           <prop key="key">JointSign</prop>
                           <prop key="label">permission.operation.JointSign</prop>
                      </props>
                      <props>
                           <!-- 多级会签-->
                           <prop key="key">moreSign</prop>
                           <prop key="label">permission.operation.moreSign</prop>
                      </props>
                      <!-- 转发
                      <props>
                         
                           <prop key="key">Forward</prop>
                           <prop key="label">permission.operation.Forward</prop>
                      </props>
                        -->
                      <props>
                           <!-- 修改正文-->
                           <prop key="key">Edit</prop>
                           <prop key="label">permission.operation.Edit</prop>
                       </props>
                       <!--<props>
                            撤销
                           <prop key="key">Cancel</prop>
                           <prop key="label">permission.operation.Cancel</prop>
                       </props>
                       -->
                       <props>
                           <!-- 修改附件-->
                           <prop key="key">allowUpdateAttachment</prop>
                           <prop key="label">permission.operation.allowUpdateAttachment</prop>
                       </props>
                      	<!--<props>
                            转公告
                           <prop key="key">TransmitBulletin</prop>
                           <prop key="label">permission.operation.TransmitBulletin</prop>
                      	</props>
                      	-->
                      	<props>
                           <!-- 修改报送单-->
                           <prop key="key">UpdateInfoForm</prop>
                           <prop key="label">infosend.permission.operation.edit</prop>
                      	</props>
                      	<!-- Word转PDF
                       	<props>
                           	<prop key="key">InfoTanstoPDF</prop>
                           	<prop key="label">permission.operation.TanstoPDF</prop>
                       	</props> 
                       	-->
                       	<!-- 退回到拟稿人
                       	<props>   
                           <prop key="key">returnToStartUser</prop>
                           <prop key="label">info.permission.operation.returnToStartUser</prop>
                       	</props>           
                       	-->           
                  </list>
              </entry>
              <!-- 常用、 公文高级操作 结束-->
          </map>
      </property>
    </bean>
</beans>