<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
<bean id="orgSyncRecordManager" class="com.seeyon.apps.orgsync.mamger.OrgSyncRecordManagerImpl" >
    </bean>    


    <bean id="orgSyncDeptAction" class="com.seeyon.apps.orgsync.action.OrgSyncDeptAction">
      
    </bean>
    <bean id="orgSyncDutyAction" class="com.seeyon.apps.orgsync.action.OrgSyncDutyAction">
      
    </bean>
	
<bean id="orgSyncLevelAction" class="com.seeyon.apps.orgsync.action.OrgSyncLevelAction">
      
    </bean>
<bean id="orgSyncOrgAction" class="com.seeyon.apps.orgsync.action.OrgSyncOrgAction">
    
    </bean>
<bean id="orgSyncPostAction" class="com.seeyon.apps.orgsync.action.OrgSyncPostAction">
          </bean>
<bean id="orgSyncPsnAction" class="com.seeyon.apps.orgsync.action.OrgSyncPsnAction">
      
    </bean>
<bean id="orgSyncManager" class="com.seeyon.apps.orgsync.mamger.OrgSyncManagerImpl" init-method="iniSync">
    </bean>
<bean id="orgScheduleTaskManager" class="com.seeyon.apps.orgsync.scheduletask.OrgScheduleTaskManagerImpl"  init-method="init" >
    </bean>



</beans>