<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="showbarAuthDao" class="com.seeyon.apps.show.dao.ShowbarAuthDaoImpl"/>
	<bean id="showbarInfoDao" class="com.seeyon.apps.show.dao.ShowbarInfoDaoImpl"/>
	<bean id="showDao" class="com.seeyon.apps.show.dao.ShowDaoImpl"/>
	<bean id="showImageDao" class="com.seeyon.apps.show.dao.ShowImageDaoImpl"/>
	<bean id="showpostInfoDao" class="com.seeyon.apps.show.dao.ShowpostInfoDaoImpl"/>
	<bean id="showReplyDao" class="com.seeyon.apps.show.dao.ShowReplyDaoImpl"></bean>
	<bean id="showPraiseDao" class="com.seeyon.apps.show.dao.ShowPraiseDaoImpl"></bean>
	<bean id="showauthInfoDao" class="com.seeyon.apps.show.dao.ShowauthInfoDaoImpl"></bean>
</beans>