<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="showbarAuthManager" class="com.seeyon.apps.show.manager.ShowbarAuthManagerImpl"/>
	<bean id="showbarInfoManager" class="com.seeyon.apps.show.manager.ShowbarInfoManagerImpl"/>
	<bean id="showImageManager" class="com.seeyon.apps.show.manager.ShowImageManagerImpl"/>
	<bean id="showManager" class="com.seeyon.apps.show.manager.ShowManagerImpl"/>
	<bean id="showpostInfoManager" class="com.seeyon.apps.show.manager.ShowpostInfoManagerImpl"/>
	<bean id="showPostReplyManager" class="com.seeyon.apps.show.manager.ShowPostReplyManagerImpl"></bean>
	<bean id="showPraiseManager" class="com.seeyon.apps.show.manager.ShowPraiseManagerImpl"></bean>
	<bean id="showApi" class="com.seeyon.apps.show.api.ShowApiImpl"/>
	<bean id="showImageHandler" class="com.seeyon.apps.show.manager.ShowImageHandlerImpl"/>
	<bean id="userMessageFilterImplShow" class="com.seeyon.ctp.common.usermessage.UserMessageFilterImplShow" />
	<bean id="showauthInfoManager" class="com.seeyon.apps.show.manager.ShowauthInfoManagerImpl"></bean>
	<!-- 秀的缓存任务 -->
	<bean id="showoperatTask" class="com.seeyon.apps.show.utils.ShowoperatTask">
		<property name="updateMins" value="5"/>
	</bean>
	<!-- 系统启动监视器 -->
	<bean id="showListener" class="com.seeyon.apps.show.listener.ShowListener"/>
</beans>